html{font-family:"微软雅黑",Arial,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;font-family:'Microsoft YaHei','sans-serif','Arial';}
fieldset,img{border:0;}
a{text-decoration:none;color:#000;outline:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}
a{-webkit-transition:all 0.05s linear;-moz-transition:all 0.05s linear;-ms-transition:all 0.05s linear;-o-transition:all 0.05s linear;}
.clear:after{  display:block;  content:"clear";  height:0;  clear:both;  overflow:hidden;  visibility:hidden;}
.clear{zoom:1;}
i,em{font-style: normal;}
html,body{
    background: #ecedf0;
}
table {  border-collapse:collapse;  border-spacing:0;  }
th,td {  padding: 0;  }
/*字体库*/
@font-face {
    font-family: 'ArrowsFont';
    src: url('../../static/font/ArrowsFont/iconfont.eot');
    src: url('../../static/font/ArrowsFont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../static/font/ArrowsFont/iconfont.woff') format('woff'),
    url('../../static/font/ArrowsFont/iconfont.ttf') format('truetype'),
    url('../../static/font/ArrowsFont/iconfont.svg#iconfont') format('svg');
}
img{vertical-align: middle;max-width: 100%;}
.ArrowsFont{
    font-family:"ArrowsFont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'OtherFont';
    src: url('../../static/font/OtherFont/iconfont.eot');
    src: url('../../static/font/OtherFont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../static/font/OtherFont/iconfont.woff') format('woff'),
    url('../../static/font/OtherFont/iconfont.ttf') format('truetype'),
    url('../../static/font/OtherFont/iconfont.svg#iconfont') format('svg');
}
.OtherFont{
    font-family:"OtherFont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'WinnieFont';
    src: url('../../static/font/WinnieFont/iconfont.eot');
    src: url('../../static/font/WinnieFont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../static/font/WinnieFont/iconfont.woff') format('woff'),
    url('../../static/font/WinnieFont/iconfont.ttf') format('truetype'),
    url('../../static/font/WinnieFont/iconfont.svg#iconfont') format('svg');
}
.WinnieFont{
    font-family:"WinnieFont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-right: 3px;
}
/*公共原子类*/
body{background: #ecedf0;}
.ffyh{font-family: "Microsoft YaHei"!important;}
.w100{width: 100%!important;}
.dino{display: none;}
.cup{cursor: pointer!important;}
.fl{float: left!important;}
.fr{float: right!important;}
.pr{position: relative!important;}
.fc65{color: #65B113!important;}
.fcE3{color: #E36A28!important;}
.fc49{color: #49b9df!important;}
.fc10{color: #1079E5!important;}
.fc58{color: #58c1e4!important;}
.fc66{color: #666!important;}
.fc33{color: #333!important;}
.fcff{color: #fff!important;}
.fcCA{color: #CA0D0D!important;}
.fcE6{color: #E68923!important;}
.fc58{color: #58C1E4!important;}
.fc99{color: #999999!important;}
.fc90{color: #90d29b!important;}
.fcF9{color: #F9A24A!important;}
.tl{text-align: left!important;}
.bac65{background:#65B113!important;}
.bacFF{background:#FFFFFF!important;}
.bac99{background:#999!important;}
.bacCC{background:#CCC!important;}
.bac58{background:#58C1E4!important;}
.bacF9{background:#F9A24A!important;}
.bacEC{background:#ECEDF0!important;}
.bacF6{background:#F6F6F6!important;}
.bd1{border:1px solid #ccc;}
/*消息原点*/
.WarnMsg0{width:25px;height: 25px;border-radius: 100%;background: #ff0000;position: absolute;overflow: hidden;box-sizing: border-box; line-height: 25px; top: 12px;left: 30px;color: white;text-align: center;font-size: 12px; }
.WarnMsg1{width:20px;height: 20px;border-radius: 100%;background: #ff0000;position: absolute;overflow: hidden;box-sizing: border-box; line-height: 20px; top: 0;bottom: 0;margin: auto; right: 12%;color: white;text-align: center;font-size: 12px; }
.AllMsgNum{display: none;}
/*公共头部*/
.Com_Header{float: left;width: 100%;}
.Com_Nav_wrap{width: 100%;height:78px;border-bottom: 2px solid #49b9df;background: white;}
.Com_Nav{margin: 0 auto; height: 78px;box-sizing: border-box;}
.Com_Nav span,.Com_Nav a{color: #666;}
/*Logo*/
.Com_Logo{float: left;margin-top: 9px;}
/*签到*/
.Com_SignBox{float: right;height: 100%;position: relative;}
.Com_SignBtn{float: left;cursor: pointer;width: 75px; height: 30px;text-align: center;line-height: 30px;color: #fff;background: #f9a24a;  border-radius: 5px;  margin-top: 35px;  margin-left: 2px; margin-right: 10px;}
/*用户头像*/
.Com_UserPhoto{width: 50px; height: 50px;margin-top: 14px;float: left;cursor: pointer;border: 2px solid #666;box-sizing: border-box;border-radius: 100%;overflow: hidden;}
.Com_DownIco{position: absolute;bottom: -2px;right: 0;left: 0;margin: auto;display: none; margin-bottom: 0px;}
/*一级导航*/
.Com_NavMain{float: right;height: 100%;}
.Com_NavMain>li{float: left;cursor: pointer; z-index: 99999; line-height: 78px;height: 100%;color: #666;position: relative;perspective: 800px;}
/*二级导航*/
.Com_SecNav{display: none;z-index: 99999;overflow: hidden; position: absolute;top: 80px;margin: auto;left: 0;right: 0;box-sizing: border-box;border-radius:0 0 10px 10px;border: 1px solid #49b9df;border-top: 0; float: left;background: white;}
.Com_SecNav li{width:100%;position: relative; z-index: 99999; box-sizing: border-box;height: 60px;line-height: 60px; cursor: pointer;color: #666;text-align: center;float: left;}
.Com_SecNav li:last-child{ border-bottom:0;}
.Com_SecNav li a,.Com_SecNav li a{float: left;width: 100%;height: 100%;}
.Com_SecNav li:hover {background: #f5f5f5;}
.Com_SecNav li:hover a{color: #49b9df;}
.Com_HasName{margin-right: 5px;}
.Com_Down{display: inline-block;font-size: 14px;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;;-o-transform-origin:50% 50%;}
/*面包屑*/
.Com_Crumbs{color: #666;background: white;width: 100%; height: 42px; overflow: hidden; line-height: 42px;  clear: both;  box-sizing: border-box; border-bottom: 1px solid #ccc;}
.Com_Crumbs_in{margin: 0 auto;overflow: hidden;}
.Com_Crumbs a{color: #666;float: left;margin-left:5px;}
.Com_Crumbs i{color: #666;float: left;}
.Com_NextIco{margin-top: 1px;font-size: 35px;}
.Com_Crumbs .Com_IndexIco{font-size: 25px;display: none;}
/*翻转*/
@-moz-keyframes change{ 0%{-moz-transform: rotate(0deg);} 50%{-moz-transform: rotate(90deg);} 100%{-moz-transform: rotate(180deg);} }
@-webkit-keyframes change{ 0%{-webkit-transform: rotate(0deg);} 50%{-webkit-transform: rotate(90deg); } 100%{-webkit-transform: rotate(180deg); } }
@-o-keyframes change{ 0%{-o-transform: rotate(0deg);} 50%{-o-transform: rotate(90deg); } 100%{-o-transform: rotate(180deg); } }
/*内容区范围*/
.Com_Main{margin: 0 auto;box-sizing: border-box;overflow: hidden;font-family: "Microsoft YaHei"!important;}/*padding-bottom: 40px;*/
.Com_Main0{margin: 0 auto;box-sizing: border-box;padding-bottom: 40px;overflow: hidden;font-family: "Microsoft YaHei"!important;}
/*分页*/
.Paging{
    width:800px!important;
    margin:0 auto;
}
/*弹出框*/
.c_Dissolve{width: 355px;height: 120px;border-radius: 10px;z-index: 99999999;display: none; position: fixed;bottom: 0;top:0;left: 0;right: 0;margin: auto; line-height: 120px;color: white; text-align: center;font-size: 24px;background: black;background: rgba(0,0,0,0.5);}
@media screen and (max-width:1366px){
    .Com_Main,.Com_Main0,.Com_Nav,.Com_Crumbs_in{width: 900px;}
    .Com_SecNav{width: 150px;left: -48px;}
    .Com_Nav{font-size: 16px;}
    .Com_Crumbs{font-size: 14px;}
    .Com_NavMain>li{padding: 0 18px;}
    .Com_SecNav li,.Com_SecNav li,.Com_SecNav li a,.Com_SecNav li a{height: 40px!important;line-height: 40px!important;}
}
@media screen and (min-width:1366px){
    .Com_Main,.Com_Main0,.Com_Nav,.Com_Crumbs_in{width: 1000px;}
    .Com_SecNav{width: 160px;left: -54px;}
    .Com_Nav{font-size: 16px;}
    .Com_Crumbs{font-size: 14px;}
    .Com_NavMain>li{padding: 0 24px;}
    .Com_SecNav li,.Com_SecNav li,.Com_SecNav li a,.Com_SecNav li a{height: 50px!important;line-height: 50px!important;}
}
@media screen and (min-width:1600px){
    .Com_Main,.Com_Main0,.Com_Nav,.Com_Crumbs_in{width: 1200px;}
    .Com_SecNav{width: 180px;left: -64px;}
    .Com_Nav{font-size: 18px;}
    .Com_Crumbs{font-size: 16px;}
    .Com_NavMain>li{padding: 0 30px;}
    .Com_SecNav li,.Com_SecNav li,.Com_SecNav li a,.Com_SecNav li a{height: 60px!important;line-height: 60px!important;}

}
/**********************************分享*******************************************************/
.Share{display: none;border: 1px solid #ccc; position: fixed; z-index: 10; top: 0;left: 0;right: 0;bottom: 0;margin:  auto;width: 605px;height: 220px;box-sizing: border-box;padding: 20px;background: white;border-radius: 10px;}
.ShareTitle{width: 300px;font-size: 24px; height: 80px;line-height: 35px;text-align: left;float: left;}
.jiathis_style_32x32{float: left;width: 100%;}
.jiathis_style_32x32 a{width: 80px;margin:0 30px; height: 80px;cursor: pointer; background:url('../image/sprite/p_VideoSpriteImg.png')0 0 no-repeat;float: left;}
.jiathis_style_32x32 .jiathis_button_cqq {  background-position:0 -97px;  }
.jiathis_style_32x32 .jiathis_button_qzone {  background-position:-288px -96px; }
.jiathis_style_32x32 .jiathis_button_tsina {  background-position:-96px -96px;}
.jiathis_style_32x32 .jiathis_button_weixin {  background-position:-191px -96px; }
.Share .jiathis_style_32x32 a span,.Share .jiathis_style_32x32  .jtico{display: none!important;}
.bd_weixin_popup{width: 400px;}

.Com_Gold{width: 100%;text-align: center;height: 150px;overflow: hidden;position: fixed;bottom: -150px;left: 0;z-index: 99999999;}
.Com_GoldImg{width: 80px;}
.Com_GoldNum{font-size: 18px;margin-top: 15px;font-family: "微软雅黑";color: #666;}
.Com_Crumbs >a{color: #333!important;}
.Com_Crumbs span:last-child{color: #58c1e4!important;}

/* table兼容打印 */
#w_Print_Main table{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-start: 0.075in;
    padding-end: 0.075in;
    boder-color: #000;
}
/* latex公式兼容打印 */
.mjx-chtml {display: inline-block; line-height: 0; text-indent: 0; text-align: left; text-transform: none; font-style: normal; font-weight: normal; font-size: 100%; font-size-adjust: none; letter-spacing: normal; word-wrap: normal; word-spacing: normal; white-space: nowrap; float: none; direction: ltr; max-width: none; max-height: none; min-width: 0; min-height: 0; border: 0; margin: 0; padding: 1px 0}
.MJXc-display {display: block; text-align: center; margin: 1em 0; padding: 0}
.mjx-chtml[tabindex]:focus, body :focus .mjx-chtml[tabindex] {display: inline-table}
.mjx-full-width {text-align: center; display: table-cell!important; width: 10000em}
.mjx-math {display: inline-block; border-collapse: separate; border-spacing: 0}
.mjx-math * {display: inline-block; -webkit-box-sizing: content-box!important; -moz-box-sizing: content-box!important; box-sizing: content-box!important; text-align: left}
.mjx-numerator {display: block; text-align: center}
.mjx-denominator {display: block; text-align: center}
.MJXc-stacked {height: 0; position: relative}
.MJXc-stacked > * {position: absolute}
.MJXc-bevelled > * {display: inline-block}
.mjx-stack {display: inline-block}
.mjx-op {display: block}
.mjx-under {display: table-cell}
.mjx-over {display: block}
.mjx-over > * {padding-left: 0px!important; padding-right: 0px!important}
.mjx-under > * {padding-left: 0px!important; padding-right: 0px!important}
.mjx-stack > .mjx-sup {display: block}
.mjx-stack > .mjx-sub {display: block}
.mjx-prestack > .mjx-presup {display: block}
.mjx-prestack > .mjx-presub {display: block}
.mjx-delim-h > .mjx-char {display: inline-block}
.mjx-surd {vertical-align: top}
.mjx-mphantom * {visibility: hidden}
.mjx-merror {background-color: #FFFF88; color: #CC0000; border: 1px solid #CC0000; padding: 2px 3px; font-style: normal; font-size: 90%}
.mjx-annotation-xml {line-height: normal}
.mjx-menclose > svg {fill: none; stroke: currentColor}
.mjx-mtr {display: table-row}
.mjx-mlabeledtr {display: table-row}
.mjx-mtd {display: table-cell; text-align: center}
.mjx-label {display: table-row}
.mjx-box {display: inline-block}
.mjx-block {display: block}
.mjx-span {display: inline}
.mjx-char {display: block; white-space: pre}
.mjx-itable {display: inline-table; width: auto}
.mjx-row {display: table-row}
.mjx-cell {display: table-cell}
.mjx-table {display: table; width: 100%}
.mjx-line {display: block; height: 0}
.mjx-strut {width: 0; padding-top: 1em}
.mjx-vsize {width: 0}
.MJXc-space1 {margin-left: .167em}
.MJXc-space2 {margin-left: .222em}
.MJXc-space3 {margin-left: .278em}
.mjx-chartest {display: block; visibility: hidden; position: absolute; top: 0; line-height: normal; font-size: 500%}
.mjx-chartest .mjx-char {display: inline}
.mjx-chartest .mjx-box {padding-top: 1000px}
.MJXc-processing {visibility: hidden; position: fixed; width: 0; height: 0; overflow: hidden}
.MJXc-processed {display: none}
.mjx-test {display: block; font-style: normal; font-weight: normal; font-size: 100%; font-size-adjust: none; text-indent: 0; text-transform: none; letter-spacing: normal; word-spacing: normal; overflow: hidden; height: 1px}
.mjx-ex-box-test {position: absolute; width: 1px; height: 60ex}
.mjx-line-box-test {display: table!important}
.mjx-line-box-test span {display: table-cell!important; width: 10000em!important; min-width: 0; max-width: none; padding: 0; border: 0; margin: 0}
#MathJax_CHTML_Tooltip {background-color: InfoBackground; color: InfoText; border: 1px solid black; box-shadow: 2px 2px 5px #AAAAAA; -webkit-box-shadow: 2px 2px 5px #AAAAAA; -moz-box-shadow: 2px 2px 5px #AAAAAA; -khtml-box-shadow: 2px 2px 5px #AAAAAA; padding: 3px 4px; z-index: 401; position: absolute; left: 0; top: 0; width: auto; height: auto; display: none}
.mjx-chtml .mjx-noError {line-height: 1.2; font-size: 90%; text-align: left; color: black; padding: 1px 3px; border: 1px solid}
.MJXc-TeX-unknown-R {font-family: STIXGeneral,'Cambria Math','Arial Unicode MS',serif; font-style: normal; font-weight: normal}
.MJXc-TeX-unknown-I {font-family: STIXGeneral,'Cambria Math','Arial Unicode MS',serif; font-style: italic; font-weight: normal}
.MJXc-TeX-unknown-B {font-family: STIXGeneral,'Cambria Math','Arial Unicode MS',serif; font-style: normal; font-weight: bold}
.MJXc-TeX-unknown-BI {font-family: STIXGeneral,'Cambria Math','Arial Unicode MS',serif; font-style: italic; font-weight: bold}
.MJXc-TeX-ams-R {font-family: MJXc-TeX-ams-R,MJXc-TeX-ams-Rw}
.MJXc-TeX-cal-B {font-family: MJXc-TeX-cal-B,MJXc-TeX-cal-Bx,MJXc-TeX-cal-Bw}
.MJXc-TeX-frak-R {font-family: MJXc-TeX-frak-R,MJXc-TeX-frak-Rw}
.MJXc-TeX-frak-B {font-family: MJXc-TeX-frak-B,MJXc-TeX-frak-Bx,MJXc-TeX-frak-Bw}
.MJXc-TeX-math-BI {font-family: MJXc-TeX-math-BI,MJXc-TeX-math-BIx,MJXc-TeX-math-BIw}
.MJXc-TeX-sans-R {font-family: MJXc-TeX-sans-R,MJXc-TeX-sans-Rw}
.MJXc-TeX-sans-B {font-family: MJXc-TeX-sans-B,MJXc-TeX-sans-Bx,MJXc-TeX-sans-Bw}
.MJXc-TeX-sans-I {font-family: MJXc-TeX-sans-I,MJXc-TeX-sans-Ix,MJXc-TeX-sans-Iw}
.MJXc-TeX-script-R {font-family: MJXc-TeX-script-R,MJXc-TeX-script-Rw}
.MJXc-TeX-type-R {font-family: MJXc-TeX-type-R,MJXc-TeX-type-Rw}
.MJXc-TeX-cal-R {font-family: MJXc-TeX-cal-R,MJXc-TeX-cal-Rw}
.MJXc-TeX-main-B {font-family: MJXc-TeX-main-B,MJXc-TeX-main-Bx,MJXc-TeX-main-Bw}
.MJXc-TeX-main-I {font-family: MJXc-TeX-main-I,MJXc-TeX-main-Ix,MJXc-TeX-main-Iw}
.MJXc-TeX-main-R {font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw}
.MJXc-TeX-math-I {font-family: MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw}
.MJXc-TeX-size1-R {font-family: MJXc-TeX-size1-R,MJXc-TeX-size1-Rw}
.MJXc-TeX-size2-R {font-family: MJXc-TeX-size2-R,MJXc-TeX-size2-Rw}
.MJXc-TeX-size3-R {font-family: MJXc-TeX-size3-R,MJXc-TeX-size3-Rw}
.MJXc-TeX-size4-R {font-family: MJXc-TeX-size4-R,MJXc-TeX-size4-Rw}
@font-face {font-family: MJXc-TeX-ams-R; src: local('MathJax_AMS'), local('MathJax_AMS-Regular')}
@font-face {font-family: MJXc-TeX-ams-Rw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-cal-B; src: local('MathJax_Caligraphic Bold'), local('MathJax_Caligraphic-Bold')}
@font-face {font-family: MJXc-TeX-cal-Bx; src: local('MathJax_Caligraphic'); font-weight: bold}
@font-face {font-family: MJXc-TeX-cal-Bw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Bold.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Bold.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-frak-R; src: local('MathJax_Fraktur'), local('MathJax_Fraktur-Regular')}
@font-face {font-family: MJXc-TeX-frak-Rw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-frak-B; src: local('MathJax_Fraktur Bold'), local('MathJax_Fraktur-Bold')}
@font-face {font-family: MJXc-TeX-frak-Bx; src: local('MathJax_Fraktur'); font-weight: bold}
@font-face {font-family: MJXc-TeX-frak-Bw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Bold.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Bold.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-math-BI; src: local('MathJax_Math BoldItalic'), local('MathJax_Math-BoldItalic')}
@font-face {font-family: MJXc-TeX-math-BIx; src: local('MathJax_Math'); font-weight: bold; font-style: italic}
@font-face {font-family: MJXc-TeX-math-BIw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Math-BoldItalic.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Math-BoldItalic.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-sans-R; src: local('MathJax_SansSerif'), local('MathJax_SansSerif-Regular')}
@font-face {font-family: MJXc-TeX-sans-Rw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Regular.otf') format('opentype')}
@font-face {font-family: MJXc-TeX-sans-B; src: local('MathJax_SansSerif Bold'), local('MathJax_SansSerif-Bold')}
@font-face {font-family: MJXc-TeX-sans-Bx; src: local('MathJax_SansSerif'); font-weight: bold}
@font-face {font-family: MJXc-TeX-sans-Bw; src /*1*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Bold.eot'); src /*2*/: url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Bold.otf') format('opentype')}
.mjx-mfrac{padding-right: 0!important; }