/**********************************音频公共样式*******************************************************/
.audioplayer{height: 60px;position: fixed;margin: auto;right: 0;left: 0;border-radius: 0 0 10px 10px;  bottom: 0;z-index: 1;background: black;background: rgba(0,0,0,0.6); width: 100%;}
.audioplayer-playpause{float: left;width: 30px;height: 30px;overflow: hidden;margin-top: 15px;cursor: pointer;  }
.audioplayer-playpause span {color: transparent; display: block;background: url("new_play0.png");width: 30px;height: 30px;}
.audioplayer-playing .audioplayer-playpause span {color: transparent; display: block;background: url("new_play1.png");width: 30px;height: 30px;}
.audioplayer-bar{height: 5px;width: 440px!important;margin: 28px 0 0 20px;position: relative;left: 0; overflow: hidden;border-radius: 3px;  float:left;background-color:#F6F6F6;box-sizing: border-box; cursor: pointer;}
.audioplayer-bar div{ width: 0; height: 100%;position: absolute; left: 0; top: 0;}
.audioplayer-bar-loaded{ background-color: #F6F6F6;; z-index: 1;border-radius: 3px; }
.audioplayer-bar-played{ background: #49b9df;; z-index: 2;border-radius: 3px;}
.audioplayer-time-current{float: left;color: #fff;font-size: 12px;line-height: 60px;margin-left: 30px; }
.audioplayer-time-cut{float: left;color: #fff;font-size: 12px;line-height: 60px;margin: 0 3px;}
.audioplayer-time-duration{float: left;color: #fff;font-size: 12px;line-height: 60px;}
.audioplayer-volume{float: right;height: 60px;}
.audioplayer-volume-button{float: left;margin-right: 15px;overflow: hidden;margin-top: 20px; cursor: pointer; width: 30px;height: 22px;background: url("new_voice0.png") 0 0 no-repeat;}
.audioplayer-volume-button span{color: transparent;}
.audioplayer-volume-adjust{width: 148px;overflow: hidden;border-radius: 3px; float: left;height: 5px;line-height: 5px;position: relative;margin-top: 29px;}
.audioplayer-volume-adjust > div { width: 148px;height: 5px;overflow: hidden;border-radius: 3px;background-color:#F6F6F6;box-sizing: border-box;;cursor: pointer;position: relative; }
.audioplayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: #49b9df;}

@media screen and (max-width:1366px){
    .audioplayer{width: 900px;}
    .audioplayer-playpause{margin-left: 30px;}
    .audioplayer-volume-adjust{margin-right: 24px;}
}
@media screen and (min-width:1366px){
    .audioplayer{width: 1000px;}
    .audioplayer-playpause{margin-left: 54px;}
    .audioplayer-volume-adjust{margin-right: 50px;}
}
@media screen and (min-width:1600px){
    .audioplayer{width: 1200px;}
    .audioplayer-playpause{margin-left: 56px;}
    .audioplayer-volume-adjust{margin-right: 76px;}
}