.paper {
    margin: 40px auto;
    width: 1000px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.paper .paperTitle {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    color: #666;
    font-family: "微软雅黑", Arial, sans-serif;
}
.paper .baseTitle {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #666;
    font-family: "微软雅黑", Arial, sans-serif;
}
.paper .testTitle {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #666;
    font-family: "微软雅黑", Arial, sans-serif;
}
.paperTestLi {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;;
}
.paperBaseLi {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;;
}
.t_optionLi{cursor: pointer;padding-top: 10px;}
img{max-width: 100%;}
.p1{font-size: 14px!important;font-family:Microsoft YaHei,sans-serif,Arial,"Times New Roman" !important;margin-left:20px;}

    /*----------- 试题答案----------------*/
.t_optionLiBackground {
    background: red;
}
.btnSubmit,.baseBtnSubmit {
    border: none;
    outline: none;
    background: #65b113;
    border: 1px solid #65b113;
    color: #fff;
    padding: 10px 53px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    font-size:16px;
    cursor: pointer;
    /*  margin-left: 800px;*/
}
.btnSubmit:hover{
    background: #5da313;
}
.paperTestLi {
    position: relative;
}
.paperBaseLi {
    position: relative;
}
.wr {
    position: absolute;
    top: 20px;
    right:150px;
}
.p3 {
    text-align: left !important;
}
@media screen and (max-width: 1366px) {
    .paper {  width: 900px;  }
}
@media screen and (min-width: 1366px) {
    .paper {  width: 1000px;  }
}
@media screen and (min-width: 1600px) {
    .paper {  width: 1200px;  }
}
.on{
    color:#65b113;
}
.paperBase .p1,.paperTest .p1{
    font-family: Microsoft YaHei,sans-serif,Arial;
}
.t_hli:hover{
    color:#65b113;
}
.paperTestLiUl:hover{
    border:1px solid #ccc;
    border-radius:10px;
}
.paperTestLiUl{
    border:1px solid #fff;
    border-radius:10px;
}
.p_order{
    position: absolute;
    top: 10px;
    left: 10px;
}