
/*备课中心目录索引*/
.c_Crumbs{ position: relative;}
.p_DirectoryName{ color: #F9A24A;}
.p_Directory_ico{ width:38px; height: 29px; background: url("../../../static/image/prepare/img_p_directory_ico.png") no-repeat; margin:15px 20px 0 15px; cursor: pointer;}
.p_DirectoryWrap{ width:305px; height: 465px; border: 1px solid #ccc; border-radius: 10px; box-sizing: border-box; position: absolute; right: 0;top: 60px; z-index: 10; background: #fff; box-shadow:-2px 2px 5px #ccc;}
.p_AudioMain{width: 1200px;min-height: 260px;overflow: hidden;margin: 45px auto;background: white;border-radius: 10px;  ;box-sizing: border-box;}
.p_AudioListMain{width: 1200px;height:220px;position: relative;  box-sizing: border-box;border-bottom: 1px solid #ccc;}
.p_AudioList{width: 1085px;margin: 0 auto; height: 220px;box-sizing: border-box;overflow: hidden;}
.p_AudioList li{width: 270px;height: 220px;box-sizing: border-box;float: left;padding: 0 25px 0 10px;}
.p_ListBox{width: 245px;cursor: pointer; height: 135px;float: left; border-radius: 10px;background: white;padding: 25px 0 0 0; box-sizing:border-box;margin: 43px 0 0 0; }
.p_Word{width: 150px;text-align: center; font-size: 18px;color: #999;margin-top: 10px;float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.p_Tabimg0{position: absolute;top:99px;left: 10px;cursor: pointer; }
.p_Tabimg1{position: absolute;top:99px;right: 10px;cursor: pointer; }
.w115{width: 115px!important;}
.p_Origin{width: 100%;height: 35px;text-align: center;position: absolute;bottom: 0;left: 0;}
.p_Origin span{width: 15px;height: 15px;box-sizing: border-box;border-radius: 120%;display: inline-block;border: 1px solid #ccc;;cursor: pointer;margin: 10px;}
.p_OriginSelect{background:#B0CAE4;border: 0; }
.Word_Top{float: left;width: 100%;margin-bottom: 25px;}
.Word{font-size: 18px;color: #333;width: 25%;float: left;height: 100%;line-height: 30px;text-align: left;}
.Word_Phonogram{width: 70%;line-height: 30px;float: left;}
.Word_MeaningList{float: left;width: 70%;}
.Word_MeaningList li{float: left;width:100%;line-height: 30px;}
.Word_MainBox span{float: left;}
.Word_Example{width: 100%;float: left;}
.Word_Attr{width: 100%;float: left;line-height: 30px;}
.Word_AttrName{float: left;text-align: left;color: #999;width: 25%;}
.Sentences_List{float: left;text-align: left;color: #333;width: 75%;height: 250px;overflow-y: auto;}
.Sentences_List li{float: left;width: 100%;margin-bottom: 20px;}
.title{  font-size: 24px;  color:#65b113;  margin-left:18px;  }
._unit{  margin-left:18px;  font-size:18px;  color:#333;  border-bottom: 1px solid #ccc;  cursor: pointer;  }
._section{  margin-left:40px;  font-size:14px;  color:#5a5a5a;  min-height:26px;  line-height: 26px;  height:auto;  }
._sectionNext{  margin-left:22px;  font-size:14px;  color:#5a5a5a;  min-height:26px;  line-height: 26px;  height:auto;  }
.m_del {  cursor: pointer;  margin-right: 20px;  margin-top:20px; }
@media screen and (max-width:1366px){
    .p_DirectoryWrap{ width:305px; height: 465px; border: 1px solid #ccc; border-radius: 10px; box-sizing: border-box; position: absolute; right: 0;top: 60px; z-index: 10; background: #fff; box-shadow:-2px 2px 5px #ccc;}
    .p_AudioMain{width: 1000px;min-height: 260px;overflow: hidden;margin: 45px auto;background: white;border-radius: 10px;  box-shadow: 2px 2px 2px #B6B3B3;box-sizing: border-box;}
    .p_AudioListMain{width: 1000px;height:220px;position: relative;  box-sizing: border-box;border-bottom: 1px solid #ccc;}
    .p_AudioList{width: 815px;margin: 0 auto; height: 220px;box-sizing: border-box;overflow: hidden;}
    .p_AudioList li{width: 270px;height: 220px;box-sizing: border-box;float: left;padding: 0 25px 0 10px;}
    .p_ListBox{width: 245px;cursor: pointer; height: 135px;float: left; border-radius: 10px;background: white;padding: 25px 0 0 0; box-sizing:border-box;margin: 43px 0 0 0; box-shadow: 0 2px 6px #B6B3B3;}
    .p_Word{width: 150px;text-align: center; font-size: 18px;color: #999;margin-top: 10px;float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
    .p_Tabimg0{position: absolute;top:99px;left: 10px;cursor: pointer; }
    .p_Tabimg1{position: absolute;top:99px;right: 10px;cursor: pointer; }
    .w115{width: 115px!important;}
    .p_Origin{width: 100%;height: 35px;text-align: center;position: absolute;bottom: 0;left: 0;}
    .p_Origin span{width: 15px;height: 15px;box-sizing: border-box;border-radius: 120%;display: inline-block;border: 1px solid #ccc;;cursor: pointer;margin: 10px;}
    .p_OriginSelect{background:#B0CAE4;border: 0; }
}