body{background:white;font-family:STHeiTi;font-size:0.225rem;}
.c_main{width:10rem;height:100%;}
.c_right>p{width:9.26rem;margin:0.4rem 0.35rem 0 0.39rem;height:0.6rem;border-bottom:1px solid #E8E8E8;}
.c_work{text-align:center;}
.c_work p{color: #222222;height:0.75rem;line-height:0.75rem;text-align:left;margin-left:0.55rem;}
.c_echart{width:4.375rem;height:3.375rem;margin:0 auto;}
.c_list p{padding:0 0.55rem;height:0.75rem;line-height:0.75rem;}
.c_check{color: #41B3EE;float:right;}
.c_unSubmit{overflow:hidden;padding:0 0.39rem;}
.c_unSubmit li{width:1.16rem;1.64rem;text-align:center;margin:0 auto;float:left;}
.c_wname{float:left;font-size:0.3rem;color: #222222;}
.c_cname{float:right;color: #656565;}