<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title id="Title"></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/testpaper/work.css">
</head>
<body>
<div id="Main">
    <ul class="Menu">
        <li @click="TabEvent(0)" :class="{'ThisMenu':ThisTab == 0}"><img :src="TabImg0" alt=""><span>题目详情</span></li>
        <li @click="TabEvent(1)" :class="{'ThisMenu':ThisTab == 1}"><img :src="TabImg1" alt=""><span>学生详情</span></li>
        <li @click="TabEvent(2)" :class="{'ThisMenu':ThisTab == 2}"><img :src="TabImg2" alt=""><span>综合分析</span></li>
    </ul>
    <div class="Right">
        <ul class="Rubric" v-if="ThisTab == 0" id="Rubric">
            <li v-for="data in CanvasData" v-if="isEmptyObject(data.Canvas)">
                <div class="Title" >
                    <span>{{data.LineName}}</span>
                    <span>错误率</span>
                </div>
                <ul class="CanvasBox">
                    <li v-for="CanvasData in data.Canvas">
                        <a :href="'detail.html?paperAssignId='+data.paperAssignId+'&type='+data.type+'&uuid='+data.uuid+'&questionId='+(CanvasData.questionId)+'&index='+(CanvasData.Num)" >
                            <img :src="CanvasData.CanvasUrl" alt="">
                            <span>{{CanvasData.Num}}题</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="StuList" v-if="ThisTab == 1">
            <li><p class="FC22">姓名</p><p class="FC22">错题比例</p><p class="FC22">用时</p><p class="FC22">状态</p></li>
            <li v-for="data in StudentData">
                <a :href="'student.html?paperAssignId='+data.paperAssignId+'&userId='+data.studentId+'&uuid='+ThisUuid+'&type='+ThisType" >
                    <p :class="{
                        'FC9D':data.correctFlag==0,
                        'FC65':data.correctFlag==1,
                        'FC65':data.correctFlag==2}">{{data.studentName}}</p>
                    <p :class="{
                        'FC9D':data.correctFlag==0,
                        'FC65':data.correctFlag==1,
                        'FC65':data.correctFlag==2 }">{{data.proportion}}</p>
                    <p :class="{
                        'FC9D':data.correctFlag==0,
                        'FC65':data.correctFlag==1,
                        'FC65':data.correctFlag==2 }">{{ComTime(data.used)}}</p>
                    <p :class="{
                        'FC9D':data.correctFlag==0,
                        'FCFC':data.correctFlag==1,
                        'FC30':data.correctFlag==2 }">
                        <span>已批</span>
                        <img src="/static/images/common/arrow.png" alt="">
                    </p>
                </a>
            </li>
        </ul>
        <ul class="Analyze" v-if="ThisTab == 2">
            <li v-for="data in AnalyzeData">
                <div class="NameBox">
                    <p class="Name">{{data.resTag.tagName}}</p>
                    <ul class="NameList">
                        <li>第</li>
                        <li v-for="item in data.itemNumberSet">{{item}}、</li>
                        <li>题</li>
                    </ul>
                </div>
                <div class="ShowLoad">
                    <div class="LoadBox">
                        <p class="Loader" :style="{width:data.correctRate}"></p>
                    </div>
                    <p class="LoadNum">{{data.correctRate}}</p>
                </div>
            </li>
            <li v-if="isEmptyObject(AnalyzeData)">
                <div class="ScaleBox">
                    <ul class="Scale"><li></li><li></li><li></li><li></li></ul>
                    <ul class="ScaleNum"><li>0%</li><li>25%</li><li>50%</li><li>75%</li><li>100%</li></ul>
                    <p class="ScaleDec">掌握程度</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="/static/javascript/testpaper/index.js"></script>
</body>
</html>