/***********************************************个人中心错题分析By徐扬**************************************************/
/*遮罩层*/
.m_Mask{position: fixed;width: 100%; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);}
/*内容区*/
.m_Analyze{width: 100%;float: left; margin-top: 40px;; min-height: 650px;background: white;box-sizing: border-box;border-radius: 10px;overflow: hidden;;}
.m_AnalyzeBox,.m_AnalyzeQue,.m_Analysis,.m_Answer,.m_AnalyzeQue>p,.m_LineBox,.m_AnalyzeBox,.m_AnalyzeIn{float: left;width: 100%;}
.m_AnalyzeQue{margin-bottom: 25px;}
.m_AnalyzeQue  span,.m_AnalyzeQue  p{color: #666!important;}
.m_AnalyzeQue .m_Color{float: left; color: #333!important;}
.m_Edit{cursor: pointer;overflow: hidden;height: 100%;}
.m_Edit,.ArrowsFont,.m_Editxt{float: right;color: #90d29b;}
.m_Edit>.ArrowsFont{margin-top: 2px;}
.m_AnalyzeIn{position: relative;}
.m_IntroTxt{position: absolute;right: 20px;bottom: 10px;color: #999;}
.m_Intro{resize: none; position: relative; float: left;width: 100%; outline: none; padding:10px;line-height: 33px;font-size: 14px;color: #333; height: 160px;border-radius: 10px;box-sizing: border-box;background: white;border: 1px solid #ccc;}
.m_SaveBtn{cursor: pointer;display: none; overflow: hidden;text-align: center;color: white;border-radius: 10px;margin: 20px auto;background: #49b9df;}
.m_AnalyzeQue,.m_Analysis,.m_Answer{color: #666;}
.m_Wflag{width: 30px;vertical-align: middle;margin: 0 15px;}
img{vertical-align: middle;}
@media screen and (max-width:1366px){
    .m_Analyze{padding: 40px 45px 70px 45px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_LineBox,.m_Analyze p,.m_Analyze  span{font-size: 14px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_AnalyzeQue  span,.m_AnalyzeQue  p{line-height: 25px!important;}
    .m_Answer>p,.m_Analysis>p{width: 744px;float: right;}
    .m_LineBox{height: 40px;line-height: 40px;}
    .m_Edit .ArrowsFont{font-size: 26px;}
    .m_SaveBtn{width: 130px;height: 35px;line-height:35px;}
}
@media screen and (min-width:1366px){
    .m_Analyze{padding: 40px 65px 80px 65px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_LineBox,.m_Analyze p,.m_Analyze  span{font-size: 16px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_AnalyzeQue  span,.m_AnalyzeQue  p{line-height: 30px!important;}
    .m_Answer>p,.m_Analysis>p{width: 790px;float: right;}
    .m_LineBox{height: 40px;line-height: 40px;}
    .m_Edit .ArrowsFont{font-size: 28px;}
    .m_SaveBtn{width: 140px;height: 40px;line-height: 40px;}
}
@media screen and (min-width:1600px){
    .m_Analyze{padding: 40px 65px 80px 65px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_LineBox,.m_Analyze  p,.m_Analyze  span{font-size: 18px;}
    .m_AnalyzeQue,.m_Analysis,.m_Answer,.m_AnalyzeQue  span,.m_AnalyzeQue  p{line-height: 35px!important;}
    .m_Answer>p,.m_Analysis>p{width: 986px;float: right;}
    .m_LineBox{height: 40px;line-height: 40px;}
    .m_Edit .ArrowsFont{font-size: 30px;}
    .m_SaveBtn{width: 150px;height: 45px;line-height: 45px;}
}


