/***********************************************个人中心班级详情By徐扬**************************************************/
/*************************************************首页上方信息*************************************************/
/*遮罩层*/
.m_Mask{position: fixed;width: 100%; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);}
/*老师列表*/
.m_TeacherBox{width: 100%;margin: 40px auto 50px auto;overflow: hidden;border-radius: 10px;background: white;height: 220px;box-sizing: border-box;}
.m_ClassHeader{width: 100%;height: 60px;font-size: 18px;color: #666; border-bottom: 1px solid #ccc; line-height: 60px;float: left;padding: 0 20px 0 35px;box-sizing: border-box;background: url("../../../static/image/me/m_HeadBg.jpg") 0 0 repeat;}
.m_ClassCode{float: left;line-height: 60px;font-size: 18px;color: #666;}
.m_QuitClassBtn{float: right;text-align: center;line-height: 43px;color: #333;font-size: 18px;cursor: pointer;margin-top: 7px; width: 150px;height: 45px;box-sizing: border-box;border-radius: 10px;border: 1px solid #ccc;background: url("../../../static/image/me/m_btnbg.jpg")0 0 repeat;}
.m_HeadTeacherL{float: left;width: 30%;height: 160px;;text-align: center;box-sizing: border-box;position: relative;}
.m_TeacherInfo{position: absolute;left: 0;right: 0;top: 20px;margin: auto; width: 100px;height: 100px; overflow: hidden;cursor: pointer; float: left;box-sizing: border-box;background: white;border: 1px solid #CCC;border-radius: 100%;}
.m_TeacherPhoto{float: left;width: 100%;border-radius: 100%;}
.m_IsHeader{position: absolute;left: 0;right: 0;top: 100px;margin: auto; width: 80px;height: 22px;box-sizing: border-box;border: 1px solid #ccc;background: #49b9df;border-radius: 10px; text-align: center;font-size: 14px;color: white;}
.m_ClassInfo{float: left;position: absolute;left: 0;right: 0;bottom: 10px;margin: auto; height: 30px; width: 125px;line-height: 30px;}
.m_ClassInfo>span{float: left;height: 100%;text-align: center; font-size: 18px;color: #666;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }
.m_TeacherSub{width: 37%; margin-right: 3%;}
.m_TeacherName{width: 60%;}
.m_HeadTeacherR{float: left;width: 68%; height: 160px;;text-align: center;position: relative;overflow: hidden;box-sizing: border-box;}
.m_HeadTeacherR>i{position: absolute;top: 0;bottom: 0;margin: auto;font-size: 30px;width: 30px;height: 30px;color: #666;cursor: pointer;}
.m_ListBtnL{left: 0;}
.m_ListBtnR{right: 0;}
.m_TeacherListBox{margin-left: 25px;overflow: hidden;position: relative;}
.m_TeacherMain{width: 99999px;position: absolute;left: 0;top: 0;}
.m_TeacherListBox,.m_TeacherMain ,.m_TeacherMain li{float: left;height: 100%;}
.m_TeacherMain li{width: 130px;position: relative;}
/*我的同学*/
.m_ClassMate{ width: 100%;min-height: 220px;padding-bottom: 30px; overflow: hidden;border-radius: 10px;background: white;box-sizing: border-box;box-shadow: 0 1px 7px #999;}
.m_ClassMateList{float: left;width: 100%;position: relative;height: 100%;}
.m_ClassMateList>li{float: left;width: 50%;height: 60px; border-bottom: 1px solid #ccc; line-height: 60px;font-size: 14px;color: #666;box-sizing: border-box;}
.m_ClassMateList>li:nth-child(2n+1){border-right: 1px solid #ccc;}
.m_ClassMateList>li:nth-child(4n+1){background: white;}
.m_ClassMateList>li:nth-child(4n+2){background: white;}
.m_ClassMateList>li:nth-child(4n+3){background: #F6F6F6;}
.m_ClassMateList>li:nth-child(4n+4){background: #F6F6F6;}
.m_ClassMateList .m_NoClassMata{width: 270px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto; height: 40px; line-height: 40px; text-align: center;border: 0!important; font-size: 30px; color: #666;}
.m_ClassMateList>li>span{float: left;width: 50%;height: 100%;box-sizing: border-box;}
.m_ClassMateList>li>span:nth-child(1){text-align: center;}
.m_ClassMateList>li>span:nth-child(2){text-align: left;}
.m_QuitClassBox{width: 690px;height:353px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;background: url("../../../static/image/me/m_quitimg.png")0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.m_CloseQuit{width: 35px;height: 40px;background: red;position: absolute;top: 0;right: 41px;cursor: pointer;background: none;opacity: 0;filter: alpha(opacity=0);}
.m_IsQuitBtn0,.m_IsQuitBtn1{position: absolute;bottom: 13px; width: 190px;height: 45px;border-radius: 10px;background: none;opacity: 0;filter: alpha(opacity=0);  overflow: hidden;font-size: 18px;color: white;cursor: pointer;text-align: center;line-height: 45px;}
.m_IsQuitBtn0{left: 142px;}
.m_IsQuitBtn1{left: 362px;}
@media screen and (max-width:1366px){
    .m_TeacherListBox{width: 555px;}
    .m_TeacherMain li{margin-left: 56px;}
}
@media screen and (min-width:1366px){
    .m_TeacherListBox{width: 625px;}
    .m_TeacherMain li{margin-left: 26px;}
}
@media screen and (min-width:1600px){
    .m_TeacherListBox{width: 760px;}
    .m_TeacherMain li{margin-left: 60px;}
}
