/***********************************************个人中心投稿By徐扬**************************************************/
/*遮罩层*/
.m_Mask{position: fixed;width: 100%;z-index: 99999; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);}
/*内容区*/
.m_UpBtnBox{float: left;margin: 40px auto 25px auto;width: 100%;}
.m_UpListBtn{font-size: 18px;line-height: 45px;width: 150px;border-radius: 10px;background: #49b9df; float: right;text-align: center; color: white;}
.m_UpListBtn:hover{background: #0fa7db;}
.m_Notic,.m_UpAttr{float: left;width: 100%;}
.m_UpAttr>li{float: left;overflow: hidden;border-radius: 10px;background: white;;position: relative;}
.m_UpAttr>li:nth-child(1){background: url("../../../static/image/me/m_conimg0.png")0 0 no-repeat;background-size: 100%;}
.m_UpAttr>li:nth-child(2){background: url("../../../static/image/me/m_conimg1.png")0 0 no-repeat;background-size: 100%;}
.m_UpAttr>li:nth-child(3){background: url("../../../static/image/me/m_conimg2.png")0 0 no-repeat;background-size: 100%;}
.m_UpAttr>li:nth-child(4){background: url("../../../static/image/me/m_conimg3.png")0 0 no-repeat;background-size: 100%;}
.m_UpAttr>li:nth-child(5){background: url("../../../static/image/me/m_conimg4.png")0 0 no-repeat;background-size: 100%;}
.m_Notic{box-sizing: border-box;padding-left: 3%;color: #666;}
.m_UpBtn{background: #90d29b;box-sizing: border-box; position: absolute;text-align: center; color:white; left: 0;right: 0;margin: auto;border-radius: 10px;cursor: pointer;}
.m_UpBtn img{vertical-align: middle;margin-right: 10px;height: 80%;}
.m_UpBtn:hover{box-shadow: 0 0 5px #ccc;}
/*上传区*/
.m_UpMain{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;box-sizing: border-box; background: white;border-radius: 10px;overflow: hidden;}
.m_SeacherClose{cursor: pointer;position: absolute;top: 20px;right: 20px;}
.m_MustIco{float: left;margin-right: 10px; height: 35px;line-height: 45px;color: #CA0D0D;font-size: 24px;}
.m_FileBtnMain{float: left;height: 35px;line-height: 35px;}
.m_UpLineBox{float: left;width: 100%;margin-bottom: 23px;}
.m_FileBox{cursor: pointer; width: 90px;height: 35px;position: relative;border: 1px solid #ccc;border-radius: 10px;box-sizing: border-box; float: left;background: url("../../../../static/image/me/btnbg.jpg") 0 0 repeat;text-align: center; line-height: 33px;font-size: 14px;color: #333;}
.m_FileBtn{float: left;width: 100%;height: 100%;text-align: center;cursor: pointer;}
.m_Fileinput{position: absolute;top: 0;right: 0;width: 90px;height: 35px; filter: alpha(opacity=0);  opacity: 0;  outline: none;  background: white;  cursor: pointer;  display: block;}
.m_FileSizeTxt{font-size: 14px;color: #666;float: left;margin-left: 10px;}
.m_FileNameBox{float: left;border-radius: 10px;height: 35px;line-height: 35px;font-size: 14px;color: #333; margin-right: 20px;padding: 0 15px;background: #f6f6f6;}
.m_Fileico0{float: left;margin: 5px 8px 0 0 ;}
.m_Delico,.m_Resetico{float: left;cursor: pointer;}
.m_Resetico{margin: 5px 15px 0 0;}
.m_Delico{margin-top: 3px;}
.m_SelectBox{float: left; width: 195px;cursor: pointer; padding: 0 10px;line-height: 33px;font-size: 14px;color: #333; height: 35px;border-radius: 10px;box-sizing: border-box;background: white;border: 1px solid #ccc;position: relative;}
.m_Downico{font-size: 26px;color: #999;line-height: 35px;float: right;}
.m_SelectName0,.m_SelectName{color: #666;font-size: 18px;float: left;line-height: 35px;margin-right: 5px;}
.m_SelectList{width: 195px;z-index: 5; min-height: 30px;box-sizing: border-box;padding: 0 10px;border-radius: 10px;border: 1px solid #ccc;background: white;position: absolute;top: 35px;left: 0;}
.m_SelectList>li{float: left;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; width: 100%;height: 30px;line-height: 30px;text-align: left;color: #333;}
.m_SelectList>li:hover{color: #49b9df;}
.m_FileTitle{float: left;width: 550px;outline: none; padding: 0 10px;line-height: 33px;font-size: 14px;color: #333; height: 35px;border-radius: 10px;box-sizing: border-box;background: white;border: 1px solid #ccc;}
.m_UpErrorTxt{float: left;height: 35px;line-height: 35px;color: #CA0D0D;font-size: 14px;margin-left: 15px;}
.m_IntroBox{position: relative; float: left;width: 550px;height: 160px;color: #999;}
.m_IntroTxt{position: absolute;right: 20px;bottom: 10px;}
.m_Intro{resize: none;position: relative; float: left;width: 550px; outline: none; padding:10px;line-height: 33px;font-size: 14px;color: #333; height: 160px;border-radius: 10px;box-sizing: border-box;background: white;border: 1px solid #ccc;}
.m_SelectName0{margin-left: 22px;}
.m_SubMitBtn0,.m_SubMitBtn1{position: absolute;right: 0;left: 0;margin: auto;bottom: 45px; border-radius: 10px;text-align: center;color: white;cursor: pointer;}
.m_SubMitBtn0{background: #ccc;}
.m_SubMitBtn1{background: #49b9df;}
.m_ProUpPro,.m_ProUpProgress{width: 200px;height: 200px;position: absolute;border-radius: 100%; left: 0;right: 0;bottom: 0;top: 0;margin: auto;background: #ccc;;}
.m_ProUpProgress{width: 180px;height: 180px;background: white;overflow: hidden;}
.m_ProUpProIn{background: #65b113;width: 100%;height: 0;position: absolute;right: 0;bottom: 0;}
.m_ProNumber{position: absolute;width: 180px;height: 180px;z-index: 5;top: 0;left: 0;font-size: 34px;color: #333;text-align: center;line-height: 180px;}
.m_ProTxt{font-size: 30px;color: white;width: 200px;height: 40px;line-height: 40px;text-align: center; position: absolute;left:0 ;right: 0;bottom: -45px; margin: auto;}
.m_SelectShow{float: left;width: 145px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }
@media screen and (max-width:1366px){

    .m_UpAttr li{width: 265px;height: 315px;margin: 0 15px 18px 15px;}
    .m_UpListBtn,.m_Notic{font-size: 14px;}
    .m_UpBtn{width: 140px;height: 33px;bottom: 22px;line-height: 33px;font-size: 14px;}
    .m_UpMain{width: 900px;height: 570px;padding: 60px 0 135px 70px;}
    .m_SelectName0,.m_SelectName{font-size:14px;}
    .m_SubMitBtn0,.m_SubMitBtn1{width: 200px;height: 35px;font-size: 20px;line-height: 35px;}
}
@media screen and (min-width:1366px){

    .m_UpAttr li{width: 295px;height: 350px;margin: 0 16px 18px 16px;}
    .m_UpListBtn,.m_Notic{font-size: 16px;}
    .m_UpBtn{width: 156px;height: 37px;bottom: 23px;line-height: 37px;font-size: 16px;}
    .m_UpMain{width: 1000px;height: 590px;padding: 70px 0 135px 70px;}
    .m_SelectName0,.m_SelectName{font-size:16px;}
    .m_SubMitBtn0,.m_SubMitBtn1{width: 220px;height: 40px;font-size: 22px;line-height: 40px;}
}
@media screen and (min-width:1600px){

    .m_UpAttr li{width: 360px;height: 425px;margin: 0 18px 18px 18px;}
    .m_UpListBtn,.m_Notic{font-size: 18px;}
    .m_UpBtn{width: 190px;height: 45px;bottom: 26px;line-height: 45px;font-size: 18px;}
    .m_UpMain{width: 1200px;height: 650px;padding: 85px 0 135px 70px;}
    .m_SelectName0,.m_SelectName{font-size:18px;}
    .m_SubMitBtn0,.m_SubMitBtn1{width: 240px;height: 45px;font-size: 24px;line-height: 45px;}
}