/***********************************************个人中心投稿列表By徐扬**************************************************/
.m_ConListMain{width: 100%;position: relative;z-index: 0; background: white;margin-top: 40px; float: left;min-height: 500px;border-radius: 10px;overflow: hidden;;}
.m_ConListHeader{float: left;width: 100%;height: 60px;border-bottom: 1px solid #ccc; box-sizing: border-box;background: url("../../../static/image/me/m_HeadBg.jpg")0 0 repeat; }
.m_ConListHeader>li{float: left;color: #333;line-height: 60px;text-align: center;font-size: 18px;}
.m_ConList>li>span:nth-child(1),.m_ConListHeader>li:nth-child(1){width: 25%;}
.m_ConList>li>span:nth-child(2),.m_ConListHeader>li:nth-child(2){width: 25%;}
.m_ConList>li>span:nth-child(3),.m_ConListHeader>li:nth-child(3){width: 15%;}
.m_ConList>li>span:nth-child(4),.m_ConListHeader>li:nth-child(4){width: 20%;}
.m_ConList>li>span:nth-child(5),.m_ConListHeader>li:nth-child(5){width: 15%;}
.m_ConList,.m_ConList li{float: left;width: 100%;}
.m_ConList>li{height: 40px;cursor: pointer;}
.m_ConList>li:nth-child(2n){background: white;}
.m_ConList>li:nth-child(2n+1){background: #f6f6f6;}
.m_ConList>li>span{float: left;line-height: 40px;height: 40px;font-size: 14px; text-align: center;color: #666;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.m_DelIco{font-size: 28px;cursor: pointer;color: #ccc;}
.m_ConList>li:hover .m_DelIco{color: #f96672;}
.m_Nolist{position: absolute;right: 0;left: 0;top: 0;bottom: 0; margin: auto;}
.Paging{width: 100%;}