/***********************************************个人中心首页By徐扬**************************************************/
/*************************************************首页上方信息*************************************************/
.m_UserMain{float:left;width: 100%;margin-top: 40px;background: white;border-radius: 10px;box-sizing: border-box;}
.m_UserLeft{float: left;width: 70%;height: 100%;box-sizing: border-box;}
.m_Photo{position: relative;overflow: hidden;cursor: pointer; float: left;box-sizing: border-box;  background: white;padding: 5px;border: 1px solid #CCC;border-radius: 100%;}
.m_UserPhoto{float: left;width: 100%;border-radius: 100%;}
.m_ChangePhoto{float: left;top: 5px;left: 5px;display: none; text-align: center; color: white; border-radius: 100%;position: absolute;background: black;background: rgba(0,0,0,0.5);}
.m_ChangePhoto>i{float: left;width: 100%;}
.m_UserBtn{color: #666; box-sizing: border-box;float: left;border-radius: 10px;background: url("../../../static/image/me/m_btnbg.jpg")0 0 repeat;border: 1px solid #ccc;cursor: pointer;text-align: center;}
.m_UserBtn:hover{box-shadow: 0 0 5px #ccc;  }
.m_ChangePhoto>i:first-child{color: #afa7a9;}
.m_UserMsg{float: left;width: 60%;height: 140px;}
.m_UserName{float: left;color: #666;height: 30px;margin-right: 15px;line-height: 30px;}
.m_RankBox{float: left;position: relative; color: #ca0d0d;height: 30px;font-size: 14px;line-height: 30px;background: #fcd371;border-radius:20px; padding: 0 20px;}
.m_RankIco{position: absolute;right: -5px;top: -17px;}
.m_UserBtnBox{float: left;width: 60%;}
.m_UserBtnBox p:last-child{margin-left: 4%;}
.m_Wait{font-size: 12px;color: #CA0D0D;}
.m_UserRight{float: right;width: 30%;box-sizing: border-box;color: #666; border-left: 1px solid #ccc;height: 68%;margin-top: 3.5%;}
.m_UserRight li{width: 80%;margin: 7%;float: left;text-align: center;overflow: hidden;}
.m_UserRa{margin: auto; width: 50%;color: #666;cursor: pointer;}
.m_UserRa>img{vertical-align: middle;text-align: center;margin-bottom: 10px;cursor: pointer;}

/*************************************************首页下方栏目*************************************************/
.m_UserPlate{float:left;width: 100%;margin-top: 40px;box-sizing: border-box;}
.m_UserPlate>li{overflow: hidden;box-sizing: border-box; cursor: pointer; float: left;width: 32%;margin-right:2%;; height: 47%;position: relative;text-align: center;color: #999; background: white; box-sizing: border-box;border-radius: 10px;}
.m_UserPlate>li>a,#GoTarget{width: 100%;height: 100%;float: left;color: #999;}
.m_UserPlate>li:nth-child(2n+1){margin-right: 0;}
.m_UserPlate>li:nth-child(1){border-top: 3px solid #f16853;height: 100%;margin-right: 2%;}
.m_UserPlate>li:nth-child(2){border-top: 3px solid #49b9df;height: 100%;margin-bottom: 2%;}
.m_UserPlate>li:nth-child(3){border-top: 3px solid #f9a24a;margin-bottom: 2%;}
/*.m_UserPlate>li:nth-child(4){border-top: 3px solid #90d29b;}*/
.m_UserPlate>li:nth-child(4){border-top: 3px solid #cccccc;margin-right: 0;}
.m_UserTitle{float: left;width: 100%;text-align: center;color: #666;}
.m_UserIntro0{float: left;width: 100%;line-height: 30px;}
.m_UserTitBox{float: left;width: 100%;text-align: center;color: #666;line-height: 70px;margin-top: 8%;}
.m_Userimg06,.m_Userimg05{float: left;margin-left: 26%;}
.m_Userimg05{margin-right: 15px;}
.m_Userimg06{margin-right: 7px;}
.m_UserIntro1{float: left;width: 100%;}
.mutual:hover{box-shadow: 1px 2px 5px #999;  }

.m_UserWrong{display: none; width: 100%;padding:20% 10% ; box-sizing: border-box; height: 100%;float: left;position: absolute;left: 0;top: 0; background: black;background: rgba(0,0,0,0.5);color: white;}
.m_UserWrong li{width: 33.3%;height: 33.3%;float: left;text-align: center;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }
.m_UserWrong li:hover{color: #58c1e4;}
.m_Mask{position: fixed;width: 100%; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);z-index: 99999;}
/*************************************************搜索班级*************************************************/
.m_SeacherClass{position: absolute;border: 2px solid #49b9df;padding-bottom: 45px; overflow: hidden; top: 0;left: 0;bottom: 0;right: 0;margin: auto;width: 850px;height: 190px; box-sizing: border-box;background: white;border-radius: 10px;}
.m_ConBox{float: left;width: 100%;}
.m_SeacherBox{width: 520px;height: 60px;border: 1px solid #ccc; margin: 60px auto 0 auto;overflow: hidden;border-radius: 5px; }
.m_SeacherInput{outline: none;width: 405px;border: 0; height: 100%;float: left;box-sizing: border-box;padding-left: 15px;font-size: 18px;color: #333;}
.m_SeacherBtn{float: left;font-size: 18px;color: white;box-sizing: border-box; background: #49b9df;cursor: pointer; width: 115px;height: 100%; text-align: center;line-height:60px; }
.m_SeacherBtn img{vertical-align: middle;}
.m_SeacherResult{width: 500px;margin:0 auto;position: relative;border: 1px solid #ccc; height: 300px; background: white; border-radius: 10px;box-sizing: border-box;;}
.m_SeacherError{width: 520px;font-size: 16px;height: 35px;color: #CA0D0D; line-height: 35px;margin:0 auto 60px auto;overflow: hidden;}
.m_SeacherPhoto{width: 115px;height: 115px;overflow: hidden;box-sizing: border-box; border-radius: 100%;border: 2px solid #ccc;background: white;position: absolute;top: -30px;left: 25px;}
.m_SeacherPhoto img{float: left;width: 100%;}
.m_TeacherName{font-size: 24px;color: #333;width: 115px;text-align: center;line-height: 40px; height: 40px;position: absolute;left: 25px;top: 85px;}
.m_ClassMsg{float: left;width: 100%;height: 265px; box-sizing: border-box;padding: 45px 0 35px 0;position: relative;}
.m_ClassName{width: 100%;float: left; text-align: center;height: 40px;line-height: 40px;font-size: 24px;color: #333;}
.m_ClassNum{width: 100%;float: left; text-align: center;height: 40px;line-height: 40px;font-size: 18px;color: #333;}
.m_JoinClassBtn0{position: absolute;left: 0;right: 0;bottom: 0;margin: auto; width: 150px; height: 45px;cursor: pointer; text-align: center;line-height: 45px;color: #49b9df;border-radius: 10px;border: 1px solid #49b9df;}
.m_SeacherClose{cursor: pointer;position: absolute;top: 20px;right: 20px;}
/************************************************更换头像*****************************************************************************/
.m_ChangePicBox{width: 1000px;height: 700px;padding: 40px 80px; background: white;overflow: hidden;box-sizing: border-box;border-radius: 10px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.m_ChangePicFile{float: left;width: 100%;height: 90px;box-sizing: border-box;position: relative;}
.m_ChangePicFileBtn{width: 165px;border: 0;outline:none;cursor: pointer;opacity: 0;filter: alpha(opacity=0); height: 40px;overflow: hidden;position: absolute;left: 0;top: 0;bottom: 0;margin: auto;z-index: 2;}
.m_ChoicePic{width: 165px;height: 40px;text-align: center;line-height: 40px;z-index: 1; position: absolute;left: 0;top: 0;bottom: 0;margin: auto; cursor: pointer; background: url("../../../static/image/me/m_btnbg.jpg")0 0 repeat;border-radius: 10px;border: 1px solid #ccc;}
.m_PicRule{width: 100%;height: 100%;float: left;font-size: 18px;color: #999;line-height: 90px;box-sizing: border-box;padding-left: 180px;}
.img-container{width: 400px;height: 400px;box-sizing: border-box;border: 1px solid #ccc;border-radius: 10px;float: left;background: white;}
.m_SmallImg{overflow: hidden;width: 180px;float: left;margin-left: 80px;font-size: 18px;}
.img-preview{margin:0 auto ; box-sizing: border-box;border-radius: 100%;border: 1px solid #ccc;overflow: hidden;}
.img-preview img{width: 100%;}
.img-180{width:180px;height: 180px;margin-bottom: 30px!important;line-height: 180px;}
.img-100{width:100px;height: 100px;margin-bottom: 30px!important; line-height: 100px;}
.img-60{width:60px;height: 60px;line-height: 60px;}
.m_SmallTxt{overflow: hidden;width: 150px;float: left;margin-left: 10px;font-size: 18px;color: #333;}
.m_SmallTxt p{width: 100%; text-align: center;margin: 0 auto;}
.m_PhotoOption{width: 100%;float: left;margin-top: 60px;}
.m_PhotoOption input{float: left; outline: none;border: 0;cursor: pointer;border-radius: 10px;width: 240px;height: 45px;font-size: 24px;color: white;}
.m_PhotoOption input:nth-child(1){background: #49b9df;margin: 0 40px 0 155px;}
.m_PhotoOption input:nth-child(2){background: #999;}
@media screen and (max-width:1366px){
    .m_UserMain{height: 220px;}
    .m_Photo{width: 140px;  height: 140px; margin: 42px 30px 0 20px;}
    .m_ChangePhoto{width: 128px;height: 128px;}
    .m_ChangePhoto>i:last-child{font-size: 14px;margin-top: 8%;}
    .m_ChangePhoto>i:first-child{margin-top: 23%;font-size: 50px;}
    .m_UserBtn{width: 150px;height: 35px;font-size: 14px;line-height: 33px;}
    .m_UserMsg{font-size: 14px;height: 150px;}
    .m_UserPlate{height: 310px;}
    .m_UserPlate>li:nth-child(4){font-size: 22px;line-height: 145px;}
    .m_UserTitle{font-size: 22px;line-height: 85px;}
    .m_Userimg03,.m_Userimg04{width: 40%;}
    .m_UserName,.m_UserIntro0,.m_UserIntro1{font-size: 14px;}
    .m_UserTitBox{font-size: 20px;margin-top: 9%;}
    .m_UserIntro1{line-height: 25px;}
    .m_UserWrong li{font-size: 22px;}
    .m_UserWrong li{line-height: 64px;}
    .m_UserName,.m_RankBox{margin-top: 90px;}
}
@media screen and (min-width:1366px){
    .m_UserMain{height: 240px;}
    .m_Photo{width: 160px;height: 160px;margin: 38px 40px 0 30px;}
    .m_ChangePhoto{width: 148px;height: 148px;}
    .m_ChangePhoto>i:last-child{font-size: 16px;margin-top: 8%;}
    .m_ChangePhoto>i:first-child{margin-top: 25%;font-size: 55px;}
    .m_UserBtn{width: 170px;height: 40px;font-size: 16px;line-height: 38px;}
    .m_UserMsg{font-size: 16px;height: 160px;}
    .m_UserPlate{height: 370px;}
    .m_UserPlate>li:nth-child(4){font-size: 26px;line-height: 175px;}
    .m_UserTitle{font-size: 26px;line-height: 100px;}
    .m_Userimg03,.m_Userimg04{margin-bottom: 20px;width: 40%;}
    .m_UserName,.m_UserIntro0,.m_UserIntro1{font-size: 16px;}
    .m_UserTitBox{font-size: 22px;margin-bottom: 10px;}
    .m_UserIntro1{line-height: 25px;}
    .m_UserWrong li{font-size: 26px;}
    .m_UserWrong li{line-height: 80px;}
    .m_UserName,.m_RankBox{margin-top: 95px;}
}
@media screen and (min-width:1600px){
    .m_UserMain{height: 260px;}
    .m_Photo{width: 185px;  height: 185px;  margin: 38px 54px 0 43px;}
    .m_ChangePhoto{width: 173px;height: 173px;}
    .m_ChangePhoto>i:first-child{margin-top: 30%;font-size: 60px;}
    .m_ChangePhoto>i:last-child{font-size: 18px;margin-top: 10%;}
    .m_UserBtn{width: 190px;height: 45px;font-size: 18px;line-height: 45px;}
    .m_UserPlate{height: 430px;}
    .m_UserPlate>li:nth-child(4){font-size: 30px;line-height: 205px;}
    .m_UserTitle{font-size: 30px;line-height: 120px;}
    .m_Userimg03,.m_Userimg04{margin-bottom: 20px;}
    .m_UserTitBox{font-size: 24px;margin-bottom: 15px;}
    .m_UserIntro1{line-height: 30px;}
    .m_UserName,.m_UserMsg,.m_UserIntro0,.m_UserIntro1{font-size: 18px;}
    .m_UserWrong li{font-size: 30px;}
    .m_UserWrong li{line-height: 92px;}
    .m_UserMsg{height: 175px;}
    .m_UserName,.m_RankBox{margin-top: 100px;}
}