/***********************************************个人中心班级目标记录By徐扬**************************************************/
/*雪碧图*/
.meimg{background:url('../../../static/image/sprite/meimg.png')0 0   no-repeat;}
.m_pkdico0{height:22px;width:24px;background-position:-230px -144px;float: left;margin: auto; position: absolute;top: 0;bottom: 0;right: 30px;cursor: pointer;}
.m_pkdico1{height:22px;width:24px;background-position:-230px -113px;float: left;margin: auto; position: absolute;top: 0;bottom: 0;right: 30px;cursor: pointer;}
.m_winico0{height:28px;width:26px;background-position:-268px -109px;;float: left;margin-left: 10px;}
.m_winico1{height:24px;width:30px;background-position:-267px -143px;;float: left;position: absolute;top: 40px;right: 90px;}
.m_pkico0{height:83px;width:105px;background-position:-109px -104px;}
.m_pkico1{height:83px;width:105px;background-position:0 -105px;}
.m_LogMain{float: left;width: 100%;min-height: 500px; box-sizing: border-box;background: white; margin-top: 40px;border-radius: 10px;overflow: hidden;;}
.m_LogBox,.m_SlideLog{float: left;width: 100%;}
.m_LogUser{width: 100%;height: 180px;position: relative; border-bottom: 1px solid #ccc;background: url("../../../static/image/me/m_logbg.jpg")0 0 repeat;}
.m_UserCon{width: 615px;height: 100%;margin: 0 auto;}
.m_PkPhotoBox{float: left;width: 265px;height: 100%;position: relative;}
.m_PkPhoto{width: 100px;;overflow: hidden;margin: 50px auto 0 auto; height: 100px;box-sizing: border-box;padding:2px; background: white;border-radius: 100%;border: 1px solid #ccc;}
.m_PkPhoto>img{float: left;width: 100%;border-radius: 100%;}
.m_VsImgBox{float: left;text-align:center;font-size: 18px;color: #CA0D0D;width: 78px; height: 100%;}
.m_VsIco{float: left;margin-top: 15px;}
.m_pkresult0{float: left;position: absolute;top: 45px;left: -10px;}
.m_pkresult1{float: left;position: absolute;top: 45px;right: -10px;}
.m_SlideLog{display: none;}
.m_PkLogHead,.m_PkLogList{float: left;width: 100%;}
.m_PkLogHead li{float: left;width: 25%;background: #f6f6f6;height: 55px;line-height: 55px;text-align: center;color: #333;font-size: 16px;}
.m_PkLogList li{float: left;width: 100%;height: 40px;}
.m_PkLogList li:nth-child(2n+1){background: white;}
.m_PkLogList li:nth-child(2n){background: #f6f6f6;}
.m_PkLogList li>p{float: left; width: 25%;height: 40px;line-height: 40px;font-size: 14px;color: #666;text-align:center;}
.m_PkLogList li>p span{float: left; width: 50%;text-align: right;}
.m_NoLog{float: left;width: 100%; height: 180px;line-height: 180px;color: #666;font-size: 30px;text-align: center;}
.m_NoPreLog{float: left;width: 100%;height: 300px;line-height: 300px;color: #666;font-size: 30px;text-align: center;}
.m_NoPreLogMain{float: left;width: 100%;height: 500px;line-height: 500px;color: #666;font-size: 30px;text-align: center;}