/***********************************************个人中心错题本首页By徐扬**************************************************/
/*遮罩层*/
.m_Mask{position: fixed;width: 100%; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);}
/*内容区*/
.m_PrintBox{float: left;width: 100%;margin-top: 40px;}
.m_PrintBtn{float: right;width: 150px;height: 45px;font-size: 18px;text-align: center;line-height: 45px;color: white;border-radius: 10px;background: #49b9df;cursor: pointer;}
.m_WrongCon{ width: 100%;float: left;margin-top: 10px;; min-height: 600px;background: white;box-sizing: border-box;border-radius: 10px;overflow: hidden;}
.m_LineBox,.m_LineBox1{float: left;width: 100%;}
.m_SelectBox{float: left; width: 195px;cursor: pointer; padding: 0 10px;line-height: 33px;font-size: 14px;color: #333; height: 35px;border-radius: 10px;box-sizing: border-box;background: white;border: 1px solid #ccc;position: relative;}
.m_Downico{font-size: 26px;color: #999;line-height: 35px;float: right;}
.m_SelectList{width: 195px;z-index: 5; min-height: 30px;box-sizing: border-box;padding: 0 10px;border-radius: 10px;border: 1px solid #ccc;background: white;position: absolute;top: 35px;left: 0;}
.m_SelectList>li{float: left;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; width: 100%;height: 30px;line-height: 30px;text-align: left;color: #333;}
.m_SelectList>li:hover{color: #49b9df;}
.m_SelectShow{width: 145px;float: left;line-height: 35px;height: 35px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.m_UnitTxt{float: left;height: 100%;width:4%;line-height: 40px;;color: #333;}
.m_UnitList{float: left;width: 96%;}
.m_UnitList li{float: left;line-height: 40px; text-align: center;color: #666;cursor: pointer;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.m_LineBox1{margin-top: 22px;}
.m_WrongQueOp{width: 120px;float: right;height: 100px;}
.m_WrongQue{float: left;overflow: hidden;}
.m_WrongTest{margin-top: 20px;}
.m_WrongTest li,.m_WrongTest{float: left;width: 100%;}
.m_WrongTest li{border: 1px solid white;border-radius: 10px;box-sizing: border-box;padding: 15px;position: relative;}
.m_WrongTest li:hover{border: 1px solid #ccc;;}
.m_WrongTest li:hover .m_WrongOpBtn1{display: block;}
.m_WrongTest li p,.m_WrongTest li span{color: #666;}
.m_WrongQue  p:nth-child(1){color: #333;}

.Nodata{float: left;width: 100%;height: 500px;line-height: 450px; overflow: hidden;text-align:center;}
.Nodata img{width: 200px;}
.m_Nolist{position: absolute;right: 0;left: 0;top: 0;bottom: 0; margin: auto;}
.m_PrintSelect{box-sizing: border-box;padding: 15px 25px 80px 25px;border-radius: 10px;background: white;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.m_Close{cursor: pointer;position: absolute;top: 20px;right: 20px;}
.m_PrintTxt{float: left;width: 100%;color: #49b9df;}
.m_UnitSelectList{float: left;width: 103%;height: 197px;overflow-y:auto;  margin-top: 60px;padding:0 55px;box-sizing: border-box; }
.m_UnitSelectList li{float: left;width: 130px;height: 30px;line-height: 30px;margin-bottom: 35px;cursor: pointer;}
.m_UnitSelecIco{float: left;cursor: pointer;margin-right: 6px;margin-top: 2px;}
.m_UnitName{width: 95px;float: left;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;color: #333;}
.m_UnitSelectEnsure{width: 190px;height: 40px;line-height: 40px;text-align: center;color: white;border-radius: 10px;background: #999;position: absolute;right: 0;left: 0;bottom: 30px;margin: auto;cursor: pointer;}
.m_NoBox{float: left; width: 100%;height: 435px;;position: relative;}
.m_WrongQue{color: #666;}
.m_WrongQue  p:nth-child(1),.m_WrongQue  p:nth-child(1) span{color: #333;}
/*.underpoint{border-bottom: 2px dashed #333;}*/
.r_OptionRight,.r_OptionRight p ,.r_OptionRight span{color: #65B113!important;}
.r_OptionWrong ,.r_OptionWrong p ,.r_OptionWrong span{color: #CA0D0D!important;}
.r_OptionHalf ,.r_OptionHalf p ,.r_OptionHalf span{color: #F9A24A!important;}
.r_OptionNo ,.r_OptionNo p ,.r_OptionNo span{color: #999999!important;}
.m_Wflag{width: 30px;vertical-align: middle;}
img{vertical-align: middle;}
/*试题样式*/
@media screen and (max-width:1366px){
    .m_WrongCon{padding: 20px 45px;}
    .m_WrongQue,.m_WrongTest li p,.m_WrongTest li,.m_UnitList li,.m_UnitTxt{font-size: 14px;line-height: 30px;}
    .m_WrongQue,.m_WrongQue  p{line-height: 25px!important;}
    .m_WrongQue,.m_WrongQue {line-height: 25px;}
    .m_UnitList li{padding: 0 15px;}
    .m_WrongQue{width: 630px;}
    .m_PrintTxt{font-size: 20px;}
    .m_PrintSelect{width: 680px;height: 370px;}
}
@media screen and (min-width:1366px){
    .m_WrongCon{padding: 20px 65px;}
    .m_WrongQue,.m_WrongTest li p,.m_WrongTest li,.m_UnitList li,.m_UnitTxt{font-size: 16px;line-height: 30px; }
    .m_UnitList li{padding: 0 20px;}
    .m_WrongQue,.m_WrongQue  p{line-height: 30px!important;}
    .m_WrongQue,.m_WrongQue{line-height: 30px;}
    .m_WrongQueOp{margin: 0 10px;}
    .m_WrongQue{width: 680px;}
    .m_PrintTxt{font-size: 22px;}
    .m_PrintSelect{width: 680px;height: 370px;}
}
@media screen and (min-width:1600px){
    .m_WrongCon{padding: 20px 65px;}
    .m_WrongQue,.m_WrongTest li p,.m_WrongTest li,.m_UnitList li,.m_UnitTxt{font-size: 18px;line-height: 30px;}
    .m_UnitList li{padding: 0 25px;}
    .m_WrongQue,.m_WrongQue{line-height: 35px;}
    .m_WrongQue,.m_WrongQue  p{line-height: 35px!important;}
    .m_WrongQueOp{margin: 0 10px;}
    .m_WrongQue{width: 870px;}
    .m_PrintTxt{font-size: 24px;}
    .m_PrintSelect{width: 680px;height: 370px;}
}
.m_WrongOpBtn0,.m_WrongOpBtn1{cursor: pointer; float: right;background: white; color: #666; width: 120px;height: 30px; text-align: center;line-height: 28px;font-size: 14px!important;box-sizing: border-box;border-radius: 10px;border: 1px solid #ccc;}
.m_WrongOpBtn0{margin-top: 25px;}
.m_WrongOpBtn1{margin-top: 15px;display: none;}
.m_WrongOpBtn0:hover{border: 1px solid #49b9df;background: #49b9df;color: white;}
.m_UnitList>li:hover{color:  #49b9df;}
.m_WrongOpBtn1:hover{border: 0;background: #ca0d0d;color: white;}
.Paging{width: 800px;margin: 0 auto;clear: both;}

