.r_Main{ width: 100%; float: left; min-height: 800px; background: #ECEDF0; }
.MainContent{margin: 40px auto;padding: 0 30px; box-sizing: border-box; overflow: hidden;background: white;;border-radius: 10px;}
.r_condition{ width: 100%; margin: 30px auto; overflow: hidden; }
.condition_area,.condition_year,.condition_catlog,.condition_knowledge{width:5%; height: 31px; line-height: 31px; text-align: center;}
.condition_knowledge,.fn_knowledge{display: none}
.condition_ul{width:95%; height: auto;}
.condition_ul li{ display: inline-block; min-width: 59px; height: 31px; text-align: center; line-height: 31px; cursor: pointer;white-space: nowrap;text-overflow: ellipsis; overflow: hidden; }
.dimension_li p,.dimension_li span { font-size: 14px; font-family: "宋体";}
.r_dimension{ width: 100%; margin: 20px auto;min-height: 1500px;  }
.dimension_ul{ height: 60px; padding: 25px 0; border-top: 1px solid #cccccc; position: relative; cursor: pointer;}
.dimension_ul .download_li{ position: absolute; right: 0px; top: 33px; height: 84px; display: none; }
.fn_download{ border-radius: 10px;text-align: center; border: 0; background-color: #65B113; color: #fff; cursor: pointer; }
.dimension_ul li{ height: 40px; line-height: 40px; padding: 0 20px; }
.knowledge_ul{ display: none; }
.knowledge_ul .knowledge_li{ width: 75px; padding: 0 9px; }
.change_area{  color: #65B113 !important;}
.change_year{  color: #65B113 !important;}
.change_catlog{  color: #65B113 !important;}
.change_knowledge{  color: #65B113 !important;}
.page_div{ width: 100%; margin: 20px auto; }
.fn_rig{margin-right: 20px;}
.fn_rig img{float: left;margin: 6px;}
.page_div ul{ width: 600px; margin: 0 auto; text-align: center; }
.page_div ul li{ display: inline-block; border: 1px solid #CCCCCC; color: #666; border-radius: 2px; padding: 3px 10px; cursor: pointer; }
.change_page{ color: #ffffff !important; background-color: #65B113; }
.checkarticle{ cursor: pointer; }
.checkarticle:hover{color: #65B113}
.c_SearchC{ width: 102%; overflow: auto; height: 100%; display: none; position: fixed; z-index: 2; background: black; background: rgba(0, 0, 0, 0.5); top: 0px; left: 0px }
.c_CreatSChool{ min-height: 395px; width: 930px; box-sizing: border-box; background: white; position: relative; top: 160px; left: 0; right: 0; margin: 0 auto; }
@media screen and (max-width:1366px){
    .MainContent{width: 900px;}
    .fn_download{width: 100px; height: 35px;line-height: 35px;}
    .fontsize{font-size: 14px;}
    .dimension_ul{padding: 15px 0;}
}
@media screen and (min-width:1366px){
    .MainContent{width: 1000px;}
    .fn_download{width: 120px; height: 40px;line-height:40px;}
    .fontsize{font-size: 16px;}
    .dimension_ul{padding: 15px 0;}
}
@media screen and (min-width:1600px){
    .MainContent{width: 1200px;}
    .fn_download{width: 150px; height: 45px;line-height:45px;}
    .fontsize{font-size: 18px;}
    .dimension_ul{padding: 20px 0;}
}
.p_LessMoney{display: none; z-index: 99999; position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: black;background: rgba(0,0,0,0.5);}
.p_LessMoneyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/bg.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.p_NoIdentifyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/chance.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.GoPay{position: absolute;bottom: 15px;right: 0;left: 0;margin: auto; width: 190px;height: 45px;text-align: center;line-height: 45px;font-size: 18px;float: left; color: white;background: #8ed6ee;border-radius: 10px;}
.GoPayClose{opacity: 0;filter: alpha(opacity=0);  width: 35px;height: 40px;position: absolute;top: 0;right: 21px;cursor: pointer;}
.condition_ul li:hover{color:#65B113 !important}
.NoDataImg{margin:100px 39%}
.Paging{width: 60%;margin: auto}