body{background: white;}
.Com_Art,.Art_Main,.Art_UpDown,.Art_Title,.Art_Author,.Art_Con,.Art_Trans,.Art_Translate{float: left;width: 100%;box-sizing: border-box;}
.Com_Art{padding: 1.32rem 0.391rem 1.4rem 0.391rem;position: relative;}
.Art_Title{font-size: 0.234375rem;color: #222;text-align: center;line-height: 0.34146rem;}
.Art_Author{font-size: 0.15625rem;color: #9D9D9D;text-align: center;line-height: 0.21484rem;margin-top: 0.098rem;margin-bottom: 0.1495rem;}
.Art_Con,.Art_Trans{font-size: 0.17578rem;color: #656565;line-height: 0.36133rem;text-indent: 0.390625rem; }
.Art_UpDown{background: white; position: fixed;text-align:center; bottom: 0;left: 0;height: 0.6836rem;border-top: 1px  solid #E8E8E8;font-size: 0.15625rem;color: #656565;}
.Art_UpDown >p{display: inline-flex;margin:0 0.29297rem;height: 0.6836rem;line-height: 0.6836rem;}
.Art_UpDown >p>span:nth-child(2){max-width:2.07rem;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }
.Art_UpDown >p:hover{color: #30C3A6!important;;}
.Art_TransBtn{float: right;font-size: 0.15625rem;vertical-align: top; width: 1.172rem;height: 0.439rem;border-radius: 0.2196rem;color: #41B3EE;text-align: center;line-height: 0.439rem;}
.Art_TransBtn>span{display: inline-block;vertical-align: top; }
.Art_Ico0{display: inline-block;  height: 0.439rem;;width: 0.137rem;background: url("../../../static/images/extend/arrow.png") center center no-repeat;}
.Art_Ico1{display: inline-block;  height: 0.439rem;;width: 0.137rem;background: url("../../../static/images/extend/arrow1.png") center center no-repeat;}
.Art_Trans p,.Art_Trans span{font-family: 'Microsoft YaHei'!important;line-height: 0.36133rem!important;}
.NoAuthor{margin-bottom: 0.2475rem;}
.Art_Trans{background: #f5f5f5;}
.Art_Trans>p:nth-child(1){margin: 0.293rem 0 0.39rem 0;}
.Art_CoMand{position: absolute;top: 1.32rem;right:0.391rem; float: left;font-size: 0.1367rem; width: 1.172rem;height: 0.439rem;border-radius: 0.2196rem;color: #9D9D9D;text-align: center;line-height: 0.45rem;}
.Art_CoMand>span{display: inline-block; height: 100%;vertical-align: top;}
.Art_CoMand>span:nth-child(1){width: 0.1465rem;margin-right: 0.0586rem; background: url("../../../static/images/extend/c0.png") center center no-repeat;}
.Art_CoMand:hover span:nth-child(1){background: url("../../../static/images/extend/c1.png") center center no-repeat;}
.Art_CoMand:hover {color: #30C3A6;}



/*播放器*/
.Shelter{float: left;width: 100%;height:0.1953rem;background: white;position: fixed;left: 0;top: 0; }
.ComPlayer{width: 9.21875rem;height:0.83rem;border: 1px solid #ccc;overflow: hidden;background: white;box-sizing: border-box;}
.ComPlayer-PlayBtn{float: left;width:0.5078125rem;height: 0.5078125rem;margin:0 0.14648rem;margin-top: 0.166rem;}
.ComPlayer-Pause{background: url("../../../static/images/player/pause.png") center center no-repeat;background-size: 100%;}
.ComPlayer-Play{background: url("../../../static/images/player/play.png") center center no-repeat;background-size: 100%;}
.ComPlayer-PlayConBox{float: left;width: 8.26172rem;height: 100%;}
.ComPlayer-PlayTxt{float: left;margin-top:0.166rem;  width: 100%;height: 0.1953125rem;color: #656565; line-height: 0.1953125rem;font-size: 0.1367rem;}
.ComPlayer-BarBox{float: left;width: 100%;height: 0.02rem;background: #E8E8E8;margin-top: 0.07rem;position: relative;}
.ComPlayer-LoadBar{float: left;width: 0;height: 100%;background: #222;border-radius:0.0244rem;}
.ComPlayer-LoadBtn{position: absolute;left: 0;top: -0.026rem; width: 0.078rem;height: 0.078rem;border-radius: 100%;background:#222; }
.ComPlayer-TimeBox{float: left; width: 100%;height: 0.166rem;line-height: 0.166rem;color: #C1C1C1;font-size: 0.117rem;margin-top: 0.07rem;}
.ComPlayer-DurationTime{float: left;}
.ComPlayer-TotalTime{float: right;}
.ComPlayer{position: fixed;left: 0;right: 0;margin: auto;top: 0.1953rem;}