body{background: #f5f5f5;;font-family: 'Microsoft YaHei'}
.Mag_Main,.Mag_Main>li,.Mag_ImgBox>img,.Mag_List{float: left;width: 100%;box-sizing: border-box;}
.Mag_Main>li{margin-bottom: 0.1465rem;background: white;padding: 0.293rem 0.391rem 0 0.391rem;}
.Mag_ImgBox{float: left;width: 4.21875rem;box-sizing: border-box;height: 100%;margin-right: 0.1953rem;margin-bottom:0.293rem; }
.Mag_Right{float: left;width: 4.72656rem;box-sizing: border-box;}
.Mag_Title{height: 0.32223rem;box-sizing: border-box; color: #222;font-size: 0.234375rem;line-height: 0.32223rem;padding-left: 0.1rem; border-left: 0.05rem solid #30C3A6;}
.Mag_List{margin-bottom: 0.78125rem;margin-top: 0.5859375rem;}
.Mag_List>li{float: left;max-width: 3.75rem;color: #656565 }
.Mag_List>li>span{font-size: 0.15625rem;;line-height: 0.361328rem;float: left; text-align: left;}
.Mag_List>li>span:nth-child(1){max-width: 1.9922rem; overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.Mag_List>li>span:nth-child(2){margin: 0 0.1rem;}
.Mag_List>li:hover span:nth-child(1){color: #30C3A6!important;}