body{background: #f5f5f5;;font-family: 'Microsoft YaHei'}
.Mag_Main,.Mag_Main>li,.Mag_ImgBox>img,.Mag_List{float: left;width: 100%;box-sizing: border-box;}
.Mag_Main>li{margin-bottom: 0.1875rem;background: white;padding: 0.375rem 0.5rem 0 0.5rem;}
.Mag_ImgBox{float: left;width: 3rem;box-sizing: border-box;height: 100%;margin-right: 0.25rem;margin-bottom:0.375rem; }
.Mag_Right{float: left;width: 5.75rem;box-sizing: border-box;}
.Mag_Title{height: 0.6875rem;box-sizing: border-box;padding-left: 0.1rem; border-left: 0.05rem solid #30C3A6;}
.Mag_Title>p:nth-child(1){color: #222;font-size: 0.3rem;line-height: 0.4125rem;}
.Mag_Title>p:nth-child(2){color: #656565;font-size: 0.2rem;line-height: 0.275rem;}
.Mag_List{margin-bottom: 1rem;margin-top: 1.5rem;}
.Mag_List>li{float: left;max-width: 4.8rem;color: #656565 }
.Mag_List>li>span{font-size: 0.2rem;;line-height: 0.525rem;float: left; text-align: left;}
.Mag_List>li>span:nth-child(1){max-width: 2.55rem; overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.Mag_List>li>span:nth-child(2){margin: 0 0.1rem;}
.Mag_List>li:hover{color: #30C3A6!important;}