/***********************************************错题本详情By徐扬**************************************************/
html,body{

}
body{background: #F6F6F6;}
.Main{float: left;width: 100%;margin: 0 auto;}
.w_Question{width: 100%;min-height: 2rem;background: white;margin-top: 0.4rem;color: #333;box-sizing: border-box;float: left;padding: 0.3rem;}
.w_Question>div,.w_Question>p,.w_Question span,.w_Question{}
.m_Answer0{overflow: hidden;}
.w_border{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.w_mh{min-height: 0;}
.w_Question p,.w_Question span,.w_Question{
    font-size: 0.4rem!important;
}

.w_Analysis{width: 100%;min-height: 3rem;background: white;margin-top: 0.4rem;color: #333;box-sizing: border-box;float: left;padding: 0 0 0.3rem 0.3rem;}
.w_AnalysisTit{float: left;width: 100%; text-align: left;line-height: 1.2rem;font-size: 0.4rem;height: 1.2rem;border-bottom: 1px solid #ccc; }
.w_AnalysisMain{float: left;width: 100%;padding-right: 0.3rem;box-sizing: border-box; text-align: left;line-height: 0.8rem;font-size: 0.4rem;}
.w_editico{float: right;width: 0.6rem;margin: 0.3rem;}
.mjx-mfrac {
    padding-right: 1em!important;
}
#w_Anlysis{
    font-size: 0.4rem;
}