/* By wrinter in 7.7*/
html,body{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.Parent{
	width:100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.Parent_Content{
	width:92%;
	min-height: 100%;
	background: #fff;
	margin:0 auto;
	display: flex;
	flex-flow: column wrap;
}
/*内容区域*/
.Parent_tu{
	width:100%;
	height: 4.86rem;
	margin: 0.556rem 0;
}
.Parent_tipic{
	width:100%;
	height: 0.736rem;
	color: #222;
	font-size: 0.5278rem;
	line-height: 0.736rem;
	font-weight: 600;
}
/*信息显示区域*/
.Partent_show{
	width:100%;
	height: 1.38rem;
	font-size: 0.33rem;
	line-height: 1.38rem;
	color: #929292;
}
/*图片*/
.Partent_previewimage{
	display: inline-block;
	width:0.5rem;
	height: 0.41rem;
	margin-left: 1.69rem;
	margin-right: 0.06rem;
}
.Partent_loveimage{
	display: inline-block;
	width:0.477777rem;
	height: 0.41rem;
	margin-left: 0.7778rem;
	margin-right: 0.06rem;
}
/*文章区域*/
.Parent_Article{
	width:100%;
	min-height: 3.3rem;
	color: #222;
	font-size: 0.41rem;
	line-height: 0.6rem;
}