html,body{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.ReadingReport{
	width:100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
}
.ReadingReportContent{
	width:92%;
	min-height: 100%;
	margin: 0 auto;
	font-size: 0.17578rem;
}
/*列表样式*/
.ReadingReportTopic{
	width:100%;
	height: 0.5859rem;
	border-bottom: 1px solid #e8e8e8;
}
.ReadingReportTopic li{
	width:25%;
	height: 100%;
	line-height: 0.58rem;
	text-align: center;
	float: left;
	font-size: 0.17rem;
	color: #222222;
}
.tbody{
	width:100%;
	height: 0.5859rem;
	border-bottom: 1px solid #e8e8e8;
	color: #656565;
}
.tbody li{
	width:25%;
	height: 100%;
	line-height: 0.58rem;
	text-align: center;
	float: left;
	font-size: 0.17rem;
}
.addColor{
	background: #f6f6f6;
	color: #9d9d9d!important;
}