html,body{
	width:100%;
	height: 100%;
	overflow: hidden;
}
.TestPaper{
	width:100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
}
.TestPaperContent{
	width:92%;
	min-height: 100%;
	margin: 0 auto;
	font-size: 0.17578rem;
}
/*标题*/
.TestPaperTitleWord,.TestPaperTime{
	text-align: center;
}
.TestPaperTitleWord{
	font-size: 0.2343rem;
	color: #222;
	margin-top: 0.23rem;
}
/*时间&分数*/
.TestPaperInfo{
	text-align: center;
	margin-top: 0.15rem;
	margin-bottom: 0.23rem;
}
.TestPaperTime,.TestPaperScore{
	font-size: 0.17578rem;
	color: #9d9d9d;
}
.TestPaperScore{
	margin-left: 0.15625rem;
}
.questionTopic{
	margin-bottom: 0.19875rem;
}
/*题号样式调整*/
.questionTitle,.TestPaperOptions{
	margin-left: 0.2539rem;
	line-height: 0.369rem;
}
.TestPaperLeft{
	 margin-left: 0.2539rem;
}
.questionGroup{
	position: relative;
}
.question{
	position: relative;
	/*margin-bottom: 0.2926rem;*/
}
.TestPaperRate{
	margin-left: 0.19718rem;
	margin-top: 0.09765rem;
}
.questionLabel,.GroupLabel{
	position: absolute;
	top:0.05rem;
	left:0;
}
/*字体颜色*/
.questionTitle,.TestPaperOptions,label{
	font-size: 0.175789rem!important;
}
.questionTopic{
	color: #222222!important;
}
.question,.questionTitle,.TestPaperAnswer{
	color: #222222!important;
}
/*答案*/
.TestPaperAnswer{
	width:100%;
	min-height: 0.7rem;
	background: #F8F8F8;
	line-height: 0.2734rem!important;
	padding:  0  0 0.09765rem;
	font-size: 0.15625rem!important;
	overflow: hidden;
	display: none;
	margin-bottom: 0.2926rem;
}
.questionLines:last-child{
	margin-bottom: 0.25rem;
}
.dino{
	display: block;
}
/*查看解析*/
.TestPaperLook{
	width:100%;
	height: 0.48828rem;
	position: relative;
}
.TestPaperLookUp{
	position: absolute;
	right: 0;
	top:0rem;
	color: #41B3EE;
}
/*材料*/
.questionContent{
	margin-left: 0.2539rem;
	line-height: 0.369rem;
	font-size: 0.17578rem;
}
