.c_noClass{background: url("../../image/classmanagement/c_BgImg0.png") 0 0 repeat;}
.c_btn{border-radius:10px;width: 190px;cursor: pointer;height: 45px;border: 0;outline: none;text-align: center;line-height: 45px;color: white;font-size:18px;}
.c_btns{margin-right:15%;margin-bottom: 40px;}
/*****************************班级列表**********************************/
.c_createdList{width: 1200px; margin: 0 auto;clear: both;text-align: center;position: relative;}
.c_createdList li{float: left;list-style-type: none;display: inline-block;width: 505px;height: 300px;margin:25px 50px;position: relative; border-radius: 10px;background: white; ;}
.c_createdList li:nth-child(2n+1){margin-left: 20px;}
.c_userPhoto{width: 115px;height: 115px;box-sizing: border-box;border: 1px solid #CCCCCC;overflow: hidden;border-radius: 100%;position: absolute;top: -30px;left: 25px;}
.c_userName{width: 115px;position: absolute;top: 100px;left: 25px;text-align: center;font-size: 24px;}
.c_grade{line-height: 110px;width: 100%;text-align: center;font-size: 24px;}
.c_student,.c_teacher{font-size: 18px;width: 100%;text-align: center;line-height: 30px;}
.c_inBtn{width: 150px;height: 45px;background: #65B113;border: 2px solid #65b113;line-height: 45px;text-align: center;font-size: 18px;box-sizing: border-box;border-radius: 10px;outline: none;color:white;}
.c_inBtn:hover{background: #5da313;}
.c_waitBtn{width: 150px;height: 45px;background: white;border: 1px solid #65B113; line-height: 45px;text-align: center;font-size: 18px;box-sizing: border-box;border-radius: 10px;outline: none;}
.borc65{border-color: #65B113;}
.borcCC{border-color: #CCC;}
.mt55{margin-top:55px;}
.c_classMsg{ padding-top: 30px; margin-left: 40px; text-align: left; height: 32px; color:#ca0d0d; line-height: 32px; background:url("../../../static/image/classmanagement/s_msgico.png") no-repeat 0 32px; padding-left: 50px; clear: both; display: none;position: absolute;left: 310px;font-size: 20px;}
/*****************************加入班级**********************************/
.arrow-up{width:0;height:0;border-left:26px solid transparent;border-right:26px solid transparent;border-bottom:26px solid #fff;position:relative;top:-21px;left:770px;}
.c_img{margin-left:330px;}
.c_join{background: #58C1E4;}
.c_join:hover{background:#0fa7bd;}
.c_joinArea{width: 960px;min-height: 260px;background: #fff;box-sizing: border-box;border-radius: 10px;border: 1px solid #dfdfdf;position: absolute;right:26%;top: 230px;text-align: center;z-index: 99;  opacity:1;}
.c_arrow{position: absolute;top: -27px;right: 135px;}
.c_search{width: 530px;height: 60px;clear: both;margin: 0 auto; box-sizing: border-box;background: white;margin-top: 56px;border-radius: 10px;border: 1px solid #dfdfdf;}
.c_sbtn{width: 120px;height: 60px;background: #65b113;cursor: pointer;float:right;border-radius: 0 10px 10px 0;}
.c_sbtn:hover{background: #5da313;}
.c_searchImg{margin: 9px 0 0 37px;}
.c_sBox{width: 350px;height: 58px;outline: none;border: 0;font-size: 18px;padding-left: 20px;box-sizing: border-box;line-height: 60px;}
.c_searchYes{width: 505px;height: 300px;margin: 60px auto 95px auto;clear: both;position: relative;border-radius: 10px;background: white;color: #333;border: 1px solid #dfdfdf;}
.c_searchNo{width: 530px; height: 60px; clear: both;margin: 0 auto;line-height: 60px;color: #e60012;box-sizing: border-box;margin-left: 27px;margin-top:5px;}
.c_userPhoto{width: 115px;height: 115px;box-sizing: border-box;border: 1px solid #CCCCCC;overflow: hidden;border-radius: 100%;position: absolute;top: -30px;left: 25px;background: #fff;}
.c_grade{line-height: 110px;width: 100%;text-align: center;font-size: 24px;}
.c_snum,.c_tnum{font-size: 18px;width: 100%;text-align: center;line-height: 30px;}
.c_joinBtn{width: 150px;height: 45px;background: #65b113;color: white; border: 1px solid #65b113;display: block;margin: 50px auto 0 auto; line-height: 45px;text-align: center;font-size: 18px;box-sizing: border-box;border-radius: 10px;outline: none;position:relative;top:10px;}
.c_joinBtn:hover{background:#5da313;}
/*****************************创建班级**********************************/
.c_create{background: #F9A24A;}
.c_create:hover{background: #Fb9732;}
.c_createArea{width: 103%; overflow: scroll;top: 0; height: 100%; position: fixed;z-index: 9999; background: black;background: rgba(0,0,0,0.5);}
.c_delClass{height:24px;width:38px;background-position:-356px -375px;}
.c_spread{height: 8px;width: 14px;background-position: -698px -65px;margin-top: 11px;}
.c_stop{height:10px;width:17px;background-position:-696px -82px;;margin-top: 11px;}
/*******选择学校**********/
.c_selectSchool{width: 930px;min-height: 395px;box-sizing: border-box;padding: 50px 115px 0px 115px; background: white;position: relative;top:220px;left: 0;right: 0;margin: 0 auto;overflow: hidden;text-align:center;}
.c_selectClass{min-height: 395px;box-sizing: border-box; background: white;position: relative;top:160px;left: 0;right: 0;margin: 0 auto;overflow: hidden;text-align:center;}
.c_province,.c_city,.c_county{width: 155px;float: left;cursor: pointer;color: #333; border-radius: 5px; margin-left: 15px;height: 40px;box-sizing: border-box;padding-left: 12px; border: 1px solid #D2D2D2;position: relative;}
.c_school{float: left;width: 325px;cursor: pointer;color: #333; border-radius: 5px; margin-left: 15px;height: 40px;box-sizing: border-box;padding-left: 12px; border: 1px solid #D2D2D2;position: relative;margin-bottom: 90px;}
.c_sP{display:block;clear: both;width: 55px;float:left;}
.c_schoolEnsure{background: #999999;margin:0 auto!important; clear: both;display: block;margin-top: 50px;}
.c_areaImg{margin: 17px 5px;}
.c_list{z-index: 999999;background:white;padding-left: 15px; box-sizing: border-box; border: 1px solid #D2D2D2;position: fixed;top:312px;border-radius: 5px;}
.c_list li{min-width: 130px; text-align: left; box-sizing: border-box; line-height: 40px;font-size: 14px;}
.c_list li:hover{color:#65B113}
.c_pList li,.c_cList li,.c_coList li{float: left;}
.c_pList{margin-left: -13px;width: 545px;}
.c_cList{margin-left: -13px;width: 420px;}
.c_coList{margin-left: -13px;width: 323px;}
.c_sList{margin-left: -13px;top:382px;width: 326px;overflow: auto;height: 200px;}
.c_ctext{font-size:14px;color:#58c1e4;padding: 2px;}
/*******选择班级*********/
.c_tab {float: left;width: 920px;position: relative;}
/*.c_thirdLi{float:right;}*/
/*.c_secondLi,.c_firstLi{float:left;}*/
.c_cli {
    width: 178px;
    font-size: 20px;
    line-height: 50px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    z-index: 4;
    top: 20px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 7px;
    float: left;
    color: #333;
}
.c_selectedLi{
    width:178px;font-size: 20px;
    color: #fff;
    line-height: 50px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    z-index: 6;
    display: inline-block;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 1px;
    background: #65b113;
    float: left;
    font-weight: bold;
}
.c_tab li:last-child {margin-right: 0;}
.c_space0{width: 174px;height: 9px;position: absolute;bottom: -9px;left: 0;border-left: 1px solid #65b113;background: #fff;}
.c_space1{width: 176px;height: 9px;position: absolute;bottom: 0;left: -1px; }
.c_space2{width: 176px;height: 9px;position: absolute;bottom: 0;left: -1px; }
.c_tabCon{width: 935px;min-height: 200px;position: relative;z-index: 5;box-sizing: border-box;border: 1px solid #65b113;float: left;border-radius: 10px;margin-bottom: 40px;padding: 0 56px 0 46px;}
.c_tabCon li{width: 60px;float: left;margin: 40px 0 0 23px;height: 30px;line-height: 30px;font-size: 16px;color: #333;position: relative;}
.c_closeImg{position: absolute;top: 20px;right: 20px;cursor: pointer;z-index: 10;}
.c_sImg{margin: 3px 0 0 0;cursor: pointer;}
.c_more{height: 30px;cursor:pointer;line-height:30px;float: right;margin:15px 0 20px 0;position: relative;bottom: -15px;}
.c_less{height: 30px;cursor:pointer;line-height:30px;float: right;margin:15px 0 20px 0;position: relative;bottom: -8px;}
.c_m8005{margin: 8px 0 0 5px;}
.c_up{animation: 0.3s linear 0s normal forwards 1 running change;}
.c_seClass{width: 980px;overflow: hidden;margin: 0 auto 50px auto;}
.c_seClass li{position: relative; width: 150px;height: 45px;margin: 45px 80px 0 -70px;font-size: 18px;border: 1px solid #CCC;box-sizing: border-box;border-radius: 10px; color: #666;line-height: 45px;text-align: center; float: left;}
.c_delImg{float: left;position: absolute;top: -1px;right: -1px;cursor: pointer;}
.c_createEnsure{background: #65b113;float: left; margin-right: 60px;margin-left: 280px;}
.c_createCancel{background: #ccc;float: left;}
.c_selectSchool input,.c_selectClass input{width: 190px;height: 45px;cursor: pointer; outline: none;border: 0;margin-bottom: 80px;line-height: 45px;text-align: center;font-size: 18px;color: #FFF;border-radius: 10px;}
/*****************************  适应  **********************************/
/*屏幕小于1366*/
@media screen and (max-width:1365px){
    .c_img{margin-left:25px;width:900px;}
    .c_btn{width: 160px;font-size: 14px;}
    .c_createdList{width:900px;}
    .c_createdList li{width:355px;margin: 25px 45px;}
    .c_userPhoto{width: 85px;height: 85px;}
    .c_userName{width: 85px;font-size: 20px;}
    .c_grade{font-size: 20px;}
    .c_student,.c_teacher{font-size: 16px;}
    .c_inBtn{width: 105px;font-size: 16px;}
    .c_waitBtn{width: 105px;font-size: 16px;}
    .c_btns{margin-right: 12%;}
    /*****************************加入班级**********************************/
    .arrow-up{left:490px;top:-26px;}
    .c_joinArea{width: 680px;position: absolute;right:20%;}
    .c_search{width: 400px;}
    .c_sbtn{width: 90px;}
    .c_sBox{width: 270px;}
    .c_searchYes{width: 355px;height: 300px;}
    .c_searchNo{width: 355px; height: 60px;margin-left: 60px;}
    .c_snum,.c_tnum{font-size: 16px;}
    .c_joinBtn{width: 105px;height: 45px;}
    .c_searchImg {margin: 9px 0 0 25px;}
    /*****************************创建班级**********************************/
    .c_less i {
        margin-right: 20px;
        margin-top: 10px;
    }
    .c_more i {
        margin-right: 20px;
    }
    .c_tabCon li{margin: 40px 0 0 0;}
    /*******选择学校**********/
    .c_selectSchool{width: 680px;}
    .c_selectClass{
        width: 900px;
        padding: 80px 50px 0px 50px;
    }
    .c_province,.c_city,.c_county{width: 120px; font-size:14px;}
    .c_school{width: 275px;font-size:14px;}
    .c_sP{width: 42px;}
    .c_areaImg{margin: 17px 5px;}
    .c_list li{min-width: 80px;font-size: 12px;}
    .c_pList{width: 440px;}
    .c_cList{width: 320px;}
    .c_coList{width: 216px;}
    .c_sList{width: 275px;}
    /*******选择班级*********/
    .c_tab {width: 690px;}
    .c_cli{width:175px;font-size: 16px;}
    .c_selectedLi{width:170px;font-size: 20px;}
    .c_space0{width: 174px;}
    .c_space1{width: 176px;}
    .c_space2{width: 175px;}
    .c_tabCon{width: 768px;padding: 0 16px 0 16px;}
    .c_tabCon li{width: 73px;font-size:14px;}
    .c_closeImg{position: absolute;top: 20px;right: 20px;}
    .c_seClass{width: 800px;}
    .c_seClass li{ width: 125px;height: 40px;font-size: 16px;margin: 38px 1px 0 11px;left:-66px;}
    .c_delImg{float: left;position: absolute;top: 0;right: 0;cursor: pointer;}
    .c_createEnsure{margin-left: 170px;}
    .c_selectSchool input{width: 135px;height: 50px;font-size: 18px;}
    .c_classMsg{left: 66px;font-size: 16px;}
    .c_ClassNum{margin-left:-20px;}
}
/*屏幕大于1366小于1599*/
@media screen and (min-width:1366px) and (max-width:1599px){
    .c_img{margin-left:188px;width:1000px;}
    .c_btn{width: 180px;font-size: 16px;}
    .c_createdList{width:1000px;}
    .c_createdList li{width:405px;margin: 25px 40px;}
    .c_userPhoto{width: 100px;height: 100px;}
    .c_userName{width: 100px;font-size: 22px;}
    .c_grade{font-size: 22px;}
    .c_student,.c_teacher{font-size: 18px;}
    .c_inBtn{width: 125px;font-size: 18px;}
    .c_waitBtn{width: 125px;font-size: 18px;}
    .c_btns{margin-right: 14%;}
    /*****************************加入班级**********************************/
    .arrow-up{left:565px;top:-21px;}
    .c_joinArea{width: 800px;position: absolute;right:24%;}
    .c_search{width: 500px;}
    .c_sbtn{width: 100px;}
    .c_sBox{width: 300px;}
    .c_searchYes{width: 405px;height: 300px;}
    .c_searchNo{width: 405px; height: 60px;}
    .c_snum,.c_tnum{font-size: 18px;}
    .c_joinBtn{width: 125px;height: 45px;}
    .c_searchImg {margin: 9px 0 0 30px;}
    /*****************************创建班级**********************************/
    .c_createArea{width: 93%;}
    /*******选择学校**********/
    .c_selectSchool{width: 780px;}
    .c_selectClass{
        width: 900px;
        padding: 80px 50px 0px 50px;
    }
    .c_province,.c_city,.c_county{width: 145px;font-size: 16px;}
    .c_school{width: 300px;}
    .c_sP{width: 55px;}
    .c_areaImg{margin: 17px 5px;}
    .c_list li{min-width: 100px;font-size: 14px;}
    .c_pList{width: 520px;}
    .c_cList{width: 380px;}
    .c_coList{width: 250px;}
    .c_sList{width: 300px;}
    .c_less i {
        margin-right: 20px;
        margin-top: 10px;
    }
    .c_more i {
        margin-right: 20px;
    }
    /*******选择班级*********/
    .c_tab {width: 780px;}
    .c_cli{width:175px;font-size: 18px;}
    .c_selectedLi{width:175px;font-size: 20px;margin-right: 18px;}
    .c_space0{width: 174px;}
    .c_space1{width: 176px;}
    .c_space2{width: 175px;}
    .c_tabCon{width: 780px;padding: 0 16px 0 16px;}
    .c_tabCon li{width: 73px;font-size:16px;margin: 40px 0 0 0;}
    .c_closeImg{position: absolute;top: 20px;right: 20px;}
    .c_seClass{width: 800px;}
    .c_seClass li{ width: 145px;height: 40px;font-size: 18px;margin: 38px 80px 0 -63px;}
    .c_createEnsure{margin-left: 170px;}
    .c_selectSchool input{width: 155px;height: 50px;font-size: 20px;}
    .c_classMsg{left: 190px;font-size: 18px;}
}
@media screen and (min-width:1600px){
    .c_less i {
        margin-top: 10px;
    }
    .c_more i{
        margin-right: 0;
    }
    .c_selectClass{
        width: 1080px;
        padding: 80px 72px 0px 72px;
    }
}


