/**************************************底部导航*********************************************/
html,body{background: none;}
.Content{width: 960px;min-height: 730px; margin: 30px auto;overflow: hidden;background: white;border-radius: 10px;background: white;box-sizing: border-box;border: 1px solid #ccc;padding: 30px 75px 125px 75px;}
.Title{float: left;width: 100%;height: 85px;line-height: 85px;color: #323232;font-size: 24px;font-weight: 600;}
.Intro0,.Intro1,.Intro2{float: left;width: 100%;line-height: 24px;font-size: 14px;color: #636363;}
.Intro1{margin-top: 30px;}
@media screen and (max-width:1366px){
    .NavMain{width: 900px;}
}
@media screen and (min-width:1366px){
    .NavMain{width: 1000px;}
}
@media screen and (min-width:1600px){
    .NavMain{width: 1200px;}
}


/*头部*/
.NavBox{width: 100%;  overflow: hidden;  min-width: 1000px;  background: white;  box-sizing: border-box;  height: 92px;  border-bottom: 2px solid #00ce9f;}
.NavLogo{float: left;}
.NavMain{overflow: hidden;margin: 0 auto;height: 100%;}
.RegBtn{float: right;color: #323232;font-size: 16px;line-height: 31px;margin-top: 30px;box-sizing: border-box;border: 1px solid #fff;width: 102px;text-align: center}
.LoginBtn{ box-sizing: border-box;border: 1px solid #fff;float: right;width: 102px;height: 31px;line-height: 29px;font-size: 16px;text-align: center;margin-top: 30px;color: #323232;}
.LoginBtn:hover{color: #00ce9f;border-radius: 16px; box-sizing: border-box;border: 1px solid #00ce9f; }
.RegBtn:hover{color: #00ce9f;border-radius: 16px; box-sizing: border-box;border: 1px solid #00ce9f; }
.Main{float: left;width: 100%;background: #ecedf0;}
/*底部*/
.Com_Footer{float: left;width: 100%;height: 120px;background: #1c1c1c;font-family: 'microsoft yahei';}
.FooterCon:before,.FooterCon:after{clear: both;}
.FooterCon{width: 1000px;height: 120px;margin: auto;text-align: center;}
.FooterLeft{float: left;width: 600px;height: 120px;box-sizing: border-box; }
.FooterNav{float: left;width: 100%;margin-left: -20px;margin-top: 38px;}
.FooterNav>li{float: left;border-right:1px solid #404040;text-align: center; width: 95px;box-sizing: border-box; height: 15px;line-height: 15px;font-size: 14px;color: #959595;}
.FooterNav>li:last-child{border-right: 0;}
.FooterNav>li a{width: 95px;box-sizing: border-box; height: 15px;line-height: 15px;font-size: 14px;color: #959595;cursor: pointer}
.FooterNav>li a:hover{color:#00ce9e; }
.Copyright{float: left;margin-top: 5px; text-align: left;width: 100%;font-size: 14px;color: #636363;line-height: 22px;font-family: 'microsoft yahei';}
.FooterRight{float: right;height: 120px;width: 330px;box-sizing: border-box; }
.FooterIcoBox{float: left;width: 170px;box-sizing: border-box; height: 32px;margin-top: 44px;}
.FooterIcoBox>li{float: left;margin-right: 10px;text-align: left;line-height: 32px;position: relative;}
.FooterInfo{float: right;width: 160px;font-size: 14px;margin-top: 38px;}
.FooterInfo>li{float: left;width: 100%;font-size: 14px;color: white;font-family: 'microsoft yahei';line-height: 22px;text-align: left;}
.Footer_Weicode{position: absolute;width: 114px;max-width: none;top: -124px;left: -42px;display: none;}
.Weibofocus{opacity: 0;filter: alpha(opacity=0); width: 32px!important;height: 32px!important;position: absolute;}
.Weibofocus>iframe{width: 32px!important;}