/*头部*/
html,body{background: none;}
.NavBox{width: 100%;  overflow: hidden;  min-width: 1000px;  background: white;  box-sizing: border-box;  height: 92px;  border-bottom: 2px solid #00ce9f;}
.NavLogo{float: left;}
.NavMain{overflow: hidden;margin: 0 auto;height: 100%;}
.RegBtn{float: right;color: #323232;font-size: 16px;line-height: 90px;margin-right: 35px;}
.LoginBtn{float: right;color: #00ce9f;width: 102px;height: 31px;line-height: 29px;border-radius: 16px; box-sizing: border-box;border: 1px solid #00ce9f; font-size: 16px;text-align: center;margin-top: 30px; margin-right: 45px;}
@media screen and (max-width:1366px){
    .NavMain{width: 900px;}
}
@media screen and (min-width:1366px){
    .NavMain{width: 1000px;}
}
@media screen and (min-width:1600px){
    .NavMain{width: 1200px;}
}