<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>国学</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/extend/chinese.css">
</head>
<body>
    <ul class="Chi_Main" id="Chinese">
      <li v-for="(data,index) in Data">
          <div class="Chi_Art">
              <div class="Chi_ImgBox">
                  <img :src="data.article.picUrl" alt="" v-if="isEmptyObject(data.article.picUrl)">
                  <img src="../../static/images/chinese/3.png" alt="" v-else>
              </div>
              <div class="Chi_Right">
                  <p class="Chi_Title">{{data.article.title}}</p>
                  <ul class="Chi_List">
                      <li @click="ToArt(ArtIndex,data.article.resList)" v-for="(art,ArtIndex) in data.article.resList" v-if="isEmptyObject(art.childrens[0])">
                          <span>{{art.childrens[0].title}}</span>
                          <span v-if="ArtIndex!=data.article.resList.length-1">／</span>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="Chi_VTit" v-if="isEmptyObject(data.advice.resList[0])">名师·指点</div>
          <ul class="Chi_VList" v-if="isEmptyObject(data.advice.resList[0])">
              <li @click="ToDirect(vindex,data.advice.resList)" v-for="(vidata,vindex) in data.advice.resList"  v-if="isEmptyObject(vidata)" >
                  <span>{{vidata.title}}</span>
                  <span></span>
              </li>
          </ul>
      </li>
    </ul>
</body>
<script src="../../static/javascript/extend/chinese.js"></script>
</html>