<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>名师指点</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/extend/direct.css">
</head>
<body>
<div id="Direct">
    <div class="Com_Art">
        <p class="Art_Title">{{Data.title}}</p>
        <div class="Art_Con" v-if="isEmptyObject(Content)" v-html="Content"></div>
    </div>
    <div v-if="CanUpDown" class="Art_UpDown">
        <p v-if="IsUp" @click="ChangeArt(-1)">
            <span>上一篇：</span>
            <span>{{UpArtName}}</span>
        </p>
        <p v-if="IsDown" @click="ChangeArt(1)">
            <span>下一篇：</span>
            <span>{{DownArtName}}</span>
        </p>
    </div>
</div>
</body>
<script src="../../static/javascript/extend/direct.js"></script>
</html>