<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美文</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/extend/essay.css">
</head>
<body>
<div id="Essay">
    <ul class="Ess_Main" >
        <li v-for="(data,index) in Data">
            <div class="Ess_Unit" v-for="(unit,uindex) in data.article.resList">
                <span>{{unit.title}}.</span>
                <ul class="Unit_List">
                    <li @click="ToArt(aindex, unit.childrens)" v-for="(art,aindex) in unit.childrens" v-if="isEmptyObject(unit.childrens[0])">《{{art.title}}》</li>
                </ul>
            </div>
            <div class="Ess_VTit" v-if="isEmptyObject(data.advice.resList[0])">名师·指点</div>
            <ul class="Ess_VList" v-if="isEmptyObject(data.advice.resList[0])">
                <li v-for="(video,vindex) in data.advice.resList" @click="ToDirect(vindex,data.advice.resList)">
                    <span>{{video.title}}</span>
                    <span></span>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>
<script src="../../static/javascript/extend/essay.js"></script>
</html>