.c_ArticleMain{ height:100%;margin: auto; z-index: -1;background: #ECEDF0;box-sizing: border-box;}
.c_TextName{float: left;cursor: pointer;margin: 0 10px; max-width:200px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }
.c_ArLogo{float: left;width: 100%;height: 60px;border-bottom: 1px solid #ccc;background: url("../../../static/image/chinese/bg.png")0 0 repeat;}
.c_ArLogoapp{float: left;width: 100%;text-align: center; height:1.4rem;border-bottom: 1px solid #ccc;background: url("../../../static/image/chinese/bg.png")0 0 repeat;}
.c_logoar{height:60px;float: left;}
.c_logoarapp{height: 1.4rem;float: left;}
@media screen and (max-width:1366px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 900px;}
}
@media screen and (min-width:1366px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 1000px;}

}
@media screen and (min-width:1600px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 1200px;}
}
.c_ArticleBox{min-height: 1000px; width: 100%;height:100%;min-width: 300px;background: white; overflow:auto;border-radius: 10px;margin: 0 auto; box-sizing: border-box;}
.c_ArticleMenu{height: 58px;border-left: 1px solid #ccc;border-right: 1px solid #ccc; background: white; position: fixed;bottom: 0;right: 0;left: 0 ;margin: auto;box-sizing: border-box;border-top: 1px solid #ccc;}
.c_Share{width: 80px;height: 30px;float: left;border-right: 1px solid #ccc;box-sizing: border-box;margin: 15px 25px 0 0 ;cursor: pointer;padding: 3px 25px;}
.c_Recommend{cursor: pointer;margin-top: 6px; width: 150px;height: 45px;font-size:18px;text-align: center;line-height: 45px;color: white;background: #F9A24A;border-radius: 10px;outline: none;border: 0; }
.c_Select{min-width: 500px;height: 100%; float: right;padding-right: 60px;color: #666;line-height: 58px;}
.m030{margin: 0 30px;}
.c_Article{ width: 100%;float: left;box-sizing: border-box;padding: 0  50px 60px 50px;}
.c_Article p,.c_Article span{font-size: 16px!important;line-height: 30px!important;color: #666!important;font-family:  "Microsoft YaHei"!important}
.auther{
    width:100%;
    text-align: center;
    color: #666;
}
.c_ArtTitle{width: 100%;height: 105px;float: left; font-size: 24px;text-align: center;line-height: 105px;}
/*手机*/
.c_ArticleMain1,.c_ArticleBox1,.c_ArtTitle1,.c_Article1{width: 100%;float: left;font-family:  "Microsoft YaHei"!important}
.c_ArticleMain1{overflow: hidden;}
.c_ArticleBox1{box-sizing: border-box;padding: 0.35rem;}
.c_ArtTitle1{text-align: center;line-height: 1.0612rem;font-size: 0.41667rem;}
.c_Article1{text-align: left;line-height:0.71615rem;font-size: 0.3776rem; }
/*视频播放*/
.c_VideoBox{background: black; width: 100%;height: 660px;float: left;text-align: center;line-height: 660px; }
.c_VideoName{width: 100%;text-align: left;float: left;line-height: 80px;font-size: 18px;color: #333;}
.c_VideoMenu{width: 100%;height: 60px;float: left;box-sizing: border-box;padding: 12px 10px 12px 0; border-radius:0 0 10px 10px; background: white;border-top: 1px solid #ccc;}
.c_Views{float: left;box-sizing: border-box;padding:0 10px;border-right: 1px solid #ccc;height: 100%;line-height: 35px;color: #666;  }
.c_LikeImg{float: left;margin: 5px 5px 0 10px;cursor: pointer;}
.bor0{border-right: 0!important;}
.c_VideoShare{float: left;box-sizing: border-box;padding:6px 20px;cursor: pointer; height: 100%;line-height: 35px;color: #666;}
#isdown:hover,#isup:hover{color: #65b113!important;}
.p_LessMoney{display: none; z-index: 99999; position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: black;background: rgba(0,0,0,0.5);}
.p_LessMoneyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/bg.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.p_NoIdentifyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/chance.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.GoPay{position: absolute;bottom: 15px;right: 0;left: 0;margin: auto; width: 190px;height: 45px;text-align: center;line-height: 45px;font-size: 18px;float: left; color: white;background: #8ed6ee;border-radius: 10px;}
.GoPayClose{opacity: 0;filter: alpha(opacity=0);  width: 35px;height: 40px;position: absolute;top: 0;right: 21px;cursor: pointer;}
.e_DownBox img{vertical-align: sub;}
.thregold{font-size: 18px;margin-left: 20px;line-height: 58px; float: left;color: #333;}

.isTitle{float: left; width: 140px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
@media screen and (max-width:1366px){
    .e_DownBox{float: left;width: 100px;margin-top: 11px; height: 35px;background: #65b113;border-radius: 10px;cursor: pointer;text-align: center;line-height: 35px;font-size: 14px;color: white;}

}
@media screen and (min-width:1366px){
    .e_DownBox{float: left;width: 120px;margin-top: 9px; height: 40px;background: #65b113;border-radius: 10px;cursor: pointer;text-align: center;line-height: 40px;font-size: 16px;color: white;}

}
@media screen and (min-width:1600px){
    .e_DownBox{float: left;width: 150px;margin-top: 7px; height: 45px;background: #65b113;border-radius: 10px;cursor: pointer;text-align: center;line-height: 45px;font-size: 18px;color: white;}

}
.c_Article>p:first-child{
    margin-bottom:15px;
}