@media screen and (min-width:1366px) {
    body{
        background:#eee;
    }
    .learnDetail {
        width: 1200px;
        min-height:768px;
        height:auto;
        margin:0 auto;
        background:#fff;
        border:1px solid #ddd;
    }
    .detailTitle{
        height:54px;
        line-height:54px;
        font-size:18px;
        text-align: center;
        border-bottom: 1px solid #ddd;

        position: relative;
    }
    .s_namedelico{
        position: absolute;
        top:5px;
        right:20px;
        z-index: 1111;
    }
    .d_content{
        padding:30px 38px;
        color:#666!important;
    }
    .d_content img{vertical-align: middle;}
  /*  .c_ArticleMenu{
        width:1200px;
        height:50px;
        margin:0 auto;
        background:#fff;
    }*/
}

@media screen and (max-width:1365px) {
    body{
        background:#eee;
    }
    .learnDetail {
        width: 1000px;
        min-height:768px;
        height:auto;
        margin:0 auto;
        background:#fff;
        border:1px solid #ddd;
    }
    .detailTitle{
        height:50px;
        line-height:50px;
        font-size:16px;
        text-align: center;

    }
    .d_content{
        padding:28px 36px;
        color:#666!important;
    }
}
@media screen and (max-width:1366px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 900px;}
}
@media screen and (min-width:1366px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 1000px;}

}
@media screen and (min-width:1600px){
    .c_Content,.c_ArticleMenu,.c_ArticleMain{width: 1200px;}
}
.c_ArticleMenu{height: 58px;min-width: 300px; background: white; position: fixed;bottom: 0;right: 0;left: 0 ;margin: auto;box-sizing: border-box;border-top: 1px solid #ccc;}
.c_Share{width: 80px;height: 30px;float: left;border-right: 1px solid #ccc;box-sizing: border-box;margin: 15px 25px 0 0 ;cursor: pointer;padding: 3px 25px;}
.c_Recommend{cursor: pointer;margin-top: 6px; width: 150px;height: 45px;font-size:18px;text-align: center;line-height: 45px;color: white;background: #F9A24A;border-radius: 10px;outline: none;border: 0; }
.c_Select{min-width: 500px;height: 100%; float: right;padding-right: 60px;color: #666;line-height: 58px;}
.m030{margin: 0 30px;}
.GoCanClick a {
    color: #666;
}
.c_ArticleBox{width: 100%;height:100%;min-width: 300px;border: 1px solid #ccc; background: white; overflow:auto;border-radius: 10px;margin: 0 auto; box-sizing: border-box;}
.c_ArticleMenu{height: 58px;width: 100%; background: white; position: fixed;bottom: 0;right: 0;left: 0 ;margin: auto;box-sizing: border-box;border-top: 1px solid #ccc;}
.c_Share{width: 80px;height: 30px;float: left;border-right: 1px solid #ccc;box-sizing: border-box;margin: 15px 25px 0 0 ;cursor: pointer;padding: 3px 25px;}
.c_Recommend{cursor: pointer;margin-top: 6px; width: 150px;height: 45px;font-size:18px;text-align: center;line-height: 45px;color: white;background: #F9A24A;border-radius: 10px;outline: none;border: 0; }
.c_Select{min-width: 500px;height: 100%; float: right;padding-right: 60px;color: #666;line-height: 58px;}
.m030{margin: 0 30px;}
.c_Article{width: 100%;float: left;box-sizing: border-box;padding: 0  45px 60px 45px;}
.c_Article p,.c_Article span{font-size: 16px!important;line-height: 35px!important;color: #666!important;font-family:  "Microsoft YaHei"!important}