/*视频报告*/
body{background: #F6F6F6;}
.v_BaseMain{float: left;width: 100%;margin-top: 0.3rem;background: white;}
.v_Title{float: left;width: 100%;text-align: center;font-size: 0.5rem;color: #333;height: 1rem;line-height: 1rem;}
.v_BaseInfo{float: left;width: 100%;margin-top: 0.2rem;padding-bottom: 1.5rem;}
.v_BaseInfo>li{float: left;width: 100%;box-sizing: border-box;padding: 0.3rem;margin-bottom: 0.4rem;}
.v_Question,.v_QuestionAnlysis{float: left;width: 100%;}
.v_Question p,.v_Question span,.v_QuestionAnlysis p,.v_QuestionAnlysis span{font-size: 0.37rem;line-height: 0.7rem;color: #666;}
.v_Question img,.v_QuestionAnlysis img{max-width: 80%;}
.v_QuestionAnlysis{background: #F6F6F6;box-sizing: border-box;padding: 0.2rem;}
.fc33{color: #333!important;}
.fc6f{color: #6FC8E6!important;}
.r_OpRightColor,.r_OpRightColor p,.r_OpRightColor span{color: #59C1E4!important;}
.r_OpNomalColor,.r_OpNomalColor p,.r_OpNomalColor span{color: #333;}
.r_OpWrongColor,.r_OpWrongColor p,.r_OpWrongColor span{color: #CA0D0D!important;}
.v_PreBox{float: left;width: 100%;position: fixed;bottom: 0;left: 0;background: white;background: rgba(255,255,255,0.7); height: 1.5rem;}
.v_PreBtn{float: left;margin-left: 1rem; width: 80%;background: white; height: 1rem;line-height: 1rem;border-radius: 0.8rem;font-size: 0.4rem;color:#30A6E5;text-align: center;border: 1px solid #30A6E5; margin-top: 0.25rem;}
.r_Require{height: 2rem;position: fixed;z-index: 99;right: 0;top: 0;bottom: 0;margin: auto;}
.r_RequireBox{width: 8rem;height: 1.8rem;overflow: scroll; font-size: 0.4rem; position: fixed;color: white;box-sizing: border-box;padding: 0.2rem 0.5rem;border-radius: 1rem; background: url("../../../static/image/common/requirebg.png")0 0 repeat;z-index: 90;right: -10rem;;top: 0;bottom: 0;margin: auto;}
.r_Teacher,.r_RequireTxt{float: left;width: 100%;}
.r_RequireTxt{font-size: 0.35rem;}