html,body{
    margin:0;
    padding:0;
    background: #ecedf0;
}
ul ,li{
    list-style: none;
    margin:0;
    padding: 0;
}
@media screen and (max-width: 1366px){
    .s_record{
        width:100%;
        min-height:600px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}
@media screen and (min-width: 1366px){
    .s_record{
        width:100%;
        min-height:600px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}
@media screen and (min-width: 1600px){
    .s_record{
        width:100%;
        min-height:600px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}

.s_rectitle{
    width:100%;
    height:60px;
    /*border-bottom: 1px  solid #ccc;*/
    background: rgba(0, 0, 0, 0) url("../../../static/image/chinese/bg.png") 0 0 repeat;
    border-bottom: 1px solid #ccc;
    font-size: 18px !important;
    color: #333;
    text-align: center;
    line-height: 60px;
}
/*列表*/
/*列表*/
.s_list_contont{
    min-height: 520px;
    display: block;
}
.theadtr{
    width:100%;
    height:55px;
    background: #f6f6f6;
    line-height: 55px;
    font-size: 18px!important;
}
.theadtrli{
    width:25%;
    height:100%;
    text-align: center;
    color:#333333;
    float: left;
}
.tbodytr{
    height: 100%;
    height: 44px;
    line-height: 44px;
    color: #666;
}
.s_status{
    color: #58c1e4;
    cursor: pointer;
}
.tbodytr:nth-child(even){
    background: #f6f6f6;
}

/*分页插件*/
.Paging{
    width: 800px;
    margin: 0 auto;
}
/**/
.s_td{
    width:25%;
}
/*学生端样式*/
.model_object{
    width:285px;
    font-size: 18px!important;
    color: #666;
    margin:20px auto 30px;
}
.model_a{
    display: inline-block;
    width:15px;
    height:15px;
    margin-left: 32px!important;
    cursor: pointer;
}
.model_b{
    display: inline-block;
    width:15px;
    height:15px;
    margin-left: 66px!important;
    cursor: pointer;
}
.model_objname,.model_ges,.model_ges{
    color: #666;
}
.model_botton{
    display: inline-block;
    width: 90px;
    height:30px;
    /*background: #90d29b;*/
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}
.tbodytr:hover .model_botton{
    display: inline-block;
    width: 90px;
    height:30px;
    background: #49b9df;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
/*空白页*/
.nothing{
    width:100%;
    height:440px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}