body{
    background: #eee;
}
.learn_contentLi{
    position: relative;
}
.learn_contentLi p:hover{color: #58c1e4;}
.loadGold{
    display: none;
    position: absolute;
    right:10px;
    top:0;
    z-index: 1111;
}
.loading{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    background: #65b113;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    color: white!important;
}
.needGold{font-size: 14px;}
img{vertical-align: middle;}

@media screen and (max-width: 1366px) {
    .learn_contentBox {
        margin-top: 40px;
    }

    .learn_titleBox {
        width: 1000px;
        height: 364px;
        background: #fff;
        margin: 0 auto;
        border-radius: 10px;

        margin-bottom: 40px;
    }

    .learn_titleBox .learn_title {
        height: 54px;
        width: 932px;
        font: 20px/54px "微软雅黑";
        color: #666;
        border-bottom: 1px solid #fdfdfd;
        border-bottom: 1px solid #ddd;

        padding-left: 68px;
    }

    .learn_titleBox .learn_image {
        padding-top:18px;
        width: 332px;
        height: 250px;
        padding-left: 68px;
        float: left;
    }

    .learn_titleBox .learn_image img {
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    .learn_titleBox .learn_content {
        padding-top:18px;
        float: left;
        width: 500px;
        height: 300px;
        margin-top: 14px;
    }

    .learn_titleBox .learn_content li {
        font: 16px/36px "微软雅黑";

        padding-left: 120px;
        /*margin-left:70px;*/
        color: #666;
    }
    .learn_titleBox .learn_content li a{
        color: #666;
    }
    .learn_titleBox .learn_content li:nth-child(2n+1) {
        background: #f6f6f6;
    }

    .learn_titleBox .learn_content li:nth-child(2n) {
        height: 46px;
        font: 16px/46px "微软雅黑";
    }

    .learn_active {
        background: #f9a24a;
    }
}
@media screen and (min-width:1366px){
    .learn_contentBox {
        margin-top: 40px;
    }

    .learn_titleBox {
        width: 1000px;
        height: 364px;
        background: #fff;
        margin: 0 auto;
        border-radius: 10px;

        margin-bottom: 40px;
    }

    .learn_titleBox .learn_title {
        height: 54px;
        width: 932px;
        font: 20px/54px "微软雅黑";
        color: #666;
        border-bottom: 1px solid #fdfdfd;
        border-bottom: 1px solid #ddd;

        padding-left: 68px;
    }

    .learn_titleBox .learn_image {
        padding-top:18px;
        width: 332px;
        height: 250px;
        padding-left: 68px;
        float: left;
    }

    .learn_titleBox .learn_image img {
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    .learn_titleBox .learn_content {
        padding-top:18px;
        float: left;
        width: 600px;
        box-sizing: border-box;;
        height: 300px;
        margin-top: 14px;
    }

    .learn_titleBox .learn_content li {
        font: 16px/36px "微软雅黑";

        padding-left: 120px;
        /*margin-left:70px;*/
        color: #666;
    }
    .learn_titleBox .learn_content li a{
        color: #666;
    }
    .learn_titleBox .learn_content li:nth-child(2n+1) {
        background: #f6f6f6;
    }

    .learn_titleBox .learn_content li:nth-child(2n) {
        height: 46px;
        font: 16px/46px "微软雅黑";
    }

    .learn_active {
        background: #f9a24a;
    }
}
@media screen and (min-width:1600px) {
    .learn_contentBox {
        margin-top: 40px;
    }

    .learn_titleBox {
        width: 1200px;
        height: 364px;
        background: #fff;
        margin: 0 auto;
        border-radius: 10px;

        margin-bottom: 40px;
    }

    .learn_titleBox .learn_title {
        height: 60px;
        width: 1132px;
        font: 24px/60px "微软雅黑";
        color: #666;
        border-bottom: 1px solid #fdfdfd;
        border-bottom: 1px solid #ddd;

        padding-left: 68px;
    }

    .learn_titleBox .learn_image {
        padding-top:20px;
        width: 432px;
        height: 300px;
        padding-left: 68px;
        float: left;
    }

    .learn_titleBox .learn_image img {
        width: 430px;
        height: 250px;
        border-radius: 10px;
    }

    .learn_titleBox .learn_content {
        padding-top:20px;
        float: left;
        width: 700px;
        height: 300px;
        margin-top: 14px;
    }

    .learn_titleBox .learn_content li {
        font: 18px/36px "微软雅黑";

        padding-left: 120px;
        color: #666;
    }
    .learn_titleBox .learn_content li a{
        color: #666;
    }

    .learn_titleBox .learn_content li:nth-child(2n+1) {
        background: #f6f6f6;
    }

    .learn_titleBox .learn_content li:nth-child(2n) {
        height: 52px;
        font: 18px/52px "微软雅黑";
    }

    .learn_active {
        background: #f9a24a;
    }
}
.p_LessMoney{display: none; z-index: 99999; position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: black;background: rgba(0,0,0,0.5);}
.p_LessMoneyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/bg.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.p_NoIdentifyBg{width: 670px;height: 352px;position: absolute;bottom: 0;top: 0;left: 0;right: 0;margin: auto;background: url("../../../static/image/sprite/Identity.png") 0 0 no-repeat;border-radius: 10px;overflow: hidden;}
.GoPay{position: absolute;bottom: 15px;right: 0;left: 0;margin: auto; width: 190px;height: 45px;text-align: center;line-height: 45px;font-size: 18px;float: left; color: white;background: #8ed6ee;border-radius: 10px;}
.GoPayClose{opacity: 0;filter: alpha(opacity=0);  width: 35px;height: 40px;position: absolute;top: 0;right: 21px;cursor: pointer;}



.learn_content li{float: left;box-sizing: border-box;width: 100%;}
.learn_content li p{float: left;width: 90%;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}