/*this is a 3d demo*/
.t{
	width: 150px;
	height: 60px;
	background: #65B113;
	border: 1px solid #ccc;
	font-size: 14px;
	animation: first 3s linear infinite ;
	position: relative;
}
@-moz-keyframes first{
	0%{background: #87CEFA;left:50px; top:200px;}
	25%{background: #87CEFA;left:100px; top:200px;}
	50%  {background:#49b9df; left:200px; top:200px;}
	75%  {background:green; left:0px; top:200px;}
	100% {background:red; left:0px; top:0px;}
}
/*-webkit-
-moz-
-o-key-*/