#kkpager{
	clear:both;
	color:#666;
	padding:5px 0 5px 0;
	font-size:13px;
}
#kkpager a{
	float: left;
	border: 1px solid #ccc;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	cursor: pointer;
	background: #fff;
	text-decoration:none;
	color:#666;
}

#kkpager span.disabled{
	float: left;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	border:1px solid #DFDFDF;
	background-color:#FFF;
	color:#DFDFDF;
}
#kkpager span.curr{
	float: left;
	border: 1px solid #65b113;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	background: #65b113;
	color: white;
}
#kkpager a:hover{
	background: #65b113;
	color:#fff;
}
#kkpager span.normalsize{
}

#kkpager_gopage_wrap{
	position:relative;
	left:0;
	top:0;
}
#kkpager_btn_go {
	width:60px;
	height:30px;
	border:0;
	overflow:hidden;
	line-height:30px;
	padding:0;
	margin:0;
	text-align:center;
	cursor:pointer;
	background-color:#65b113;
	color:#FFF;
	position:absolute;
	left:0;
	top:-7px;
	border-radius: 5px;
	display:none;
}
#kkpager_btn_go_input{
	outline: none;
	width:45px;
	height:25px;
	color:#666;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
	border:1px solid #DFDFDF;
	position:relative;
	left:0;
	top:0;
	border-radius: 5px;
}

#kkpager_btn_go_input.focus{
	border-color:#65b113;
}

#kkpager .pageBtnWrap{
	margin-top: 7px;
	float:left;
}
#kkpager .infoTextAndGoPageBtnWrap{
	float:right;
}
#kkpager .spanDot{
	float:left;
	margin-right:5px;
}

#kkpager .currPageNum{
	color:#65b113;
}

#kkpager .infoTextAndGoPageBtnWrap{
	padding-top:5px;
}