html,body{
    margin:0;
    padding: 0;
    background: #ccc;
    width:100%;
    height:100%;
}

/*引入雪碧图*/
.p_exampleimg{background:url("../../image/sprite/spriteImg.png") 0 0  no-repeat;}
.p_pre_03{height:21px;width:18px;background-position:0 0;}
.p_exselete{height:24px;width:24px;background-position:-20px 0;}
.p_Mainlc{
    width:100%;
    height:100%;
    overflow-y: auto;
    background: #ecedf0;
}
/*媒体查询*/
@media screen and (max-width: 1366px) {
    .background{
        width:90%;
        height: 85%;
        border-radius: 10px;
        overflow: hidden;
        /*display: none;*/
        background: url("../../image/kola/no.jpg") no-repeat;
        background-size: 100% 100%;
        margin:0 auto;
        margin-top: 40px!important;
    }
    .p_loadtext{
        width:960px;
        min-height: 500px;
        margin:0 auto;
        background: #fff;
        border-radius: 10px;
        margin-top: 40px!important;
        padding-bottom: 40px!important;
    }
    /*下载失败的图*/
    .p_reloadfalse{
        width:690px;
        height:350px;
        background: url("../../image/prepare/p_rolad_03.png") no-repeat;
        background-size: 90%;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        display: none;
    }
    /*充值按钮*/
    .p_name{
        display: block;
        width:165px;
        height: 40px;
        position: absolute;
        bottom: 45px;
        right: 300px;
        z-index: 100;
    }
    /*去认证背景图*/
    .p_check{
        width:690px;
        height:350px;
        background: url("../../image/sprite/Identity.png") no-repeat;
        background-size: 100%;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        border-radius: 10px;
        /*display: none;*/
    }
    /*去认证*/
    .p_checkname{
        display: block;
        width:192px;
        height: 40px;
        position: absolute;
        bottom: 18px;
        right: 246px;
        z-index: 100;
        background: #8ed6ee;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
    }
    /*删除按钮*/
    .p_success_dele{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 110px;
        top:0px;
        cursor: pointer;
    }
    .p_success_remove{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 42px;
        top:0px;
        cursor: pointer;
    }
    .p_loadtexttitle li div {
        width: 86%;
        height: 30px;
        margin-left: 99px;
    }
    .noImg {
        margin: 45px 35%;
    }
}
@media screen and (min-width: 1366px) {
    .background{
        width:90%;
        height: 85%;
        border-radius: 10px;
        overflow: hidden;
        /*display: none;*/
        background: url("../../image/kola/no.jpg") no-repeat;
        background-size: 100% 100%;
        margin:0 auto;
        margin-top: 40px!important;
    }
    .p_loadtext{
        width:1080px;
        min-height: 500px;
        margin:0 auto;
        background: #fff;
        border-radius: 10px;
        margin-top: 40px!important;
        padding-bottom: 40px!important;
    }

    /*下载失败的图*/
    .p_reloadfalse{
        width:690px;
        height:350px;
        background: url("../../image/prepare/p_rolad_03.png") no-repeat;
        background-size: 90%;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        display: none;
    }
    /*去认证背景图*/
    .p_check{
        width:690px;
        height:350px;
        background: url("../../image/sprite/Identity.png") no-repeat;
        background-size: 100%;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        border-radius: 10px;
        /*display: none;*/
    }
    /*去认证*/
    .p_checkname{
        display: block;
        width:192px;
        height: 40px;
        position: absolute;
        bottom: 18px;
        right: 246px;
        z-index: 100;
        background: #8ed6ee;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
    }
    /*充值按钮*/
    .p_name{
        display: block;
        width:165px;
        height: 40px;
        position: absolute;
        bottom: 45px;
        right: 300px;
        z-index: 100;
        cursor: pointer;
    }
    /*删除按钮*/
    .p_success_dele{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 110px;
        top:0px;
        cursor: pointer;
    }
    .p_success_remove{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 42px;
        top:0px;
        cursor: pointer;
    }
    .p_loadtexttitle li div {
        width: 86%;
        margin-left: 109px;
    }
    .noImg {
        margin: 45px 33%;
    }
}
@media screen and (min-width: 1600px) {
    .background{
        width:90%;
        height: 85%;
        border-radius: 10px;
        overflow: hidden;
        /*display: none;*/
        background: url("../../image/kola/no.jpg") no-repeat;
        background-size: 100% 100%;
        margin:0 auto;
        margin-top: 40px!important;
    }
    .p_loadtext{
        width:1200px;
        min-height: 500px;
        margin:0 auto;
        background: #fff;
        border-radius: 10px;
        margin-top: 40px!important;
        padding-bottom: 40px!important;
    }
    /*下载失败的图*/
    .p_reloadfalse{
        width:690px;
        height:350px;
        background: url("../../image/prepare/p_rolad_03.png") no-repeat;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        display: none;
    }
    /*去认证背景图*/
    .p_check{
        width:690px;
        height:350px;
        background: url("../../image/sprite/Identity.png") no-repeat;
        background-size: 100%;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -345px;
        margin-top: -175px;
        position: relative;
        border-radius: 10px;
        /*display: none;*/
    }
    /*去认证*/
    .p_checkname{
        display: block;
        width:192px;
        height: 40px;
        position: absolute;
        bottom: 18px;
        right: 246px;
        z-index: 100;
        background: #8ed6ee;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
    }
    /*充值按钮*/
    .p_name{
        display: block;
        width:195px;
        height: 40px;
        position: absolute;
        bottom: 10px;
        right: 250px;
        z-index: 100;
    }
    /*删除按钮*/
    .p_success_dele{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 45px;
        top:0px;
        cursor: pointer;
    }
    .p_success_remove{
        position: absolute;
        display: block;
        width:30px;
        height:30px;
        right: 42px;
        top:0px;
        cursor: pointer;
    }
    .p_loadtexttitle li div {
        width: 89%;
        margin-left: 119px;
    }
    .noImg {
        margin: 45px 35%;
    }
}
.p_loadcon li{
    display: block;
    width:92%;
    min-height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-bottom: 20px;
}
/*目录*/
.p_DirectoryWrap{
    display: none;
}
/*目录名字*/
.p_catalogword{
    width:100%;
    height: 50px;
}
.p_catawordname{
    display: block;
    line-height: 50px;
    float: left;
    margin-left: 20px;
    font-size: 24px!important;
    color: #65b113;
}
.p_catalog_dele{
    display: block;
    width:20px;
    height:20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.p_unitcl{
    width:265px;
    min-height:36px;
    margin:0 auto;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
}
.p_unit_o{
    font-size: 18px!important;
    color: #333;
}
/*ul*/
.p_unit_chapter{
    margin-left: 20px!important;
}
/*li*/
.p_chaptercl{
    width:90%;
    min-height: 18px;
    font-size: 14px!important;
    line-height: 18px;
}
/*目录*/
.p_chapter_catalog{
    width:90%;
    min-height:18px;
    line-height: 18px;
    font-size: 14px!important;
    margin-left: 20px!important;
    /*display: none;*/
}
/*遮罩层*/
/*下载失败*/
.p_shark{
    display: block;
    position:fixed ;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 100;
}
.p_sharks{
    display: block;
    position:fixed ;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 100;
}
/*下载按钮*/
.p_reloadcon{
    min-height: 35px;
    position: absolute;
    top:40px;
    right:0px;
    cursor: pointer;
    background: #fff;
}
.p_useup{
    color: #333;
    text-align: center;
}
.p_reload{
    width:120px;
    height:35px;
    border-radius: 10px;
    background: #58c1e4;
    line-height: 35px;
    text-align: center;
    color: #fff;
    /*position: absolute;*/
    /*top:10px;*/
    /*right:10px;*/
    /*cursor: pointer;*/
}
.p_pre_03{
    display: block;
    float: left;
    margin-left: 35px!important;
    margin-top: 8px;
    background: url("../../image/prepare/p_exampleimg.png") 0 0 no-repeat;
}
.p_exselete{
    display: block;
    float: left;
    margin-left: 32px!important;
    margin-top: 8px;
    background: url("../../image/prepare/p_exampleimg.png") -20px 0 no-repeat;
}
.p_reloadword,.p_errorsword{
    display: block;
    float: left;
    margin-left: 4px!important;
    font-size: 14px!important;
}
/*试卷标题*/
/*选中*/
.xuanzhong{
    color: #f69f59;
}
/*试题样式微调*/
.p_mei .p_con{
    /*display: block;*/
    margin-top: 20px!important;
}
/*视频图片*/
.p_analysisvodeo{
    display: none;
}
.p_analysisvodeoword{
    display: inline-block;
    float: left;
}
.p_analysisvo{
    display: inline-block;
    float: left;
    width:160px;
    height:120px;
    /*background: #ddd;*/
    margin-left: 20px!important;
    margin-bottom: 20px!important;
    margin-top: 10px!important;
    cursor: pointer;
}
.p_exampleradio{
    display: inline-block;
    float: left;
    min-width:160px;
    min-height:120px;
    /*background: #ddd;*/
    margin-left: 20px!important;
    margin-bottom: 20px!important;
    margin-top: 10px!important;
    cursor: pointer;
}

/*下载*/
.p_moneycl{
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
}
/*样式二次解析*/
.s_xpoption {border: 1px solid white;font-size: 14px;color: #333;line-height: 30px;cursor: pointer;}
.p1{font-size: 16px!important;line-height: 30px!important;color: #333;}
.s_xpoption img{max-width: 100%;}
/*图片*/
article{
    width:100%;
    height:100%;
}

/*空白页*/
.nothing{
    width:62.5%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    position: relative;
    /*display: none;*/
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
@media screen and (max-width: 1366px) {
    .c_Kownledge{
        width: 960px;
        padding: 30px;
        border-radius: 10px;
        min-height: 100px;
        margin: 40px auto;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        background: white;

    }
}
@media screen and (min-width: 1366px) {
    .c_Kownledge{
        width: 1080px;
        padding: 30px;
        border-radius: 10px;
        min-height: 100px;
        margin: 40px auto;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        background: white;

    }
}
@media screen and (min-width: 1600px) {
    .c_Kownledge{
        width: 1200px;
        padding: 30px;
        border-radius: 10px;
        min-height: 100px;
        margin: 40px auto;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        background: white;

    }
}
.playico{ position: absolute;bottom: 0;top: 0;right: 0;left: 0;margin: auto;}
.c_Kownledge{width: 1200px;padding:30px;border-radius: 10px 10px 0 0;min-height: 100px;margin:  40px auto 0 auto;overflow: hidden;text-align: center;box-sizing: border-box;background: white; }
.Kolaimg{width: 200px;}
.c_Directory{float: left;width: 100%;text-align: left;font-size: 18px;}
.FirstName,.c_DirectoryList li{float: left;line-height: 35px;height: 35px;color: #333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.c_DirectoryList li{cursor: pointer;padding:0 10px;width: 100px;}
.FirstName{width: 70px;}
.c_DirectoryList{float: left;}
@media screen and (max-width:1366px){
    .c_Kownledge{width: 960px;}
    .c_DirectoryList{width: 770px;}
    .c_Directory {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 14px;
    }
}
@media screen and (min-width:1366px){
    .c_Kownledge{width: 1080px;}
    .c_DirectoryList{width: 865px;}
    .c_Directory {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 16px;
    }
}
@media screen and (min-width:1600px){
    .c_Kownledge{width: 1200px;}
    .c_DirectoryList{width: 1060px;}
    .c_Directory {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 18px;
    }
}

/*新的樣式*/
.span{
    display: block;
    width: 93%;
    height: 5px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}
.p_loadcon img{
    max-width: 100%;
}
.topic{
    width:82%;
    line-height: 24px;
    font-family: SimSun !important;
}
.topic,.topic p,.topic{
    font-family: SimSun;
}
.optionul,.optionul p,.optionul{
    font-family: SimSun;
}
/*答案样式微调*/
.answerName{
    margin:10px 0 5px;
}
.classfify{
    color: #333;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.answerName,.summary{
    color: #333;
    font-weight: 400;
    font-size: 16px;
    margin-left: -8px;
}
.answerData{
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-family: "楷体" !important;
}
.answerData p,.answerData span{
    font-family: "楷体" !important;
}
.answerName{
    line-height: 29px;
}
.Example_ico{
    display: inline-block;
    width:16px;
    vertical-align: middle;
    margin-right: 10px;
}
.summaryName{
    display: inline-block;
    margin-top: -2px;
    font-weight: 600;
}
.question img{
    max-width: 90%;
}
.summaryName,.classfify,.answerName{
    font-size: 16px!important;
}
.summaryData{
    font-size: 16px!important;
    font-family: "楷体" !important;
}
.summaryData p , .summaryData span {
    font-family: "楷体" !important;
}
/*总结规律*/
.anewerStyle{
    font-weight:normal;
    border-radius: 10px;
    border: 1px solid #6eb621;
    background: #f8f8f8;
    padding: 10px 20px 20px;
    margin-left: 0;
}
.summaryData{
    margin-top: 0px!important;
}
/*报错*/
.p_errorsClick{
    color: #49b9df;
}
.video{
    margin-bottom: 0px;
}
.question{
    padding-bottom: 35px;
}
.question:nth-child(n+2){
    margin-top: 15px;
}
.p_loadcon li,.p_loadcon li div,.p_loadcon li,.p_loadcon li p{line-height: 30px;}
/*必会题样式*/
/*科目，章，节*/
.p_loadtexttitle{
    width: 92%;
    padding:30px 0;
    min-height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background: white;
    display: block;
    color: #333;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.p_loadtexttitle li {
    line-height: 35px;
    float: left;
    width: 100%;
}
.p_loadtexttitle li div span, .p_loadtexttitle label {
    float: left;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.change {
    color: #58c1e4;
}
.fn_par:hover{
    color: #58c1e4;
}
@media screen and (max-width:1366px){
    .FirstName,.p_loadtexttitle li div span,.p_loadtexttitle label {font-size: 14px;}
    .p_loadtexttitle li div span,.p_loadtexttitle label{width: 100px;}
    .Video_Main{width: 900px;}
}
@media screen and (min-width:1366px){
    .FirstName, .p_loadtexttitle li div span,.p_loadtexttitle label {font-size: 16px;}
    .p_loadtexttitle li div span,.p_loadtexttitle label {width: 110px;}
    .Video_Main{width: 1000px;}
}
@media screen and (min-width:1600px){
    .FirstName,.p_loadtexttitle li div span,.p_loadtexttitle label {font-size: 18px;}
    .p_loadtexttitle li div span,.p_loadtexttitle label{width: 120px;}
    .Video_Main{width: 1200px;}
}
/*.subject{*/
    /*width:100px;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
/*}*/
/*试卷题目*/
.can_title{
    width:92%;
    text-align: center;
    margin:0 auto;
    display: block;
    height: 94px;
    line-height: 94px;
    font-size: 24px !important;
    background: #fff;
    color: #333;
}
/*缩进25*/
.topic{
    position: relative;
}
.label{
    position: absolute;
    left:0;
    top:0;
}
.topicp{
    margin-left: 25px;
}
.optionul ,.answer{
    margin-left: 25px;
}
/*.topic p{*/
    /*display: inline!important;*/
/*}*/
