
    /*********************名师简介********************************/
    .prepareAboutTeacherBox {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    /*     老师定位    */
    .prepareAboutTeacherBox{
        position: relative;
    }
    .prepareAboutTeacherBox  .t_photoAndName{
        width:150px;
        height:150px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        z-index:1111;
    }
    .prepareAboutTeacherBox .t_photoAndName #t_photo{
        width:150px;
        height:150px;
        border-radius: 50%;

    }
    .prepareAboutTeacherBox .t_photoAndName .teacherName{

        background: #000;
        background: rgba(0,0,0,0.7);
        color:#fff;
        height:30px;
        width:100%;
        line-height: 30px;
        position: absolute;
        z-index: 1111;
        left:0;
        bottom:0;
        text-align: center;
    }
    .prepareAboutTeacherBox  .teacherSynopsis{
        background: #fff;
        width:80%;
        height:120px;
        position: absolute;
        left:100px;
        top:20px;
        border-radius: 10px;
        border:1px solid #e1e1e1;

        color:#333;
        text-indent:2em;
        line-height:30px;
        padding-left:50px;
        padding-right:20px;
    }

    .teacherSynopsis div {
        margin-top: 3%;
    }

    /*********************名师相关视频********************************/
    .prepareAboutTeacherRelative {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 20px;
        overflow: hidden;;
    }

    .prepareTitle {
        font-size: 18px;
        height: 30px;
        color: #333;
        padding-left:25px;
        border-bottom: 1px solid #ccc;
    }

    #prepareRelativeVideo {
        overflow: hidden;
        height: auto;
    }

    #prepareRelativeVideo li {
        float: left;
        margin: 1.6%;
    }

    #prepareRelativeVideo .prepareRelativeVideoLi {
        height: 190px;
        width: 30%;
        position: relative;
        overflow: hidden;
    }

    #prepareRelativeVideo .prepareRelativeVideoLi img {
        width: 100%;
        height: 100%;
    }

    #prepareRelativeVideo .prepareRelativeVideoLi .videoName {
        background: #000;
        color: #fff;
        background: rgba(0,0,0,0.7);
        height: 30px;
        width: 100%;
        line-height: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
    }
    .videoBox {
        height: auto;
        min-height: 608px;
        margin: 0 auto;
        margin-top: 40px;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;

        background: white;
    }
@media screen and (max-width: 1366px) {
    .videoBox {  width: 890px; }
    .prepareAddTeacher .teacherSynopsis{width: 250px;}
}
@media screen and (min-width: 1366px) {
    .videoBox { width: 990px;  }
    .prepareAddTeacher .teacherSynopsis{width: 350px;}
}
@media screen and (min-width: 1600px) {
    .videoBox {  width: 1190px;}
    .prepareAddTeacher .teacherSynopsis{width: 550px;}
}
.playico{display: none; position: absolute;bottom: 0;top: 0;right: 0;left: 0;margin: auto;width: 60px!important;height: 60px!important;}
.fs18 {font-size: 18px;margin-left: 1px;margin-top: 3px}

    .p_Vico {
        width: 22px !important;
        height: 21px !important;
        float: left;
        margin-top: 3px;
        margin-right: 6px;
    }