 .videoIntroduce{  margin-top:20px;  height:auto;width:100%;  color:#333;border-radius: 10px;background: #fff;  }
 .videoIntroduce p{padding:0 2em;}
 .prepareVideoBox {width: 100%;;margin: 0 auto;  margin-top: 10px;  margin-bottom: 80px;  }
 .prepareVideoName {  height: 60px;  line-height: 60px;  color: #333;  font-size: 18px;  }
 .prepareVideo { width: 100%; height: 660px;  background: #000;  }
 .prepareVideo img {  width: 100%;  height: 100%;  }
 .functions,.functions_share {background: white; width: 100%; height: 66px;  line-height: 66px;  color: #666;  position: relative;  ;  border-radius:0px 0px 10px 10px;  }
 .functions_share {display: none;}
 .functions .pageViews,.functions_share .pageViews {  padding: 3px 0 3px 20px;  }
 .functions .pageViewsNum {  padding: 3px 20px 3px 0;  border-right: 1px solid #ccc;  }
 .functions .agree {  padding: 3px 16px 3px 10px;  margin-left: 10px;  }
 .functions .agreeNum {  padding: 3px 20px 3px 0;  border-right: 1px solid #ccc;  }
 .functions .enjoys {  padding: 4px 8px 4px 16px;  margin-left: 16px;  }
 .functions .nbsp {  padding: 3px 8px 3px 0;  border-right: 1px solid #ccc;  }
 .functions .recommend {cursor: pointer;  border: 1px solid #f9a24a;  border-radius: 10px;  padding: 10px 50px;  background: #f9a24a;  margin-left: 30px;  color: #fff;  font-size: 18px; }
 .functions .prepareTest {  position: absolute;  right: 10px;  top: 6px;  background: #49b9df;  border: 1px solid #49b9df;  color: #fff;  padding: 10px 0;  border-radius: 10px;  font-size: 18px;  line-height: 24px;  }
 .prepareTest a{ padding: 10px 38px;}
 .functions .prepareTest:hover{
     background: #0fa7db;
     border: 1px solid #0fa7db;
 }
 .videoIntroduce{margin-top:20px;  height:auto;  width:100%;  color:#333;    border-radius: 10px;  background: #fff;  }
@media screen and (max-width: 1366px) {
    .prepareVideoBox {  width: 890px;  }
    .exercise_ErrorUrl .in{width: 420px;height: 260px;margin-top: -130px;margin-left: -210px;}
    .exercise_ErrorUrl .in .btn a{font-size: 14px; line-height: 32px;}
}
@media screen and (min-width: 1366px) {
    .prepareVideoBox {  width: 990px;  }
    .exercise_ErrorUrl .in{width: 560px;height: 310px;margin-top: -155px;margin-left: -280px;}
    .exercise_ErrorUrl .in .btn a{font-size: 16px; line-height: 40px;}
}
@media screen and (min-width: 1600px) {
    .prepareVideoBox {  width: 1190px; }
    .exercise_ErrorUrl .in{width: 560px;height: 310px;margin-top: -155px;margin-left: -280px;}
    .exercise_ErrorUrl .in .btn a{font-size: 16px; line-height: 40px;}
}
 .exercise_ErrorUrl{position: absolute;top: 0;left: 0;bottom: 0;z-index:1000;display: none;width: 100%;background: rgba(0,0,0,0.3);height: 1076px;}
 .exercise_ErrorUrl .in{position: absolute;top: 50%;left: 50%;z-index: 1010;overflow: hidden;border-radius: 8px;background: #fff;}
 .exercise_ErrorUrl .in > img{width: 100%;}
 .exercise_ErrorUrl .in .close{position: absolute;top: 0;right: 30px;display: block;width: 34px;height: 38px;overflow: hidden;text-indent: -10em;border-radius: 0 0 17px 17px;background: #f96672 url("../../image/homework/exercise_ErrorUrl_btn.png") no-repeat 0 0;cursor: pointer;}
 .exercise_ErrorUrl .in .close:hover{background-color: #f05865;}
 .exercise_ErrorUrl .in .close:active{background-color: #e44855;}
 .exercise_ErrorUrl .in .btn{width: 100%;padding: 18px 0;}
 .exercise_ErrorUrl .in .btn a{float: left;display: block;width: 27%;font-size: 18px;line-height: 46px;text-align: center;border-radius: 8px;background: #8ed6ee;color: #fff;}
 .exercise_ErrorUrl .in .btn a{margin-left: 5%;}
 .exercise_ErrorUrl .in .btn a:first-child{margin-left: 20%;}
 .exercise_ErrorUrl .in .btn a:hover{background: #80cbe4;}
 .exercise_ErrorUrl .in .btn a:hover{background: #6abad4;}


 /*分享*/
 .Share{display: none; position: fixed; z-index: 10; top: 0;left: 0;right: 0;bottom: 0;margin:  auto;width: 605px;height: 260px;;padding: 20px;background: white;;border-radius: 10px;}
 .ShareTitle{width: 300px;font-size: 24px; height: 80px;line-height: 35px;text-align: left;float: left;}
 .bdsharebuttonbox{float: left;width: 100%;}
 .bdsharebuttonbox a{width: 80px;margin:0 30px; height: 80px;cursor: pointer; background:url('../../image/sprite/p_VideoSpriteImg.png')0 0 no-repeat;float: left;}
 .bdsharebuttonbox .QQ {  background-position:0 -97px;  }
 .bdsharebuttonbox .Qzone {  background-position:-288px -96px; }
 .bdsharebuttonbox .Sina {  background-position:-96px -96px;}
 .bdsharebuttonbox .Weixin {  background-position:-191px -96px; }
 .bd_weixin_popup{width: 400px;}
 .p_spriteImg{background:url(../../image/sprite/p_VideoSpriteImg.png)0 0 no-repeat;}
 .p_yetshareico{height:23px;width:23px;background-position:-32px 0;}
 .p_shareico{height:23px;width:23px;background-position:0 0;}
 .spriteImg{background:url("../../image/sprite/spriteImg.png")0 0  no-repeat;}
 .c_ruleico{height:18px;width:18px;background-position:-649px -135px;}
 .p_yetPraiseico {
     height:50px;width:43px;background-position:-517px -15px;
 }
 .p_Praiseico {
     height: 24px;
     width: 24px;
     background-position: 0 -32px;
 }
 .paperBase {
     background-color: #fff;
     padding: 10px;
     margin-top: 30px;
     border-radius: 10px;
 }
 .baseBtnSubmit {
     outline: none;
     background-color: #49B9DF;
     border: 1px solid #49B9DF;
     color: #fff;
     padding: 10px 50px;
     border-radius: 10px;
     margin: 0 41%;
     cursor: pointer;
     width: 150px;
     height: 45px;
     font-size: 18px;
 }
 .baseBtnSubmit:hover{
     background: #0fa7db;
     border: 1px solid #0fa7db;
 }
 .title_span_d {
     font-size: 18px;
     display: block;
     text-align: center;
 }

 /*未做完提示*/
 .shark,.sharks,.correct_shark,.correct_sharks{
     position: fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background: rgba(0,0,0,0.3);
     display: none;
 }
 .sendpaper{
     position: relative;
     width:690px;
     height:350px;
     background: url("../../image/modetest/sendpaper.png") no-repeat;
     top:50%;
     left:50%;
     margin-left: -345px;
     margin-top: -175px;
 }
 .model_paper_delete_correr,.model_paper_delete,.model_correct_delete,.model_correct_del{
     display: inline-block;
     width:35px;
     height:35px;
     position: absolute;
     top:0;
     right:40px;
     cursor: pointer;
 }
 .model_paper_success_correr,.model_paper_success,.model_correct_success,.model_correct_suc{
     display: inline-block;
     width:192px;
     height:45px;
     position: absolute;
     bottom:12px;
     right:135px;
     cursor: pointer;
 }
 .model_paper_false_correr,.model_paper_false,.model_correct_false,.model_correct_fal{
     display: inline-block;
     width:192px;
     height:45px;
     position: absolute;
     bottom:12px;
     left:140px;
     cursor: pointer;
 }


 .functions .enjoys:hover{
     /*background-position:-32px 0;*/
     height: 50px;
     width: 43px;
     background-position: -517px -70px;
 }
 .c_ArLogo {
     width: 100%;
     height: 60px;
     border-bottom: 1px solid #ccc;
     background: url("../../../static/image/chinese/bg.png")0 0 repeat;
 }
 .paperBaseLiUl:hover{
     border:1px solid #ccc;
     border-radius:10px;
 }
 .paperBaseLiUl{
     border:1px solid #fff;
     border-radius:10px;
 }