<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预习测试</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/prepare/preparetest.css">
</head>
<body>
<div class="p_main" id="prepare">
    <p>{{testName}}</p>
    <ul class="p_paperTest">
        <li>
            <ul class="p_question">
                <li v-for="question in questions">
                    <span class="p_src dino"><img src="../../static/images/prepare/wrong.png"></span>
                    <span class="p_order">{{question.order}}</span>
                    <div class="p_content" v-html="question.content"></div>
                    <ul class="p_option">
                        <li class="p_optionLi" v-for="(option,index) in question.options" v-html="option.content" @click="selectAnswer($event,option.flag,option.index)"></li>
                    </ul>
                    <div class="p_labels dino">
                        <ul>
                            <li>
                                <p>【正确答案】</p>
                                <p class="p_label" v-if="question.answer" v-html="question.answer"></p>
                                <p class="p_label" v-else>无</p>
                            </li>
                            <li>
                                <p>【文字解析】</p>
                                <p class="p_label" v-if="question.answer" v-html="question.analyse"></p>
                                <p class="p_label" v-else>无</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
<script src="../../static/javascript/prepare/preparetest.js"></script>
</html>