html,body{
    margin:0;
    padding:0;
    background: #ecedf0;
}
@media screen and (max-width: 1366px){
    .s_record{
        width:960px;
        min-height:650px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}
@media screen and (min-width: 1366px){
    .s_record{
        width:1080px;
        min-height:650px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}
@media screen and (min-width: 1600px){
    .s_record{
        width:1200px;
        min-height:650px;
        background: #fff;
        margin:0 auto;
        margin-top: 40px!important;
        border-radius: 10px;
    }
}

.s_rectitle{
    width:100%;
    height:60px;
    border-bottom: 1px  solid #ccc;
    font-size: 18px !important;
    color: #333;
    text-align: center;
    line-height: 60px;
}
/*列表*/
/*列表*/
.s_list_contont{
    min-height: 605px;
    display: block;
}
.theadtr{
    width:100%;
    height:55px;
    background: #f6f6f6;
    line-height: 55px;
}
.theadtrli{
    width:20%;
    height:100%;
    text-align: center;
    color:#333333;
    float: left;
}
.tbodytr{
    height: 100%;
    height: 44px;
    line-height: 44px;
    color: #666;
}
.s_status{
    color: #58c1e4;
    cursor: pointer;
}
.tbodytr:nth-child(even){
    background: #f6f6f6;
}

/*分页插件*/
.Paging{
    width: 800px;
    margin: 0 auto;
}
/**/
.s_td{
    width:40%;
}/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}