/*****************************教师区域**********************************/
.c_delimg{float: left;margin: 11px 0 0 10px;}
    .c_Main{margin: 0 auto;}
    .c_TeacherAreaWrap{width:1200px; height: 220px;  margin-top: 40px; position: relative;margin: 0 auto}
    .c_TeacherArea{width:1200px; height: 220px; border-radius: 10px; box-shadow: 3px 3px 4px 2px #ccc; overflow: hidden; background: #fff; position: relative; margin-top: 40px;}
    /*选择班级下拉框*/
    .c_ClassDropList{ height: auto; position: absolute; left: 0; top: 0; z-index: 10;}
    .c_MainX{width:170px;height:40px; border:1px solid #ccc;box-sizing: border-box;margin: 10px 0 0 18px;position: relative;padding: 8px 0 0 20px;cursor:pointer;border-radius:5px;}
    .c_MainX span{ margin-top:-2px; display: inline-block;}
    .c_MainX i{ display: inline-block; position: absolute; right: 15px; top: 16px;}
    .c_MainX ul{width:170px;height: auto;position: absolute;top:39px;left:-1px;z-index: 10;background: #fff;border-right:1px solid #ccc ;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;box-sizing:border-box;display: none;}
    .c_MainX ul li{width:170px;height:40px;line-height:40px;padding: 0 0 0 20px;cursor: pointer;cursor:pointer;}
    .c_MainX ul li:hover{color: #65b113;}
    /*班级码*/
    .c_ClassNum{ height: 60px; with:20px; line-height: 60px; margin-left: 20px;}
    /*退出班级按钮和解散班级按钮*/
    .c_TeacherAreaTop{ width:1200px; height:60px; border-bottom: 1px solid #ccc; box-sizing: border-box;}
    .c_BtnExit,.c_intnav,.c_more{corlor:#fff; width:150px; height: 45px; box-sizing: border-box; margin-top: 7px; margin-right: 20px; outline: none; background: url("../../../static/image/classmanage/classyem/c_BgBtn.png") repeat-x;border-radius: 10px;}
    .c_more{text-align: center;line-height:45px;position:relative;cursor:pointer;}
    .c_Synsize{width:150px;height:90px;border:1px solid #ddd;border-top:none;box-sizing:border-box;position: absolute;top:45px;left: -1px;z-index: 2;background: #fff;}
    .c_Synsize li{width:150px;height: 45px;text-align:center;line-height:45px;z-index:1;}
    .c_Synsize li:hover{color: #65b113;}
    .c_intnav:hover{color:#fff}
    .c_more:hover{color:#fff}
    /*********教师区域-教师列表***********/
    .c_TeacherAreaList{height: 160px;}
    .c_TeacherAreaCurrent{ width:320px; height: 160px;overflow:hidden;cursor:pointer;}
    .c_TeacherAreaCurrent li{position: relative}
    .c_TeacherAreaCurrent i{display: block;position: absolute;top:165px;left:125px;}
    .c_TeacherPhoto{ width: 100px; height: 100px; overflow: hidden; border-radius: 100%; box-sizing: border-box; margin-left: 112px; margin-top: 20px; }
    .c_Subject{ text-align: center;width: 100%;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; margin-top: 5px; padding-left: 14px;}
    .c_Subject span{margin-left:5px;}
    .c_setTeacher{position:absolute;top:25px;left:-16px;color:#58c1e4;cursor:pointer}
    .c_deleteClass{position:absolute;top:25px;left:145px;color:#58c1e4;cursor: pointer}
    .c_OtherTeacher{width:860px; height: 160px; overflow: hidden;position: relative; }
    .c_OtherTeacherWrap{ width:9999px; height: 160px; position: absolute; left: 0; top: 0;
        z-index:0;}
    .c_OtherTeacherWrap li{float:left; width:185px; margin-left:25px;position:relative;
        cursor: pointer;}
    .c_OtherTeacherWrap li .c_TeacherPhoto{margin-left: 52px;}
    .c_TeacherTag{ position: absolute; left: 65px; bottom: 21px; z-index: 1; width: 76px; height: 20px;}
    .c_TeacherRight{position: absolute; right:5px; top:70px; width:14px; height: 30px; display: inline-block; display: none;cursor: pointer}
    .c_TeacherLeft{position: absolute; right: 10px; top:70px;position: absolute; left: 10px; top:70px; display: inline-block; display: none;cursor: pointer;}
    /*****************************学生区域**********************************/
    .c_StudentArea{width:1200px; height: auto; margin:0 auto; margin-top: 40px; border-radius: 10px;box-shadow: 3px 3px 4px 2px #ccc; background: #fff; margin-bottom: 100px;}
    .c_StudentAreaTab{ height:60px; border-bottom: 1px solid #ccc;}
    .c_StudentAreaBtn{ width: 150px; height: 44px; color: #666; box-sizing: border-box; outline: none; margin-left:20px; margin-top: 8px; background: url("../../../static/image/classmanage/classyem/c_BgBtn.png") repeat-x;cursor: pointer;border-radius: 10px;}
    .c_StudentAreaBtnCur{background: url("../../../static/image/classmanage/classyem/c_BgBtnGreen.png") repeat-x; color: #fff;}
    /*****************学生管理********************/
    .c_StudentManageWrap{ min-height: 300px; display: block;}
    .c_StudentList{padding:0 15px; width:1170px;}
    .c_StudentList li{ height: 100px; border-bottom: 1px solid #ccc; overflow: hidden; box-sizing: border-box; line-height: 90px;}
    .c_StudentList li.c_NoStudent{ height: 300px; line-height: 300px; text-align: center; border: none; font-size: 30px; color: #666;}
    .c_StudentList:nth-last-child(1){ margin-bottom: 30px;}
    .c_StudentNum{ padding-left: 35px; display: inline-block; float: left; margin-top: 6px;}
    .c_StudentPhoto{ width:75px; height: 75px; border-radius: 100%; overflow: hidden; margin-left: 45px; margin-top: 12px;}
    .c_StudentName0{ height: 30px; width:274px; display: inline-block; line-height: 30px; text-align: center; margin-top: 35px; border-right: 1px solid #ccc;}
    .c_StudentTel{ height: 30px; padding-left: 55px; display: inline-block; line-height: 30px; margin-top: 35px;}
    .c_StudentTelNum{ height: 30px; display: inline-block; line-height: 30px; margin-top: 35px;}
    .c_StudentId{ display: none;}
    .c_StudentDel{ margin-right: 65px; margin-top: 32px; cursor: pointer;}
    .c_NoStudent{}
    /********************小组管理******************/
    .c_GrouptManageWrap{ height:auto;min-height:600px; padding-bottom: 20px; display: none; position: relative;}
    .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .clearfloat{zoom:1}
    /*********创建小组列表***********/
    /*没有学生信息*/
    .c_classMsg{width:100%;height:300px;text-align:center;line-height:300px;font-size:30px;color:#666666;}
    /*没有小组的盒子*/
    .c_NoGroup{ display: none;}
    .c_GroupTxt{ height: 150px; line-height: 150px; text-align: center;}
    .c_QuotHeatherGroupBtn{ border: 0; outline: none; width:125px; height: 35px; margin-left: 35px; background: #F9A24A; border-radius: 10px; font-size: 14px; color: #fff;display:none;cursor:pointer;}
    .c_CreatGroupBtn{ text-align: center;}
    .c_CreatGroupBtn .c_classImg{cursor:pointer;}
    .c_CreatGroupBtn span{display:block; font-size: 30px; color: #0C96E6; margin-top: 25px;}
    /*编辑小组的盒子*/
    .c_EditGroupWrap{ display: none; overflow: hidden; position: relative;}
    .c_Mainbot1{width:245px;max-height:456px;border:1px solid #ddd;box-sizing:border-box;margin: 35px 0 0 44px;position: relative;}
    .a_MainCha{display: inline-block; display:none;position: absolute;right:5px;top:5px;z-index:10;cursor:pointer;}
    .c_MainZ{width:100%;height:75px;line-height: 75px;text-align: center;color: #0c96e6;position:relative;}
    .c_GroupName{ width: 160px; height: 45px; text-align: center; outline: none; border: 1px solid #ccc;color: #0c96e6; font-size: 16px;position:absolute;top:20px;left:40px;}
    .c_GroupIdTag{ display: none;}
    .c_MainList{width:220px; height:231px; overflow: auto;margin: 0 auto;}
    .c_MainList li{width:100%;height:45px;text-align: center;line-height:45px;border-bottom:1px dotted #ccc; float: left; position: relative;cursor: pointer}
    .c_MainList li .a_MainDelCha{ position: absolute; top: 15px; right: 5px; display: none;}
    .c_MainList li .c_GroupStudentId{ display: none;}

    .c_MainList li.c_GroupNoStu{ height:278px; line-height: 278px; text-align: center; border: 0; position:relative;}
    .c_GroupNoStu span{position: absolute;top:0;left:72px;}
    .c_MainB{width: 100%;height: 55px;line-height:55px; cursor: pointer;}
    .c_MainI{float: left;margin:16px 5px 0 70px;}
    .c_GroupSiveBtn{display: none; height: 45px; line-height: 45px; text-align: center; border-top: 1px solid #ccc;}
    .c_GroupSiveBtn .c_SiveGroup{ width:70px; height: 30px; border: 0; outline: none; color: #Fff; border-radius: 5px; background: #FAA249; margin-right: 15px;cursor:pointer;}
    .c_GroupSiveBtn .c_CancelGroup{ width:70px; height: 30px; border: 0; outline: none; color: #Fff; border-radius: 5px; background: #999;cursor:pointer;}
    .c_MainB span{color: #0c96e6;}
    .c_MainAdd{width:75px;height: 110px;text-align: center;margin: 126px auto;}
    .c_MainAdd p{ font-size: 18px; color: #0195D1; margin-top: 20px;}
    .c_MainIZove{display: block;cursor:pointer;}
    /*文字左右晃动*/
    .c_GroupMsg{ padding-top: 30px; margin-left: 40px; text-align: left; height: 32px; color:#ca0d0d; line-height: 32px; background:url("../../../static/image/classmanage/s_msgico.png") no-repeat 0 32px; padding-left: 50px; clear: both; display: none;}
    /*未加入小组的学生名单*/
    .c_NoGroupWrap{width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0;z-index: 100;display: none; }
    .c_NoGroupWrap .c_NoGroup_win{ width: 787px; height: 616px;background: #fff; position: absolute; left: 50%; top:50%; margin-left: -394px; margin-top:-278px;}
    .c_NoGroupWrap .c_NoGroup_win p{ height: 56px;color:#0c96e6;text-align: center;line-height: 56px; box-sizing: border-box;}
    .c_NoGroupWrap .c_NoGroup_win ul{ width:787px; height: 500px; overflow-y: auto;}
    .c_noClass{width:787px;height:500px;text-align:center;line-height:500px;font-size:30px;color:#C8C8C8;}
    .c_NoGroupWrap .c_NoGroup_win ul li{ width:130px; height: 45px; border: 1px solid #ccc; float: left; font-size: 14px; color: #666; line-height: 45px; text-align: center; border-top: 0; border-right: 0;cursor:pointer;}
    .c_NoGroupOfStudentId{display: none;}
    .c_NoGroupWrap .c_NoGroup_win ul li:nth-of-type(6n+0){ border-right: 1px solid #ccc;}
    .c_NoGroupWrap .c_NoGroup_win ul li:nth-last-of-type(1){ border-right: 1px solid #ccc; width:130px;}
    .Ok{ height: 50px; text-align: center; margin-bottom: 20px;}
    .Ok .c_OkBtn{ width:150px; height: 50px; border: 0; outline: none; color: #fff; font-size: 18px; background:#FAA249; border-radius: 10px;cursor:pointer;}
/*引用班主任分组弹窗*/
.m_classTchMask{width:100%;height:100%;background: rgba(0,0,0,0.5);z-index: 100;position: fixed; left:0; top:0; display: none;}
.m_classTch{width: 1160px;height: 720px;background: #fff;position: fixed;top:50%;left:50%; margin-top:-350px; margin-left:-580px; border-radius: 10px;}
.m_classTch h3{width:1070px;height:55px;font-size: 22px;color:#333333;padding: 65px 0 0 90px;}
.m_classTchList{width: 100%;height: 500px; overflow-y: auto;}
.m_classTchList .m_groupWrap{width: 290px;height: auto;border:1px solid #ddd;margin-left: 70px; margin-bottom:20px;float: left;}
.m_classTchList ul li{width:100%;height: 40px;border-bottom: 1px solid #ddd;text-align: center;line-height: 40px;font-size: 16px;color:#666666}
.m_classTchList ul li.m_groupName{width: 100%;height: 55px;line-height: 55px;background: #f6f6f6;font-size: 24px;color: #333333;}
ul.m_groupMember{ margin: 0; border: 0; height:328px; overflow-y: auto; }
.m_classTchbtn{width:100%;height: 90px;}
.m_classTchbtn input{width:329px;height: 55px;color: #fff;font-size: 22px;outline: none;border:none;border-radius: 10px;cursor:pointer;}
.m_classTchbtnOne{background: #58c1e4;margin-left: 230px;}
.m_classTchbtnTwo{background: #f9a24a;margin-left: 35px;}
/*********退出班级弹窗***********/
.m_classMark{width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0;z-index: 9999999999999; display: none;}
.m_ExitClass{ width:689px; height: 353px; overflow: hidden; background: url("../../../static/image/classmanage/c_ExitClassImg.png"); position: fixed;left: 50%; top:50%;z-index:101; margin-top:-176px; margin-left:-345px;}
.m_BtnWrap{ position: absolute; left: 0; bottom: 0; height: 78px; line-height: 78px;}
.m_ExitBtn,.m_NoExitBtn{width:190px;height: 45px;color:#fff;border: none;outline: none;border-radius: 10px;margin-top: 20px;}
.m_ExitBtn{background: #8ed6ee;margin-left: 140px;cursor:pointer}
.m_NoExitBtn{background: #ccc;margin-left: 25px;cursor: pointer;}
.m_Close{ width: 35px; height: 40px; display: block; position: absolute; top:0; right:41px;cursor:pointer;}
/*********删除学生的弹窗***********/
.m_DelStudent{width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0;z-index: 100; display:none;}
.m_DelStudentWrap{ width:689px; height: 353px; overflow: hidden; background: url("../../../static/image/classmanage/img_DelStudent.png"); position: fixed;left: 50%; top:50%;z-index:101; margin-top:-176px; margin-left:-345px;}
.m_DelBtnWrap{ position: absolute; left: 0; bottom: 0; height: 78px; line-height: 78px;}
.m_DelBtn,.m_NoDelBtn{width:190px;height: 45px;color:#fff;border: none;outline: none;border-radius: 10px;margin-top: 20px;}
.m_DelBtn{background: #8ed6ee;margin-left: 140px;cursor:pointer;}
.m_NoDelBtn{background: #ccc;margin-left: 25px;cursor:pointer;}
.m_DelClose{ width: 35px; height: 40px; display: block; position: absolute; top:0; right:41px;cursor: pointer;}
/*********删除分组的弹窗***********/
.m_DelGroup{width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0;z-index: 100; display:none;}
.m_DelGroupWrap{ width:689px; height: 353px; overflow: hidden; background: url("../../../static/image/classmanage/img_DelGroup.png"); position: fixed;left: 50%; top:50%;z-index:101; margin-top:-176px; margin-left:-345px;}
.m_DelGroupBtnWrap{ position: absolute; left: 0; bottom: 0; height: 78px; line-height: 78px;}
.m_DelGroupBtn,.m_NoDelGroupBtn{width:190px;height: 45px;color:#fff;border: none;outline: none;border-radius: 10px;margin-top: 20px;}
.m_DelGroupBtn{background: #8ed6ee;margin-left: 140px;cursor:pointer;}
.m_NoDelGroupBtn{background: #ccc;margin-left: 25px;cursor:pointer}
.m_DelGroupClose{ width: 35px; height: 40px; display: block; position: absolute; top:0; right:41px;cursor:pointer}
/*解散班级弹窗*/
.m_classDis{width: 100%;height:100%;background: rgba(0,0,0,0.5);position:fixed;z-index: 999999999;top:0;}
.m_classDisSon{width:640px;height: 345px;position: absolute;top:0;left: 0;right:0;bottom: 0;margin: auto;background: #fff;border-radius: 10px;}
.m_classDisSon h2{width: 100%;height: 35px;font-size: 24px;color:#333333;text-align: center;padding-top:110px;}
.m_classDisSon h2 p{font-size: 16px;color: #dd1021;}
.m_classPass{width: 100%;height: 120px;}
.m_classPass input{width:270px;height: 45px;border:none;outline: none;border-radius: 10px;margin-left: 180px;border:2px solid #cfcfcf;}
.m_classAff input{width: 190px;height: 45px;border:none;outline: none;border-radius: 10px;color: #fff;cursor: pointer;}
.m_classAff input:first-child{background: #65b113;margin-left: 115px;}
.m_classAff input:last-child{background: #999;margin-left: 25px;}
.m_classDisSon i{display: block;position: absolute;top:10px;right: 10px;cursor: pointer;}
/*快去任命下一任班主任吧!*/
.m_classFastApp{width: 100%;height:100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 100;top:0;}
.m_classFastAppSon{width: 689px;height: 354px;background:url(../../image/classmanage/img_ico1.png);position: absolute;margin: auto;top:0;left: 0;right: 0;bottom: 0;z-index: 10;}
.m_classFastAppTop{width:100%;height: 275px;line-height: 275px;position: relative;display: block}
.m_classFastAppTop p{font-size: 24px;margin-left: 350px;}
.m_classAppointIcoX{width:35px;height:40px;background:#f96672;position: absolute;top:2px;right: 40px;border-radius: 0 0 10px 10px;display: block}
.m_classFastAppTop i{display: block;position: absolute;top:0;left: 0;right:0;bottom: 0;margin: auto;cursor: pointer;}
/*你要任命老师为班主任么*/
.m_classAppoint{width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 100;top:0;}
.m_classAppointSon{width: 689px;height: 354px;background:url(../../image/classmanage/img_xo.png);position: absolute;margin: auto;top:0;left: 0;right: 0;bottom: 0;z-index: 10;}
.m_classAppointTop{width:100%;height: 275px;line-height: 275px;position: relative;}
.m_classAppointTop p{font-size: 24px;margin-left: 350px;}
.m_classAppointIcoX{width:35px;height:40px;background:#f96672;display: block;position: absolute;top:2px;right: 40px;border-radius: 0 0 10px 10px;cursor:pointer;}
.m_classAppointTop i{display: block;position: absolute;top:0;left: 0;right:0;bottom: 0;margin: auto;}
.m_classAppointBot{width:690px;height: 80px;}
.m_classAppointBtnYes,.m_classAppointBtnNo{width:190px;height: 45px;color:#fff;border: none;outline: none;border-radius: 10px;margin-top:20px;background: #ccc;cursor:pointer;}
.m_classAppointBtnYes{margin-left: 140px;background: #8ed6ee;}
.m_classAppointBtnNo{margin-left: 25px;}
/* 删除老师弹出框*/
.m_classLeave{width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 100;top:0;}
.m_classLeaveson{width:689px;height:354px;background:url(../../image/classmanage/img_xo.png);position: absolute;margin: auto;top:0;left: 0;right: 0;bottom: 0;z-index: 10;}
.m_classLeaveTop{width:100%;height: 275px;line-height: 275px;position: relative;}
.m_classLeaveTop p{font-size: 24px;margin-left: 350px;}
.m_classLeaveIcoX{width:35px;height:40px;background:#f96672;display: block;position: absolute;top:2px;right: 40px;border-radius: 0 0 10px 10px;cursor: pointer;}
.m_classLeaveTop i{display: block;position: absolute;top:0;left: 0;right:0;bottom: 0;margin: auto;}
.m_classLeaveBot {width:690px;height: 80px;}
.m_classLeaveBtnYes,.m_classLeaveBtnNo{width:190px;height: 45px;color:#fff;border: none;outline: none;border-radius: 10px;margin-top: 20px;cursor: pointer;background: #ccc;}
.m_classLeaveBtnYes{margin-left: 140px;background: #8ed6ee;}
.m_classLeaveBtnNo{margin-left: 25px;}
/*未加入小组的学生名单*/
.c_NoGroupWrap{width:100%; height:100%; background:rgba(0,0,0,0.5); position:fixed; left:0; top:0;z-index: 100;display: none; }
.c_NoGroupWrap .c_NoGroup_win{ width: 787px; height: 616px;background: #fff; position: absolute; left: 50%; top:50%; margin-left: -394px; margin-top:-278px;}
.c_NoGroupWrap .c_NoGroup_win p{ height: 56px;color:#0c96e6;text-align: center;line-height: 56px; box-sizing: border-box;}
.c_NoGroupWrap .c_NoGroup_win ul{ width:787px; height: 500px; overflow-y: auto;}
.c_noClass{width:787px;height:500px;text-align:center;line-height:500px;font-size:30px;color:#C8C8C8;}
.c_NoGroupWrap .c_NoGroup_win ul li{ width:130px; height: 45px; border: 1px solid #ccc; float: left; font-size: 14px; color: #666; line-height: 45px; text-align: center; border-top: 0; border-right: 0;cursor:pointer;}
.c_NoGroupOfStudentId{display: none;}
.c_NoGroupWrap .c_NoGroup_win ul li:nth-of-type(6n+0){ border-right: 1px solid #ccc;}
.c_NoGroupWrap .c_NoGroup_win ul li:nth-last-of-type(1){ border-right: 1px solid #ccc; width:130px;}
.Ok{ height: 50px; text-align: center; margin-bottom: 20px;}
.Ok .c_OkBtn{ width:150px; height: 50px; border: 0; outline: none; color: #fff; font-size: 18px; background:#FAA249; border-radius: 10px;cursor:pointer;}


@media screen and (max-width:1366px){
    .c_Main{margin: 0 auto;}
    .c_TeacherAreaWrap{width:1000px; height: 220px;  margin-top: 40px; position: relative;margin: 0 auto}
    .c_TeacherArea{width:1000px; height: 220px; border-radius: 10px; box-shadow: 3px 3px 4px 2px #ccc; overflow: hidden; background: #fff; position: relative;}
    /*选择班级下拉框*/
    .c_ClassDropList{ height: auto; position: absolute; left: 0; top: 0; z-index: 10;}
    .c_MainX{width:170px;height:40px; border:1px solid #ccc;box-sizing: border-box;margin: 10px 0 0 18px;position: relative;padding: 8px 0 0 20px;cursor:pointer;}
    .c_MainX span{ margin-top:-2px; display: inline-block;}
    .c_MainX i{ display: inline-block; position: absolute; right: 15px; top: 16px;}
    .c_MainX ul{width:170px;height: auto;position: absolute;top:39px;left:-1px;z-index: 10;background: #fff;border-right:1px solid #ccc ;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;box-sizing:border-box;display: none;}
    .c_MainX ul li{width:170px;height:40px;line-height:40px;padding: 0 0 0 20px;cursor: pointer;cursor:pointer;}
    .c_MainX ul li:hover{color: #0195D1;}
    /*班级码*/
    .c_ClassNum{ height: 60px; with:20px; line-height: 60px; margin-left: 20px;}
    /*退出班级按钮和解散班级按钮*/
    .c_TeacherAreaTop{ width:1000px; height:60px; border-bottom: 1px solid #ccc; box-sizing: border-box;}
    .c_BtnExit,.c_intnav,.c_more{ width:150px; height: 45px; box-sizing: border-box; margin-top: 7px; margin-right: 20px; outline: none; background: url("../../../static/image/classmanage/classyem/c_BgBtn.png") repeat-x;}
    .c_more{text-align: center;line-height:45px;position:relative;cursor:pointer;}
    .c_Synsize{width:150px;height:90px;border:1px solid #ddd;border-top:none;box-sizing:border-box;position: absolute;top:45px;left: -1px;z-index: 2;background: #fff;}
    .c_Synsize li{width:150px;height: 45px;text-align:center;line-height:45px;z-index:1;}
    .c_Synsize li:hover{color: orange;}
    /*********教师区域-教师列表***********/
    .c_TeacherAreaList{height: 160px;}
    .c_TeacherAreaCurrent{ width:210px; height: 160px;overflow:hidden;cursor:pointer;}
    .c_TeacherAreaCurrent li{position: relative}
    .c_TeacherAreaCurrent i{display: block;position: absolute;top:165px;left:70px;}
    #firstIs{display: none;}
    .c_TeacherPhoto{ width: 100px; height: 100px; overflow: hidden; border-radius: 100%; box-sizing: border-box; margin-left: 60px; margin-top: 20px; }
    .c_Subject{ text-align: center; margin-top: 5px; padding-left: 14px;}
    .c_Subject span{margin-left:5px;}
    .c_setTeacher{position:absolute;top:25px;left:-30px;color:#58c1e4;cursor:pointer}
    .c_deleteClass{position:absolute;top:25px;left:128px;color:#58c1e4;cursor: pointer}
    .c_OtherTeacher{width:790px; height: 160px; overflow: hidden;position: relative; }
    .c_OtherTeacherWrap{ width:9999px; height: 160px; position: absolute; left: 0; top: 0;
        z-index:0;}
    .c_OtherTeacherWrap li{float:left; width:160px; margin-left:30px;position:relative;height: 100%;
        cursor: pointer;}
    .c_OtherTeacherWrap li .c_TeacherPhoto{margin-left: 40px;}
    .c_TeacherTag{ position: absolute; left: 52px; bottom: 41px; z-index: 1; width: 76px; height: 20px;}
    .c_TeacherRight{position: absolute; right:5px; top:70px; width:14px; height: 30px; display: inline-block; display: none;cursor: pointer}
    .c_TeacherLeft{position: absolute; right: 10px; top:70px;position: absolute; left: 10px; top:70px; display: inline-block; display: none;cursor: pointer;}
    /*****************************学生区域**********************************/
    .c_StudentArea{width:1000px; height: auto; margin:0 auto; margin-top: 50px; border-radius: 10px;box-shadow: 3px 3px 4px 2px #ccc; background: #fff; margin-bottom: 100px;}
    .c_StudentAreaTab{ height:60px; border-bottom: 1px solid #ccc;}
    .c_StudentAreaBtn{ width: 150px; height: 44px; color: #666; box-sizing: border-box; outline: none; margin-left:20px; margin-top: 8px; background: url("../../../static/image/classmanage/classyem/c_BgBtn.png") repeat-x;cursor: pointer;}
    .c_StudentAreaBtnCur{background: url("../../../static/image/classmanage/classyem/c_BgBtnGreen.png") repeat-x; color: #fff;}
    /*****************学生管理********************/
    .c_StudentManageWrap{ min-height: 300px; display: block;}
    .c_StudentList{padding:0 15px; width:970px;}
    .c_StudentList li{ height: 100px; border-bottom: 1px solid #ccc; overflow: hidden; box-sizing: border-box; line-height: 90px;}
    .c_StudentList li.c_NoStudent{ height: 300px; line-height: 300px; text-align: center; border: none; font-size: 30px; color: #666;}
    .c_StudentList:nth-last-child(1){ margin-bottom: 30px;}
    .c_StudentNum{ padding-left: 35px; display: inline-block; float: left; margin-top: 6px;}
    .c_StudentPhoto{ width:75px; height: 75px; border-radius: 100%; overflow: hidden; margin-left: 45px; margin-top: 12px;}
    .c_StudentName0{ height: 30px; width:274px; display: inline-block; line-height: 30px; text-align: center; margin-top: 35px; border-right: 1px solid #ccc;}
    .c_StudentTel{ height: 30px; padding-left: 55px; display: inline-block; line-height: 30px; margin-top: 35px;}
    .c_StudentTelNum{ height: 30px; display: inline-block; line-height: 30px; margin-top: 35px;}
    .c_StudentId{ display: none;}
    .c_StudentDel{ margin-right: 65px; margin-top: 32px; cursor: pointer;}
    .c_NoStudent{}
    /********************小组管理******************/
    .c_GrouptManageWrap{ height:auto;min-height:600px; padding-bottom: 20px; display: none; position: relative;}
    .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .clearfloat{zoom:1}
    /*********创建小组列表***********/
    /*没有学生信息*/
    .c_classMsg{width:100%;height:300px;text-align:center;line-height:300px;font-size:30px;color:#666666;}
    /*没有小组的盒子*/
    .c_NoGroup{ display: none;}
    .c_GroupTxt{ height: 150px; line-height: 150px; text-align: center;}
    .c_QuotHeatherGroupBtn{ border: 0; outline: none; width:125px; height: 35px; margin-left: 35px; background: #F9A24A; border-radius: 10px; font-size: 14px; color: #fff;display:none;cursor:pointer;}
    .c_CreatGroupBtn{ text-align: center;}
    .c_CreatGroupBtn .c_classImg{cursor:pointer;}
    .c_CreatGroupBtn span{display:block; font-size: 30px; color: #0C96E6; margin-top: 25px;}
    /*编辑小组的盒子*/
    .c_EditGroupWrap{ display: none; overflow: hidden; position: relative;}
    .c_Mainbot1{width:245px;max-height:456px;border:1px solid #ddd;box-sizing:border-box;margin: 35px 0 0 44px;position: relative;}
    .a_MainCha{display: inline-block; display:none;position: absolute;right:5px;top:5px;z-index:10;cursor:pointer;}
    .c_MainZ{width:100%;height:75px;line-height: 75px;text-align: center;color: #0c96e6;position:relative;}
    .c_GroupName{ width: 160px; height: 45px; text-align: center; outline: none; border: 0; border: 1px solid #ccc;color: #0c96e6; font-size: 16px;position:absolute;top:20px;left:40px;}
    .c_GroupIdTag{ display: none;}
    .c_MainList{width:220px; height:278px; overflow: auto;margin: 0 auto;}
    .c_MainList li{width:100%;height:45px;text-align: center;line-height:45px;border-bottom:1px solid #ccc; float: left; position: relative;cursor: pointer}
    .c_MainList li .a_MainDelCha{ position: absolute; top: 15px; right: 5px; display: none;}
    .c_MainList li .c_GroupStudentId{ display: none;}
    .c_MainList li:nth-child(1){border-top:1px solid #ccc;}
    .c_MainList li.c_GroupNoStu{ height:278px; line-height: 278px; text-align: center; border: 0; position:relative;}
    .c_GroupNoStu span{position: absolute;top:0;left:72px;}
    .c_MainB{width: 100%;height: 55px;line-height:55px; cursor: pointer;}
    .c_MainI{float: left;margin:16px 5px 0 70px;}
    .c_GroupSiveBtn{display: none; height: 45px; line-height: 45px; text-align: center; border-top: 1px solid #ccc;}
    .c_GroupSiveBtn .c_SiveGroup{ width:70px; height: 30px; border: 0; outline: none; color: #Fff; border-radius: 5px; background: #FAA249; margin-right: 15px;cursor:pointer;}
    .c_GroupSiveBtn .c_CancelGroup{ width:70px; height: 30px; border: 0; outline: none; color: #Fff; border-radius: 5px; background: #999;cursor:pointer;}
    .c_MainB span{color: #0c96e6;}
    .c_MainAdd{width:75px;height: 110px;text-align: center;margin: 149px auto;}
    .c_MainAdd p{ font-size: 18px; color: #0195D1; margin-top: 20px;}
    .c_MainIZove{display: block;cursor:pointer;}
    /*文字左右晃动*/
    .c_GroupMsg{ padding-top: 30px; margin-left: 40px; text-align: left; height: 32px; color:#ca0d0d; line-height: 32px; background:url("../../../static/image/classmanage/s_msgico.png") no-repeat 0 32px; padding-left: 50px; clear: both; display: none;}
    /*引用班主任分组弹窗*/
    .m_classTchMask{width:100%;height:100%;background: rgba(0,0,0,0.5);z-index: 100;position: fixed; left:0; top:0; display: none;}
    .m_classTch{width: 960px;height: 720px;background: #fff;position: fixed;top:50%;left:50%; margin-top:-350px; margin-left:-480px; border-radius: 10px;}
    .m_classTch h3{width:870px;height:55px;font-size: 22px;color:#333333;padding: 65px 0 0 90px;}
    .m_classTchList{width: 100%;height: 500px; overflow-y: auto;}
    .m_classTchList .m_groupWrap{width: 290px;height: auto;border:1px solid #ddd;margin-left: 20px; margin-bottom:20px;float: left;}
    .m_classTchList ul li{width:100%;height: 40px;border-bottom: 1px solid #ddd;text-align: center;line-height: 40px;font-size: 16px;color:#666666}
    .m_classTchList ul li.m_groupName{width: 100%;height: 55px;line-height: 55px;background: #f6f6f6;font-size: 24px;color: #333333;}
    ul.m_groupMember{ margin: 0; border: 0; height:328px; overflow-y: auto; }
    .m_classTchbtn{width:100%;height: 90px;}
    .m_classTchbtn input{width:329px;height: 55px;color: #fff;font-size: 22px;outline: none;border:none;border-radius: 10px;cursor:pointer;}
    .m_classTchbtnOne{background: #58c1e4;margin-left: 230px;}
    .m_classTchbtnTwo{background: #f9a24a;margin-left: 35px;}
}

.c_MainList li:nth-child(1){border-top:1px dotted #ccc;}

.c_MainList{width:220px; height:231px; overflow: auto;margin: 0 auto;}
.c_MainList li{width:100%;height:45px;text-align: center;line-height:45px;border-bottom:1px dotted #ccc; float: left; position: relative;cursor: pointer}





