@media screen and (min-width: 1600px){
.c_HomeWork{width: 100%;margin-top: 60px;overflow: hidden; height: 420px;background: white;box-shadow: 2px 2px 2px #9F9F9F; border-radius: 10px;}
    .c_Title{width: 100%;height: 60px;line-height:60px;box-sizing: border-box;padding: 0 40px 0 30px;border-bottom: 1px solid #CCC;}
    .c_Section{width: 240px;height: 40px;position:relative;line-height: 40px;cursor: pointer; float: right;margin-top:-10px; box-sizing: border-box;padding: 0 15px 0 20px;border: 1px solid #CCC;z-index: 1111;border-radius: 10px;}
    .c_Section span{display: inline-block;width: 200px;height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .s_selico{position: absolute;right:0;top:0px;}
    .c_SecShow{width: 240px;max-height:270px;overflow-y: auto;overflow-x: hidden; background: white;display: none; position: absolute;top: 40px;left: -1px;border-radius: 2px;border: 1px solid #CCC;  box-sizing: border-box;padding: 0 15px 0 20px;}
    .c_SecShow li{width: 100%;line-height: 30px;text-align: left;height:30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .c_SecShow li:hover{color: #65B113;}
    .c_HomeMain,.c_HomePie{width: 100%;height: 360px;padding:20px;box-sizing: border-box;float: left;}
    .c_HomePie,.c_NoHomeName{width: 50%;height: 100%;float: left; border-right: 1px solid #CCC;}
    .c_echart{
        width:100%;
        height:80%;
    }
    #c_HomePie{
        position: relative;
    }
    .c_noSubmitNames{
        position:absolute;
        right:20px;
        top:80px;
        z-index:1110;
        background: white;
        width:250px;
        padding-left:10px;
        padding-right:20px;
        height: 30px;
        line-height:30px;
        overflow: hidden;
        border:1px solid #ccc;
        text-align: left;
    }
    .c_noNames{
        margin-right:10px;
        color:#ca0e0d;
        font-size: 18px;
    }
    .downShow{
        position: absolute;
        right:5px;
        top:10px;
    }
    .c_obj{
        width:100%;
        height:20%;
        line-height:20%;
        text-align: left!important;
    }
    .c_NoHomeName{border-right: 0;
    }
    #c_NoHomeName{
        overflow-y: auto;
        width:580px;
        max-height:300px;
    }

    #c_NoHomeName li{
        width:280px;
        height:50px;
        line-height: 50px;
        float:left;
        text-align: center;
    }

    .c_HomeReport{
        width:100%;
        min-height:600px;
        height:auto;
        box-shadow: 2px 2px 2px #9F9F9F;
        border-radius: 10px;
        background: white;
        margin-top:60px;
    }
    #c_HomeSelect{
        margin-top:-50px;
        margin-right:20px;
        border-radius: 0;
    }
    .NoData,.NoDataImg{
        height:100%;
    }
    .t_table{
        width:75%;
        height:auto;
        min-height:120px;
        border: 1px solid #ccc;
        margin-top:30px;
        margin-left:30px;
        margin-right: 30px;
        color:#333;
        font-size:18px;
    }
    .aveScore{
        width:20%;
        margin-top:50px;
    }
    .aveScore p{
        font-size:24px;
    }
    th{
        text-align: center;
    }
    tr{
        height:40px;
        line-height: 40px;
    }
    tr:nth-child(2n+1){
        background: #f2fcfe;
    }
    .changeColor{
        color:#ca0e0f;
    }
    .score{
        display: block;
        text-align: center;
        height:100px;
        margin-left:65px;
        margin-top:20px;
    }
    .score i{
        display: block;
        margin-right:2px;
    }

}

@media screen and (min-width:1366px) and (max-width:1599px){
    .c_content{
        width:1000px;
        height:auto;
        margin:0 auto;
    }
    .c_HomeWork{width: 100%;margin-top: 60px;overflow: hidden; height: 420px;background: white;box-shadow: 2px 2px 2px #9F9F9F; border-radius: 10px;}
    .c_Title{width: 100%;height: 60px;line-height:60px;box-sizing: border-box;padding: 0 40px 0 30px;border-bottom: 1px solid #CCC;}
    .c_Section{width: 240px;height: 40px;position:relative;line-height: 40px;cursor: pointer; float: right;margin-top:-10px; box-sizing: border-box;padding: 0 15px 0 20px;border: 1px solid #CCC;z-index: 1111;border-radius: 10px;}
    .c_Section span{display: inline-block;width: 200px;height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .s_selico{position: absolute;right:0;top:0px;}
    .c_SecShow{width: 240px;max-height:270px;overflow-y: auto;overflow-x: hidden; background: white;display: none; position: absolute;top: 40px;left: -1px;border-radius: 2px;border: 1px solid #CCC;  box-sizing: border-box;padding: 0 15px 0 20px;}
    .c_SecShow li{width:200px;line-height: 30px;height:30px;text-align: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .c_SecShow li:hover{color: #65B113;}
    .c_HomeMain,.c_HomePie{width: 100%;height: 360px;padding:20px;box-sizing: border-box;float: left;}
    .c_HomePie,.c_NoHomeName{width: 50%;height: 100%;float: left; border-right: 1px solid #CCC;}
    .c_echart{
        width:100%;
        height:80%;
    }
    #c_HomePie{
        position: relative;
    }
    .c_noSubmitNames{
        position:absolute;
        right:20px;
        top:60px;
        z-index:1110;
        background: white;
        width:230px;
        padding-left:10px;
        padding-right:20px;
        height: 30px;
        line-height:30px;
        overflow: hidden;
        border:1px solid #ccc;
        text-align: left;
    }
    .c_noNames{
        margin-right:10px;
        color:#ca0e0d;
        font-size: 16px;
    }
    .downShow{
        position: absolute;
        right:5px;
        top:10px;
    }
    .c_obj{
        width:100%;
        height:20%;
        line-height:20%;
        text-align: left!important;
    }
    .c_NoHomeName{border-right: 0;
    }
    #c_NoHomeName{
        overflow-y: auto;
        width:500px;
        max-height:300px;
    }

    #c_NoHomeName li{
        width:240px;
        height:50px;
        line-height: 50px;
        float:left;
        text-align: center;
        font-size: 16px;
    }



    .c_HomeReport{
        width:100%;
        min-height:600px;
        height:auto;
        box-shadow: 2px 2px 2px #9F9F9F;
        border-radius: 10px;
        background: white;
        margin-top:60px;
    }
    #c_HomeSelect{
        margin-top:-50px;
        margin-right:20px;
        border-radius: 0;
    }
    .t_table{
        width:70%;
        height:auto;
        min-height:120px;
        border: 1px solid #ccc;
        margin-top:30px;
        margin-left:30px;
        margin-right: 30px;
        color:#333;
        font-size:16px;
    }
    .aveScore{
        width:20%;
        margin-top:50px;
    }
    .aveScore p{
        font-size:22px;
    }
    th{
        text-align: center;
    }
    tr{
        height:40px;
        line-height: 40px;
    }
    tr:nth-child(2n+1){
        background: #f2fcfe;
    }
    .changeColor{
        color:#ca0e0f;
    }
    .score{
        display: block;
        text-align: center;
        height:100px;
        margin-left:45px;
        margin-top:20px;
    }
    .score i{
        display: block;
        margin-right:2px;
    }

}

@media screen and (max-width:1365px){
    .c_content{
        width:900px;
        height:auto;
        margin:0 auto;
    }
    .c_HomeWork{width: 100%;margin-top: 60px;overflow: hidden; height: 420px;background: white;box-shadow: 2px 2px 2px #9F9F9F; border-radius: 10px;}
    .c_Title{width: 100%;height: 60px;line-height:60px;box-sizing: border-box;padding: 0 40px 0 30px;border-bottom: 1px solid #CCC;}
    .c_Section{width: 240px;height: 40px;position:relative;line-height: 40px;cursor: pointer; float: right;margin-top:-16px; box-sizing: border-box;padding: 0 15px 0 20px;border: 1px solid #CCC;z-index: 1111;border-radius: 10px;}
    .c_Section span{display: inline-block;width: 200px;height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .s_selico{position: absolute;right:0;top:0px;}
    .c_SecShow{width: 240px;max-height:270px;overflow-y: auto;overflow-x: hidden; background: white;display: none; position: absolute;top: 40px;left: -1px;border-radius: 2px;border: 1px solid #CCC;  box-sizing: border-box;padding: 0 15px 0 20px;}
    .c_SecShow li{width: 100%;line-height: 30px;text-align: left;height:30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;.-o-text-overflow: ellipsis;}
    .c_SecShow li:hover{color: #65B113;}
    .c_HomeMain,.c_HomePie{width: 100%;height: 360px;padding:15px;box-sizing: border-box;float: left;}
    .c_HomePie,.c_NoHomeName{width: 50%;height: 100%;float: left; border-right: 1px solid #CCC;}
    .c_echart{
        width:100%;
        height:80%;
    }
    #c_HomePie{
        position: relative;
    }
    .c_noSubmitNames{
        position:absolute;
        right:20px;
        top:60px;
        z-index:1110;
        background: white;
        width:230px;
        padding-left:10px;
        padding-right:20px;
        height: 30px;
        line-height:30px;
        overflow: hidden;
        border:1px solid #ccc;
        text-align: left;
    }
    .c_noNames{
        margin-right:10px;
        color:#ca0e0d;
        font-size: 14px;
    }
    .downShow{
        position: absolute;
        right:5px;
        top:10px;
    }
    .c_obj{
        width:100%;
        height:20%;
        line-height:20%;
        text-align: left!important;
    }
    .c_NoHomeName{border-right: 0;
    }
    #c_NoHomeName{
        overflow-y: auto;
        width:450px;
        max-height:300px;
    }

    #c_NoHomeName li{
        width:210px;
        height:50px;
        line-height: 50px;
        float:left;
        text-align: center;
        font-size: 14px;
    }



    .c_HomeReport{
        width:100%;
        min-height:600px;
        height:auto;
        box-shadow: 2px 2px 2px #9F9F9F;
        border-radius: 10px;
        background: white;
        margin-top:60px;
    }
    #c_HomeSelect{
        margin-top:-50px;
        margin-right:20px;
        border-radius: 0;
    }
    .t_table{
        width:70%;
        height:auto;
        min-height:120px;
        border: 1px solid #ccc;
        margin-top:30px;
        margin-left:30px;
        margin-right: 30px;
        color:#333;
        font-size:14px;
    }
    .aveScore{
        width:20%;
        margin-top:50px;
    }
    .aveScore p{
        font-size:20px;
    }
    th{
        text-align: center;
    }
    tr{
        height:40px;
        line-height: 40px;
    }
    tr:nth-child(2n+1){
        background: #f2fcfe;
    }
    .changeColor{
        color:#ca0e0f;
    }
    .score{
        display: block;
        text-align: center;
        height:100px;
        margin-left:45px;
        margin-top:20px;
    }
    .score i{
        display: block;
        margin-right:2px;
    }

}