/***********************************************必刷题Pk信息By徐扬**************************************************/
.mu_ContentMain{position: fixed; width: 100%;height: 100%;background: url("../../../static/image/mustdo/mu_bg0.jpg")0 0 repeat;background-size: 100%;}
.m_backImg{width: 0.4rem;position: fixed;top:0.2rem;left:0.05rem;z-index: 999;}
.m_PkMain{width: 60%;height: 100%;margin: 0 auto;overflow: hidden;box-sizing: border-box;}
.m_PkUser{float: left;width: 100%;height: 45%;box-sizing: border-box;padding-top: 4%;}
.m_PkUserCon{float: left;width: 40%;height: 100%;padding-top: 9%;}
.m_VsBox{float: left;width: 20%;height: 100%;}
.m_VsBox>img{float: left;width: 100%;margin-top: 100%;}
.m_UserPhotoBox0{float: left;width: 100%;height: 100%;position: relative;}
.m_PkPhoto0,.m_PkPhoto1{margin: 0 auto ;width:60%;;overflow: hidden;box-sizing: border-box;padding:0.05rem; background: white;border-radius: 100%;border: 1px solid #ccc;}
.m_PkPhoto0>img,.m_PkPhoto1>img{float: left;width: 100%;border-radius: 100%;}
.m_UserName{float: left; width: 100%;font-size: 0.2rem;text-align: center;color: white;}
.m_WinImg{position: absolute;top: -35%;right: 2%;width: 50%;}
.m_PkList{width: 100%;float: left;}
.m_PkList li{width: 100%;float: left;text-align: center;font-size: 0.25rem; height: 0.5rem;padding: 0.05rem; box-sizing: border-box;border-radius: 0.3rem;margin-bottom: 0.12rem; background: #A4C5EE;}
.m_PkNum0,.m_PkNum1{float: left;width: 35%;color: #A4C5EE; height: 0.4rem;line-height: 0.4rem; box-sizing: border-box;background: white;border-radius: 0.2rem 0 0 0.2rem;}
.m_PkNum1{border-radius: 0 0.2rem 0.2rem 0;}
.m_PkTxt{float: left;width: 30%;color: white; height: 100%;line-height: 0.4rem; box-sizing: border-box;background: none;}
.m_LookBtn{clear: both;margin: 0 auto;border: 1px solid #49B9DF;margin-top: 4%; width: 90%;height: 0.6rem;border-radius: 0.3rem;text-align: center;color: #49B9DF;background: white;font-size: 0.2rem; line-height: 0.6rem; box-sizing: border-box;}

