/***********************************************必刷题拓扑图By徐扬**************************************************/
.mu_ContentMain{position: fixed; width: 100%;height: 100%;background: url("../../../static/image/mustdo/mu_bg0.jpg")0 0 repeat;background-size: 100%;}
.m_TestBox{width: 90%;height: 65%;float: left;margin: 5% 5% 0 5% ;color: #333;box-sizing: border-box;padding: 0.3rem 0;font-size: 0.2rem;  background: url("../../../static/image/mustdo/m_testbg.png")0 0 no-repeat;background-size: 100%; overflow: hidden;}
.m_QuestionBox{width: 81%;margin: 0 auto; height: 100%;overflow-y: auto;position: relative;padding:  0 0.3rem;}
.m_QuestionBox>div,.m_QuestionBox>p{text-align: left;line-height: 0.5rem;}
.mu_AnswerLine{float: left;width: 100%;}
.mu_AnswerLine>p{float: right;}
.mu_QuNum{position: absolute;top: 0;left:-0.1rem;text-align: center; float: left;width: 0.5rem;height: 0.5rem;line-height: 0.5rem;}
.m_backImg{width: 0.4rem;position: absolute;top:0.2rem;left:0.05rem;z-index: 999;}
.m_UserInfo{float: left;width: 100%;height: 30%;}
.m_UserCon{float: left;width: 45%;height: 100%;;}
.m_VsBox{float: left;width: 10%;height: 100%;}
.m_VsBox>img{float: left;width: 100%;}
.m_UserTime{width: 100%;float: left;height: 0.5rem;font-size: 0.4rem; line-height: 0.5rem;color: white;text-align: center;}
.m_UserPhotoBox0{float: left;width: 35%;height: 100%;margin-left: 15%;}
.m_UserPhotoBox1{float: left;width: 35%;height: 100%;margin-right: 15%;}
.m_PkPhoto0,.m_PkPhoto1{margin: 0 auto ;width:70%;;overflow: hidden;box-sizing: border-box;padding:0.05rem; background: white;border-radius: 100%;border: 1px solid #ccc;}
.m_PkPhoto0>img,.m_PkPhoto1>img{float: left;width: 100%;border-radius: 100%;}
.m_UserName{float: left; width: 100%;font-size: 0.2rem;text-align: center;color: white;}
.m_PkProMainBox0,.m_PkProMainBox1{float: left;height: 100%;width: 48%; padding-top: 13%;box-sizing: border-box;}
.m_PkProMainBox0{margin-right: 2%;}
.m_PkProMainBox1{margin-left: 2%;}
.m_PkProBox,.m_PkProBox0{overflow: hidden; width: 100%; box-sizing: border-box;background: #f6f6f6; height: 0.13rem;border: 1px solid #ccc;border-radius: 0.65rem;margin: 0 auto;}
.m_PkProBox0{background:#f6f6f6;}
.m_PkPro,.m_PkPro0{width: 0;height: 0.1rem;float: left;background: url("../../../static/image/mustdo/m_probg0.png")0 0 repeat;border-radius: 0.05rem;}
/*.m_PkPro0{background: #f6f6f6;}*/

.m_PkNum{height: 0.4rem;overflow: hidden;text-align: center;line-height: 0.4rem;font-size: 0.25rem;color: white;}
.m_PkNum span{;margin: 0 0.05rem;}
.Mask{position: fixed;width:100%;display: none; background:#000;background: rgba(0,0,0,0.5); height: 100%;right: 0;left: 0;margin: auto;z-index: 9;}
.MaskMain{position: absolute;width:3.5rem;height: 100%;right: 0;left: 0;margin: auto;}
.Gor{position: absolute;width: 3.5rem;left: 0;right: 0;margin: auto;top: 1rem;}
.GroBtn0{position: absolute;width: 1.5rem;left: 0;top: 3.8rem; }
.GroBtn1{position: absolute;width: 1.5rem;right: 0;top: 3.8rem;  }