.model_logo {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    font-size: 24px !important;
    color: #333;
    position: relative;
    line-height: 60px !important;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../../../static/image/chinese/bg.png") repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
}
.r_main {
    border-radius: 10px;
    /*border: 1px solid #999;*/
    background: white;
    width:100%;
    margin-top:40px;
}
.r_title {
    text-align: center;
}
/***************文章*********************/
.r_detail{
    width: 94%;
    padding: 0 3% 60px;
    overflow: auto;
    min-height: 350px;
}
.r_detail p,.r_detail span{
    color: #666 !important;
    font-family: "Microsoft YaHei" !important;
    font-size: 16px !important;
    line-height: 30px !important;
}
.r_name{
    width: 94%;
    font-size: 24px !important;
    text-align: center;
    position: relative;
    margin: 40px auto 0;
}
.r_function{
    height: 60px;
    background: #fff;
    border-top: 1px solid #ccc;
    line-height: 60px !important;
}
.r_teacherword{
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #49b9df;
    color: #fff;
    font-size: 18px !important;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
    right: 0;
    top: -7px;
}
.r_teacherword:hover{
    background: #0fa7db;
}
/*********分享、打卡等****************************/
.r_issh{
    display: inline-block;
    width: 80px;
    height: 30px;
    border-right: 1px solid #ccc;
    margin-top: 15px !important;
    line-height: 30px;
    float: left;
}
.r_nosh {
    display: inline-block;
    width: 24px;
    margin-left: 25px !important;
    cursor: pointer;
}
.r_read{
    display: inline-block;
    width: 150px;
    height: 40px;
    background: #ccc;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-left: 20px !important;
    font-size: 18px;
    margin-top: 12px;
    cursor: pointer;
}
.r_word{
    display: inline-block;
    display: inline-block;
    width: 135px;
    height: 34px;
    background: url("../../image/test/test_word.png") no-repeat;
    text-align: center;
    line-height: 34px;
    color: #666;
    background-size: 100% 100%;
}
.ShareClose {
    float: right !important;
    font-size: 18px !important;
    color: #222;
    cursor: pointer;
}
/************************老师要求*********************/
.shark{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    display: none;
}
.teacher_redmine{
    width:620px;
    height:465px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -310px;
    margin-top: -232px;
    position: relative;
}
.teacher_redminename{
    width:100%;
    height: 70px;
    font-size: 20px!important;
    color: #49b9df;
    text-align: center;
    line-height: 70px!important;
}
.teacher_redmineword{
    width:495px;
    height:310px;
    border-radius: 10px;
    border:1px solid #ccc;
    margin:0 auto;
    line-height: 20px;
    font-size: 18px!important;
    color: #666;
    padding: 20px 20px;
}
.r_redmineClose{
    font-size: 24px;
    color: #333;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}
@media screen and (max-width: 1366px) {
    .r_function {
        width: 900px;
    }
}

@media screen and (min-width:1366px) and (max-width:1599px){
    .r_function {
        width: 1000px;
    }
}
@media screen and (min-width: 1600px){
    .r_function {
        width: 1200px;
    }
}
/*by李超*/
.letter_name{
    width:100%;
    text-align: center;
    margin: 40px 0px 16px;
    font-size: 24px;
    color: #333;
}
.auther{
    width:100%;
    text-align: center;
    margin-bottom: 40px;
    color: #666;
}