.r_title{
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #ccc;
}
.r_video{
    background:#fff;
    border-radius:10px;
    margin-top: 40px;
}
.r_guiding,.r_preview,.r_ttitle{
    padding: 20px 0 0 20px;
}
/*导学案试卷*/
.test_videoknown{
    width:96%;
    min-height: 100px;
    background: #fff;
    padding:0 2% 30px;
    margin-top: 40px!important;
    border-radius: 10px;
    overflow: hidden;
}
.test_videoknownname{
    width:100%;
    font-size: 20px!important;
    color: #333;
    margin-top: 20px!important;
    text-align: center;
    margin-bottom: 20px!important;
}
.test_knownsend{
    width:95px;
    height:30px;
    background: #ccc;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    margin:32px auto 0;
}
.test_knownpaper{
    width:100%;
    min-height:50px;
}

.video_content p,.optionchoose p{
    font-family: 'SimSun' !important;
}
.video_solve p{
    font-family: '楷体' !important;
}
/*基础知识*/
.r_guiding,.r_guiding p , .r_guiding span,.r_preview p,.r_preview span{
    font-size: 14px;
}
.questionTitle,.video_solve{
    margin-top: 5px!important;
}
.questionTitle img{
    max-width: 100%;
}
.questionTitle .wr_img{
    display: inline-block;
    width:25px;
}
.video_content {
    position: relative;
}
.questionanswer{
    position: absolute;
    left:-1000px;
}
.video_content{
    position: relative;
}
.quetion_imge{
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    margin-top: -30px;
    float: right;
    margin-right: 100px;
}
/*老师的要求*/
.test_line{
    position: relative;
    margin-top: 60px;
}
.test_wordname{
    width:150px;
    height:45px;
    border-radius: 10px;
    background: #49b9df;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    position: absolute;
    right:0;
    top:-15px;
    cursor: pointer;
}
.test_wordname:hover{
    width:150px;
    height:45px;
    border-radius: 10px;
    background: #0fa7db;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    position: absolute;
    right:0;
    top:-15px;
    cursor: pointer;
}
.questionTitle{
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 10px;
}
.questionTitle:hover{
    border: 1px solid #ccc;
    border-radius: 10px;
}
@media screen and (max-width: 1366px) {
    .r_video{
        width:900px;
    }
}

@media screen and (min-width:1366px) and (max-width:1599px){
    .r_video{
        width:1000px;
    }
}
@media screen and (min-width: 1600px){
    .r_video{
        width:1200px;
    }
}