.r_Main{
    border-radius:10px;
    background: white;
    width:100%;
    margin-top: 30px;
}
.r_kanalyze{
    font-size: 24px;
    margin: 10px 30px 0 30px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding: 40px 0 40px 0;
}
#r_echarts{
    width:500px;
    height:300px;
    float:left;
    top: -40px;
    padding: 40px 0 0 0;
}
.r_container{
    float: left;
}
.r_wTitle{
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
}
.r_subject{
    overflow: hidden;
    /*padding: 0 225px;*/
}
.r_subject li{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    display: inline;
    float: left;
    line-height: 30px;
 }
/*.r_subject li:hover{*/
    /*background: #fb8c00;*/
    /*color: #fff;*/
/*}*/
/*.r_subject li:first-child{*/
    /*background: #fb8c00;*/
    /*color: #fff;*/
/*}*/
.r_khead li {
    margin-bottom: -8px;
}
.r_khead > :first-child{
    width: 55%;
}
.r_khead > :last-child{
    width: 35%;
}
.r_kbody li{
    text-align: center !important;
}
.r_kbody >:first-child{
    width: 55%;
}
.r_kbody > :last-child {
    border-left: 1px solid #ccc;
    width: 35%;
}
.r_selectedTab{
    background: #fb8c00;
    color: #fff;
}
.r_noslectedTab{
    background: #fff;
    color:#999
}
.r_wanalyze{
    padding: 0 30px;
}
.r_wkownledge{
    padding-bottom: 40px;
}
@media screen and (max-width: 1366px) {
    .r_wkownledge,.r_wanalyze {
        width: 840px;
    }
    .r_pcircle{
        left:70%;
    }
    #r_echarts {
        margin-left: 38px;
    }
}

@media screen and (min-width:1366px) and (max-width:1599px){
    .r_wkownledge,.r_wanalyze {
        width: 940px;
    }
    .r_pcircle{
        left:65%;
    }
    #r_echarts {
        margin-left: 50px;
    }
}
@media screen and (min-width: 1600px){
    .r_wkownledge,.r_wanalyze {
        width: 1140px;
    }
    .r_pcircle{
        left:65%;
    }
    #r_echarts {
        margin-left: 90px;
    }
}
