body{background:white;font-family:STHeiTi;}
.p_main{width:9.22rem;min-height:7.6rem;padding:0 0.39rem;}
.p_main>p{width:100%;padding: 0.28rem 0 0.27rem 0;font-size:0.234rem;line-height:0.322rem;color:#222222;text-align:center;}
.p_paperTest{width:100%;height:auto;}
.p_question{font-size:0.176rem;line-height:0.361rem;color:#101010;}
.p_question li{position:relative;}
.on{color:#30C3A6;}
.p_content,.p_option{margin-left:0.29rem;}
.p_labels{background: #F8F8F8;font-size:0.156rem;padding-left:0.29rem;}
.p_labels ul li p{line-height:0.2734rem;height:0.2734rem;}
.p_src{position: absolute;right: 0.72rem;top: 1.21rem;}
.p_label,.p_label p{word-break:break-all;}
.p_label{margin-left:0.08rem;}
.p_order{position: absolute;}
