html,body{
    margin: 0;
    padding:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.notice_details_main{
    width:100%;
    height:100%;
    background: #f6f6f6;
    overflow-x: hidden;
    overflow-y: auto;
}
.n_detials_title{
    display: block;
    width:95.7%;
    height:0.976rem;
    border:1px solid #ccc;
    margin:0.26041rem 0.22041rem 0;
    background: #fff;
    border-radius: 0.065rem;
    font-size: 0.41667rem;
    color: #333;
    line-height: 0.976rem;
    display: flex;
    flex-flow: nowrap row;
}
/*三个标题*/
.n_students,.n_titledetailes,.n_sum{
    display: block;
    width:33%;
    float: left;
    text-align: center;
}
.n_students{
    margin-left:0.015rem;
}
.n_deccc{
    display: block;
    width:0.039rem;
    height:0.4882rem;
    background: #ccc;
    float: left;
    margin-top: 0.23953rem;
}
/*学生详情*/
.n_students_list{
    width:100%;
    min-height: 1.30208rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fff;
    font-size: 0.3225rem;
    line-height: 1.30208rem;
}
.n_details_name{
    display: inline-block;
    width:1.4rem;
    float: left;
    margin-left: 1.3rem;
    color: #666666;
}
.n_details_time{
    display: inline-block;
    width:1.953125rem;
    float: left;
    margin-left: 0.85104rem;
    color: #c9c9c9;
}
.n_details_number{
    display: inline-block;
    width:1.30208rem;
    float: left;
    margin-left: 1.913125rem;
    color: #333;
}
.n_details_number span{
    color: #ca0d0d;
}
/*圆圈选择*/
.n_choose,.n_write,.n_solve{
    width:100%;
    min-height: 3.05989rem;
    background: #f6f6f6;
}
.n_choosenamex,.n_writenamex,.n_solvenamex{
    width:100%;
    height:0.91145rem;
    font-size:0.41667rem;
    margin-left: 0.315rem;
    line-height: 1.02rem;
    color: #333;
}
/*圆圈*/
.n_chosseconx,.n_writeconx,.n_solveconx{
    width:100%;
    min-height:2.4796rem;
    /*padding-bottom: 0.3255rem;*/
    background: #fff;
    display: flex;
    flex-flow:row wrap;
}
/*错误率*/
.n_numbersort{
    width:100%;
    min-height:2.4796rem;
    background: #fff;
    display: flex;
    flex-flow:row wrap;
    margin-top: 0.29296rem;
}
.sideContent{
    display: block;
    width:1.953125rem;
    height:1.953125rem;
    float: left;
    margin-left: 0.4255rem;
    text-align: center;
}
canvas{
    display: block;
    width:1.30208rem;
    height:1.30208rem;
    margin:0.3055rem auto 0;
}
.prg_titlenum{
    display: inline-block;
    width:100%;
    /*height:0.3255rem;*/
    font-size: 0.3320rem;
    float: left;
    color: #333;
    margin-top: 0.01rem;
}
/*按错误率排序*/
.n_prentsent{
    width:100%;
    height:1.04166rem;
    background: #fff;
    font-size: 0.41667rem;
    color: #666666;
    line-height: 1.04166rem;
    margin-top: 0.2604rem;
    /*text-align: center;*/
}
.n_falsepresentimg{
    display: inline-block;
    width:0.55989rem;
    height:0.55989rem;
    float: left;
    margin:0.29296rem 0.32552rem 0 3.3203rem;
    background: url("../../image/notice/n_falsepresent.png") no-repeat;
}
.n_titlepresent{
    display: inline-block;
    width:0.55989rem;
    height:0.55989rem;
    float: left;
    margin:0.29296rem 0.32552rem 0 3.3203rem;
    background: url("../../image/notice/n_titlepresent.png") no-repeat;
}
/*综合分析*/
.n_noticealysis_title{
    width:100%;
    height: 0.911rem;
    font-size: 0.46875rem;
}
.n_noticealysis_accuracy{
    width:100%;
    height:1.75781rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 0.26041rem;
}
/*名称部分*/
.n_noticealysis_title{
    width:4.23177rem;
    height: 1.69270rem;
    float: left;
    font-size: 0.3776rem;
    text-align: center;
    line-height:1.69270rem;
    color: #333;
}
.n_alaysccc{
    width:0.02rem;
    height:1.30208rem;
    float: left;
    margin-top: 0.29rem;
    background: #ccc;
}
.n_noticealysis_t{
    width:5.30598rem;
    height: 1.3028rem;
    float: left;
    font-size: 0.3320rem;
    margin-top: 0.29rem;
    color: #666;
    margin-left: 0.3320rem;
}
.n_noticealysis_tl,.n_noticealysis_tac{
    display: block;
    width:100%;
    height:0.65104rem;
    line-height: 0.65104rem;
    overflow: hidden;
}
.n_noticealysis_tnum{
    color: #333;
}
/*进度*/
.n_noticealysis_progress{
    width:2.89713rem;
    height: 0.1302208rem;
    background: #ddd;
    -weblit-border-radius: 50%;
}::-webkit-progress-bar { background: #e6e6e6; }
.n_noticealysis_progress::-webkit-progress-value  { background: #65b113; }
.n_noticealysis_progressname,.n_noticealysis_progress,.n_noticealysis_progressprent{
    display: block;
    float: left;
}
.n_noticealysis_progress{
    margin-top: 0.26rem;
}
.n_noticealysis_progressprent{
    margin-left: 0.1953rem;
    color: #65b113;
}