/*
 * Echonessy
 * Reset Css
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-weight: normal;
  vertical-align: baseline;
}
strong span,strong p,strong div{font-weight: bold}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #333;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
a:active{
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fc65 {color: #65B113 !important;}
.dino{display:none;}
.fl{float: left}
.fr{float: right}
.unline{text-decoration: underline}
.fc58{color: #58C1E4 !important}
.Com_Gold{
  width: 100%;
  text-align: center;
  height: 150px;
  overflow: hidden;
  position: fixed;
  bottom: -150px;
  left: 0;
  z-index: 99999999;}
.Com_GoldImg{width: 80px;}
.Com_GoldNum{
  font-size: 18px;
  margin-top: 15px;
  font-family: "微软雅黑";
  color: #666;
}
.spriteImg{background: url("../images/sprite/spriteImg.png") 0 0 no-repeat;}
.c_closeico{
  height: 20px;
  width: 19px;
  background-position: -700px -221px;
}
.searchico{
  height: 47px;
  width: 47px;
  background-position: -132px -149px;
}
.i_downico{
  height: 8px;
  width: 14px;
  background-position: -168px 0;
}
.lh40{line-height: 40px !important;}
.mt30{margin-top: 30px !important;}
.i_slcico0{height:20px;width:21px;background-position:-695px -106px;cursor: pointer;float: left;margin-right: 10px;}
.i_slcico1{height:20px;width:21px;background-position:-698px -137px;cursor: pointer;float: left;margin-right: 10px;}
.i_slcico2{height:24px;width:24px;background-position:-697px -170px;cursor: pointer;float: left;margin-right: 10px;}
img{vertical-align: middle;max-width: 100%;}
.bd1 {border: 1px solid #ccc;}
.c_Crumgoico{height:12px;width:13px;background-position:-164px -36px;}
.s_rightico{height:30px;width:14px;background-position:-121px 0;}
.s_delico{height:14px;width:14px;background-position:-147px 0;}
.i_downico{height:8px;width:14px;background-position:-168px 0;}
.c_Sliistico{height:24px;width:14px;background-position:-195px 0;}
.s_leftico{height:30px;width:14px;background-position:-193px -40px;}
.s_selico{height:9px;width:15px;background-position:-153px -60px;}
.s_Rico{height:20px;width:15px;background-position:-108px -40px;}
.s_Lico{height:20px;width:15px;background-position:-77px -39px;}
.c_ClassUico{height:27px;width:51px;background-position:-65px -157px;}
.r_mailico{height:47px;width:60px;background-position:-63px -193px;}
.backtopico{height:55px;width:72px;background-position:0 -89px;}
.s_addico1{height:72px;width:72px;background-position:-231px 0;}
.s_teacherico{height:20px;width:76px;background-position:-233px -85px;}
.c_titico{height:35px;width:177px;background-position:-131px -203px;}
.moreico{height:16px;width:16px;background-position:-2px -17px;}
.c_delclassico{height:14px;width:14px;background-position:-91px -72px;}
.p_timeico{height:9px;width:13px;background-position:-651px -174px;}
.p_gupico{height:10px;width:14px;background-position:-656px -104px;}
.c_ruleico{height:18px;width:18px;background-position:-649px -135px;}
.p_delico1{height:19px;width:19px;background-position:-326px -93px;}
.p_delico0{height:19px;width:19px;background-position:-325px -67px;}
.p_testico{height:21px;width:21px;background-position:-647px -200px;}
.p_editico1{height:24px;width:24px;background-position:-323px 0;}
.p_editico0{height:24px;width:24px;background-position:-324px -34px;}
.p_wrico0{height:27px;width:26px;background-position:-445px -39px;}
.p_wrico1{height:27px;width:26px;background-position:-478px -38px;}
.p_optico0{height:28px;width:28px;background-position:-402px -87px;}
.c_optico1{height:28px;width:28px;background-position:-513px -42px;}
.s_Delico1{height:29px;width:29px;background-position:-121px -94px;}
.s_Delico0{height:29px;width:29px;background-position:-84px -94px;}
/*弹出框*/
.Shade{width: 102%;overflow: auto;top: 0; height: 100%;display: none; position: fixed;z-index: 18; background: black;background: rgba(0,0,0,0.5);}
.c_Dissolve{width: 355px;height: 120px;border-radius: 10px;z-index: 19999;display: none; position: fixed;bottom: 0;top:0;left: 0;right: 0;margin: auto; line-height: 120px;color: white; text-align: center;font-size: 24px;background: black;background: rgba(0,0,0,0.5);}
.c_SearchC{width: 102%;z-index: 999; overflow: auto;top: 0; height: 100%; position: fixed; background: black;background: rgba(0,0,0,0.5);}
.c_CopyBtn{width: 150px;float: right;cursor: pointer; height: 45px;font-size: 18px; background: #65B113;margin: 35px 20px 0 0; border-radius: 10px;text-align: center;line-height: 50px;color: white; box-sizing: border-box;outline: none;border: 0;}
.c_closeimg0{float: left;position: absolute;top: 20px;right: 20px;cursor: pointer;}
.c_classCopy{position:absolute;top:350px;left:480px;font-size: 30px;color: orange;}
@media screen and (max-width:1366px){
  .c_Invited{width: 700px;height: 415px;box-sizing: border-box;padding-right: 35px ;padding-left: 340px; background: url("../../teacher/images/classmanage/c_invit900.png")0 0 no-repeat;position: absolute;top:0;bottom: 0; left: 0;right: 0;margin: auto;overflow: hidden;}
  .c_InvitedMsg{width:435px;float: right;font-size: 14px; margin-top: 129px;line-height: 30px;}
  .c_CopyBtn{width: 115px;float: right;cursor: pointer; height: 35px;font-size: 14px; background: #65B113;margin: 20px 20px 0 0; border-radius: 10px;text-align: center;line-height: 35px;color: white; box-sizing: border-box;outline: none;border: 0;}

}
@media screen and (min-width:1366px){
  .c_Invited{width: 700px;height: 415px;box-sizing: border-box;padding-right: 35px ;padding-left: 340px; background: url("../../teacher/images/classmanage/c_invit900.png")0 0 no-repeat;position: absolute;top:0;bottom: 0; left: 0;right: 0;margin:  auto;overflow: hidden;}
  .c_InvitedMsg{width:435px;overflow: hidden; float: right;font-size: 16px; margin-top: 111px;line-height: 30px;}
  .c_CopyBtn{width: 125px;float: right;cursor: pointer; height: 40px;font-size: 16px; background: #65B113;margin: 20px 20px 0 0; border-radius: 10px;text-align: center;line-height: 40px;color: white; box-sizing: border-box;outline: none;border: 0;}
}
@media screen and (min-width:1600px){
  .c_Invited{width: 820px;height: 485px;  box-sizing: border-box;padding-right: 35px ;padding-left: 340px; background: url("../../teacher/images/classmanage/c_invit1200.png")0 0 no-repeat;position: absolute;top:0;bottom: 0; left: 0;right: 0;margin:  auto;overflow: hidden;}
  .c_InvitedMsg{width:525px;float: right;font-size: 18px; margin-top: 133px;line-height: 35px;}
  .c_CopyBtn{width: 150px;float: right;cursor: pointer; height: 45px;font-size: 16px; background: #65B113;margin: 20px 20px 0 0; border-radius: 10px;text-align: center;line-height: 40px;color: white; box-sizing: border-box;outline: none;border: 0;}
}
.s_addico0{height:26px;width:26px;background-position:-159px -116px;}
.s_Delico1{height:29px;width:29px;background-position:-121px -94px;}
.s_Delico0{height:29px;width:29px;background-position:-84px -94px;}
.c_navico{height:11px;width:30px;background-position:-77px -132px;}
.num{background:url('../images/sprite/num.png')  no-repeat;}
._1{height:96px;width:16px;background-position:0 0;}
._7{height:88px;width:47px;background-position:0 -96px;}
._3{height:95px;width:47px;background-position:0 -184px;}
._8{height:95px;width:52px;background-position:0 -279px;}
._4{height:82px;width:52px;background-position:0 -374px;}
._0{height:95px;width:52px;background-position:0 -456px;}
._9{height:95px;width:53px;background-position:0 -551px;}
._2{height:95px;width:53px;background-position:0 -646px;}
._5{height:95px;width:53px;background-position:0 -741px;}
._6{height:95px;width:53px;background-position:0 -836px;}
/*批改作业*/
.correct{background:url("../images/sprite/correct_sprite.png")  no-repeat;}
.h_trangularico{height:13px;width:26px;background-position:0 0;}
.h_lateico{height:38px;width:38px;background-position:0 -13px;}
.h_penico_gray{height:40px;width:41px;background-position:0 -51px;}
.h_penico_yellow{height:41px;width:41px;background-position:0 -91px;}
.h_leftico_green{height:46px;width:46px;background-position:0 -132px;}
.h_rightico_gray{height:46px;width:46px;background-position:0 -178px;}
.h_rightico_green{height:46px;width:46px;background-position:0 -224px;}
.h_leftico_gray{height:46px;width:46px;background-position:0 -270px;}
.h_eraserico_gray{height:34px;width:48px;background-position:0 -316px;}
.h_eraserico_yellow{height:34px;width:48px;background-position:0 -350px;}
.h_wrong_label{height:25px;width:50px;background-position:0 -384px;}
.h_wrong_gray{height:25px;width:50px;background-position:0 -409px;}
.h_halfright_gray{height:25px;width:50px;background-position:0 -434px;}
.h_right_label{height:25px;width:50px;background-position:0 -459px;}
.h_right_gray{height:25px;width:50px;background-position:0 -484px;}
.h_halfright_label{height:25px;width:50px;background-position:0 -509px;}
.h_rotateico{height:58px;width:56px;background-position:0 -534px;}
/*备课中心-视频雪碧图*/
.p_spriteImg{background:url(/static/common/images/sprite/p_VideoSpriteImg.png)0 0 no-repeat;}
.p_yetshareico{height:23px;width:23px;background-position:-32px 0;}
.p_shareico{height:23px;width:23px;background-position:0 0;}
.p_Praiseico{height:24px;width:24px;background-position:0 -32px;}
.p_video2ico{height:24px;width:24px;background-position:-64px 0;}
.p_videoico{height:24px;width:24px;background-position:-64px -32px;}
.p_yetPraiseico{height:24px;width:24px;background-position:-32px -32px;cursor: pointer;}
.p_rightico{height:70px;width:30px;background-position:-104px 0;}
.p_leftico{height:70px;width:30px;background-position:-144px 0;}
.p_hoverRightico{height:70px;width:30px;background-position:-184px 0;}
.p_hoverLeftico{height:70px;width:30px;background-position:-224px 0;}
.p_AnswerWrongico{height:43px;width:39px;background-position:-264px 0;}
.p_briefico{height:36px;width:44px;background-position:-377px 0;}
.p_AnswerRightico{height:39px;width:46px;background-position:-320px 0;}
.p_video3ico{height:60px;width:60px;background-position:-433px 0;}
.p_shareQQico{height:80px;width:80px;background-position:0 -97px;}
.p_shareWeiboico{height:80px;width:80px;background-position:-96px -96px;}
.p_shareWeixinico{height:80px;width:80px;background-position:-191px -96px;}
.p_shareQQZoneico{height:80px;width:80px;background-position:-288px -96px;}
.p_newico{height:84px;width:82px;background-position:-383px -96px;}

