@media screen and (min-width: 1600px){
    .container{
        width:1200px;
        min-height:768px;
        height:auto;
        border-radius: 10px;
        background: #fff;
        margin:0 auto;
    }
    .test_nav{
        width:1100px;
        margin-left: 100px;
        height:auto;
    }
    .test_nav ._levelName{
        float:left;
        margin-right:10px;
        height:80px;
        line-height:80px;
        font-size: 18px;
    }
    .test_nav .level{
        float: left;
        width:auto;
        height:80px;
        line-height:80px;
        font-size: 18px;
        margin:0 20px;
    }
}