@media screen and (min-width: 1600px) {
    .s_progressBar {
        width: 350px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .s_progressBar .s_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .c_progressBar {
        width: 350px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .c_progressBar .c_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .workList {
        width: 1200px;
        height: auto;
        margin: 0 auto;
        background: #fff;
    }

    .listLi {
        height: 140px;
        line-height: 140px;
        width: 1150px;

        border-bottom: 1px solid #ddd;
    }

    .listLi .workList {
        overflow: hidden;
    }

    .listLi .workList li {
        float: left;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .deadlineTime {
        text-align: left;
    }

    .assignTime {
        width: 150px;
    }

    .Title {
        width: 200px;
    }

    .classes {
        width: 200px;
    }

    .clickIn {
        width: 70px;
    }

    .subAndCorrectBox {
        width: 500px;
        line-height: 40px;
    }

    .listLi .workList li .submitWork {
        overflow: hidden;
    }

    .listLi .workList li .submitWork ._name {
        float: left;
        margin-right: 10px;
    }

    .listLi .workList li .submitWork div {
        float: left;
    }

    .listLi .workList li .correctWork {
        overflow: hidden;
    }

    .listLi .workList li .correctWork ._name {
        float: left;
        margin-right: 10px;
    }

    #kkpager {
        width: 1000px;
        margin: 0 auto;
        position: fixed;
        bottom: 100px;
        left: 370px;
    }
}

@media screen and (min-width: 1366px) and (max-width:1599px){
    .s_progressBar {
        width: 300px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .s_progressBar .s_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .c_progressBar {
        width: 300px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .c_progressBar .c_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .workList {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        background: #fff;
    }

    .listLi {
        height: 140px;
        line-height: 140px;
        width: 1000px;

        border-bottom: 1px solid #ddd;
    }

    .listLi .workList {
        overflow: hidden;
    }

    .listLi .workList li {
        float: left;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .deadlineTime {
        text-align: left;
    }

    .assignTime {
        width: 160px;
    }

    .Title {
        width: 200px;
    }

    .classes {
        width: 160px;
    }

    .clickIn {
        width: 60px;
    }

    .subAndCorrectBox {
        width: 380px;
        line-height: 36px;
    }

    .listLi .workList li .submitWork {
        overflow: hidden;
    }

    .listLi .workList li .submitWork ._name {
        float: left;
        margin-right: 10px;
    }

    .listLi .workList li .submitWork div {
        float: left;
    }

    .listLi .workList li .correctWork {
        overflow: hidden;
    }

    .listLi .workList li .correctWork ._name {
        float: left;
        margin-right: 10px;
    }

    #kkpager {
        width: 900px;
        margin: 0 auto;
        position: fixed;
        bottom: 100px;
        left: 300px;
    }
}


@media screen and (max-width: 1365px){
    .s_progressBar {
        width: 240px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .s_progressBar .s_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .c_progressBar {
        width: 240px;
        height: 20px;
        background: #ccc;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 14px auto;
        float: left;
    }

    .c_progressBar .c_progress {

        display: block;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;
        background: #59c1e4;
    }

    .workList {
        width: 900px;
        height: auto;
        margin: 0 auto;
        background: #fff;
    }

    .listLi {
        height: 140px;
        line-height: 140px;
        width: 900px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
    }

    .listLi .workList {
        overflow: hidden;
    }

    .listLi .workList li {
        float: left;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .deadlineTime {
        text-align: left;
    }

    .assignTime {
        width: 140px;
    }

    .Title {
        width: 200px;
    }

    .classes {
        width: 140px;
    }

    .clickIn {
        width: 60px;
    }

    .subAndCorrectBox {
        width: 320px;
        line-height: 36px;
    }

    .listLi .workList li .submitWork {
        overflow: hidden;
    }

    .listLi .workList li .submitWork ._name {
        float: left;
        margin-right: 10px;
    }

    .listLi .workList li .submitWork div {
        float: left;
    }

    .listLi .workList li .correctWork {
        overflow: hidden;
    }

    .listLi .workList li .correctWork ._name {
        float: left;
        margin-right: 10px;
    }

    #kkpager {
        width: 800px;
        margin: 0 auto;
        position: fixed;
        bottom: 100px;
        left: 200px;
    }
}