.h_Main{width: 10rem;float: left;position: fixed;height: 100%; background: #F6F6F6;overflow-y: scroll;overflow-y: auto}
.h_List{width: 100%;box-sizing: border-box;padding-left: 0.26041rem; float: left;margin-top: 0.28646rem;border: 1px solid #CCC;border-right: 0;border-left: 0;  background: white;}
.h_li{width: 100%;height: 1.06771rem;padding-right: 0.22787rem; float: left;box-sizing: border-box; border-top: 1px solid #CCC; }
.h_li:first-child{border-top: 0; }
a{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: #fff;
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.rightImg{width: 0.26042rem;float: right;margin-top: 0.29948rem;}
.h_title{font-size: 0.41rem;float:left;line-height: 1.06771rem;color: #666;}
.h_btn{width: 8.9583rem;height: 1.07422rem;float: left;margin-top:1.21764rem;margin-left:0.52rem;border-radius:0.13021rem ; background: #65B113;outline: none;border: 0;font-size: 0.41rem;color: white;text-align: center;line-height: 1.07422rem;}
.h_btn:hover{ background: #52930C;}
.p_List{width: 100%;box-sizing: border-box;padding: 0.45573rem; float: left;border: 1px solid #CCC;border-right: 0;border-left: 0;  background: white;}
.p_List li{width: 100%;box-sizing: border-box;color: #333;float: left;margin-top: 0.45573rem;font-size: 0.37761rem;line-height: 0.59594rem;}
.p_List li:first-child{margin-top: 0;}
.uplist{width: 100%;box-sizing: border-box;padding: 0.45573rem; float: left;font-size: 0.4rem;line-height: 1rem;  margin-top: 0.28646rem;border: 1px solid #CCC;border-right: 0;border-left: 0;  background: white;}
.rulelist{border: 1px solid #ccc;box-sizing: border-box;width: 100%;float: left;}
.rulelist li{box-sizing: border-box;width:12.5%;line-height: 1rem; float: left;text-align: center;color: #333; height: 1rem;border-right: 1px solid #ccc;}
.rulelist li:nth-child(7){border-right:0;}
.rulelist li:nth-child(14){border-right:0;}
.rulelist li:nth-child(1){width: 25%;}
.rulelist li:nth-child(8){width: 25%;}
.rulelist li:nth-child(-n+7){border-bottom: 1px solid #ccc;}
.h_introTitle{padding:0 0.45573rem ;float:left;width: 100%;margin-top: 0.28646rem; box-sizing: border-box;text-align: left;height: 1rem;line-height: 1rem;font-size: 0.45rem;color: #333;}

