<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批改作业详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/JobTest/CorrecAnswer.css">
</head>
<body>
<div class="CorrecAnswer" id="CorrecAnswer">
    <div class="CorrecAnswerConcent">
        <div class="Question">
            <label></label>
            <div class="CorrecAnswerTopic" v-for="data in datas" v-if="data.questionType == 01" v-html="data.content.replace('【题干】','' )"></div>
            <div class="CorrecAnswerUl" v-for="data in datas" v-if="data.questionType == 01 && data.optionA != undefined">
                <div class="choose" v-html="data.optionA"></div>
                <div class="choose" v-html="data.optionB"></div>
                <div class="choose" v-html="data.optionC"></div>
                <div class="choose" v-html="data.optionD"></div>
            </div>
            <div class="CorrecAnswerC" v-for="data in datas" v-if="data.questionType == 03 || data.questionType == 05">
                <div class="CorrecAnswerRate" v-for="data in datas" v-if="data.questionType == 03">【正确答案】</div>
                <div class="CorrecAnswerLeft" v-for="data in datas" v-if="data.questionType == 03" v-html="data.content.replace('【答案】','' )"></div>
                <div class="CorrecAnswerRate" v-for="data in datas" v-if="data.questionType == 05">【文字解析】</div>
                <div class="CorrecAnswerLeft" v-for="data in datas" v-if="data.questionType == 05" v-html="data.content.replace('【解析】','' )"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../static/javascript/JobTest/CorrecAnswer.js"></script>
</html>