<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布置测试</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/JobTest/TestPaper.css">
</head>
<body>
<div class="TestPaper" id="TestPaper">
    <div class="TestPaperContent">
        <div class="TestPaperTitle">
            <p class="TestPaperTitleWord">
                <!--题目-->
            </p>
            <p class="TestPaperInfo">
                <!--时间-->
                <span class="TestPaperTime">时间: {{paperTime}}分钟</span>
                <span class="TestPaperScore" v-if="paperScore != 0 &&  paperScore != null ">分数: {{paperScore}}分</span>
            </p>
        </div>
        <div class="TestPaperDeposit">
            <!--存放试卷-->
            <div class="questionLines" v-for="(data,index) in datas">
                <div class="questionTopic">
                    <span></span>
                    <span class="TestPaperLineName">{{data.lineName}}</span>
                </div>
                <div class="questionGroup" v-for="Group in  data.questionGroup">
                    <label class="GroupLabel" v-if="Group.content != null && Group.isSplite == 0"></label>
                    <div class="questionContent" v-if="Group.content != null" v-html="Group.content.replace('【材料】', '')"></div>
                    <div class="question" v-for="question in Group.questions">
                        <label class="questionLabel" v-if="(Group.content != null && Group.isSplite == 1) || (Group.content == null && Group.isSplite == 0)"></label>
                        <div class="questionTitle" v-html="question.questionTitle.replace('【题干】','')"></div>
                        <div class="TestPaperOptions" v-if="question.optionA">
                            <div class="choose" v-html="question.optionA" ></div>
                            <div class="choose" v-html="question.optionB" ></div>
                            <div class="choose" v-html="question.optionC" ></div>
                            <div class="choose" v-html="question.optionD" ></div>
                        </div>
                        <div class="TestPaperLook" v-if="Group.groupCode == null || (Group.groupCode != null && Group.isSplite == 1)">
                            <div class="TestPaperLookUp down" @click="View($event)">
                                <span class="TestPaperLookWord">查看解析</span>
                                <img class="TestPaperdown" src="../../static/images/JobTest/up.png"/>
                            </div>
                        </div>
                        <div class="TestPaperAnswer" v-if="Group.groupCode == null || (Group.groupCode != null && Group.isSplite == 1)">
                            <div class="TestPaperRate" v-for="label in question.labels" v-if="label.questionType == '03'">【正确答案】</div>
                            <div class="TestPaperLeft" v-for="label in question.labels" v-if="label.questionType == '03'" v-html="label.content.replace('答案','').replace('【','').replace('】','')"></div>
                            <div class="TestPaperRate" v-for="label in question.labels" v-if="label.questionType == '05'">【文字解析】</div>
                            <div class="TestPaperLeft" v-for="label in question.labels" v-if="label.questionType == '05'" v-html="label.content.replace('解析','').replace('【','').replace('】','')"></div>
                        </div>
                    </div>
                    <div class="TestPaperLook" v-if="Group.groupCode != null && Group.isSplite == 0">
                        <div class="TestPaperLookUp down" @click="View($event)">
                            <span class="TestPaperLookWord">查看解析</span>
                            <img class="TestPaperdown" src="../../static/images/JobTest/up.png"/>
                        </div>
                    </div>
                    <div class="TestPaperAnswer" v-if="Group.groupCode != null && Group.isSplite == 0">
                        <div class="TestPaperRate" v-for="labels in Group.labels" v-if="labels.questionType == '03'">【正确答案】</div>
                        <div class="TestPaperLeft" v-for="labels in Group.labels" v-if="labels.questionType == '03'" v-html="labels.content.replace('答案','').replace('【','').replace('】','')"></div>
                        <div class="TestPaperRate" v-for="labels in Group.labels" v-if="labels.questionType == '05'">【文字解析】</div>
                        <div class="TestPaperLeft" v-for="labels in Group.labels" v-if="labels.questionType == '05'" v-html="labels.content.replace('解析','').replace('【','').replace('】','')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../static/javascript/JobTest/englishPaper.js"></script>
</html>