<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阅读报告</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../../plugin/vue.js"></script>
    <script src="../../plugin/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/common.js"></script>
    <link rel="stylesheet" href="../../static/style/common.css">
    <link rel="stylesheet" href="../../static/style/JobTest/ReadingReport.css">
</head>
<body>
<div class="ReadingReport" id="ReadingReport">
    <div class="ReadingReportContent">
        <ul class="ReadingReportTopic thead">
            <li>序号</li>
            <li>姓名</li>
            <li>用时</li>
            <li>日期</li>
        </ul>
        <div class="ReadingReportList">
            <ul class="tbody" v-for="(data,index) in datas" :class="data.date == null ? addColor : '' ">
                <li>{{++index}}</li>
                <li>{{data.userName}}</li>
                <li>
                    <span v-if="data.useTime == '--'">00:00:00</span>
                    <span v-else="data.useTime == '--'">{{ComTime(data.useTime)}}</span>
                </li>
                <li>
                    <span v-if="data.date">{{data.date}}</span>
                    <span v-else="data.date">未交</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../../static/javascript/JobTest/ReadingReport.js"></script>
</html>