/*作业报告首页*/
.w_Main{margin: 0 auto;box-sizing: border-box;overflow: hidden;padding: 0;font-family: "Microsoft YaHei";position: relative; }
@media screen and (max-width:1366px){
    .w_Main{width: 900px;}
}
@media screen and (min-width:1366px){
    .w_Main{width: 1000px;}
}
@media screen and (min-width:1600px){
    .w_Main{width: 1200px;}
}
.AnswerBox{position: relative; text-align: center;}
.AnswerImg{position: absolute;top: 0;left: 0; width: 100%;z-index: 5;}
.w_PaperBox{float: left;margin-top: 30px; background: white; overflow: hidden; width: 100%; ;;border-radius: 10px;}
.w_PaperData{width: 100%;box-sizing: border-box;line-height: 60px;font-size: 18px;float: left;height: 60px;background: url("../../../static/image/workpaper/w_bg0.jpg")0 0 repeat;}
.w_PaperData li{width: 25%;float: left;height: 60px;text-align: center;}
.w_PaperList{float: left;box-sizing: border-box;padding-bottom: 40px; width: 100%;height: 645px; color: #333; background: white;  overflow: hidden;}
.w_PaperList>li{float: left;box-sizing: border-box; border: 1px solid white;border-bottom: 1px solid #ccc; width: 100%;height: 40px;text-align: center;line-height: 40px;}
.w_PaperList>li:nth-child(2n+1){background: white;}
.w_PaperList>li:nth-child(2n){background: #F6F6F6;}
.w_PaperList p{float: left;width: 25%;height: 100%;font-size: 14px;color: #666;position: relative;text-align: center;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }
.w_PaperList li p:nth-child(3){text-align: left;}
.w_PaperList p img{vertical-align:middle;margin-right: 8px;}
.w_Looka0{color: #58C1E4;cursor: pointer; }
.w_Looka1{width: 90px;display: none;cursor: pointer; height: 30px; color: white;position: absolute;top: 0;bottom: 0;left: 0;right: 0;line-height: 30px;  margin: auto;border-radius: 10px;background: #65B113;}
.Paging{width: 800px;margin: 0 auto;clear: both;}
/*阅读报告*/
.w_ReadMain{float: left;margin-top: 30px; background: white; overflow: hidden; width: 100%; ;border-radius: 10px;}
.w_ArtName{width: 100%;position: relative; color: #333;text-align: center; box-sizing: border-box;line-height: 60px;float: left;height: 60px;background: url("../../../static/image/workpaper/w_bg0.jpg")0 0 repeat;}
.w_WorkTitle{width: 100%;box-sizing: border-box;float: left;height: 55px;background:#F6F6F6; }
.w_WorkTitle li{width: 33.3%;color: #333;text-align: center; box-sizing: border-box;line-height: 55px;float: left;height: 55px;}
.w_StudentReport{float: left;width: 100%;box-sizing: border-box;}
.w_StudentReport li{float: left;width: 100%;height: 40px;line-height: 40px;}
.w_StudentReport li p{float: left;width: 33.3%;font-size: 14px;height: 40px;line-height: 40px;text-align: center;color: #666;}
.w_StudentReport>li:nth-child(2n+1){background: white;}
.w_StudentReport>li:nth-child(2n){background: #F6F6F6;}

/*预习测试和阅读报告公共*/
@media screen and (max-width:1366px){
    .w_StudentPro{width: 150px;height: 12px;right:80px;}
    .w_ArtName{font-size: 16px;}
    .w_WorkTitle li{font-size: 14px;}
    .w_ReportNum{right: 20px;}
    .w_UnDoneMain{width: 300px;right: 20px;}
    .w_UnDoneTitle{float: left;width: 100%;height: 40px;line-height: 40px;font-size: 16px;}
    .w_UnDoneList li{font-size: 14px;height: 30px ;line-height:30px }
    .AnswerBox{width: 700px; height: 474px;}
}
@media screen and (min-width:1366px){
    .w_StudentPro{width: 180px;height: 13px;right:100px;}
    .w_ArtName{font-size: 18px;}
    .w_WorkTitle li{font-size: 16px;}
    .w_ReportNum{right: 30px;}
    .w_UnDoneMain{width: 330px;right: 30px;}
    .w_UnDoneTitle{float: left;width: 100%;height: 40px;line-height: 40px;font-size: 20px;}
    .w_UnDoneList li{font-size: 16px;height: 40px ;line-height:40px }
    .AnswerBox{width: 780px; height: 542px;}
}
@media screen and (min-width:1600px){
    .w_StudentPro{width: 215px;height: 15px;right:140px;}
    .w_ArtName{font-size: 24px;}
    .w_WorkTitle li{font-size: 18px;}
    .w_ReportNum{right: 40px;}
    .w_UnDoneMain{width: 370px;right: 40px;}
    .w_UnDoneTitle{float: left;width: 100%;height: 60px;line-height: 60px;font-size: 24px;}
    .w_UnDoneList li{font-size: 18px;height: 50px ;line-height:50px }
    .AnswerBox{width: 900px; height: 607px;}
}
.w_StudentPro{;cursor: pointer; border-radius: 8px;overflow: hidden; background: #ccc;position: absolute;bottom: 0;top: 0;margin: auto; }
.w_SProgress{float: left;height: 100%;width: 0;background: #65B113;}
.w_ReportNum{position: absolute;bottom: 0;top: 0;margin: auto;}
.w_UnDoneMain{z-index: 5; position: absolute;top: 59px; display: none; box-sizing: border-box;padding-bottom: 30px; min-height: 50px;background: #F6F6F6;border-radius: 10px;border: 1px solid #ccc;}
.w_UnDoneImg{position: absolute;top: -20px; right: 0;left: 0;margin: auto;}
.w_UnDoneList{float: left;width: 100%; }
.w_UnDoneList li{float: left;width: 30%;margin: 0 1.5%;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; color: #666;text-align: center;font-size: 14px;height: 30px ;line-height:30px;}
/*视频报告*/
@media screen and (max-width:1366px){
    .w_VideoTitle{font-size: 20px;}
}
@media screen and (min-width:1366px){
    .w_VideoTitle{font-size: 22px;}
}
@media screen and (min-width:1600px){
    .w_VideoTitle{font-size: 18px;}
}
.w_VideoTitle{width: 100%;float: left;padding-left: 30px; height: 55px;line-height: 55px; background: #F6F6F6;box-sizing: border-box;color: #333;}
.w_VideoBasic{width: 100%;float: left; box-sizing: border-box;background: white;padding: 0 60px 30px 30px;}
.w_VideoBasic li{width: 100%;position: relative; float: left; box-sizing: border-box;background: white;margin-bottom: 40px;line-height: 35px;}
.w_VideoBasic li,.w_VideoBasic li div,.w_VideoBasic li p{font-family: "宋体", "\5B8B\4F53";}
.w_VideoBasic li div.ErrorRate,.w_VideoBasic li div.ErrorRate p{font-family: "楷体", "楷体_GB2312";}
.w_correctProportion{position: absolute;right: 30px;bottom: 0;color: #333; height: 40px;line-height: 40px;width: 60px;text-align: right;}
.w_Option{position: relative;}
.ErrorRate{;position: relative;}
.w_OptionbBox{position: relative;}
.w_BasicYes{position: absolute;left: -5px;top: 13px;}
.stem .p2:nth-child(1){float: left;}
/*.stem p{display: inline;}*/
.w_VideoBasic ,.w_VideoBasic p,.w_VideoBasic span{font-size: 14px;}
/*作业报告*/
.w_OtherTitle{width: 100%;float:left;margin-top:30px;font-size: 24px;text-align: center;color: #333;}
.w_OtherDataTitle{width: 100%;float:left;margin-top:10px;margin-bottom: 30px; font-size: 18px;text-align: center;color: #666;}
.w_OtherTab{float: left;width: 100%;text-align: center;}
.w_OtherTab li{float: left;cursor: pointer;border-radius: 10px; width: 25%; height: 45px;line-height: 45px;box-sizing: border-box;overflow: hidden; text-align: center;font-size: 18px;margin: 0 4%;}
.w_Tabbg0{background: #65b113;color: white;}
.w_Tabbg1{background:url("../../../static/image/workpaper/w_tabbg.jpg")0 0 repeat;color: #333;border: 1px solid #ccc;}
.w_TabMain{width: 100%;float: left;}
.w_TabMainBox{width: 100%;float: left;background: white;box-sizing: border-box; margin-top: 40px; overflow: hidden;;border-radius: 10px;}
.w_HomeWorkTitle,.w_OtherListTitle{width: 100%;height: 60px;border-bottom: 1px solid #ccc; float: left; background: url("../../../static/image/workpaper/w_titbg.jpg")0 0 repeat;}
.w_OtherListTitle li{width: 25%;text-align: center;line-height: 60px; color: #333;height: 60px;float: left;}
.w_OtherStudent{width: 100%;float: left;padding-bottom: 30px;}
.w_OtherStudent li{width: 100%;float: left;text-align: center;box-sizing: border-box;height: 40px;}
.w_OtherStudent li p{width: 25%;float: left;text-align: center;position: relative; box-sizing: border-box;height: 40px;line-height: 40px;color: #666;}
.w_HomeWorkTop>li:nth-child(2n),.w_OtherStudent>li:nth-child(2n){background: white;border: 1px solid white;}
.w_HomeWorkTop>li:nth-child(2n+1),.w_OtherStudent>li:nth-child(2n+1){background: #F6F6F6;border: 1px solid #F6F6F6;}
.w_HomeWorkTitle li{float: left;vertical-align: middle; width: 32%;line-height: 60px; color: #333;font-size: 18px; height: 60px;text-align: center;}
.w_HomeWorkTop{width: 100%;height: 280px;margin-bottom: 35px;float: left;overflow-y: scroll;overflow-x: hidden;}
.w_HomeWorkTop li{width: 100%;height: 40px;float: left;text-align: center;box-sizing: border-box;}
.w_HomeWorkTop li p{width: 32.66%;float: left;text-align: center;position: relative; box-sizing: border-box;height: 40px;line-height: 40px;color: #666;}
.p40{padding: 40px 0 40px 40px;}
.w_Subject{float: left;position: relative; line-height: 35px;width: 100%;overflow-y: auto;height: 1200px;padding-left: 10px;box-sizing: border-box;}
.w_Subject>li{width: 94%;border-bottom: 1px solid #ccc; padding-bottom: 20px; position: relative; float: left; box-sizing: border-box;background: white;margin-bottom: 40px;line-height: 35px;}
.w_Subject>li:last-child{border-bottom: 0;}
.w_Subject li,.w_Subject li div,.w_Subject li p{font-family: Times New Roman,\5B8B\4F53;}
.w_Subject li div.w_AnalysisMain,.w_Subject li div.w_AnalysisMain p{font-family: Times New Roman, "楷体", "楷体_GB2312";}
.stem .p2:nth-child(1){float: left;}
.w_Analysis0{width: 75px;height: 35px;outline: none; background: white; text-align: center;line-height: 35px;box-sizing: border-box; border-radius: 10px;font-size: 14px;color: #666;cursor: pointer; border: 1px solid #ccc;margin-top: 20px;}
.w_Analysis1{background: #65b113;width: 75px;outline: none; border: 0; height: 35px;text-align: center;line-height: 35px;box-sizing: border-box; border-radius: 10px 10px 0 0;font-size: 14px;color: white;cursor: pointer;margin-top: 20px;}
.w_AnalysisMain{width: 90%;min-height: 80px;overflow: hidden; border: 1px solid #ccc;  background: #fcfcfc;;border-radius: 0 0 10px 10px;padding: 5px;display: none;}
.select>p:nth-child(1){text-indent: 0!important;}
.textindent{text-indent: 10px!important;}
.statp{position: relative;display: inline;z-index: 5;margin-right:15px ;}
.w_statYes{position: absolute;left: -2px;top: 5px;z-index: -1;}
.sataOption{margin: 0 5px;}
.w_WrongMan{overflow: hidden;}
.w_WrongName{float: left;width: 80%;word-break: break-all;}
.w_WrongName span{margin-right:15px ;}
.w_Subject img{max-width: 90%;}
.w_Subject img,.w_UserSubject img{max-width: 100%; height: 100%;}
.stem{position: relative;box-sizing: border-box;}
.Inorder{position: absolute;top: 0;left: 0;height: 30px;line-height: 30px;}
.stat{overflow: hidden;height: 40px;margin-top: 10px;}
.gap{width: 100px;height: 30px;text-align: center;line-height: 30px;font-size: 14px;float: left;color: white;margin-top: 3px;}
.w_PrintBtn{width: 15%;cursor: pointer; position: absolute;right: 0;top: 30px; height: 50px;border-radius: 10px;text-align: center;line-height: 50px;background: #F9A24A;outline: none;border: 0;font-size: 18px;color: white;}
/*综合分析*/
.w_Meta{width: 68.6%; float: left;border-bottom: 2px solid #ccc;margin:95px auto 0 15.76%; background:url("../../../static/image/workpaper/Statbg.png") 0 0 repeat-y ;background-size: 100%; }
.w_Meta li{width: 100%;float: left;position: relative;margin-bottom: 40px; height: 10px;}
.w_Meta li:last-child{margin-bottom:0;}
.w_MetaPro{height: 10px;background: #58C1E4;width: 68%;float: left;}
.w_MetaY{width: 140px; cursor: default;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; position: absolute;left: -150px;top: -15px; font-size: 14px;color: #666; text-align: right;height: 40px;line-height: 40px;}
.w_MetaYRight{width: 140px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis; position: absolute;right: -150px;top: -5px;word-wrap:break-word;cursor: default;;height: 40px; font-size: 14px;color: #666; text-align: left;line-height: 20px;}
.w_MetaX{width: 68.6%;float: left;margin:0 auto 0 15.76%;height: 100px;position: relative;}
.w_MetaX li{width: 40px;height: 100px;cursor: default; position: absolute;text-align: center;font-size: 14px;color: #666;line-height: 20px;top: 5px;}
.fs12{font-size: 12px!important;}
.w_MetaX li:nth-child(1){left: -2%;}
.w_MetaX li:nth-child(2){left: 22%;}
.w_MetaX li:nth-child(3){left: 47%;}
.w_MetaX li:nth-child(4){left: 73%;}
.w_MetaX li:nth-child(5){left: 97%;}
/*学生试题详情*/
.w_BoxShadow{ ;border-radius: 10px;padding: 0;margin: 40px auto;background: white;;}
.w_SubTitle{width: 100%;text-align: center; height: 95px;color: #333; box-sizing: border-box;float: left;background: url("../../../static/image/workpaper/w_subg.png")0 0 repeat;border-bottom: 1px solid #ccc;}
.w_SubTitle>p:nth-child(1){font-size: 24px;line-height: 50px;}
.w_SubTitle>p:nth-child(2){font-size: 18px;line-height: 30px;}
.w_SubMain{float: left;width: 100%;padding:50px 50px 30px 0;}
.w_SubList{float: left;box-sizing: border-box;border-radius: 10px;border: 1px solid #ccc;overflow: hidden; text-align: center;width: 15%;margin-left: 2.5%;}
.w_SubName{float: left; width: 100%;height: 50px;position: relative;cursor: pointer;}
.w_topborder{border-top: 1px solid #ccc;}
.w_botborder{border-bottom: 1px solid #ccc;}
.w_SubNameListOut{width: 100%;float: left;position: relative; height: 599px;overflow:hidden;}
.w_SubNameList{float: left;width: 100%;box-sizing: border-box;position: absolute;top: 0;left:0 ; }
.w_SubNameList li{float: left;width: 100%;height: 40px;cursor: pointer; color: #333; border-bottom: 1px solid #ccc;text-align: center;line-height: 40px;font-size: 14px; box-sizing: border-box;}
.w_SubNameList .w_NowUser{background: #65b113;color: white;}
.w_UserTestMain{width: 76%;float: left;background: white;box-sizing: border-box;margin-left: 5%; overflow: hidden;}
.w_UserStem{vertical-align: middle;}
.w_userY{display: inline-block;position: relative;top: 0;vertical-align: middle; }
.w_UserSubject{float: left;position: relative; line-height: 35px;width: 100%;padding-left: 10px;box-sizing: border-box;}
.w_UserSubject>li{border-bottom: 1px solid #ccc;  padding-bottom: 20px;width: 100%;position: relative; float: left; box-sizing: border-box;background: white;margin-bottom: 40px;line-height: 35px;}
.w_UserSubject .lineName{margin-bottom: 0;}
.gapanswer{text-align: right;}
.gapanswerNO{font-size: 24px;color: #CA0D0D;}
.w_UserSubject > li,.w_UserSubject > li div,.w_UserSubject > li p{font-family: "宋体", "\5B8B\4F53";}
.w_UserSubject > li div.selectAnswer,.w_UserSubject > li div.select,.w_UserSubject > li div.selectAnswer p,.w_UserSubject > li div.select p{font-family: "楷体", "楷体_GB2312";}
@media screen and (max-width:1366px){
    .w_OtherListTitle li{font-size: 16px!important;}
}
@media screen and (min-width:1366px){
    .w_OtherListTitle li{font-size: 18px!important;}
}
@media screen and (min-width:1600px){
    .w_OtherListTitle li {font-size: 18px!important;}
}
.w_ReadMain .w_VideoBasic img{max-width: 100%;}
.NoData{float: left; width: 100%;height: 600px;overflow: hidden;text-align: center;line-height: 600px;position: relative;}
.SmallSub{float: left;width: 100%;box-sizing: border-box;padding-left: 20px;}
.SmallSub>li{float: left;width: 100%;line-height: 35px;margin-bottom: 10px;}
.h100{height: 100%}




