/**********************************************首页********************************************************************/
.Paging{width: 800px;margin: 0 auto;clear: both;}
.m_HeadMain{overflow: hidden;margin: 0 auto;background: white;border-radius: 10px; box-sizing: border-box;}
.m_Photo{position: relative;overflow: hidden; float: left;box-sizing: border-box;background: white; padding: 5px;border: 1px solid #CCC;border-radius: 100%;}
.i_UserName{max-width: 225px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.m_ChangeImg{background: black; background: rgba(0,0,0,0.5);position: absolute;top: 5px;left:5px;box-sizing: border-box;border-radius: 100%;}
.m_camimg{float: left;cursor: pointer;position: absolute;left: 0;top: 0;bottom: 0;right: 0;margin: auto;}
.m_uptxt{width: 80px;text-align: center; height: 30px; color: #F6F1F1;display: block;position: absolute;left: 0;right: 0;margin: auto;}
.m_zimg{position: absolute;right: 20px;bottom:-4px;}
.m_UserInfo{float: left;border-right: 1px solid #E5E5E5;}
.m_InfoTxt{height: 30px;line-height: 30px;overflow:hidden;}
.m_Probtn{width: 100px;height: 30px;line-height: 30px;text-align: center;cursor: pointer; outline:none;border-radius: 30px; border: 0;color: white;background: #FCD371;float: left;}
.m_Emptxt0{float:left; margin: 45px 0  0 0;color: #999;}
.m_Emptxt1{float:left; margin: 5px 0  0 0;color: #999;}
.m_ProGress{width: 250px;height: 12px;float: left;position: relative;overflow: hidden; border-radius: 6px;background: #CCC;}
.m_ProMain{width: 100%;float: left;position: relative;height: 12px;}
.m_BulePro{width: 250px;height: 12px;background: #72C8FA;position: absolute;top: 0;left: -125px;}
.m_Start{float: left;position: absolute;top: -9px;left: 110px;}
.m_GradName{width: 255px;height: 20px;margin-top: 5px; float: left;font-size: 14px;line-height: 20px;}
.m85{margin: 0 85px;}
.m4530{margin: -45px 0 0 30px;}
.m_GiftInfo{float: left;}
.mutual:hover{box-shadow: 1px 2px 5px #999;  }

.m_DengImg{float: left;margin-right: 10px;}
.m_GiftInfo li{float: left;line-height: 30px;cursor: pointer;text-align: center;}
.m_List{overflow: hidden;}
.m_List li {float: left;width: 46.5%;margin:0 1.75% 15px 1.75%;border-top:3px solid;  height: 210px; cursor: pointer; vertical-align: middle; text-align: center;  box-sizing: border-box;background: white;border-radius: 10px; ; }
.m_List a {float: left;width: 100%;height: 100%;}
.p_worng{float: left;width: 30%;margin-top: 10%;margin-left: 15%;}
.p_worng0{float: left;width: 20%;margin-top: 10%;margin-left: 28%;}
.p_worng1{float: left;width: 25%;margin-top: 10%;margin-left: 22%;}
.mr15{margin-right: 15px!important;}
.m_List li:nth-child(1){border-color: #EE6752;}
.m_List li:nth-child(3){border-color: #F5A37F;}
.m_List li:nth-child(2){border-color: #659FE6;}
.m_List li:nth-child(4){border-color: #C8C8C8;line-height: 210px;text-align: center;font-size: 24px;color: #999;}
/*.m_List li:nth-child(5){border-color: #46CBA1;}*/
/*.m_List li:nth-child(5){border-color: #C8C8C8;}*/
.m_List li:hover{box-shadow: 1px 2px 5px #999;}
.m_List li:last-child{box-shadow: none;}
.m_IntroEcho{height:80px;font-size: 24px;width: 100%;float: left;margin-top: 35px;line-height: 80px; text-align: center;color: #666; }
.m_IntroEcho>img{margin:0 10px;max-height: 100%;}
.m_IntroTxt{float: left;width: 100%; text-align: center;color: #999;line-height: 30px;height: 30px;}
/*签到*/
.m_Sign,.m_SignDone{width: 100px; font-size: 16px; margin-left:10px; height: 30px;line-height: 30px;text-align: center;cursor: pointer; outline:none;border-radius: 30px; border: 0;color: white;background: #F9A24A;float: left;}
.m_SignDone{font-size: 14px;background: #ccc;}
.m_Sign:hover{background: #fb9732;}
@media screen and (max-width:1366px){
    .m_IntroTxt{font-size: 16px;}
}
@media screen and (min-width:1366px){
    .m_IntroTxt{font-size: 16px;}
}
@media screen and (min-width:1600px){
    .m_IntroTxt{font-size: 18px;}
}


.m2555{margin: 25px 0 0 55px;}
.m2590{margin: 25px 0 0 90px;}
.m5510{margin: 55px 10px 0 90px}
.mt1525{margin:15px 0 0 25px;}
.lh180{line-height:180px }
.dino{display: none;}
.m_wrongTitile{float: left;width: 100%;font-size: 24px;color: #666;text-align: center;height: 100px;line-height: 100px;}
.m_PhotoBox{position: relative; float: left;box-sizing: border-box;}
.marg {margin-top: 37px;}
.m_GiftInfo>li>img{float: left;width: 91px;}
.m_GiftInfo>li>a{float: left;}
@media screen and (max-width:1366px){
    .m_HeadMain{width: 900px;height: 220px;}
    .m_Photo{width: 140px;height: 140px;}
    .m_PhotoBox{width: 140px;height: 140px;margin: 34px 30px 0 20px;}
    .m_UserPhoto{width: 128px;border-radius: 100%;}
    .m_ChangeImg{width: 128px;height: 128px;}
    .m_uptxt{top: 90px;font-size: 14px;}
    .m_UserInfo{width: 45%;height: 162px;margin-top: 40px;}
    .m_GiftInfo{margin-top: 40px;}
    .m_GiftInfo li{margin-top: 20px;line-height: 30px;width:95px;height: 160px;text-align: center;margin-left: 37px;}
    .m_List{width: 905px;overflow: hidden;margin:40px auto 0 auto; }
    .p_worng{float: left;width: 30%;margin-top: 10%;margin-left: 15%;}
    .p_worng0{float: left;width: 20%;margin-top: 10%;margin-left: 28%;}
    .mt75{margin-top: 45px!important;}
    .ppttxt{margin: 27px 0 0 25px;}
    .ppttxt0{margin-top: 1px;}
}
@media screen and (min-width:1366px){
    .m_HeadMain{width: 1000px;height: 240px; }
    .m_Photo{width: 160px;height: 160px;}
    .m_PhotoBox{width: 160px;height: 160px;margin: 40px 40px 0 30px;}
    .m_UserPhoto{width: 148px;border-radius: 100%;}
    .m_ChangeImg{width: 148px;height: 148px;}
    .m_uptxt{top: 95px;font-size: 16px;}
    .m_UserInfo{width:45%;height: 162px;margin-top: 50px;}
    .m_GiftInfo{margin-top: 50px;}
    .m_GiftInfo li{margin-top: 20px;line-height: 30px;width:95px;height: 160px;text-align: center;margin-left: 43px;}
    .m_List{width: 1000px;overflow: hidden;margin:40px auto 0 auto; }
    .p_worng{float: left;width: 30%;margin-top: 7%;margin-left: 15%;}
    .p_worng0{float: left;width: 20%;margin-top: 8%;margin-left: 28%;}
    .mt75{margin-top: 55px!important;}
    .ppttxt{margin: 17px 0 0 25px;}
    .ppttxt0{margin-top: 1px;}
}
@media screen and (min-width:1600px){
    .m_HeadMain{width: 1200px;height: 260px;}
    .m_Photo{width: 185px;height: 185px;}
    .m_PhotoBox{width: 185px;height: 185px;margin: 34px 54px 0 43px;}
    .m_UserPhoto{width: 173px;border-radius: 100%;}
    .m_ChangeImg{width: 173px;height: 173px;}
    .m_uptxt{top: 110px;font-size: 18px;}
    .m_UserInfo{width: 45%;height: 162px;margin-top: 60px;}
    .m_GiftInfo{margin-top: 60px;}
    .m_GiftInfo li{margin-top: 20px;line-height: 30px;width:95px;height: 160px;text-align: center;margin-left: 65px;}
    .m_List{width: 1205px;overflow: hidden;margin:40px auto 0 auto; }
    .p_worng{float: left;width: 30%;margin-top: 6%;margin-left: 15%;}
    .p_worng0{float: left;width: 20%;margin-top: 10%;margin-left: 28%;}
    .mt75{margin-top: 64px!important;}
    .ppttxt{margin: 21px 0 0 25px;}
    .ppttxt0{margin-top: 1px;}
}
/**********************************************我的礼物********************************************************************/
.m_MyGift{min-height: 595px;overflow: hidden;padding-bottom: 40px;  margin: 40px auto 0 auto;box-sizing: border-box;background: white;border-radius: 10px; }
.m_MyGifttit{border-radius: 10px 10px 0 0;height: 61px;float: left;width: 100%;padding-left: 30px; box-sizing: border-box;background: url("../../../static/image/me/m_Headbg.jpg")0 0 repeat;line-height: 61px;}
.m_giftnum{width: 50px;height: 35px;color: #333;box-sizing: border-box; border: 1px solid #ccc;border-radius: 5px;display:inline-block;}
.m_GiftList{float: left;width: 100%;}
.m_GiftList li{float: left;margin: 30px 20px 0 0; width: 31%;text-align: center;line-height: 35px;color: #666;}
.mygiftimg{width: 80%;}
@media screen and (max-width:1366px){
    .m_MyGift{width: 900px;}
}
@media screen and (min-width:1366px){
    .m_MyGift{width: 1000px;}
}
@media screen and (min-width:1600px){
    .m_MyGift{width: 1200px;}
}
/**********************************************支付中心********************************************************************/
.m_Pay{overflow: hidden; margin: 0 auto;position: relative; box-sizing: border-box;padding: 45px; }
.m_PayMoney,.m_PayMethChoice{overflow: hidden;width: 100%;box-sizing: border-box;}
.m_PayMoney li,.m_PayMethChoice li{float: left;cursor: pointer; width: 155px;box-sizing: border-box; text-align: center; height:105px;margin: 20px 15px;background: white;position: relative;border-radius: 15px;border: 1px solid #CCC; }
.m_IsChoice{border: 2px solid #F9A24A!important; }
.m_checkimg{float: left;position: absolute;top: -6px;right: -6px;}
.m_PayMethChoice li{width: 220px;height:60px;line-height: 58px;}
.m3040{margin: 3px 5px 0 40px;}
.m1040{margin: 10px 0 0 40px;}
@media screen and (max-width:1366px){
   .m_Pay{width: 900px;}
}
@media screen and (min-width:1366px){
    .m_Pay{width: 1000px;}
}
@media screen and (min-width:1600px){
    .m_Pay{width: 1200px;}
}
.m_WeiXin{display: none; position: absolute;overflow: hidden; background: white; box-sizing: border-box; border-radius: 10px; width: 300px;height: 335px;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.m_WeiXinClose{position: absolute;float: left;cursor: pointer;top: 20px;right: 20px;}
.m_WeiXinTitle{width: 100%;text-align: center;font-size: 24px;color: #333;margin: 13px 0 15px 0;}
.m_WeiXinCode{width: 250px;height: 250px;margin: auto;}
.m_PayBtn{width: 240px;height: 45px;cursor: pointer; float:left;position: absolute;left: 0;right: 0;margin: auto;bottom: 0; clear: both;outline: none;border: 0;font-size: 24px;color: white;background:#ccc;border-radius: 10px;text-align: center; }
/**********************************************金币记录、购买记录********************************************************************/
.m10{margin: 10px;}
.m_GoldList{width: 100%;float: left;}
.m_GoldList li{width: 100%;float: left;height: 40px;line-height: 40%;text-align: center;}
.m_GoldList li:nth-child(2n){background:#F6F6F6; }
.m_GoldList li:nth-child(2n+1){background: white;}
.w25{width: 25%!important;}
.m_GoldTit{width: 100%;float: left;line-height: 50px;background: #F6F6F6; text-align: center;font-size: 24px;}
.m_PurPrice,.m_PurStatus,.m_PurTimeT,.m_GoldTime,.m_GoldFrom,.m_GoldInfo{float: left;line-height: 40px;font-size: 14px; width: 33.3%;color: #666;}
/**********************************************购买记录********************************************************************/
.m_PurchaseTit{height: 61px;float: left;text-align: center;font-size: 24px;color: #333; width: 100%; box-sizing: border-box;background: url("../../../static/image/me/m_Headbg.jpg")0 0 repeat;line-height: 61px;}
.m_PurListTit{width: 100%;height: 55px;float: left;background: #F6F6F6;}
.m_PurListTit span{width: 33.3%;line-height: 55px;float: left;font-size: 18px;color: #333;text-align: center;}
/**********************************************认证********************************************************************/
.m_PriList{width: 100%; box-sizing: border-box;float: left;padding: 30px 140px;}
.m_PriList li{width:520px;line-height: 125px;font-size: 24px;color: #333;text-align: center; height: 125px;float: left;position: relative;}
.m_PriList li:nth-child(1){background: url("../../../static/image/me/m_flowico1.png")0 0 no-repeat;}
.m_PriList li:nth-child(2){float: right; background: url("../../../static/image/me/m_flowico2.png")right 0 no-repeat;}
.m_PriList li:nth-child(3){background: url("../../../static/image/me/m_flowico3.png")0 0 no-repeat;}
.m_DoneImg0{float: left;position: absolute;top: 48px;right: 45px;}
.m_DoneImg1{float: left;position: absolute;top: 48px;left: 48px;}
.m_DoneFlow0{float: left;position: absolute;bottom: -10px;right: 48px;}
.m_DoneFlow1{float: left;position: absolute;bottom: -10px;left: 48px;}
.m_Canbtn{width: 320px;height: 55px;cursor: pointer;font-size: 18px;color: #666; display: block;clear: both;margin: 0 auto;border: 1px solid #ccc;background: url("../../../static/image/me/m_btnbg.jpg") 0 0 repeat; outline: none;border-radius: 10px;}
.m_Nobtn{width: 320px;height: 55px;cursor: pointer;font-size: 18px;color: white; display: block;clear: both;margin: 0 auto;border: 1px solid #ccc;background:#CCC; outline: none;border-radius: 10px;}
.minh350{min-height: 350px!important;}
.m_Privilege{float: left;width: 100%;}
.m_Privilege li{width: 33.3%;text-align: center; height: 200px;margin-top: 45px; float: left;box-sizing: border-box;border-right: 1px solid #CCC;}
.m_Privilege li:last-child{;border-right: 0;}
.m_Privilege i{display: block;margin: 0 auto;}
/**********************************************我的礼券********************************************************************/
.m_MyChit{box-sizing: border-box;width: 100%;padding: 0 45px 60px 40px;float:left;}
.m_MyChit li{box-sizing: border-box;width: 100%;float:left;height: 185px;margin-top: 60px;}
.m_MyChit i{float: left;margin: 70px 65px 0 0;cursor: pointer;}
.m_MyChit .tradeImg{float: left;margin-right: 20%;width: 40%;}
.m_MyChit input{float: right;width: 190px;height: 45px;cursor: pointer;margin-top: 65px; border-radius: 10px;color: white; box-sizing: border-box;outline: none;border: 0;font-size: 18px;text-align: center;line-height: 45px;}
.m_MyChitExplain{width: 630px;float: left;margin:0 0 0 40px;color: #666;font-size: 14px;line-height: 25px;}
.m_TI53{text-indent: 53px;}




/************************************************私人订制PPT******************************************************************/
.m_PptMain{overflow: hidden; margin: 40px auto;}
.m_AdverList li{width: 17%;overflow: hidden;border-radius: 10px; float: left;height: 20%;margin-top: 4px;margin-right: 2%;margin-left: 10px; box-sizing: border-box;padding: 5px;background: white;border: 1px solid #ccc;}
.m_AdverList li:last-child{margin-right: 0;}
.m_AdverList li:hover{    box-shadow: 0 0 8px #636161;}
.m_PptBox{width: 100%;border-radius: 10px;overflow: hidden;float: left;margin-top: 40px; box-sizing: border-box;;background: white;}
.m_ImgBox{width:60%;height: 100%;background: white;float: left;box-sizing: border-box;padding-top: 5%;}
.m_Order{width: 40%;height: 100%;box-sizing: border-box; float: left;border-left: 3px solid #F4F4F4;}
.m_OrderTop{width: 100%;box-sizing: border-box; float: left;border-bottom: 3px solid #F4F4F4;padding:5%;}
.tc{text-align: center!important;}
.m_OrderBtn{width: 60%;height: 20%;border-radius: 10px;margin: 5% 0 40px 20%;cursor: pointer; float: left; text-align: center;font-size: 24px;color: white;background: #CA0D0D;line-height: 55px;border: 0;outline: none;}
.mt5515{margin: 55px 0 0 -15px!important;}
.m_OrderNew{width:80%;height: 65px;float: left;font-size: 14px;color: #666;margin-top: 60px;}
.m_OrderLine{width: 100%;float: left;box-sizing: border-box;padding: 3%;}
.m_OrderLine li{width: 100%;height: 8%;color: #666;vertical-align: middle; float: left;text-align: center;}
.m_OrderLine li>img{vertical-align: middle;text-align: center;}
.m_OrderLine0{width: 100%;float: left;box-sizing: border-box;padding: 3% 0 5% 25%;}
.m_OrderLine0 li{width: 100%;height: 40px;color: #666;vertical-align: middle;line-height: 40px; float: left;text-align: left;}
.m_OrderLine0 li>img{float: left;text-align: center;margin-top: 2%;margin-right:5% }
.m1025{margin:10px 25px 0 10% }
.m1325{margin:13px 25px 0 10% }
.m_PayMeth{width: 640px;height: 340px;background: white;box-sizing: border-box;padding: 20px; border-radius: 10px;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin:  auto;}
.m_PptCho{width: 500px;margin-top: 50px;font-size: 24px;color: #333; box-sizing: border-box; float: left;margin-left: 95px; height: 32px;}
.m_PptCho span{float: left;width: 150px;text-align: left;line-height: 32px;margin-left: 45px;}
.m_PptChobtn{float: left;margin-top: 65px;cursor: pointer; color: white;margin-left: 95px; width: 190px;height: 45px;line-height: 45px;border-radius: 10px; outline: none;border: 0;box-sizing: border-box;text-align: center;font-size: 18px;}
.RechargeMsg{width: 689px;height: 352px; background: url("../../../static/image/me/m_pptbg.png")0 0 no-repeat;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin:  auto;}
.m_ClosPay{background: black;width: 35px;height: 35px;float: right;margin-right: 40px;cursor: pointer;opacity: 0;filter:Alpha(opacity=0);}
.m_PptMsg{width: 400px; float: right;font-size: 24px;height: 350px;line-height: 350px;text-align: center;}
.m_PptMsg a:hover{text-decoration: underline}
.m_UpBox{width: 100%;height: 100%;z-index: 100;display: none; position: fixed;bottom: 0;top:0;left: 0;right: 0;margin: auto; background: black;background: rgba(0,0,0,0.5);}
.m_UpBoxMain{position:absolute;bottom:0;top:0;left:0;right:0;margin: auto; background:white;border-radius: 10px; }
@media screen and (max-width:1366px){
    .m_PptMain{width: 900px;}
    .m_UpBoxMain{width: 900px;height: 550px}
    .m_ImgBox{padding-top: 6.5%;}
}
@media screen and (min-width:1366px){
    .m_PptMain{width: 1000px;}
    .m_UpBoxMain{width: 1000px;height: 570px}
    .m_ImgBox{padding-top: 5%;}
}
@media screen and (min-width:1600px){
    .m_PptMain{width: 1200px;}
    .m_UpBoxMain{width: 1200px;height: 590px;}
    .m_ImgBox{padding-top: 1.5%;}
}
.c_rClose{position: absolute;top: 4%;right: 2%;float: left;cursor: pointer;}
.m_Uptitle{float: left;line-height: 80px;height: 80px;text-align: left;box-sizing: border-box;padding-left: 8.4%;width: 100%;}
.m_UpIntro{float: left;color:#666;line-height: 30px;height: 30px;text-align: left;box-sizing: border-box;padding-left: 8.4%;width: 100%;}
.m_CallUser{float: left;box-sizing: border-box;padding-left: 8.4%;width: 100%;}
.m_CallUser li{float: left;line-height: 40px;color: #999; height: 40px;text-align: left;box-sizing: border-box;width: 100%;margin-bottom: 2%;}
.m_CallUser li>span,.m_CallUser li>input{float: left;line-height: 40px;height: 40px;text-align: left;box-sizing: border-box;}
.m_CallUser li>input{outline: none;border-radius: 10px;border: 1px solid #ccc;padding-left: 2%;width: 25%;margin-right: 15px;}
.m_require{float: left;position: relative;height: 30%;width: 50%;margin-left: 8.4%;}
.m_TextIn{resize:none;padding:2%;height: 100%; float: left;border-radius: 10px;border: 1px solid #ccc;outline: none;width: 100%;box-sizing:border-box;}
.m_GoOn{width: 18.5%;height: 40px;cursor: pointer; text-align: center;color: white;font-size: 18px;background:#65B113;outline: none;border-radius: 10px;border: 0; }
.m_GoOnBox{float: left;box-sizing: border-box;text-align: center;margin-top: 2%;width: 100%;}
.m_Font{position: absolute;right: 10px;bottom: 10px;text-align: right;width: 50px;font-size: 14px;color: #999;}
/************************************************个人资料******************************************************************/
.m_Edit{min-height: 100px;padding-bottom:40px;position: relative;  margin: 40px auto;box-sizing: border-box;background: white;border-radius: 10px;  }
.m_Editit{line-height: 60px;float: right;margin-right:10px;color: #65B113;cursor: pointer;}
.m2010{margin: 20px 10px 0 0;}
.m_About{float: left;width: 100%;min-height: 270px;box-sizing: border-box;padding: 40px 40px 0 40px;}
.m_About li,.m_AboutEdit{float: left;height:55px;line-height: 55px;font-size: 18px;}
.m_AboutEdit{width: 100%;}
.h220{height: 220px!important;}
.m_AboutSide{float: left;color: #666;margin-right: 25px;}
.m_UserName{width: 290px;height: 40px;color: #333;margin-top: 8px; border-radius: 5px;border: 1px solid #ccc;float: left;box-sizing: border-box;outline: none;padding-left: 15px;font-size: 14px;}
.m_AreaSelect{width: 15%;float: left;cursor: pointer;color: #333; border-radius: 5px; margin-top: 8px; margin-right:15px;height: 40px;box-sizing: border-box;padding-left: 12px; border: 1px solid #D2D2D2;position: relative;}
.c_areaimg{margin:17px 5px;}
.c_ProvinceList{float: left;display: none;z-index: 3;background:white;padding-left: 15px; box-sizing: border-box; border: 1px solid #D2D2D2;position: absolute;top: 41px;left: -1px;border-radius: 5px;}
.c_ProvinceList li{min-width:130px;height: 40px; float: left; text-align: left; box-sizing: border-box; line-height: 40px;font-size: 14px;}
.c_SchoolSelect{width: 32%;}
.c_SchoolList{width: 325px;display: none; padding: 0 20px 0 35px;position: absolute;top: 40px;left: -1px; border-radius: 5px;background: white;float: left; box-sizing: border-box; border: 1px solid #D2D2D2;}
.c_SchoolList li{float: left;box-sizing: border-box;height: 35px;width: 100%; line-height: 35px;color:#333;font-size: 14px;}
.c_SchoolList li:nth-child(4n+4){margin-right: 0;min-width: 135px; }
.c_SchoolList li:hover,.c_ProvinceList li:hover{color:#65B113;}
.w545{width: 545px!important;}
.w280{width: 280px!important;}
.w195{width: 235px!important;}
.m_Account{float: left;width: 100%;}
.m_Account li{float: left;width: 33.3%;text-align: center; margin: 90px 0 50px 0; box-sizing: border-box;border-right: 1px solid #ccc;height: 123px;}
.m_Account li:last-child{border-right: 0;}
.m_AccLeft{float: left;width: 35%;text-align: center;  box-sizing: border-box;height: 250px;padding-top: 90px;}
.m_AccRight{float: right;width: 55%;text-align: center;  box-sizing: border-box;min-height:250px;padding-top: 25px;}
.m_ChangeIn{outline: none;border-radius: 5px; margin-left: 15px; float:left;border:1px solid #ccc;height: 45px;line-height: 45px; text-align: left;box-sizing: border-box;padding-left: 15px;font-size: 18px;color: #333;}
.m_Acimg{position: relative;float: left;margin: 15px 10px 0 75px;}
.m_AcDoneImg{float: left; position: absolute;top: -15px;left: -3px;}
.tal{text-align: left;}
.lh40{line-height: 40px!important;;}
.top1{top: 1px!important;}
.m_EditBtn{width: 190px;height: 45px;cursor: pointer;font-size: 24px; line-height: 45px;text-align: center;outline: none;border: 0;border-radius: 10px;color: white;box-sizing: border-box;float: left;}
.c_Dissolve{width: 355px;height: 120px;border-radius: 10px;z-index: 101; position: fixed;bottom: 0;top:0;left: 0;right: 0;margin: auto; line-height: 120px;color: white; text-align: center;font-size: 24px;background: black;background: rgba(0,0,0,0.5);}
.m_Error{margin-left: 140px;height: 20px; line-height: 20px;float: left;font-size: 14px;color: #CA0D0D;}
.m_ChangeTxt{line-height: 50px;text-align: right;float: left;font-size: 18px;width: 120px;color: #666;}
.ml110{margin-left: 110px!important;}
.r_MsgInBtn{width: 145px;height: 45px;text-align: center;cursor: pointer; border: 0;outline: none;border-radius: 10px;margin-left: 5px; line-height: 45px;float: left;color: white;font-size: 18px;background: #F9A24A;}
.w170{width: 170px!important;}
.m_CapImg{float: left;width: 70px;height: 35px;margin: 6px;}
.m_IsEdit{width: 100%;height: 100%; position: absolute;background: rgba(0,0,0,0);top: 0;left: 0;display: none;}
.mt255{margin-top: 25px!important;margin-bottom: 5px!important;}

@media screen and (max-width:1366px){
    .m_Edit{width: 900px;}
    .ml355{margin-left: 208px!important;}
    .w415{width: 270px!important;}
    .ml130{margin-left: 123px!important;}
    .arealist li span,.m_ChangeTxt,.m_About li,.m_AboutEdit{font-size: 14px;}
    .m_EditBtn{font-size: 22px;width: 170px;height: 35px;line-height: 35px; }
    .m_ChangeTxt{line-height: 40px;width: 120px;}
    .w265{width: 200px!important;}
    .m_ChangeIn{ margin-left: 15px; height: 35px;line-height: 35px;padding-left: 15px;font-size: 14px;}
    .r_MsgInBtn{width: 105px;height: 35px;margin-left: 5px; line-height: 35px;font-size: 16px;;}
    .m_noData {
        width: 18%;
        margin: 24px 41%;
    }
}
@media screen and (min-width:1366px){
    .m_Edit{width: 1000px;}
    .ml355{margin-left: 235px!important;}
    .w415{width: 330px!important;}
    .ml130{margin-left: 130px!important;}
    .m_ChangeTxt{line-height: 45px;width: 120px;}
    .arealist li span,.m_ChangeTxt,.m_About li,.m_AboutEdit{font-size: 14px;}
    .m_EditBtn{font-size: 22px;width: 180px;height: 40px;line-height: 40px; }
    .w265{width: 230px!important;}
    .m_ChangeIn{ margin-left: 15px; height: 40px;line-height: 40px;padding-left: 15px;font-size: 16px;}
    .r_MsgInBtn{width: 125px;height: 40px;margin-left: 5px; line-height: 40px;font-size: 16px;;}
    .m_noData {
        width: 18%;
        margin: 24px 41%;
    }
}
@media screen and (min-width:1600px){
    .m_Edit{width: 1200px;}
    .ml355{margin-left: 355px!important;}
    .w415{width: 415px!important;}
    .ml130{margin-left: 130px!important;}
    .arealist li span,.m_ChangeTxt,.m_About li,.m_AboutEdit{font-size: 16px;}
    .m_EditBtn{font-size: 24px;width: 190px;height: 45px;line-height: 45px; }
    .m_ChangeTxt{line-height: 50px;width: 120px;}
    .w265{width: 265px!important;}
    .m_ChangeIn{ margin-left: 15px; height: 45px;line-height: 45px;padding-left: 15px;font-size: 18px;}
    .r_MsgInBtn{width: 145px;height: 45px;margin-left: 5px; line-height: 45px;font-size: 18px;;}
    .m_noData {
        width: 18%;
        margin: 24px 41%;
    }
}
.Shade {
    z-index: 9999;
}
.c_optico0 {
    height: 28px;
    width: 28px;
    background-position: -519px -384px;
}
.trade_div {
    position: relative;
}
.data_span {
    position: absolute;
    top: 128px;
    left: 348px;
    color: #fef9d6;
    font-size: 17px;
}
.Cityname,.Provincename,.Countyname{float: left;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
@media screen and (max-width:1366px){
    .Cityname,.Provincename,.Countyname{width: 80px;}
    .c_SchoolList {width: 262px;padding-left: 12px;}
    .c_SchoolList li,.c_SchoolList li span,.arealist  li,.arealist  li span{font-size: 12px;}
}
@media screen and (min-width:1366px){
    .c_SchoolList {width: 295px;padding-left: 12px;}
    .Cityname,.Provincename,.Countyname{width: 100px;}
    .c_SchoolList li,.c_SchoolList li span,.arealist  li,.arealist  li span{font-size: 14px;}
}
@media screen and (min-width:1600px){
    .c_SchoolList {width: 357px;padding-left: 12px;}
    .Cityname,.Provincename,.Countyname{width: 130px;}
    .c_SchoolList li,.c_SchoolList li span,.arealist  li,.arealist  li span{font-size: 16px;}
}
.c_SchoolList {max-height: 200px;overflow-y: auto;}
