/***********************右侧导航（固定定位）*************************/
.source_txt_btn{margin:10px 0;height: 40px;}
.source_txt_btn > a{border: 1px solid #ccc;
    border-radius: 5px;
    width: 76px;
    height: 31px;
    display: block;
    line-height: 31px;
    float: left;
    font-size: 15px;
    text-align: center;
    color: #333;
}
.source_txt_btn > a:hover{background: #65b113 !important;color:#fff !important;border:1px solid #65b113;}
.source_txt_btn span{position: relative;float: right;border-bottom: none;display: none;}

.source_txt_btn span a{
    border: 1px solid #ccc;
    margin-left: 10px;
    border-radius: 5px;
    width: 76px;
    height: 31px;
    display: block;
    float: left;
    text-align: center;
    line-height: 31px;
    color: #333;
    font-size: 15px;
}
.source_txt_btn span a.on{color: #666;}
.analysisBox{
    display: none;
}
.analysisBox p span,.analysisBox p{
    font-family: 'Times new roman','楷体' !important;
    font-size: 16px !important;
    color: #666 !important;
}
.optionA,.optionB,.optionC,.optionD {
    color: #666 !important;
}
.questionContext p{
    font-family: 'Times new roman','SimSun' !important;
    font-size: 16px;
}
.m_con4:hover{cursor:pointer;}
.m_select li{cursor:pointer;}
.e_active{background:#f9a24a;color:#fff!important;border:1px solid #f9a24a;}
.slot-list:hover{border-radius: 8px;border: 1px solid #ccc; width: 98%; margin: 0 auto;}
.slot-list {border-radius: 8px;border: 1px solid #fff; width: 98%; margin: 0 auto;}
.error_source_txt{position: relative; padding-bottom: 10px;}
.l_active{color:#65b113;}
.every_level:hover{cursor:pointer;}
.error_level{padding: 20px 30px 0 30px;position: relative;}
.error_level span:first-child{position: absolute;top: 20px;left: 30px;line-height: 31px;}
.every_level{display: inline-block;vertical-align:sub;width: 90px;height: 31px;overflow: hidden;padding: 0 10px;line-height: 31px;white-space: nowrap;text-overflow: ellipsis;}
@media screen and (min-width:1600px){
    .error_level{padding-left: 90px;}
    .container{
        width:1180px;
        height:auto;
        margin:40px auto 0;
        font-size:16px;
        background: #fff;
        border-radius: 10px;
        min-height: 500px;
    }
    .slot-item{
        margin: 20px 20px;
    }
    .container .source_txt  .knowledgeName{
        /*border-bottom: 1px solid #ccc;*/
        padding:10px;
    }
    .source_txt .questionContext{
        padding: 10px 0px;
        padding-bottom: 0px;
        color: #666 !important;
        font-family: 'Times new roman','SimSun' !important;
        line-height: 30px;
    }
    .container{
        padding: 20px 20px;
        padding-bottom: 0px;
        color: #333 !important;
    }
    .c_Main .m_rightNav {
        position: absolute;
        top: -40px;
        right: -130px;
        z-index: 2;
    }

    .c_Main .m_rightNav .m_line {
        height: 4px;
        width: 120px;
        margin-left:10px;
        background: #ccc;
    }

    .c_Main .m_rightNav .m_row1 {
        width: 3px;
        height: 120px;
        background: #F9A24A;
        position: absolute;
        left: 20px;
        top: 0;
        z-index: -1;
    }
    .c_Main .m_rightNav .m_row2 {
        width: 3px;
        height: 120px;
        background: #f6b471;
        position: absolute;
        left: 120px;
        top: 0;
        z-index: -1;
    }

    .c_Main .m_rightNav .m_con4 {
        font-size: 14px;
        font-family: "微软雅黑", Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px 10px 0;
        background: #fff;
        padding: 4px 0;
        color: #666;
    }

    /*导出错题章节    遮罩层*/
    .exportError {
        display: none;
        width: 680px;
        height: 350px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 1112;
        background: #fff;
    }

    .exportError .m_seclectSection {
        color: #65b113;
        padding: 20px;
        font-size: 25px;
    }

    .exportError .m_sectionChoice {
        width: 500px;
        height: 140px;
        margin: 0 auto;

    }

    .exportError .m_sectionChoice > li {
        width:150px;
        height: 30px;
        float: left;
        padding: 10px 5px;
        font-size: 18px;
        font-family: "微软雅黑", Arial, sans-serif;
    }
    .exportError .m_sectionChoice > li span {
        margin-left: 6px;
        margin-right: 6px;
    }

    .exportError .m_btnSure {
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        padding: 10px 70px;
        border-radius: 10px;
        margin: 30px auto;
        margin-left: 250px;
        font-size: 18px;
    }

    .mask {
        display: none;
        width: 100%;
        min-height: 768px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        background: rgba(0,0,0,0.5);
        z-index:1111;
    }

    /*设置错误率为多少时  收录*/
    .errorPer {
        display: none;
        width: 680px;
        height: 350px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 1112;
        background: #fff;
    }
    .errorPer .errorPerCon {
        margin-top: 105px;
        text-align: center;
        min-height: 30px;
        height: auto;
        padding: 0 195px;
    }
    .errorPer .errorPerCon > span {
        font-size: 18px;
        color: #666;
        display: block;
        float: left;
    }
    .errorPer .errorPerCon .m_select {
        width: 80px;
        height: auto;
        min-height: 30px;
        line-height: 30px;
        font-size: 18px;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ccc;
        position: relative;
        margin: -3px 4px 0 4px;
        border-radius: 5px;
    }
    .errorPer .errorPerCon ul {
        display: none;
        margin: 0;
        margin-left: -1px;
        padding: 0;
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 1111;
        width: 80px;
        height: auto;
        line-height: 30px;
        font-size: 18px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
    }
    .errorPer .errorPerCon li {
        height: 30px;
        box-sizing: border-box;
    }
    .errorPer .errorPerCon li:hover {
        background: #f9dfbb;
    }
    .errorPer .m_btnPer {
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        font-size: 18px;
        font-family: "微软雅黑", Arial, sans-serif;
        padding: 10px 20px;
        margin: 47px 242px;
        border-radius: 10px;
        width: 196px;
    }
    /*试题 题目 报错*/
    .m_submitErrors {
        display: none;
        width: 600px;
        height: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 33%;
        z-index: 1112;
        background: #fff;
    }
    .m_submitErrors > p {
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: #64b211;
        font-size: 24px;
        text-align: center;
    }
    .m_submitErrors .m_errorPoints {
        border: 1px solid #ccc;
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30px;
        border-radius: 10px;
        color: #666;
        font-size: 18px;
    }
    .m_submitErrors .m_errorPoints:hover {
        border: 1px solid #f9a24a;
        background: #f9a24a;
        color: #fff;
    }
    #errorReason {
        border: none;
        outline: none;
        border: 1px solid #ccc;
        width: 540px;
        height: auto;
        min-height: 120px;
        line-height: 32px;
        margin-left: 30px;
        border-radius: 10px;
        color: #999;
        font-size: 18px;
    }
    .m_submitErrors > input {
        border: none;
        outline: none;
        border: 1px solid #999;
        background: #999;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        color: #fff;
        margin: 20px 0 0 60px;
    }
    .m_submitErrors > input:hover {
        background: #65b113;
        border: 1px solid #65b113;
    }
    .noImg {
        margin: 100px 38%;
        height: 250px;
    }
    .c_Main {
        min-height: 874px !important;
    }
}
@media screen and (min-width:1366px) and (max-width:1599px){
    .error_level{padding-left: 85px;}
    .c_Main {
        min-height: 874px !important;
    }
    .container{
        width: 980px;
        height: auto;
        margin: 40px auto 0;
        font-size: 16px;
        background: #fff;
        border-radius: 10px;
        min-height: 500px;
    }
    .slot-item{
        margin: 20px 20px;
    }
    .container .source_txt .knowledgeName{
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }
    .source_txt .questionContext{
        padding: 10px 0px;
        padding-bottom: 0px;
        font-family: 'Times new roman','SimSun' !important;
        color: #666;
    }
    .container{
        padding: 10px 20px;
        padding-bottom: 0px;
    }
    .c_Main .m_rightNav{
        position: absolute;
        top: -40px;
        right: -130px;
        z-index: 2;
    }
    .c_Main .m_rightNav .m_line{
        height: 4px;
        width: 120px;
        margin-left: 10px;
        background: #ccc;
    }
    .c_Main .m_rightNav .m_row1{
        width: 3px;
        height: 140px;
        background: #F9A24A;
        position: absolute;
        left: 20px;
        top: 0;
        z-index: -1;
    }
    .c_Main .m_rightNav .m_row2{
        width: 3px;
        height: 120px;
        background: #f6b471;
        position: absolute;
        left: 120px;
        top: 0;
        z-index: -1;
    }
    .c_Main .m_rightNav .m_con4{
        font-size: 16px;
        font-family: "微软雅黑", Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px 10px 0;
        background: #fff;
        padding: 4px 0;
        color: #666;
    }
    .c_Main .m_rightNav .m_active{
        background: #faa249;
        border: 1px solid #f9a24a;
        color: #fff;
    }
    /*导出错题章节    遮罩层*/
    .exportError{
        display: none;
        width: 680px;
        height: 350px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 30%;
        z-index: 1112;
        background: #fff;
    }
    .exportError .m_seclectSection{
        color: #65b113;
        padding: 20px;
        font-size: 25px;
    }
    .exportError .m_sectionChoice{
        width: 500px;
        height: 140px;
        margin: 0 auto;
    }
    .exportError .m_sectionChoice > li{
        width: 125px;
        height: 30px;
        float: left;
        padding: 10px 5px;
        font-size: 16px;
        font-family: "微软雅黑", Arial, sans-serif;
    }
    .exportError .m_sectionChoice > li span{
        margin-left: 6px;
        margin-right: 6px;
    }
    .exportError .m_btnSure{
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        padding: 10px 70px;
        border-radius: 10px;
        margin: 30px auto;
        /*margin-left: 250px;*/
        font-size: 16px;
    }
    .mask{
        display: none;
        width: 100%;
        min-height: 768px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        background: rgba(0,0,0,0.5);
        z-index: 1111;
    }
    /*设置错误率为多少时  收录*/
    .errorPer{
        display: none;
        width: 500px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 33%;
        left: 35%;
        z-index: 1112;
        background: #fff;
    }
    .errorPer .errorPerCon{
        margin-left: 30px;
        margin-top: 60px;
        text-align: center;
        min-height: 30px;
        height: auto;
    }
    .errorPer .errorPerCon > span{
        font-size: 30px;
        color: #666;
        display: block;
        float: left;
    }
    .errorPer .errorPerCon .m_select{
        width: 80px;
        height: auto;
        min-height: 30px;
        line-height: 30px;
        font-size: 16px;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin: 8px 2px 0;
        position: relative;
    }
    .errorPer .errorPerCon ul{
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 1111;
        width: 80px;
        height: auto;
        line-height: 30px;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        background: #fff;
    }
    .errorPer .errorPerCon li{
        height: 30px;
        box-sizing: border-box;
    }
    .errorPer .errorPerCon li:hover{
        background: #f9dfbb;
    }
    .errorPer .m_btnPer{
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        font-size: 16px;
        font-family: "微软雅黑", Arial, sans-serif;
        padding: 10px 20px;
        margin-top: 30px;
        margin-left: 350px;
        border-radius: 10px;
    }
    /*试题 题目 报错*/
    .m_submitErrors{
        display: none;
        width: 600px;
        height: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 33%;
        z-index: 1112;
        background: #fff;
    }
    .m_submitErrors > p{
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: #64b211;
        font-size: 24px;
        text-align: center;
    }
    .m_submitErrors .m_errorPoints{
        border: 1px solid #ccc;
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30px;
        border-radius: 10px;
        color: #666;
        font-size: 16px;
    }
    .m_submitErrors .m_errorPoints:hover{
        border: 1px solid #f9a24a;
        background: #f9a24a;
        color: #fff;
    }
    #errorReason{
        border: none;
        outline: none;
        border: 1px solid #ccc;
        width: 540px;
        height: auto;
        min-height: 120px;
        line-height: 32px;
        margin-left: 30px;
        border-radius: 10px;
        color: #999;
        font-size: 16px;
    }
    .m_submitErrors > input{
        border: none;
        outline: none;
        border: 1px solid #999;
        background: #999;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        color: #fff;
        margin: 20px 0 0 60px;
    }
    .m_submitErrors > input:hover{
        background: #65b113;
        border: 1px solid #65b113;
    }
    .noImg{
        margin: 100px 38%;
        height: 250px;
    }
}
@media screen and (max-width:1365px) {
    .error_level{padding-left: 80px;}
    .container{
        width:800px;
        height:auto;
        min-height: 500px;
        margin:40px auto 0;
        background: #fff;
        border-radius: 10px;
        padding:10px;
        font-size:14px;
    }
    .slot-item{
        margin:20px 20px;
    }
    .source_txt .questionContext{
        padding: 10px 0px;
        padding-bottom: 0px;
        font-family: 'Times new roman','SimSun' !important;
        color: #666;
    }
    .container{
        padding: 10px 0px;
        padding-bottom: 0px;
    }
    .c_Main .m_rightNav {
        position: absolute;
        top: -50px;
        right: -130px;
        z-index: 3;
    }
    .c_Main .m_rightNav .m_line {
        height: 4px;
        width: 110px;
        margin-left:10px;
        background: #ccc;
    }
    .c_Main .m_rightNav .m_row1 {
        width: 3px;
        height: 110px;
        background: #F9A24A;
        position: absolute;
        left: 20px;
        top: 0;
        z-index: -1;
    }
    .c_Main .m_rightNav .m_row2 {
        width: 3px;
        height: 120px;
        background: #f6b471;
        position: absolute;
        left: 100px;
        top: 0;
        z-index: -1;
    }
    .c_Main .m_rightNav .m_con4 {
        font-size: 14px;
        font-family: "微软雅黑", Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
        width: 110px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px 10px 0;
        background: #fff;
        padding: 4px 0;
        color: #666;
    }
    .c_Main .m_rightNav .m_active {
        background: #faa249;
        border: 1px solid #f9a24a;
        color: #fff;
    }
    /*导出错题章节    遮罩层*/
    .exportError {
        display: none;
        width: 580px;
        height: 320px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 1112;
        background: #fff;
    }
    .exportError .m_seclectSection {
        color: #65b113;
        padding: 20px;
        font-size: 22px;
    }
    .exportError .m_sectionChoice {
        width: 500px;
        height: 140px;
        margin: 0 auto;
    }
    .exportError .m_sectionChoice > li {
        width:125px;
        height: 30px;
        float: left;
        padding: 10px 5px;
        font-size: 16px;
        font-family: "微软雅黑";
    }
    .exportError .m_sectionChoice > li span {
        margin-left: 6px;margin-right: 6px;
    }
    .exportError .m_btnSure {
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        padding: 10px 70px;
        border-radius: 10px;
        margin: 30px auto;
        /*margin-left: 200px;*/
        font-size: 16px;
    }
    .mask {
        display: none;
        width: 100%;
        min-height: 768px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        background: rgba(0,0,0,0.5);
        z-index: 1111;
    }
    /*设置错误率为多少时  收录*/
    .errorPer {
        display: none;
        width: 500px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 33%;
        left: 25%;
        z-index: 1112;
        background: #fff;
    }
    .errorPer .errorPerCon {
        margin-left: 30px;
        margin-top: 60px;
        text-align: center;
        min-height: 30px;
        height: auto;

    }
    .errorPer .errorPerCon > span {
        font-size: 30px;
        color: #666;
        display: block;
        float: left;
    }
    .errorPer .errorPerCon .m_select {
        width: 80px;
        height: auto;
        min-height: 30px;
        line-height: 30px;
        font-size: 16px;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin: 6px 2px 0;
        position: relative;
    }
    .errorPer .errorPerCon ul {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: 30px;
        z-index: 1111;
        width: 80px;
        height: auto;
        line-height: 30px;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        background: #fff;
    }
    .errorPer .errorPerCon li {
        height: 30px;
        box-sizing: border-box;
    }
    .errorPer .errorPerCon li:hover {
        background: #f9dfbb;
    }
    .errorPer .m_btnPer {
        border: none;
        outline: none;
        border: 1px solid #65b113;
        background: #65b113;
        color: #fff;
        font-size: 18px;
        font-family: "微软雅黑";
        padding: 10px 20px;
        margin-top: 30px;
        margin-left: 350px;
        border-radius: 10px;
    }

    /*试题 题目 报错*/
    .m_submitErrors {
        display: none;
        width: 600px;
        height: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 1112;
        background: #fff;
    }

    .m_submitErrors > p {
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: #64b211;
        font-size: 22px;
        text-align: center;
    }

    .m_submitErrors .m_errorPoints {
        border: 1px solid #ccc;
        width: 140px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 30px;
        border-radius: 10px;
        color: #666;
        font-size: 16px;
    }

    .m_submitErrors .m_errorPoints:hover {
        border: 1px solid #f9a24a;
        background: #f9a24a;
        color: #fff;
    }

    #errorReason {
        border: none;
        outline: none;
        border: 1px solid #ccc;
        width: 540px;
        height: auto;
        min-height: 120px;
        line-height: 32px;
        margin-left: 30px;
        border-radius: 10px;
        color: #999;
        font-size: 16px;
    }

    .m_submitErrors > input {
        border: none;
        outline: none;
        border: 1px solid #999;
        background: #999;
        border-radius: 10px;
        width: 200px;
        height: 40px;
        color: #fff;
        margin: 20px 0 0 60px;
    }

    .m_submitErrors > input:hover {
        background: #65b113;
        border: 1px solid #65b113;
    }
    .noImg{
        margin: 100px 38%;
        height: 250px;
    }
}
.question_result {
    float: right;
}
.option {
    margin-top: 7px;
    margin-left: 25px;
    color: #666 !important;
    font-family: 'Times new roman','SimSun' !important;
    font-size: 17px;
}
.option *{
    color: #666 !important;
    font-family: 'Times new roman','SimSun' !important;
    font-size: 16px;

}
.change_span {
    color: #65b113;
}
.c_Main .m_rightNav .m_active{
    background: #faa249;
    border: 1px solid #f9a24a;
    color: #fff;
    line-height: 30px;
}
.source_txt p{
    word-wrap:break-word;
    word-break:break-all;
}
.c_ErrorMsg{width: 355px;height: 120px;border-radius: 10px;z-index: 19999;display: none; position: fixed;bottom: 0;top:0;left: 0;right: 0;margin: auto; line-height: 120px;color: white; text-align: center;font-size: 24px;background: black;background: rgba(0,0,0,0.5);}