.m_toPreview{cursor:pointer;}

@media screen and (max-width:1366px) {
    .m_table {
        width: 900px;
        height: auto;
        min-height: 600px;
        margin: 0 auto;
        margin-top: 36px;

        border-radius: 10px;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
    }

    .m_table .m_title {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    .m_table .m_title > div {
        width: 200px;
        font-size: 16px;
        font-family: "微软雅黑";
        color: #333;
    }

    .m_table .m_records {
        width: 900px;
        height: 36px;
        line-height: 36px;
    }

    .m_table .m_records  li {
        color: #666;
        font-size: 14px;
        font-family: "微软雅黑";
        height: 36px;
        width: 200px;
    }

    .m_table .m_records  li:first-child {
        text-decoration: underline;
    }

    .m_table ul:nth-child(2n) {
        background: #f6f6f6;
    }

    .m_table .m_records .m_del {
        width: 24px;
        height: 24px;
        margin-right: 108px;
        margin-top: 8px;
        overflow: hidden;
    }
}

@media screen and (min-width:1366px){
    .m_table {
        width: 1000px;
        height: auto;
        min-height: 600px;
        margin: 0 auto;
        margin-top: 36px;

        border-radius: 10px;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
    }

    .m_table .m_title {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    .m_table .m_title > div {
        width: 200px;
        font-size: 16px;
        font-family: "微软雅黑";
        color: #333;
    }

    .m_table .m_records {
        width: 1000px;
        height: 36px;
        line-height: 36px;
    }

    .m_table .m_records  li {
        color: #666;
        font-size: 14px;
        font-family: "微软雅黑";
        height: 36px;
        width: 200px;
    }

    .m_table .m_records  li:first-child {
        text-decoration: underline;
    }

    .m_table ul:nth-child(2n) {
        background: #f6f6f6;
    }

    .m_table .m_records .m_del {
        width: 24px;
        height: 24px;
        margin-right: 108px;
        margin-top: 8px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1600px){
    .c_Main {
        min-height: 874px !important;
    }
    .m_table {
        width: 1200px;
        height: auto;
        min-height: 600px;
        margin: 0 auto;
        margin-top: 36px;

        border-radius: 10px;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
    }

    .m_table .m_title {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    .m_table .m_title > div {
        width: 240px;
        font-size: 18px;
        font-family: "微软雅黑";
        color: #333;
    }

    .m_table .m_records {
        width: 1200px;
        height: 40px;
        line-height: 40px;
    }

    .m_table .m_records  li {
        color: #666;
        font-size: 14px;
        font-family: "微软雅黑";
        height: 40px;
        width: 240px;
    }

    .m_table .m_records  li:first-child {
        text-decoration: underline;
    }

    .m_table ul:nth-child(2n) {
        background: #f6f6f6;
    }

    .m_table .m_records .m_del {
        width: 24px;
        height: 24px;
        margin-right: 108px;
        margin-top: 8px;
        overflow: hidden;
    }
}