
.m_btn:hover{cursor:pointer;}
.source_txt_btn{margin:10px 0;overflow: hidden;}
.reflesh:hover{cursor: pointer;}
.source_txt_btn span a {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 76px;
    height: 31px;
    display: block;
    line-height: 31px;
    float: left;
    font-size: 15px;
    text-align: center;
    color: #333;
}
.source_txt_btn span a:hover{background: #65b113;color:#fff;}
/*.source_txt_btn span{position: relative;float: right;border-bottom: none;display: none;}
.source_txt_btn span a{padding:5px 10px;margin:10px;border-radius: 5px;}
.source_txt_btn span a.on{color: #666;}*/
.analysisBox{
    display: none;
}
.m_con4:hover{cursor:pointer;}
.m_select li{cursor:pointer;}
.e_active{background:#f9a24a;color:#fff!important;border:1px solid #f9a24a;}
.slot-item:hover{border-radius: 8px;border: 1px solid #ccc;}
.slot-item{border-radius: 8px;border: 1px solid #ffffff;}
.error_source_txt{
    position: relative;
}
.l_active{color:#65b113;}
.every_level:hover{cursor:pointer;}
.slot-item{padding:0 20px;}
.m_paper{
    margin-bottom:40px;
}
.m_btnBox{
    position: fixed;
    bottom:30px;
    right:19%;
}
.m_btn {
    background: #65b113;
    color: #fff;
    border-radius: 10px;
    width: 190px;
    font-size: 18px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    margin-right: 10px;
    float: left;
}
.mask{
    display: none;
    width:100%;
    min-height:768px;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    z-index: 1111;
}
#c_closeG{
    margin-right:20px;
}
/*打印*/
.m_publish{
    display:none;
    position: absolute;
    top:30%;
    left:30%;
    z-index: 1112;
    background: #fff;
    width:600px;
    height:300px;
    border:1px solid #ccc;
    border-radius: 5px;
    /*  background: url("../../image/me/workPubSuccess.png") no-repeat center;*/
}
.m_publish p{
    color:#fff;
    width:140px;
    height:50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;

}
.m_publish .noAnalyze{
    background: #59c1e4;
    border:1px solid #59c1e4;
    position: absolute;
    left:150px;
    top:100px;
}
.m_publish .hasAnalyze{
    background: #faa249;
    border:1px solid #faa249;
    position: absolute;
    right:150px;
    top:100px;
    cursor: pointer;
}
.paperName{margin: 0 auto;text-align: center;}
.testTime{margin: 0 auto;text-align: center;}
.slot-list{padding:20px;}
@media screen and (min-width: 1600px){
    .container{
        width:1200px;
        height:auto;
        min-height: 768px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:18px;
        position: relative;
    }
    .publish_box {
        width: 1200px;
    }
}
@media screen and (max-width: 1599px) and (min-width: 1366px){
    .container{
        width:1000px;
        height:auto;
        min-height: 768px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:16px;
        position: relative;
    }
    .publish_box {width: 1000px;}.edit{width: 1300px;}
}
@media screen and (max-width: 1365px){
    .container{
        width:900px;
        height:auto;
        min-height: 768px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:14px;
        position: relative;
    }
    .publish_box {width: 900px;}.edit{width: 1000px;}
}
.questionContext {
    color: #333 !important;
}
.option {
    margin-top: 7px;
    margin-left: 9px;
    color: #666 !important;
    font-family: "宋体";
    font-size: 17px;
}
.option *{
    color: #666 !important;
    font-family: "宋体";
    font-size: 17px;

}
.analysisBox p span {
    font-family: "楷体" !important;
    font-size: 17px !important;
    color: #666 !important;
}

/*****************************  布置  **********************************/
.publish_box_Main{position: fixed;top: 0;left: 0;width: 100%;min-height: 100%;z-index: 10000;background: rgba(0,0,0,.3);}
.publish_box{position: relative;margin: 0 auto;padding: 40px 0;border-radius: 10px;box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);background: #fff;}
.publish_box > dl,.publish_box .dl{width: 60%;margin: 0 auto;font-size: 16px;line-height: 46px;}
.publish_box > dl dt{float: left;width: 15%;}
.publish_box > dl dd{float: left;width: 85%;}
.publish_box > dl dd input{height: 28px;line-height: 28px;text-indent: 0.5em;border-radius: 3px;border: 1px solid #ccc; background: #fff;}
.publish_box > dl dd input.act_time{width: 66px;margin-right: 5px;text-align: center;text-indent: 0;}
.publish_box > dl dd input.act_stop_time{width: 156px;text-align: center;text-indent: 0;}
.publish_box > dl dd input.act_stop_time_h,.publish_box > dl dd input.act_stop_time_m{width: 50px;margin-left: 6px;background: url("../../../static/image/homework/set_time.png") no-repeat 35px 10px;}
.publish_box .tab{padding: 10px;border-radius: 8px;border: 1px solid #ccc;}
.publish_box .tab dl{}
.publish_box .tab dl dt{float: left;width: 15%;line-height: 28px;}
.publish_box .tab dl dd{float: left;width: 85%;}
.publish_box .tab dl dd a{float: left;display: block;width: 140px;margin-right: 10px;line-height: 28px;text-align: center;border-radius: 6px;}
.publish_box .tab dl dd a.on{background: #65b113;color: #fff;}
.publish_box .tab ul{width: 30%;margin: 0 auto;margin-top: 30px;}
.publish_box .tab ul li{overflow: hidden;margin-top: 10px;line-height: 32px;text-align: center;border-radius: 8px;border: 1px solid #ccc;color: #666;}
.publish_box .tab ul li.on{border: 1px solid #65b113;background: #65b113;color: #fff;}
.publish_box .done{margin-top: 40px;}
.work_done{display: block;width: 150px;line-height: 36px;margin: 0 auto;font-size: 18px;text-align: center;border-radius: 8px;background: #65b113;color: #fff;}
.work_done:hover{background: #5faa0f;}
.work_done:active{background: #529708;}
.ui-datepicker-next.ui-corner-all,.ui-datepicker-prev.ui-corner-all{transition: all 0s ease;}
ul.set_time{position: absolute;z-index: 10000;width: 50px;max-height: 120px;overflow-y: auto;border: 1px solid #ccc;background: #fff;}
ul.set_time li{text-align: center;cursor: pointer;color: #666;}
ul.set_time li:hover{background: #eee;color: #444;}
ul.set_time li:active{background: #aaa;}
/*for 个人、小组*/.set_user,.set_group{overflow: hidden;}
.publish_box .tab .set_user ul,.publish_box .tab .set_group ul{float: left;width: 20%;margin-top: 5px;}
.obj_type_con > div{float: left;width: 77%;margin-left: 1.5%;margin-top: 15px;border: 1px solid #ccc;}
.obj_type_con > div > ol{width: 100%;}
.obj_type_con > div > ol li{line-height: 36px;border-top: 1px solid #ccc;}
.obj_type_con > div > ol li:first-child{border-top: none;}
.obj_type_con > div > ol li span{position: relative;display: inline-block;width: 25%;height: 100%;vertical-align:top;text-align: center;color: #666;}
.obj_type_con > div > ol li span.on{background: #faa249;color: #fff;}
.obj_type_con > div > ol li:nth-child(2n){background: #f6f6f6;}
.obj_type_con > div > ol li:nth-child(2n + 1) span:after{content: "";position:absolute;top: 0;right: 0;bottom: 0;width: 1px;border-right: 1px solid #ccc;}
.obj_type_con > div > ol li:nth-child(2n + 1) span:nth-child(4):after{border-right: none;}