.source_txt_btn{border-bottom:none!important;}
.source_txt_btn span{float:right;}
.source_txt_btn span a{ border: 1px solid #ccc; margin: 10px; border-radius: 5px; width: 76px; height: 31px; display: block; float: left; line-height: 31px; color: #333; text-align: center; font-size: 15px; }
.source_txt{padding:20px;}
.m_btn:hover{cursor: pointer;}
.source_txt .exp:hover{border-radius: 8px;border: 1px solid #ccc;}
.noAnalyze:hover{cursor: pointer;}
.hasAnalyze:hover{cursor: pointer;}
.slot-list>li:hover{border-radius: 8px;border: 1px solid #ccc;}
.slot-list>li {border-radius: 8px;border: 1px solid #ffffff;}
.slot-list>li{padding:10px;}
.paperName,.paperTime{margin: 0 auto;text-align: center}
.paperTime input{width:36px;border: none;text-align:right;}
@media screen and (min-width: 1600px){
    .container{
        width:1200px;
        height:auto;
        min-height:768px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:18px;
    }
}
@media screen and (max-width: 1599px) and (min-width: 1366px){
    .container{
        width:1000px;
        height:auto;
        min-height:768px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:16px;
    }
}
@media screen and (max-width: 1365px){
    .container{
        width:900px;
        height:auto;
        min-height:600px;
        margin:0 auto;
        margin-top:30px;
        background: #fff;
        border-radius: 10px;

        padding:10px;
        font-size:14px;
    }
}
body{
    background: #eee;
}
.m_btnBox{
    position: fixed;
    bottom:30px;
    right:400px;
}
.m_btn{
    background: #999;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    display: block;
    width: 190px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.mask{
    display: none;
    width:100%;
    min-height:768px;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    z-index: 1111;
}
/*保存*/
.m_saveToList{
    position: absolute;
    top:30%;
    left:30%;
    z-index: 1112;
    background: #fff;
    display: none;
    width:600px;
    height:300px;
    /*保存 成功时*/
    background: url("../../image/me/m_saveSuccess.png") no-repeat center;
    /*保存 失败时*/
   /* background: url("../../image/me/m_saveLose.png") no-repeat center;*/
}
#c_closeG{
    margin-right:20px;
}
/*打印*/
.m_publish{
    display:none;
    position: absolute;
    top:30%;
    left:30%;
    z-index: 1112;
    background: #fff;
    width:600px;
    height:300px;
    border:1px solid #ccc;
    border-radius: 5px;
  /*  background: url("../../image/me/workPubSuccess.png") no-repeat center;*/
}
.m_publish p{
    color:#fff;
    width:140px;
    height:50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;

}
.m_publish .noAnalyze{
    background: #59c1e4;
    border:1px solid #59c1e4;
    position: absolute;
    left:150px;
    top:100px;
}
.m_publish .hasAnalyze{
    background: #faa249;
    border:1px solid #faa249;
    position: absolute;
    right:150px;
    top:100px;
}
.btnExit{background:#f9a24a;color:#fff;}
.btnExit:hover {cursor:pointer;background:#f9a24a;color:#fff;}
.btnBack{margin-left: 10px}
.analysisBox p span {
    font-family: "楷体" !important;
    font-size: 17px !important;
    color: #666;
}
.option {
    font-size: 17px;
    font-family: "宋体";
    color: #666;
    margin-top: 7px;
    margin-left: 7px;
}
.option *{
    color: #666 !important;
    font-family: "宋体";
    font-size: 17px;
}
.addAndRemove {
    display: none !important;
}

.questionContextChanged span,.questionContext span{
    color: #333;
}
.title_button {
    overflow: hidden;
    right: 0;
    width: 100%;
    padding: 0 19%;
    position: fixed;
}
.paperTitle {
    margin-top: 50px;
}