html,body{
    margin:0;
    padding:0;
    background: #ecedf1;
}
/*媒体查询*/
@media screen and (max-width: 1366px){
    /*内容区*/
    .m_Mian{
        width:960px;
        min-height:572px;
        background: #fff;
        border-radius: 10px;
        margin:0 auto;
        margin-top: 45px!important;
        padding-bottom: 20px;
    }
    /*上传区域*/
    .m_upload{
        display: block;
        width:192px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background: #65b113;
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .m_list{
        display: block;
        width:192px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background:url("../../image/me/m_whide_03.jpg");
        line-height: 45px;
        text-align: center;
        border-radius: 10px;
        color: #333333;
        cursor: pointer;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    /*提交*/
    .m_buttoncl{
        display: block;
        width:188px;
        height: 40px;
        border-radius: 10px;
        background:#cccccc ;
        color: #fff;
        margin-top: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 156px!important;
        cursor: pointer;
        border:0;
        outline: none;
    }
    /*上传规则*/
    .m_rule_word{
        width:512px;
        height: 395px;
        background: #fff;
        border-radius: 10px;
        display: block;
        left:50%!important;
        top:50%!important;
        margin-left: -256px;
        margin-top: -196px;
        position: relative;
        overflow:hidden ;
    }
}
@media screen and (min-width:1366px){
    /*内容区*/
    .m_Mian{
        width:1080px;
        min-height:644px;
        background: #fff;
        border-radius: 10px;
        margin:0 auto;
        margin-top: 45px!important;
        padding-bottom: 40px;
    }
    /*上传区域*/
    .m_upload{
        display: block;
        width:216px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background: #65b113;
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .m_list{
        display: block;
        width:216px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background:url("../../image/me/m_whide_03.jpg");
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        color: #333333;
        cursor: pointer;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    /*提交*/
    .m_buttoncl{
        display: block;
        width:211px;
        height: 40px;
        border-radius: 10px;
        background:#cccccc ;
        color: #fff;
        margin-top: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 156px!important;
        cursor: pointer;
        border:0;
        outline: none;
    }
    /*上传规则*/
    .m_rule_word{
        width:576px;
        height: 441px;
        background: #fff;
        border-radius: 10px;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -288px;
        margin-top: -220px;
    }
}
@media screen and (min-width: 1600px){
    /*内容区*/
    .m_Mian{
        width:1200px;
        height:745px;
        background: #fff;
        border-radius: 10px;
        margin:0 auto;
        margin-top: 45px!important;
    }
    /*上传区域*/
    .m_upload{
        display: block;
        width:240px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background: url("../../image/me/m_wshow_03.jpg");
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
    .m_list{
        display: block;
        width:240px;
        height:45px;
        float: left;
        box-sizing: border-box;
        margin-left: 22px!important;
        background:url("../../image/me/m_whide_03.jpg");
        line-height: 45px;
        text-align: center;
        border-radius: 10px;
        font-size: 18px!important;
        color: #333333;
        cursor: pointer;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    /*提交*/
    .m_buttoncl{
        display: block;
        width:235px;
        height: 40px;
        border-radius: 10px;
        background:#cccccc ;
        color: #fff;
        margin-top: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 156px!important;
        font-size: 18px!important;
        cursor: pointer;
        border:0;
        outline: none;
    }
    /*上传规则*/
    .m_rule_word{
        width:640px;
        height: 490px;
        background: #fff;
        border-radius: 10px;
        display: block;
        position: absolute;
        left:50%!important;
        top:50%!important;
        margin-left: -320px;
        margin-top: -245px;
    }
}
/*公共部分*/
.m_list ,.m_upload{border-radius: 10px;overflow: hidden;}
/*上传区*/
.m_title{
    display: block;
    width:100%;
    height:65px;
    border-bottom:1px solid #dddddd;
    color: #fff;
}

.m_uploadselet{
    background: url("../../image/me/m_whide_03.jpg");
    color: #333;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.m_listselet{
    background:#65b113;
    color: #fff;
}
.m_rule{
    float: right;
    color: #8cd3e9;
    cursor: pointer;
    font-size: 18px;
}
/*上传*/
.m_up{
      display: block;
      width:100%;
      height:40px;
      margin-top: 30px!important;
      margin-bottom: 0!important;
      }
/*上传成功*/
.m_upsuccess{

    height:40px;
    box-sizing: border-box;;
    border-radius: 10px;
    background: #f6f6f6;
    padding: 0 20px;
    margin-left: 80px!important;
    float: left;
}
.m_upimg{
    display: block;
    width:25px;
    height:25px;
    float: left;
    margin-top: 7.5px!important;
    margin-left: 15px!important;
}
.m_upname{
    display: block;
    float: left;
    margin-top: 10px!important;
    margin-left: 5px!important;
}
.m_progerss{
    display: block;
    width:100px;
    height:5px;
    border-radius: 2.5px;
    background: #65b113;
    float: left;
    margin-top: 18px!important;
    margin-left: 5px;
}
.m_upture{
    width:20px;
    height:20px;
    float: right;
    margin-top: 10px!important;
    margin-left: 10px!important;
    display: none;
}
.m_upreloadc{
    display: block;
    width:30px;
    height:30px;
    float: left;
    margin-top: 9px!important;
    margin-left: 10px!important;
    cursor: pointer;
}
.m_uploadword{
    display: block;
    float: left;
    margin-top: 11px!important;
    margin-left: 5px!important;
    color: #58c1e4;
}
.m_upfalse{

    width:20px;
    height:20px;
    float: left;
    margin-top: 10px!important;
    margin-left: 10px!important;
}
/*删除*/
.m_upremove{
    float: left;
    margin-top: 5px;!important;
    margin-left:30px!important;
    cursor: pointer;
}
.m_updisplay{
    display: none;
}
.m_upclick{
    display: block;
    width:90px;
    height: 40px;
    background: #dfdfdf;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    float: left!important;
    margin-left: 80px!important;
    color: #333;
    cursor: pointer;
    border:0;
    outline: none;
}
.m_upworrd{
    float: left;
    margin-left: 10px!important;
    line-height: 40px;
    color: #333;
}
/*类型*/
.m_typec,.m_subject,.m_classc,.m_titlecl{
    display: block;
    width: 100%;
    height:40px;
    line-height: 40px;
    margin-top: 28px!important;
}
/*星号 名称*/
.m_mustc,.m_clssifyc,.m_subjectc,.m_classcl{
    display: block;
    float: left;
}
/*星号*/
.m_mustc{
     color: #ce302f;
     margin-left:80px!important;
 }
.m_clssifyc,.m_subjectc,.m_classcl,.m_caption{
    margin-left:10px!important;
    color: #a4a4a4;
    line-height: 40px;
}
/*类型*/
.m_typecl{
    display: block;
    width: 80px;
    height:30px;
    float: left;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px!important;
    border-radius: 10px;
}

.m_typeadd{
    color: #65b113;
}

/*选择册次 年级*/
.m_subchose,.m_classchose{
    position: relative;
    float: left;
    width: 195px;
    height: 40px;
    border:1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-size: 14px!important;
    color: #333;
    margin-left: 5px!important;
}
.m_subchoseinput,.m_classchoseinput{
    width: 80%;
    height: 32px;
    border: 0;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
/*图片下拉*/
.m_subjectimg,.m_classimg{
    margin:17px 5px;
}
/*list*/
.m_classul,.m_subul{
    position: absolute;
    top: 40px;
    left: 0;
    width:195px;
    min-height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-indent: 10px;
    background: #fff;
    display: none;
    z-index: 100;
}

.m_sublist,.m_classlist{
    height: 40px;
    color: #333;
    font-size: 14px!important;
}
/*标题*/
.m_captin_select{
    width:340px;
    height:38px;
    border-radius:10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding-left: 10px;
    outline: none;
    font-size: 14px!important;
}
/*简介*/
.m_brief{
    display: block;
    width:100%;
    min-height: 170px;
    margin-top: 25px!important;
}
.m_briefword{
    display: block;
    float: left;
    margin-left:98px!important;
    color: #a4a4a4;
    line-height: 40px;
}
.m_briefcl{
    border: 1px solid #ccc;
    display: block;
    float: left;
    width:340px;
    height:160px;
    margin-left: 5px!important;
    resize: none;
    font-size: 14px!important;
    margin-top: 10px!important;
    border-radius: 10px;
    outline: none;
    text-indent: 10px;
}

/*遮罩层*/
.m_sharkcl{
    position:fixed ;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    display: none;
}
.m_success{
    display: block;
    width:690px;
    height:350px;
    left:50%!important;
    top:50%!important;
    margin-left: -345px;
    margin-top: -175px;
    position: relative;
}
/*提交成功*/
.m_success_word{
    display: block;
    width:160px;
    min-height: 55px;
    position: absolute;
    top:105px;
    right:170px;
    line-height: 36px;
}
.m_success_dele{
    display: block;
    width:35px;
    height: 25px;
    /*background: #fff;*/
    position: absolute;
    top:0;
    right:40px;
}
.m_success_color{
    color: #e48823;
}
/*提交失败*/
.m_false_word{
    position: absolute;
    top:145px;
    right:170px;
    line-height: 36px;
}
form{
    /*display: none;*/
}

/*规则*/
.m_rulecl_shark{
    position:fixed ;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 9999;

}

/*删除*/
.m_rule_dele{
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
}
.m_rule_title{
    display: block;
    width:100%;
    line-height: 70px;
    text-align: center;
}
.m_rule_con{
   box-sizing: border-box;;
    padding:0 20px;
    float: left;;
    color: #666;
    font-size: 14px;
    width: 100%;
    line-height: 30px;
}
.fileBox{cursor: pointer; width: 90px;height: 35px;position: relative;margin-left: 80px; border: 1px solid #ccc;border-radius: 10px;box-sizing: border-box; float: left;background: url("../../../static/image/me/btnbg.jpg") 0 0 repeat;text-align: center; line-height: 33px;font-size: 14px;color: #333;}
.filebtn{float: left;width: 100%;height: 100%;text-align: center;cursor: pointer;}
.fileinput{position: absolute;top: 0;right: 0;width: 90px;height: 35px; filter: alpha(opacity=0);  opacity: 0;  outline: none;  background: white;  cursor: pointer;  display: block;}
.f-progress{float: left;}
.progress{margin-top: 17%;margin-left: 15px; width: 100px;height: 5px;border: 1px solid #ccc;background: white; border-radius: 3px; position: relative;float: left;overflow: hidden;}
.progress-bar{width:0;height: 5px;background: #65b113 ; float: left;}
/*列表*/

.UpListHead{float: left;width: 100%;height: 55px;line-height: 55px;box-sizing: border-box;background: #f6f6f6;}
.UpListHead li{float: left;width: 100%;height: 100%;text-align: center; line-height: 55px;box-sizing: border-box;color: #333;}
.UpListHead li:nth-child(1){width: 25%;}
.UpListHead li:nth-child(2){width: 25%;}
.UpListHead li:nth-child(3){width: 15%;}
.UpListHead li:nth-child(4){width: 20%;}
.UpListHead li:nth-child(5){width: 15%;}
.UpList{float: left;width: 100%;position: relative;height: 600px;}
.UpList li:nth-child(2n+1){background: white;}
.UpList li:nth-child(2n){background: #f6f6f6;}
.UpList li{float: left;width: 100%;height: 40px; text-align: center;font-size: 16px; line-height: 40px;box-sizing: border-box;color: #333;}
.UpList li>span{float: left;text-align: center;line-height: 40px;color: #333;}
.UpList li>span>img{vertical-align: middle;}
.UpList li>span:nth-child(1){width: 25%;}
.UpList li>span:nth-child(2){width: 25%;}
.UpList li>span:nth-child(3){width: 15%;}
.UpList li>span:nth-child(4){width: 20%;}
.UpList li>span:nth-child(5){width: 15%;}
@media screen and (max-width:1366px){
    .UpList li{font-size: 12px;}
    .UpListHead li{font-size: 16px;}
}
@media screen and (min-width:1366px){
    .UpList li{font-size: 12px;}
    .UpListHead li{font-size: 16px;}
}
@media screen and (min-width:1600px){
    .UpList li{font-size: 14px;}
    .UpListHead li{font-size: 18px;}
}
.m_list_contont{overflow: hidden;}
.RuleBox{  float: left; width: 100%;height: 80%;overflow-y:auto; }
.m_classlist:hover,.m_sublist:hover{color: #65b113;}
.NoListImg{position: absolute;right: 0;left: 0;top: 0;bottom: 0;margin: auto;}
.m_Mask{position: fixed;width: 100%;z-index: 9999; height: 100%;top: 0;left: 0;background: black;background: rgba(0,0,0,0.5);}
.m_ProUpPro,.m_ProUpProgress{width: 200px;height: 200px;position: absolute;border-radius: 100%; left: 0;right: 0;bottom: 0;top: 0;margin: auto;background: #ccc;;}
.m_ProUpProgress{width: 180px;height: 180px;background: white;overflow: hidden;}
.m_ProUpProIn{background: #65b113;width: 100%;height: 0;position: absolute;right: 0;bottom: 0;}
.m_ProNumber{position: absolute;width: 180px;height: 180px;z-index: 5;top: 0;left: 0;font-size: 34px;color: #333;text-align: center;line-height: 180px;}
.m_ProTxt{font-size: 30px;color: white;width: 200px;height: 40px;line-height: 40px;text-align: center; position: absolute;left:0 ;right: 0;bottom: -45px; margin: auto;}
