.test_Previewpaper{
    width:100%;
    min-height: 750px;
    background: #fff;
    border-radius: 10px;
    margin-top: 40px;
}
.test_Previewname{
    width:100%;
    height: 60px;
    text-align: center;
    font-size: 24px!important;
    color: #333;
    line-height: 60px;
    /*border-bottom: ;*/

}
.test_Previewposition{
    width:96%;
    min-height:100px;
    padding: 0 2% 30px;
    overflow: hidden;
}
/*班级管理*/
.test_Previewpositionclass{
    width:180px;
    height:45px;
    background: #49b9df;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    font-size: 18px!important;
    float: right;
    margin-top: 10px!important;
    cursor: pointer;
}
.test_Previewpositionclass:hover{
    background: #0fa7db;
}
/*遮罩层*/
.task_shark{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    left:0;
    display: none;
}
.task_class{
    width:620px;
    height:465px;
    background: #fff;
    top:50%;
    left:50%;
    margin-left: -310px;
    margin-top: -233px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.task_delete{
    position: absolute;
    right: 30px;
    top:30px;
    font-size: 24px!important;
    cursor: pointer;
}

/*班级目标*/
.task_target{
    width:100%;
    text-align: center;
    font-size: 24px!important;
    color: #88cde8;
    margin-top: 30px!important;
}
.task_portrait{
    width:100%;
    height:200px;

}
.task_meimg,.task_vsimg,.task_uimg{
    float: left;
    text-align: center;
    margin-right: 60px!important;
    position: relative;
}
.task_me,.task_u{
    display: block;
    width:120px;
    height:120px;
    background: #ccc;
    border-radius: 60px;
    margin-top: 40px!important;

}
.task_mename,.task_uname{
    margin-top: 20px!important;

}
.task_meimg{
    margin-left: 90px!important;
}
.task_vsimg{
    margin-top: 35px!important;
    margin-right: 60px!important;
}

/*正确率*/
.task_rate,.task_umtime{
    width:510px;
    height:50px;
    border: 4px solid #88cde8;
    border-radius: 25px;
    margin:0 auto;
    margin-top: 30px!important;
}
.task_merate,.task_merateword,.task_urate,.task_metime,.task_metimeword,.task_utime{
    width:170px;
    height:50px;
    float: left;
    color: #88cde8;
    text-align: center;
    line-height: 50px;
    font-size: 24px!important;
}
.task_merateword,.task_metimeword{
    background: #88cde8;
    color: #fff;
}
/*头像*/
.task_me,.task_u{
    display: block;
    width:120px;
    height:120px;
    background: url("../../image/test/head.png") no-repeat;
    background-size: 120px;

}
/*皇冠*/
.peom{
    position: absolute;
    top:15px;
    display: none;
}
.task_nodo{
    position: absolute;
    top:30px;
    right:-25px;
    display: none;
}
.task_pk{
    position: absolute;
    top:10px;
    right: -75px;
    display: none;
}
.test_Previewpositionpaper{
    margin-top: 40px!important;
}
/*试卷区域*/
.test_Previewpositionpaper{
    margin-top: 40px!important;
}
.test_Previewpositionpaper p {
    display:inline-block;
    margin-top: 5px!important;
    font-size: 16px!important;
}
.p1{font-size: 16px!important;line-height: 30px!important;color: #333;}
/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 40px!important;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
.test_Previewpositionpaper,.test_Previewpositionpaper span,.test_Previewpositionpaper p{
    font-size: 14px!important;
    /*color: #666!important;*/
}
.questionTitle img{
    max-width: 100%;
}
.questionTitle .wr_img{
    display: inline-block;
    width:30px;
}