html,body{
    margin:0;
    padding:0;
    background: #f6f6f6;
}
@media screen and (max-width: 1366px) {
    .homework_lookmain{
        width:960px;
        margin:0 auto;
        overflow: hidden;
    }
}
@media screen and (min-width: 1366px) {
    .homework_lookmain{
        width:1080px;
        margin:0 auto;
        overflow: hidden;
    }
}
@media screen and (min-width: 1600px) {
    .homework_lookmain{
        width:1200px;
        margin:0 auto;
        overflow: hidden;
    }
}
.homework_name{
    width:100%;
    text-align: center;
    margin:50px auto;
}
.homework_word{
    width:100%;
    text-align: center;
    margin:0  auto 40px;
}
.homeworkword,.homeworkname,.homeworksolve{
    display: inline-block;
    width:250px;
    height:45px;
    background: #e7e7e7;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    color: #666;

}
.homeworkname,.homeworksolve{
    margin-left: 45px;
}
/*列表*/
.homework_ullook{
    width:100%;
    min-height: 100px;
    background: #fff;
    margin-top: 45px;
    padding-bottom: 35px;
    border-radius: 10px;
    color: #666;
}

.homework_lilook span{
    display: inline-block;
    width:25%;
    height:40px;
    background: #fff;
    line-height: 40px;
    text-indent: 45px;
    text-align: center;
    color: #666;
    border-top: 1px solid #ccc;
}
.homework_lilook:first-child span{
    display: inline-block;
    width:25%;
    height:65px;
    background: #fff;
    line-height: 65px;
    text-indent: 45px;
    text-align: center;
    color: #333;
    border:0;
    border-radius: 10px;
}
.homework_lilook:last-child{
    border-bottom: 1px solid #ccc;
}
span.homework_slook{
    color: #67c5e6;
}