html,body{
    margin:0;
    padding:0;
    background: #f6f6f6;
}
@media screen and (max-width: 1366px){
    .home_formcl{
        width:960px;
        margin:0 auto;
        overflow: hidden;
    }

}

@media screen and (min-width: 1366px){
    .home_formcl{
        width:1080px;
        margin:0 auto;
        overflow: hidden;
    }

}
@media screen and (min-width: 1600px){
    .home_formcl{
        width:1200px;
        margin:0 auto;
        overflow: hidden;
    }

}
.home_ul{
    width:100%;
    min-height: 100px;
    background: #fff;
    margin-top: 45px;
    padding-bottom: 35px;
    border-radius: 10px;
    color: #666;
}
/*日期*/
.home_time{
    width:100%;
    height:65px;
    background: #fff;
    line-height: 65px;
    text-indent: 45px;
    border-radius: 10px;
}
.home_li{
    width:100%;
    height:40px;
    /*border-bottom: 1px solid #ccc;*/
    border-top: 1px solid #ccc;
    line-height: 40px;
}
.home_li:last-child{
    /*border-top: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
}
.home_li:nth-of-type(odd){
    background: #f6f6f6;
}
.home_great,.home_test,.home_look{
    display: inline-block;
    width:33%;
    text-align: center;
}
.home_look{
    color: #67c5e6;
}