html,body{
    margin:0;
    padding:0;
}
.Com_Main{
    min-height:750px;
    border-radius: 10px;
    background: #f9fdfe;
    padding: 0 0 80px;
    position: relative;
}
.Com_Crumbs{
    margin-bottom: 40px!important;
}
.letter{
    width:100%;
    min-height:550px;
    margin:0 auto;
    position: relative;
}
.auther{
    width:100%;
    text-align: center;
    margin-bottom: 40px;
    color: #666;
    margin-top: 16px;
}
/*logo*/
.model_reflash{
    font-size: 24px!important;
}
.model_time{
    font-size: 32px!important;
    color: #49b9df;
    margin-right: 10px!important;
}
.model_logo{
    width:100%;
    height:60px;
    box-sizing: border-box;
    font-size: 24px!important;
    color: #333;
    position: relative;
    line-height: 60px!important;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../../../static/image/chinese/bg.png") repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    /*display: none;*/
}
.model_logoimg{
    display: inline-block;
    /*width:44px;*/
    /*height:44px;*/
    margin-left: 35px;
    float: left;
}
.model_logoname{
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.letter_name{
    width:90%;
    font-size: 18px!important;
    text-align: center;
    margin:40px  auto 0;
    position: relative;
}
.letter_teacherword{
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #49b9df;
    color: #fff;
    font-size: 18px!important;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
    right: 0;
    top:-7px;
    cursor: pointer;
}
.letter_paper{
    width:90%;
    min-height: 350px!important;
    margin: 0 auto 0;
}
/*翻译区*/
.letter_chinese{
    width:90%;
    display: none;
    font-size: 16px!important;
    color: #666;
    margin:20px auto 0;
    line-height: 32px!important;
}
/*翻译按钮*/
.letter_lookNew{
    width: 90%;
    height:10px;
    margin:-20px auto 0;
}
.click_look{
    width:100px;
    float: right;
}
.click_look{
    color: #49b9df;
    cursor: pointer;
    font-size: 18px;
}
/*功能键*/
.letter_funtion{
    width:90%;
    margin:0 auto;
}
.letter_issh{
    display: inline-block;
    width:80px;
    height:30px;
    margin-top: 15px!important;
    line-height: 30px;
    float: left;
    display: none;
}
.letter_nosh{
    display: inline-block;
    width:20px;
    margin-left: 25px!important;
    cursor: pointer;
}
.letter_ka{
    display: inline-block;
    width:150px;
    height:40px;
    background: #49b9df;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    /*margin-left: 20px!important;*/
    font-size: 18px;
    margin-top: 12px;
    cursor: pointer;
}
.letter_word{
    display: inline-block;
    width:100px;
    height:34px;
    background: url("../../image/test/test_word.png") no-repeat;
    text-align: center;
    line-height: 34px;
    color: #666;
}
/*分享*/
.ShareClose{
    float: right!important;
    font-size: 18px!important;
    color: #222;
    cursor: pointer;
}
/*老师要求*/
/*遮罩层*/
.shark{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    display: none;
    z-index: 999;
}
.teacher_redmine{
    width:620px;
    height:465px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -310px;
    margin-top: -232px;
    position: relative;
}
.teacher_redminename{
    width:100%;
    height: 70px;
    font-size: 20px!important;
    color: #49b9df;
    text-align: center;
    line-height: 70px!important;
}
.teacher_redmineword{
    width:495px;
    height:310px;
    border-radius: 10px;
    border:1px solid #ccc;
    margin:0 auto;
    line-height: 20px;
    font-size: 18px!important;
    color: #666;
    padding: 20px 20px;
}
.teacher_redmineClose{
    font-size: 24px;
    color: #333;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}
.letter_paper p ,.letter_paper span,.p1{
    color: #666 !important;
    font-size: 16px !important;
    line-height: 30px !important;
}
.letter_word,.letter_chinese{
    display: none;
}
.letter_funtion{
    margin-top: 20px!important;
}
/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 40px!important;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
#Phone{

    display: none;
}
.letter_ka:hover{
    background: #0fa7db;
}
.letter_teacherword:hover{
    background: #0fa7db;
}
/*聽力*/
/**********************************音频公共样式*******************************************************/
/*@media screen and (max-width: 1366px){*/
    /*.audioplayer { height: 85px; color: #ffffff; position: fixed;z-index: 1;background: rgba(255, 255, 255, 1);width: 100%;bottom: 20px}*/
/*}*/
/*@media screen and (min-width: 1366px){*/
    /*.audioplayer { height: 85px; color: #ffffff; position: fixed;z-index: 1;background: rgba(0, 0, 0, 0.49);width: 990px;bottom: 20px}*/
/*}*/
/*@media screen and (min-width: 1600px){*/
    /*.audioplayer { height: 85px; color: #ffffff; position: fixed;z-index: 1;background: rgba(0, 0, 0, 0.49);width: 1190px;bottom: 20px}*/
/*}*/
@media screen and (max-width: 1366px) {
    .lession{
        width:900px;

    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: fixed;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 900px;
        border-top: 1px solid #ccc;
    }
}
@media screen and (min-width: 1366px) {
    .lession{
        width:1000px;

    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: relative;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 1000px;
        border-top: 1px solid #ccc;
    }
}
@media screen and (min-width: 1600px) {
    .lession{
        width:1200px;


    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: relative;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 1200px;
        border-top: 1px solid #ccc;
    }
}
.lession{position: absolute;left: 0;right: 0;margin: 0 auto;}
.audioplayer > div{ position: absolute;}
.audioplayer-playpause{width: 30px;height: 30px;text-align: left;  text-indent: -9999px;  cursor: pointer;  z-index: 2; bottom: 0;top: 0;margin: auto 0; left: 90px;  }
.audioplayer-playpause span { display: block;}
.audioplayer-stopped .audioplayer-playpause span { background: url("../../../static/image/prepare/p_playico0.png");width: 30px;height: 30px;}
.audioplayer-playing .audioplayer-playpause span {background: url("../../../static/image/prepare/p_palyico1.png");width: 30px;height: 30px;}
.audioplayer-time{width: 70px;height: 100%;line-height:60px; text-align: center;z-index: 2;top:0;color:#fff;}
.audioplayer-time-current {color: #fff; left:62%; }
.audioplayer-time-cut { color: #fff; left:65%; }
.audioplayer-time-duration {left: 68%;}/*color: #ffffff;*/
.audioplayer-novolume .audioplayer-time-duration{  border-right: 0; right: 0;}
.audioplayer-bar{height: 10px;width: 40%;float:left;background-color:#F6F6F6;box-sizing: border-box;border-top:1px solid #E4E4E4; cursor: pointer;z-index: 1;top: 25px;left: 19%;}
.audioplayer-bar div{ width: 0; height: 100%;position: absolute; left: 0; top: 0;}
.audioplayer-bar-loaded{ background-color: #F6F6F6;; z-index: 1;}
.audioplayer-bar-played{ background: #F6F6F6;; z-index: 2;}
.audioplayer-volume{ width: 23%;height: 45px;text-align: left;float:left;text-indent: -9999px;  cursor: pointer;  z-index: 2;  top:22px;  right: 0;}
.audioplayer-volume-button{ width: 40px;height: 30px; float: left;background: url("../../../static/image/prepare/p_voiceico0.png") 0 0 no-repeat}
.audioplayer-volume-button a { width: 5px;height: 6px; background-color: #fff;display: block; position: relative;  z-index: 1; top: 40%; left: 35%;  }
.audioplayer-volume-button a:before,.audioplayer-volume-button a:after { content: ''; position: absolute;}
.audioplayer-volume-button a:before{ width: 0;  height: 0;  border: 8px solid transparent;  border-left: none;  border-right-color: #fff;  z-index: 2;  top: 50%;  right: -4px;  margin-top: -8px;  }
.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {  width: 5px;  height: 5px;  border: double #fff;  border-width: 4px 4px 0 0;  left: 9px;  top: -1px;  border-radius: 0 15px 0 0;  -webkit-transform: rotate( 45deg );  -moz-transform: rotate( 45deg );  -ms-transform: rotate( 45deg );  -o-transform: rotate( 45deg );  transform: rotate( 45deg );  }
.audioplayer-volume-adjust{width: 69% ;float: left;height: 20px;line-height: 20px;}
.audioplayer-volume-adjust > div { width: 100%;height: 10px;background-color:#F6F6F6;box-sizing: border-box;border-top:1px solid #E4E4E4; ;cursor: pointer;position: relative;z-index: 1;margin: 5px auto 0;  }
.audioplayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;left: 0;}
.audioplayer-volume-adjust div div,.audioplayer-bar-played{ background: #58C1E4;}
.audioplayer-volume-adjust div div{ background: #58C1E4; }
.audioplayer-bar,.audioplayer-bar div,.audioplayer-volume-adjust div{ -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;  }
.audioplayer { -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 5px; }
.audioplayer-volume-adjust{ -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px;  -moz-border-radius-topleft: 2px;  -moz-border-radius-topright: 2px;  border-top-left-radius: 2px;  border-top-right-radius: 2px;  }
.WordMode{cursor: pointer;text-align: center;width: 40px;height: 40px;position: absolute;left: 30px;box-sizing: border-box; background: white;border-radius: 100%;border: 3px solid #58C1E4;line-height: 32px;top: 0;bottom: 0;margin: auto; font-weight: bold; color: #333;font-size: 20px;float: left; }
.wrapper {float: left;box-sizing: border-box; width: 100%;background: #F9FDFE; margin: 0 auto;position: relative;}
.player {position: fixed;bottom: 5px;left: 0;right: 0;z-index: 99;}
.playlist {float: left;display: none  ;text-align: left;width: 300px;height: 500px;overflow: hidden; padding: 20px 0 20px 25px;box-sizing: border-box; z-index: 999; background:#6D6D6D;}
.playlist a {color: white;font-size: 16px;}
.info a {color: #bbb;text-decoration: underline;}
.playlist ul {  height: 480px;  overflow: auto;  margin: 0;  }
.lyricWrapper {  height: 536px; width: 100%; box-sizing: border-box;padding:0 35px; text-indent: 30px;  overflow: hidden;  position: relative; color:#666;}
.lyricContainer {position: relative;top: 0;font-size: 18px;text-align: left;line-height: 45px; }
.noVoice {
    width: 40px;
    height: 30px;
    float: left;
    background: url("../../../static/image/prepare/p_voiceico1.png") 0 0 no-repeat !important;
}