html,body{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
}
@media screen and (max-width: 1366px) {
    .Com_Main{
        width:900px;
        position: relative;
    }
}
@media screen and (min-width: 1366px) {
    .Com_Main{
        width:1000px;
        position: relative;
        overflow: visible;
    }
}
@media screen and (min-width: 1600px) {
    .Com_Main{
        width:1200px;
        position: relative;
        overflow: visible;
    }
}
.Com_Crumbs{
    margin-bottom: 40px!important;
}
.task_paper{
    width:100%;
    min-height: 750px!important;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
/*头部*/
.task_title{
    width:100%;
    height:100px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.task_name{
    width:100%;
    text-align: center;
    line-height: 60px!important;
    position: relative;
}
.task_tiltename{
    display: inline-block;
    min-width:100px;
    height: 40px;
    /*background: #ccc;*/
    font-size: 18px!important;
    color: #333;
}
.task_time{
    width:100%;
    text-align: center;
    font-size: 14px!important;
    color: #333;
}
.task_usedtime{
    margin-left: 30px!important;
}
/*报告区域*/
.task_storage{
    width:100%;
    min-height: 750px;
    position: relative;
}
.task_strogepaper,.task_studiesclassfiy{
    width:73%;
    min-height: 750px;
    float: left;
    margin-top: 2px!important;
    padding: 0 2%;
}
.task_bc{
    width: 3.5%;
    min-height: 800px;
    float: left;
    background: url("../../image/test/see_report.png") 0 0 repeat-y;
    background-size: 100%;
    margin-top: 2px!important;
    padding-bottom: 60px!important;
    position: absolute;
    top: 0;
    right: 21%;
    z-index: 1;
}
.task_strogetitle{
    width: 23%;
    min-height: 750px;
    float: left;
    margin-top: 2px!important;
    padding-bottom: 30px!important;
    position: relative;
}
.task_strogetitleDeposit{
    width:100%;
    height:90%;
    margin-top: 2px!important;
    padding-bottom: 30px!important;
    position: absolute;
    left:2%;
    top:0;
}
@media screen and (max-width: 1366px) {
    /*题目区域*/
    /*用时*/
    .task_usetime{
        font-size: 18px!important;
        color: #333;
        margin:20px auto;
        text-align: center;
    }
    /*题号*/
    .task_ti{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        font-size: 12px!important;
        float: left;
        color: #333;
        cursor: pointer;
        margin:10px 8px 0;
        background: #fff;
    }
    /*班级目标*/
    .task_classtarget{
        display: inline-block;
        width:115px;
        height: 42px;
        background: #f9a24a;
        color: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 18px!important;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        top:27.5px;
        cursor: pointer;
    }
}
@media screen and (min-width: 1366px) {
    /*题目区域*/
    /*用时*/
    .task_usetime{
        font-size: 18px!important;
        margin: 20px auto;
        color: #333;
        text-align: center;
    }
    /*题号*/
    .task_ti{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        font-size: 12px!important;
        float: left;
        color: #333;
        cursor: pointer;
        margin:10px 10px 0;
        background: #fff;
    }
    /*班级目标*/
    .task_classtarget{
        display: inline-block;
        width:150px;
        height: 42px;
        background: #f9a24a;
        color: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 18px!important;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        top:27.5px;
        cursor: pointer;
    }
}
@media screen and (min-width: 1600px) {
    /*题目区域*/
    /*用时*/
    .task_usetime{
        font-size: 18px!important;
        color: #333;
        margin:20px auto;
        text-align: center;
    }
    /*题号*/
    .task_ti{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        font-size: 12px!important;
        float: left;
        color: #333;
        cursor: pointer;
        margin:10px 10px 0;
        background: #fff;
    }
    /*班级目标*/
    .task_classtarget{
        display: inline-block;
        width:150px;
        height: 42px;
        background: #f9a24a;
        color: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 18px!important;
        border-radius: 10px;
        position: absolute;
        right: 30px;
        top:27.5px;
        cursor: pointer;
    }
}
/*题目区域*/
.task_attention{
    width: 76%;
    margin: 0 auto;
    margin-top: 25px!important;
    font-size: 14px!important;
    color: #ca0d0d;
    line-height: 24px;
    letter-spacing: 1px;
}
.attention{
    text-align: center;
    font-size: 18px;
}
.task_seetitle{
    width: 98%;
    max-height: 35%;
    margin: 20px auto 0;
    overflow: auto;
    background: #f6f6f6;
}
.task_tiname{
    font-size: 18px!important;
}
.task_see{
    width:100%;
    height:32px;
    background: #f6f6f6;
    padding-top:20px;
}
/*遮罩层*/
.task_shark{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    left:0;
    display: none;
    z-index: 9;
}
.task_class{
    width:620px;
    height:465px;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -310px;
    margin-top: -233px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.task_delete{
    position: absolute;
    right: 30px;
    top:30px;
    font-size: 24px!important;
    cursor: pointer;
}

/*班级目标*/
.task_target{
    width:100%;
    text-align: center;
    font-size: 24px!important;
    color: #88cde8;
    margin-top: 30px!important;
}
.task_portrait{
    width:100%;
    height:200px;

}
.task_meimg,.task_vsimg,.task_uimg{
    float: left;
    text-align: center;
    margin-right: 60px!important;
    position: relative;
}
.task_me,.task_u{
    display: block;
    width:120px;
    height:120px;
    background: #ccc;
    border-radius: 60px;
    margin-top: 40px!important;

}
.task_mename,.task_uname{
    margin-top: 20px!important;

}
.task_meimg{
    margin-left: 90px!important;
}
.task_vsimg{
    margin-top: 35px!important;
    margin-right: 60px!important;
}

/*正确率*/
.task_rate,.task_umtime{
    width:510px;
    height:50px;
    border: 4px solid #88cde8;
    border-radius: 25px;
    margin:0 auto;
    margin-top: 30px!important;
}
.task_merate,.task_merateword,.task_urate,.task_metime,.task_metimeword,.task_utime{
    width:170px;
    height:50px;
    float: left;
    color: #88cde8;
    text-align: center;
    line-height: 50px;
    font-size: 24px!important;
}
.task_merateword,.task_metimeword{
    background: #88cde8;
    color: #fff;
}
/*头像*/
.task_me,.task_u{
    display: block;
    width:120px;
    height:120px;
    background: url("../../image/test/head.png") no-repeat;
    background-size: 120px;

}
/*皇冠*/
.task_up{
    width:80%;
    height: 45px;
    background: #49b9df;
    margin:0 auto;
    font-size: 18px!important;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    margin-top: 40px!important;
    cursor: pointer;
}
.task_upsend{
    width:80%;
    height: 40px;
    background: #49b9df;
    margin:0 auto;
    font-size: 18px!important;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-top: 40px!important;
    cursor: pointer;
}
/*皇冠*/
.peom{
    position: absolute;
    top:15px;
    display: none;
}
.task_nodo,.task_wait_correct{
    position: absolute;
    top:30px;
    right:-25px;
    display: none;
}
.task_pk,.task_blance{
    position: absolute;
    top:10px;
    right: -75px;
    display: none;
}
/*遮罩层*/
.shark,.sharks,.correct_shark,.correct_sharks{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    display: none;
}
.sendpaper{
    position: relative;
    width:690px;
    height:350px;
    background: url("../../image/test/sendpaper.png") no-repeat;
    top:50%;
    left:50%;
    margin-left: -345px;
    margin-top: -175px;
}
/*批改*/
.sendcorrect{
    position: relative;
    width:690px;
    height:350px;
    background: url("../../image/modetest/correct_goon.png") no-repeat;
    top:50%;
    left:50%;
    margin-left: -345px;
    margin-top: -175px;
    /*display: none;*/
}
.model_paper_delete_correr,.model_paper_delete,.model_correct_delete,.model_correct_del{
    display: inline-block;
    width:35px;
    height:35px;
    position: absolute;
    top:0;
    right:40px;
    cursor: pointer;
}
.model_paper_false_correr,.model_paper_false,.model_correct_false,.model_correct_fal{
    display: inline-block;
    width:192px;
    height:45px;
    position: absolute;
    bottom:12px;
    right:135px;
    cursor: pointer;
}

.model_paper_success_correr,.model_paper_success,.model_correct_success,.model_correct_suc{
    display: inline-block;
    width:192px;
    height:45px;
    position: absolute;
    bottom:12px;
    left:140px;
    cursor: pointer;
}
/*试卷样式*/
.analysis{
    position: relative;
    mi-height: 40px;
    line-height: 40px;
}
.Needspeak{
    position: absolute;
    width:60px;
    height: 25px;
    background:#49b9df;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    right: 10px;
    top:0;
    cursor: pointer;
}
.hasNeedspeak{
    position: absolute;
    width:60px;
    height: 25px;
    background: #ccc;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    right: 10px;
    top:0;
    cursor: pointer;
}
/*未批*/
.noSpeek{
    /*position: absolute;*/
    /*width:60px;*/
    /*height: 25px;*/
    /*border:1px solid #ca0d0d;*/
    /*text-align: center;*/
    /*line-height: 25px;*/
    /*color: #ca0d0d;*/
    /*border-radius: 5px;*/
    /*right: 10px;*/
    /*top:0;*/
    /*cursor: pointer;*/
    /*background: #fff;*/
}
/*答案区域*/
.answer{
    /*display: none;*/
}
/*题目区域*/
.topic{
    width:86%;
    min-height:20px;
    margin: 0 auto;
    overflow: hidden;
}
.optionchoose {
    cursor: pointer;
}
.questionanswer{
    margin-left: -900px;
    position: absolute;
}
/*答案区域*/
/*.answer{*/
/*display: none;*/
/*}*/
/*题目区域*/
.task_classtarget{
    cursor: pointer;
}
/*.task_classtarget:hover{*/
    /*background: #0fa7db;*/
/*}*/
.questionanswer{
    margin-left: -900px;
    position: absolute;
}
/*图片*/
.quetion_imge{
    /*display: inline-block;*/
    min-width: 10px;
    min-height: 10px;
    margin-top: 0;
    /*display: none;*/
}
.conts p {
    display: inline-block;
}
.areaT{
    font-size: 18px!important;
    line-height: 36px;
    color: #666;
}
.areaImge{
    width:100%;
}
.areaImge img{
    display: block;
    width:70%;
    margin: 10px auto;
}
.clickplay{
    display: inline-block;
    width:50px;
    height:50px;
    background: url("../../image/test/play_circle0.png") 0 -100px no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.clickplay:hover{
    display: inline-block;
    width:50px;
    height:50px;
    background: url("../../image/test/play_circle0.png") 0 0px no-repeat;
    background-size: 100%;
    cursor: pointer;
}
/*返回键*/
.DH_back{
    position: absolute;
    top:0;
    right:-75px;
    z-index: 9999;
    cursor: pointer;
}
/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 40px!important;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
/*展示对错半对未做标示*/
.hascolorName{
    font-size: 12px;
}
.right{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: #63a500;
}
.rightName{
    color: #63a500;
}
.wrong{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: #d80003;
}
.wrongName{
    color: #d80003;
}
.halfright{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: #ff951d;
}
.halfrightName{
    color: #ff951d;
}
.nodo{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: #989898;
}
.nodoName{
    color: #989898;
}
.hascolor{
    margin-left: 3%;
}
.hascolor:first-child{
    margin-left: 8%;
}
/*试卷样式*/
.task_strogepaper p,.p1,.groung,.task_tiname{
    font-family: "Microsoft YaHei" !important;
    font-size: 14px!important;
    line-height: 28px!important;
}
.lineName:first-child {
    margin-top: 20px!important;
}
.choose .optionchoose{
    margin-right: 10px;
    /*overflow: hidden;*/
}
.optionchoose p{
    display: inline;
}
.questionTitle img{
    max-width: 100%;
}
.questionTitle .wr_img{
    display: inline-block;
    width:25px;
}
.questionTitle{
    margin-top: 10px!important;
    position: relative;
    border:1px solid #fff;
}
.questionTitle:hover{
    border-radius: 10px;
}
/*聽力*/
@media screen and (max-width: 1366px) {
    .lession{
        width:900px;

        z-index: 9;
    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: relative;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 890px;
        border-top: 1px solid #ccc;
    }
}
@media screen and (min-width: 1366px) {
    .lession{
        width:1000px;

        z-index: 9;
    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: relative;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 990px;
        border-top: 1px solid #ccc;
    }
}
@media screen and (min-width: 1600px) {
    .lession{
        width:1200px;

        z-index: 9;
    }
    .audioplayer {
        height: 60px;
        color: #666;
        position: relative;
        bottom: 0;
        z-index: 1;
        background:rgba(0,0,0,0.6);
        width: 1190px;
        border-top: 1px solid #ccc;
    }
}
.lession{position: absolute;left: 0;right: 0;margin: 0 auto;}
.audioplayer > div{ position: absolute;}
.audioplayer-playpause{width: 30px;height: 30px;text-align: left;  text-indent: -9999px;  cursor: pointer;  z-index: 2; bottom: 0;top: 0;margin: auto 0; left: 90px;  }
.audioplayer-playpause span { display: block;}
.audioplayer-stopped .audioplayer-playpause span { background: url("../../../static/image/prepare/p_playico0.png");width: 30px;height: 30px;}
.audioplayer-playing .audioplayer-playpause span {background: url("../../../static/image/prepare/p_palyico1.png");width: 30px;height: 30px;}
.audioplayer-time{width: 70px;height: 100%;line-height:60px; text-align: center;z-index: 2;top:0;color:#fff;}
.audioplayer-time-current {color: #fff; left:62%; }
.audioplayer-time-cut { color: #fff; left:65%; }
.audioplayer-time-duration {left: 68%;}/*color: #ffffff;*/
.audioplayer-novolume .audioplayer-time-duration{  border-right: 0; right: 0;}
.audioplayer-bar{height: 10px;width: 40%;float:left;background-color:#F6F6F6;box-sizing: border-box;border-top:1px solid #E4E4E4; cursor: pointer;z-index: 1;top: 25px;left: 19%;}
.audioplayer-bar div{ width: 0; height: 100%;position: absolute; left: 0; top: 0;}
.audioplayer-bar-loaded{ background-color: #F6F6F6;; z-index: 1;}
.audioplayer-bar-played{ background: #F6F6F6;; z-index: 2;}
.audioplayer-volume{ width: 23%;height: 45px;text-align: left;float:left;text-indent: -9999px;  cursor: pointer;  z-index: 2;  top:22px;  right: 0;}
.audioplayer-volume-button{ width: 40px;height: 30px; float: left;background: url("../../../static/image/prepare/p_voiceico0.png") 0 0 no-repeat}
.audioplayer-volume-button a { width: 5px;height: 6px; background-color: #fff;display: block; position: relative;  z-index: 1; top: 40%; left: 35%;  }
.audioplayer-volume-button a:before,.audioplayer-volume-button a:after { content: ''; position: absolute;}
.audioplayer-volume-button a:before{ width: 0;  height: 0;  border: 8px solid transparent;  border-left: none;  border-right-color: #fff;  z-index: 2;  top: 50%;  right: -4px;  margin-top: -8px;  }
.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {  width: 5px;  height: 5px;  border: double #fff;  border-width: 4px 4px 0 0;  left: 9px;  top: -1px;  border-radius: 0 15px 0 0;  -webkit-transform: rotate( 45deg );  -moz-transform: rotate( 45deg );  -ms-transform: rotate( 45deg );  -o-transform: rotate( 45deg );  transform: rotate( 45deg );  }
.audioplayer-volume-adjust{width: 69% ;float: left;height: 20px;line-height: 20px;}
.audioplayer-volume-adjust > div { width: 100%;height: 10px;background-color:#F6F6F6;box-sizing: border-box;border-top:1px solid #E4E4E4; ;cursor: pointer;position: relative;z-index: 1;margin: 5px auto 0;  }
.audioplayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;left: 0;}
.audioplayer-volume-adjust div div,.audioplayer-bar-played{ background: #58C1E4;}
.audioplayer-volume-adjust div div{ background: #58C1E4; }
.audioplayer-bar,.audioplayer-bar div,.audioplayer-volume-adjust div{ -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;  }
.audioplayer { -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 5px; }
.audioplayer-volume-adjust{ -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px;  -moz-border-radius-topleft: 2px;  -moz-border-radius-topright: 2px;  border-top-left-radius: 2px;  border-top-right-radius: 2px;  }
.WordMode{cursor: pointer;text-align: center;width: 40px;height: 40px;position: absolute;left: 30px;box-sizing: border-box; background: white;border-radius: 100%;border: 3px solid #58C1E4;line-height: 32px;top: 0;bottom: 0;margin: auto; font-weight: bold; color: #333;font-size: 20px;float: left; }
.wrapper {float: left;box-sizing: border-box; width: 100%;background: #F9FDFE; margin: 0 auto;position: relative;}
.player {position: fixed;bottom: 5px;left: 0;right: 0;z-index: 99;}
.playlist {float: left;display: none  ;text-align: left;width: 300px;height: 500px;overflow: hidden; padding: 20px 0 20px 25px;box-sizing: border-box; z-index: 999; background:#6D6D6D;}
.playlist a {color: white;font-size: 16px;}
.info a {color: #bbb;text-decoration: underline;}
.playlist ul {  height: 480px;  overflow: auto;  margin: 0;  }
.lyricWrapper {  height: 536px; width: 100%; box-sizing: border-box;padding:0 35px; text-indent: 30px;  overflow: hidden;  position: relative; color:#666;}
.lyricContainer {position: relative;top: 0;font-size: 18px;text-align: left;line-height: 45px; }
.noVoice {
    width: 40px;
    height: 30px;
    float: left;
    background: url("../../../static/image/prepare/p_voiceico1.png") 0 0 no-repeat !important;
}