html,body{
    /*width:100%;*/
    /*height:100%;*/
    /*overflow: hidden;*/
}
.Com_Main{
    padding: 0;
}
.letter{
    width:100%;
    min-height:100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 40px!important;
}
.auther{
    width:100%;
    text-align: center;
    margin-bottom: 40px;
    color: #666;
    margin-top: 16px;
}
/*logo*/
.model_reflash{
    font-size: 24px!important;
}
.model_time{
    font-size: 32px!important;
    color: #49b9df;
    margin-right: 10px!important;
}
.model_logo{
    width:100%;
    height:60px;
    box-sizing: border-box;
    font-size: 24px!important;
    color: #333;
    position: relative;
    line-height: 60px!important;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../../../static/image/chinese/bg.png") repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    /*display: none;*/
}
.model_logoimg{
    display: inline-block;
    /*width:44px;*/
    /*height:44px;*/
    margin-left: 35px;
    float: left;
}
.model_logoname{
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.letter_name{
    width:94%;
    font-size: 24px!important;
    text-align: center;
    position: relative;
    margin:40px auto 0;
}
.letter_teacherword{
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #49b9df;
    color: #fff;
    font-size: 18px!important;
    text-align: center;
    line-height: 45px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
    right: 0;
    top:-7px;
}
.letter_paper{
    width:94%;
    padding: 0 3% 60px;
    overflow: auto;
    min-height: 800px;
}
.letter_word{
    display: inline-block;
    width:100px;
    height:34px;
    background: url("../../image/test/test_word.png") no-repeat;
    text-align: center;
    line-height: 34px;
    color: #666;
}
p{
    /*line-height: 100px;*/
}
@media screen and (max-width: 1366px) {
    /*功能区*/
    .letter_funtion{
        width:900px;
        height: 60px;
        background: #fff;
        border-top: 1px solid #ccc;
        position: fixed;
        bottom: 0;
        line-height: 60px!important;
    }
    .letter_issh{
        display: inline-block;
        width:80px;
        height:30px;
        border-right: 1px solid #ccc;
        margin-top: 15px!important;
        line-height: 30px;
        float: left;
        display: none;
    }
    .letter_nosh{
        display: inline-block;
        width:24px;
        margin-left: 25px!important;
        cursor: pointer;
    }
    .letter_ka{
        display: inline-block;
        width:150px;
        height:40px;
        background: #49b9df;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        margin-left: 20px!important;
        font-size: 18px;
        margin-top: 12px;
        cursor: pointer;
    }

}
@media screen and (min-width: 1366px) {
    /*功能区*/
    .letter_funtion{
        width:1000px;
        height: 60px;
        background: #fff;
        border-top: 1px solid #ccc;
        position: fixed;
        bottom: 0;
    }
    .letter_issh{
        display: inline-block;
        width:80px;
        height:30px;
        border-right: 1px solid #ccc;
        margin-top: 15px!important;
        line-height: 30px;
        float: left;
        display: none;
    }
    .letter_nosh{
        display: inline-block;
        width:24px;
        margin-left: 25px!important;
        cursor: pointer;
    }
    .letter_ka{
        display: inline-block;
        width:150px;
        height:40px;
        background: #49b9df;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        margin-left: 20px!important;
        font-size: 18px;
        margin-top: 12px;
        cursor: pointer;
    }
}
@media screen and (min-width: 1600px) {
    /*功能区*/
    .letter_funtion{
        min-width:1200px;
        height: 60px;
        background: #fff;
        border-top: 1px solid #ccc;
        position: fixed;
        bottom: 0;
    }
    .letter_issh{
        display: inline-block;
        width:80px;
        height:30px;
        border-right: 1px solid #ccc;
        margin-top: 15px!important;
        line-height: 30px;
        float: left;
        display: none;
    }
    .letter_nosh{
        display: inline-block;
        width:24px;
        margin-left: 25px!important;
        margin-top: 4px!important;
        cursor: pointer;
    }
    .letter_ka{
        display: inline-block;
        width:150px;
        height:40px;
        background: #49b9df;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-radius: 10px;
        margin-left: 20px!important;
        font-size: 18px;
        margin-top: 12px;
        cursor: pointer;
    }
}
.letter_paper p ,.letter_paper span{
    color: #666 !important;
    font-family: "Microsoft YaHei" !important;
    font-size: 16px !important;
    line-height: 30px !important;
}
.letter_word{
    display: none;
}
/*分享*/
.ShareClose{
    float: right!important;
    font-size: 18px!important;
    color: #222;
    cursor: pointer;
}
/*老师要求*/
/*遮罩层*/
.shark{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    display: none;
}
.teacher_redmine{
    width:620px;
    height:465px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -310px;
    margin-top: -232px;
    position: relative;
}
.teacher_redminename{
    width:100%;
    height: 70px;
    font-size: 20px!important;
    color: #49b9df;
    text-align: center;
    line-height: 70px!important;
}
.teacher_redmineword{
    width:495px;
    height:310px;
    border-radius: 10px;
    border:1px solid #ccc;
    margin:0 auto;
    line-height: 20px;
    font-size: 18px!important;
    color: #666;
    padding: 20px 20px;
}
.teacher_redmineClose{
    font-size: 24px;
    color: #333;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}
/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 40px!important;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
.letter_ka:hover{
    background: #0fa7db;
}
.letter_teacherword:hover{
    background: #0fa7db;
}