.DH_paper{
    width: 100%;
    min-height:100px;
    background: #fff;
    border-radius: 10px;
}
.Com_Crumbs{
    margin-bottom: 40px!important;
}
/*题目*/
.DH_title{
    width:100%;
    height:60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px!important;
    color: #333;
}
.DH_strongepaper{
    width: 100%;
    min-height: 750px;
    padding-bottom: 32px!important;
    margin-top: 35px!important;
    overflow: hidden;
}
.DH_strongeoption{
    width:96%;
    min-height: 750px;
    float: left;
    padding: 0 1.9%;
}
.DH_titleoption{
    width:20%;
    min-height: 750px;
    border-left: 1px solid #ccc;
    float: left;
}
/*用时*/
.DH_p{
    width:100%;
    text-align: center;
    font-size: 18px!important;
}
.DH_c{
    width:100%;
    text-align: center;
    font-size: 14px!important;
    margin-top: 30px!important;
}
.DH_t{
    width:80%;
    font-size: 14px!important;
    margin-top: 30px!important;
    margin:0 auto;
}
.DH_ti{
    width:80%;
    min-height: 10px;
    margin:0 auto;
}
.DH_num{
    display: inline-block;
    width:60px;
    height:60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    border:1px solid #ccc;
    margin-top: 16px!important;
}

@media screen and (max-width: 1366px) {
    .DH_num:nth-last-child(odd){
        margin-right: 12px!important;
    }
}
@media screen and (min-width: 1366px) {
    .DH_num:nth-last-child(odd){
        margin-right: 12px!important;

    }
}
@media screen and (min-width: 1600px) {
    .DH_num:nth-last-child(odd){
        margin-right: 12px!important;
    }
}
.DH_send{
    width: 145px;
    height: 45px;
    border:1px solid #49b9df;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px!important;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 80px!important;
    cursor: pointer;
    background: #49b9df;
}
.DH_send:hover{
    width: 145px;
    height: 45px;
    background: #0fa7db;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px!important;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 80px!important;
    cursor: pointer;
}
/*遮罩层*/
.shark,.sharks,.correct_shark,.correct_sharks{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    display: none;
}
.sendpaper{
    position: relative;
    width:690px;
    height:350px;
    background: url("../../image/test/sendpaper.png") no-repeat;
    top:50%;
    left:50%;
    margin-left: -345px;
    margin-top: -175px;
}
/*批改*/
.sendcorrect{
    position: relative;
    width:690px;
    height:350px;
    background: url("../../image/modetest/correct_goon.png") no-repeat;
    top:50%;
    left:50%;
    margin-left: -345px;
    margin-top: -175px;
    /*display: none;*/
}
.model_paper_delete_correr,.model_paper_delete,.model_correct_delete,.model_correct_del{
    display: inline-block;
    width:35px;
    height:35px;
    position: absolute;
    top:0;
    right:40px;
    cursor: pointer;
}
.model_paper_false_correr,.model_paper_false,.model_correct_false,.model_correct_fal{
    display: inline-block;
    width:192px;
    height:45px;
    position: absolute;
    bottom:12px;
    right:135px;
    cursor: pointer;
}

.model_paper_success_correr,.model_paper_success,.model_correct_success,.model_correct_suc{
    display: inline-block;
    width:192px;
    height:45px;
    position: absolute;
    bottom:12px;
    left:140px;
    cursor: pointer;
}
/*试卷*/
.optionchoose{
    cursor: pointer;
}
.DH_strongeoption p {
    display:inline-block;
    margin-top: 5px!important;
}
.questionanswer{
    position: absolute;
    left:-1000px;
}
.video_content{
    position: relative;
}
.quetion_imge{
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    margin-top: 0;
    display: none;
}
/*空白页*/
.nothing{
    width:100%;
    height:550px;
    background: #fff;
    border-radius: 10px;
    margin:0 auto;
    margin-top: 40px!important;
    position: relative;
    display: none;
}
.kolano{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -175px;
    margin-top: -200px;
}
.questionTitle img{
    max-width: 100%;
}
.DH_strongeoption p,.p1,.groung,.task_tiname ,.video_choose{
    font-family: "Microsoft YaHei" !important;
    font-size: 14px!important;
    line-height: 28px!important;
}
.optionchoose:hover{
    color: #0fa7db;
}
.questionTitle{
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 10px;
}
.questionTitle:hover{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.video_content,.video_content p,.video_content span{
    font-family: 'SimSun' !important;
}
.optionchoose,.optionchoose p,.optionchoose span{
    font-family: 'SimSun' !important;
}