
@media screen and (max-width:1366px){
    .m_MainBox,.m_Content{width: 900px;}
}
@media screen and (min-width:1366px){
    .m_MainBox,.m_Content{width: 1000px;}
}
@media screen and (min-width:1600px){
    .m_MainBox,.m_Content{width: 1200px;}
}
body{background: #ECEDF0;}
.m_Content{margin: 0 auto;overflow: hidden;padding: 20px 5px 0;box-sizing: border-box;}
.m_MainBox{margin: 0 auto;overflow: hidden;padding: 10px;box-sizing: border-box;}
.m_BtnBox{width: 100%;float: left;}
.m_MsgBtn{width: 20%;height: 45px;text-align: center;line-height: 45px;font-size: 18px; float: left;box-sizing: border-box;cursor: pointer; border: 1px solid #ccc;border-radius: 10px;margin: 20px 20px 20px 0;}
.m_Btnbg0{background:url("../../../static/image/message/m_msgbtnbg.jpg")0 0 repeat;color: #333;}
.m_Btnbg1{background:#65B113;border: 1px solid #65B113;color: white;}
.dino{display: none;}
.m_MsgList{width: 100%;border-radius: 10px;overflow: hidden;;height: 600px;float: left;box-sizing: border-box;border: 1px solid #ccc; background: #fff;}
.m_MsgList li{width: 100%;height: 120px; float: left;box-sizing:border-box;padding:0 25px;}
.m_MsgList>li:nth-child(2n){background: white}
.m_MsgList>li:nth-child(2n+1){background: url("../../../static/image/message/libgico.png") 0 0 repeat;}
.m_MsgList .m_NoMsg{width: 100%;height: 100%;text-align: center;line-height: 600px;color: #333;font-size: 30px;background: white!important;}
.m_SystemMsg{min-width:60%;height: 100%; float: left;color: #666;font-size: 18px;}
.m_SystemMsgCon,.m_SystemMsgDate{width: 100%;float: left;}
.m_SystemMsgCon{margin-top:35px;}
.m_SystemMsgDate{line-height: 40px;}
.m_MsgDel,.m_MsgDel0{float: right;height:100%;color: #58C1E4;font-size: 18px;line-height: 120px;cursor: pointer;}
.m_Option{float: right;margin-top: 44px;}
.m_Option p{float: left;width: 100px;cursor: pointer; height: 35px;font-size: 18px;color: white;margin-right: 20px; box-sizing: border-box;text-align: center;line-height: 35px;border-radius: 5px;}
.m_OptionYes0{background: #F9A24A;}
.m_OptionNo0{background: #58C1E4;}
.m_OptionResult{float: right;margin-right: 20px;}
.Paging{width: 800px;margin: 0 auto;clear: both;}