html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: #f6f6f6;
}
.P_main{
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f6f6f6;
}
.P_rubric{
    width:100%;
    min-height:1.85546rem;
    margin-top: 0.29296rem;
}
.P_rutopicname{
    display: block;
    width:100%;
    height:1.85546rem;
    box-sizing: border-box;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-top: 0.29296rem;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    background: #fff;
}
.P_rutopscroll{
    margin-top: 0.260417rem;
    position: absolute;
    left:0;
    top:0;
    width:10rem;
    /*min-height: 1.3rem;*/
}
.P_rutopscroll li{
    width:1.30208rem;
    height:1.30208rem;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 1.30208rem;
    float: left;
    margin-left: 0.51380rem;
    background: #fff;
    color: #666;
}
/*.n_rutopscroll li:first-child{*/
/*background: #65b113;*/
/*color: #fff;*/
/*}*/
.P_testpaper{
    width:94%;
    min-height: 1.3rem;
    background: #fff;
    padding: 0.26rem 3% 0.2rem;
    color: #333;
}
img{
    max-width:80%;
}
/*答案存放处*/
.P_answer{
    width:94%;
    min-height: 0.5rem;
    background: #fff;
    padding: 0.2rem 3%;
    margin-top: 0.2902520rem;
    /*line-height: 0.81rem;*/
}

.n_rucon{
    width:96%;
    min-height:1.7077rem;
    background: #fff;
    margin:0 auto;
    padding: 0.13rem 0;
}
.n_answer_con{
    background: #f6f6f6;
}
/*答案*/
.n_answer_name{
    width:100%;
    height:0.91145rem;
    background: #f6f6f6;
    text-indent: 0.29296rem;
    line-height: 1.002rem;
    color: #666;
}
/*选择、解析*/
.n_answer_x,.n_answer_s{
    width:100%;
    height:1.06119rem;
    background: #fff;
    line-height: 1.06119rem;
    border-bottom: 1px solid #ccc;
}
/*选择*/
.n_answer_choose{
    margin-left: 0.81145rem;
    color: #333;
}
/*解析*/
.n_answer_slove{
    margin-left: 0.97656rem;
    color: #333;
}
/*颜色*/
.n_answer_noseled{
    color: #666;
    margin-left: 0.1953125rem;
}
.n_answer_seled{
    color: #65b113;
}
.n_answer_seledy{
    color: #f9a24a;
}
.n_answer_seledr{
    color: #ca0d0d;
}
/*需讲人数*/
.n_answersolve,.n_analysissolve{
    width:100%;
    min-height:1.88802rem;
    background: #fff;
    overflow: hidden;
}
.n_analysissolve{
    margin-top: 0.261417rem;
}
.n_answer_mannum,.n_analysis_mannum{
    width:100%;
    min-height:1.0286rem;
    line-height: 1.0286rem;
    color:#666;
    /*text-indent: 0.29296rem;*/
}
.n_answer_mannum{
    text-indent: 0.29296rem;
}
.n_answer_pnum,.n_analysis_pnum{
    color: #333;
    margin-left: 0.29296rem;
}
.n_answer_error{
    width:100%;
    min-height: 1.30208rem;
}
.P_analysis_errorp,.P_answerslove{
    /*width:1.79036rem;*/
    width:100%;
    min-height:0.51136rem;
    color: #666;
    overflow: hidden;
}
.P_answerslove{
    color: #68b8f4;
}
.n_answer_errorname,.P_analysis_errorname,.n_analysis_pnum{
    width:94%;
    min-height:0.81136rem;
    color: #333;
    line-height: 0.51136rem;
    padding: 0 3%;
}
.n_answer_errname{
    /*display: inline-block;*/
    margin-left: 0.1953125rem;
    word-break: break-all;
}
.n_answer_errname:first-child{
    margin-left: 0rem;
}
/*解析*/
.P_analysis_errname{
    margin-left: 0rem;
}
/*试题样式*/
.P_answer p{
    display: inline-block;
    /*margin-top: 0.13rem;*/
}
img{
    border:0;
}
.s_xpquestionType ,.s_xpquestionType  p ,.s_xpquestionType  span{
    color: #333;
}
.optionchoose ,.optionchoose p ,.optionchoose span{
    color: #666;
}
.optionchoose{
    line-height: 0.86rem;
}
.s_xpquestionType,.optionchoose,.P_answerslove,.P_rigthanswer{
    font-size: 0.2832rem!important;
}
.mjx-mfrac {
    padding-right: 1em!important;
}