html,body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
}

.correct_main{
    width:100%;
    height:100%;
    position: fixed;;
    top: 0;
    left: 0;
}
.correct_imge{
    width:8.30078rem;
    height:100%;
    background: #fff;
    float: left;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    overflow: auto;
    position: relative;
    /*display: none;*/
}
.correct_imge_slove{
    width:100%;
    height: 100%;
}
.correct_word{
    min-width:1.6992rem;
    height:100%;
    background: #ccc;
    float: right;
    font-size: 0.249rem;
    position: absolute;
    right:0;
    top:0;
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
}
/*姓名*/
.students_nameshow{
    width:1.6992rem;
    height:0.56152rem;
    background:#65b113 ;
    position: relative;
    line-height: 0.56152rem;
    text-align: center;
    color: #666;
    float: right;
    right: 0;
    top:0;
    z-index: 2;
}
.students_names{
    color: #fff;
}
.students_namelist{
    width:100%;
    height:3.8rem;
    background: #fff;
    overflow-y: auto;
    position: absolute;
    left:-100%;
    top:0;
    z-index: 100;
    box-shadow: 2px 2px 2px #D2D2D2;
}::-webkit-scrollbar{width:0.06rem;}
.students_namelist::-webkit-scrollbar-track{background-color:#65b113;}
.students_name{
    border-top: 1px solid #ccc;
}
.correct_titileaera{
    display: block;
    width:4.0639rem;
    height:4.0rem;
    background: #fff;
    padding-bottom: 0.56125rem;
    margin-top: 0.56152rem;
    overflow-y: auto;
    position: absolute;
    right:0;
    top:0;
}
.correct_titleword{
    width:1.7492rem;
    /*height:100%;*/
    /*overflow-y: auto;*/
    background: #fff;
    float: right;
    margin-right: -1px;
}
.correct_nextpeople{
    width:1.7492rem;
    height:0.56152rem;
    text-align: center;
    line-height: 0.56152rem;
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    right:0;
}
.correct_titlenum{
    width:1.7492rem;
    height:0.56152rem;
    text-indent: 0.4882rem;
    line-height: 0.56152rem;
    position: relative;
}
.correct_titlenum:first-child{
    margin-top: 0.13rem;
}
/*图片区域*/
.correct_operation{
    position: fixed;
    right: 2.21rem;
    top:0;
}
.correct_isremove{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/correct__isremove.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
.correct_noremove{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/corret_noremove.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
.correct_ispen{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/correct_ispen.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
.correct_nopen{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/correct_nopen.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
.correct_downrelod{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/download.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
.correct_nodownrelod{
    display: inline-block;
    width:0.5208rem;
    height:0.5208rem;
    background: url("../../image/notice/downreload.png") no-repeat;
    background-size: cover;
    margin-left: 0.2rem;
}
/*选择对错*/
.correct_riwr{
    width:4.009rem;
    height:0.56152rem;
    border:1px solid #65b113 ;
    border-right: 0;
    position: absolute;
    right:0;
    top:0;
    z-index: 9;
    background: #fff;
    /*display: none;*/
}
.correct_right{
    display: inline-block;
    width:0.41rem;
    height:0.41rem;
    float: left;
    padding: 0 0.1665rem;
    margin-top: 0.09007rem;
}
/*减号*/
.correct_releasecc,.correct_scoreshucc,.correct_pluscc{
    display: inline-block;
    width:0.74rem;
    height: 100%;
    float: left;
    text-indent: 0.15rem;
    color: #666;
    text-align: left;
    font-size: 0.41667rem;
}
.correct_enter{
    width: 1.6992rem;
    height: 0.56152rem;
    text-indent: 0.4882rem;
    line-height: 0.56152rem;
    position: relative;
}
.correct_enter{
    display: inline-block;
    color: #65b113;
    width: 1.0992rem;
    height: 0.56152rem;
    text-indent: 0rem;
    line-height: 0.56152rem;
}
.correct_ccc{
    display: inline-block;
    width:0.02rem;
    height:0.41rem;
    background: #ccc;
    float: left;
    margin-top: 0.09007rem;
}
.correct_right_wrong{
    display: inline-block;
    width:0.41rem;
    height:0.41rem;
    float: left;
    padding: 0 0.1665rem;
    margin-top: 0.09007rem;
}
.correct_wrong{
    display: inline-block;
    width:0.41rem;
    height:0.41rem;
    float: left;
    padding: 0 0.1665rem;
    margin-top: 0.09007rem;
}
/*照片*/
.correct_show{
    display: inline-block;
    width:0.37109rem;
    height:0.37109rem;
    position: absolute;
    top:0.09rem;
    right:0.29rem;
    border:0;
    /*display: none;*/
}
/*批改加分*/
.correct_score{
    width:4.009rem;
    height:0.56152rem;
    border:1px solid #65b113 ;
    border-right: 0;
    position: absolute;
    right:0;
    bottom: -0.56152rem;
    z-index: 9;
    background: #fff;
    display: none;
}
/*画布*/
.Canvas{
    display: block;
    width: 8.28rem;
    height:100%;
    background-size: 100% 100%;
}
.background{
    width:8.37rem;
    /*height:100%;*/
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}
/*图标*/
.tipic_area{
    position: fixed;
    min-width:3rem;
    min-height:0.5rem;
    bottom: 0.3rem;
    right:2.21rem;
    /*overflow-x:scroll;*/
    font-size:0.33rem;
    color: #65b113;
    z-index: 99;
}
.tipic_areali{
    display: inline-block;
    border-radius: 0.20rem;
    text-align: center;
    line-height: 0.4rem;
    background:rgba(0,0,0,0.4);
    padding:0 0.1rem;
    float: right;
    color: #fff;
}
/*画笔橡皮转角度*/
/*.eraser,.pencil,.correct_down{*/
    /*display: none;*/
/*}*/
/*.Canvas{*/
    /*display: none;*/
/*}*/
.sharks_word{
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-2rem;
    margin-top: -0.75rem;
    font-size: 0.3391rem;
    width:4rem;
    height:1.5rem;
    border-radius: 10px;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    background:rgba(0,0,0,0.3);
    display: none;
}
/*喇叭*/
.vioce{
    position: fixed;
    left:50%;
    top:30%;
    display: block;
    width:0.6rem;
    height:0.6rem;
}
img{
    border:0;
}