html,body{
    margin: 0;
    padding:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
.notice_details_main{
    width:100%;
    height:100%;
    background: #f6f6f6;
    overflow-x: hidden;
    overflow-y: auto;
}
.n_detials_title{
    display: block;
    width:95.7%;
    height:0.976rem;
    border:0.039rem solid #ccc;
    margin:0.26041rem 0.26041rem 0.29rem;
    background: #fff;
    border-radius: 0.065rem;
    font-size: 0.41667rem;
    color: #333;
    line-height: 0.976rem;
    display: flex;
    flex-flow: nowrap row;
    border-radius: 10px;
}
/*三个标题*/
.n_students,.n_titledetailes,.n_sum{
    display: block;
    width:33%;
    float: left;
    text-align: center;
}
.n_students{
    margin-left:0.015rem;
}
.n_deccc{
    display: block;
    width:0.039rem;
    height:0.4882rem;
    background: #ccc;
    float: left;
    margin-top: 0.23953rem;
}
/*学生详情*/
.n_students_list{
    width:100%;
    min-height: 1.30208rem;
    border-bottom: 0.039rem solid #ccc;
    background: #fff;
    font-size: 0.41rem;
    line-height: 1.30208rem;
}
.n_details_name{
    display: inline-block;
    width:2.5rem;
    float: left;
    margin-left: 0.5rem;
    color: #666666;
    text-align: center;
}
.n_details_time{
    display: inline-block;
    width: 2.953125rem;
    float: left;
    margin-left: 0.65104rem;
    color: #c9c9c9;
    text-align: center;
}
.n_details_number{
    display: inline-block;
    width: 1.6rem;
    float: left;
    margin-left: 0.9rem;
    color: #333;
    text-align: center;
}
.proporticolor{
    color: #ca0d0d;
}
/*圆圈选择*/
.n_choose,.n_write,.n_solve{
    width:100%;
    min-height: 3.05989rem;
    background: #f6f6f6;
}
.n_choosenamex,.n_writenamex,.n_solvenamex{
    width:100%;
    height:0.91145rem;
    font-size:0.41667rem;
    margin-left: 0.315rem;
    line-height: 1.02rem;
    color: #333;
}
/*圆圈*/
.n_chosseconx,.n_writeconx,.n_solveconx{
    width:100%;
    min-height:2.4796rem;
    /*padding-bottom: 0.3255rem;*/
    background: #fff;
    display: flex;
    flex-flow:row wrap;
}
/*错误率*/
.n_numbersort{
    width:100%;
    min-height:2.4796rem;
    background: #fff;
    display: flex;
    flex-flow:row wrap;
    margin-top: 1.59rem;
    padding-bottom: 0.36rem;
    border-top: 0.039rem solid #ccc;
    border-bottom: 0.039rem solid #ccc;
}
.sideContent{
    display: block;
    width:1.953125rem;
    height:1.953125rem;
    float: left;
    margin-left: 0.4255rem;
    text-align: center;
}
canvas{
    display: block;
    width:1.30208rem;
    height:1.30208rem;
    margin:0.3055rem auto 0;
}
.prg_titlenum{
    display: inline-block;
    width:100%;
    /*height:0.3255rem;*/
    font-size: 0.41rem;
    float: left;
    color: #333;
    margin-top: 0.01rem;
}
/*按错误率排序*/
.n_prentsent{
    width: 74%;
    height: 1.04166rem;
    background: #65b113;
    font-size: 0.41667rem;
    line-height: 1.04166rem;
    margin: 0.67604rem auto;
    /* border-bottom: 0.039rem solid #ccc; */
    /* border-top: 0.039rem solid #ccc; */
    border-radius: 0.15rem;
    color: #FFF;
}
.n_falsepresentimg{
    display: inline-block;
    width:0.55989rem;
    height:0.55989rem;
    float: left;
    background: url("../../image/notice/n_falsepresent.png") no-repeat;
    background-size: 0.55989rem  0.55989rem;
    background-size: cover;
    margin-top: 0.29296rem;
    margin-left: 2.1rem;
    margin-right: 0.2rem;
}
.n_titlepresent{
    display: inline-block;
    width: 0.55989rem;
    height: 0.55989rem;
    /* float: left; */
    /* margin: 0.29296rem 0.32552rem 0 3.3203rem; */
    background: url("../../image/notice/n_titlepresent.png") no-repeat;
    background-size: 0.55989rem 0.55989rem;
    background-size: cover;
    background-size: cover;
    margin-top: 0.29296rem;
    margin-left: 2.1rem;
    margin-right: 0.2rem;
    /* margin-top: -0.5rem; */
}
/*综合分析*/
.n_noticealysis_accuracy{
    width:100%;
    min-height:1.75781rem;
    background: #fff;
    border-bottom: 0.039rem solid #ccc;
    border-top: 0.039rem solid #ccc;
    margin-top: 0.26041rem;
    overflow: hidden;
}
.n_noticealysis_accuracy:first-child{
    margin-top: 1.59rem;
}
/*名称部分*/
.n_noticealysis_title{
    width: 3.9rem;
    min-height: 1.4927rem;
    float: left;
    font-size: 0.41rem;
    line-height: 0.93070rem;
    color: #333;
    margin-top: 0.17rem;
    margin-left: 0.3rem;
}
.n_alaysccc{
    width:0.02rem;
    min-height:1.30208rem;
    float: left;
    margin-top: 0.29rem;
    background: #ccc;
}
.n_noticealysis_t{
    width:5.30598rem;
    min-height: 1.3028rem;
    float: left;
    font-size: 0.41rem;
    margin-top: 0.29rem;
    color: #666;
    margin-left: 0.3320rem;
}
.n_noticealysis_tl,.n_noticealysis_tac{
    display: block;
    width:100%;
    min-height:0.65104rem;
    line-height: 0.65104rem;
    overflow: hidden;
}
.n_noticealysis_tnum{
    color: #333;
}
/*进度*/
.n_noticealysis_progress{
    width:2.209713rem;
    height: 0.1302208rem;
    background: #ddd;
    -weblit-border-radius: 50%;
}::-webkit-progress-bar { background: #e6e6e6; }
.n_noticealysis_progress::-webkit-progress-value  { background: #65b113; }
.n_noticealysis_progressname,.n_noticealysis_progress,.n_noticealysis_progressprent{
    display: block;
    float: left;
}
.n_noticealysis_progress{
    margin-top: 0.26rem;
}
.n_noticealysis_progressprent{
    margin-left: 0.1953rem;
    color: #65b113;
}
/*标题*/
.n_title_detitails{
    width:100%;
    min-height: 1.3rem;
    background: #f6f6f6;
    position: absolute;
    top:0;
    left:0;
}
/*学生详情*/
.n_students_list:first-child{
    margin-top: 1.59rem;
    border-top: 0.039rem solid #ccc;
}
/*题目详情综合分析*/
.n_stitle,.n_noticeanalysis{
    display: none;
}
/*测试报告里面的东西*/
.n_details_socre{
    color: #68B8F4;
}