html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: #f6f6f6;
}
.P_main{
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f6f6f6;
}
.P_rubric{
    width:100%;
    min-height:1.85546rem;
    margin-top: 0.29296rem;
}
.P_rutopicname{
    display: block;
    width:100%;
    height:1.85546rem;
    box-sizing: border-box;
    border-bottom:0.039rem solid #ccc;
    border-top:0.039rem solid #ccc;
    margin-top: 0.29296rem;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    background: #fff;
}
.P_rutopscroll{
    margin-top: 0.260417rem;
    position: absolute;
    left:0;
    top:0;
    width:10rem;
    /*min-height: 1.3rem;*/
}
.P_rutopscroll li{
    width:1.20208rem;
    height:1.20208rem;
    background: #fff;
    border:0.039rem solid #ccc;
    border-radius: 50%;
    font-size: 0.46875rem;
    text-align: center;
    line-height: 1.30208rem;
    float: left;
    margin-left: 0.51380rem;
    color: #666;
    position: relative;
}
/*.n_rutopscroll li:first-child{*/
/*background: #65b113;*/
/*color: #fff;*/
/*}*/
.P_testpaper{
    width:94%;
    min-height: 1.3rem;
    background: #fff;
    font-size: 0.3120rem;
    padding: 0 3%;
    color: #333;
    border-bottom: 0.039rem solid #ccc;
}
img{
    max-width:100%;
}
/*答案存放处*/
.P_answer{
    width:100%;
    min-height: 1.3rem;
    background: #fff;
    font-size: 0.3320rem;
    margin-top: 0.2902520rem;
    border:0.039rem solid #ccc;
    border-left: 0;
    border-right: 0;
    padding:  0.13rem 0;
}

.n_rucon{
    width:96%;
    min-height:1.7077rem;
    font-size: 0.3320rem;
    background: #fff;
    margin:0 auto;
    padding: 0.13rem 0;
}
.n_answer_con{
    background: #f6f6f6;
}
/*答案*/
.n_answer_name{
    width:100%;
    height:0.91145rem;
    background: #f6f6f6;
    font-size: 0.46875rem;
    text-indent: 0.29296rem;
    line-height: 1.002rem;
    color: #666;
}
/*选择、解析*/
.n_answer_x,.n_answer_s{
    width:100%;
    height:1.06119rem;
    background: #fff;
    font-size: 0.41667rem;
    line-height: 1.06119rem;
    border-bottom: 0.039rem solid #ccc;
}
/*选择*/
.n_answer_choose{
    margin-left: 0.81145rem;
    color: #333;
}
/*解析*/
.n_answer_slove{
    margin-left: 0.97656rem;
    color: #333;
}
/*颜色*/
.n_answer_noseled{
    font-size: 0.3320rem;
    color: #666;
    margin-left: 0.1953125rem;
}
.n_answer_seled{
    color: #65b113;
}
.n_answer_seledy{
    color: #f9a24a;
}
.n_answer_seledr{
    color: #ca0d0d;
}
/*需讲人数*/
.n_answersolve,.n_analysissolve{
    width:100%;
    min-height:1.88802rem;
    background: #fff;
    font-size: 0.3776rem;
    overflow: hidden;
}
.n_analysissolve{
    margin-top: 0.261417rem;
}
.n_answer_mannum,.n_analysis_mannum{
    width:100%;
    min-height:1.0286rem;
    line-height: 1.0286rem;
    color:#666;
    /*text-indent: 0.29296rem;*/
}
.n_answer_mannum{
    text-indent: 0.29296rem;
}
.n_answer_pnum,.n_analysis_pnum{
    color: #333;
    margin-left: 0.29296rem;
}
.n_answer_error{
    width:100%;
    min-height: 1.30208rem;
}
.P_analysis_errorp,.P_answerslove{
    /*width:1.79036rem;*/
    width:96%;
    padding: 0 3%;
    min-height:0.51136rem;
    color: #666;
    line-height: 0.51136rem;
    overflow: hidden;
}
.P_answerslove{
    color: #68b8f4;
}
.n_answer_errorname,.P_analysis_errorname,.n_analysis_pnum{
    width:94%;
    min-height:0.81136rem;
    color: #333;
    line-height: 0.51136rem;
    padding: 0 3%;
}
.n_answer_errname{
    /*display: inline-block;*/
    margin-left: 0.1953125rem;
    word-break: break-all;
}
.n_answer_errname:first-child{
    margin-left: 0rem;
}
/*解析*/
.P_analysis_errname{
    margin-left: 0rem;
}
/*试题样式*/
span,.P_analysis_errname{
    display: inline-block;
    /*margin-top: 0.13rem;*/
    font-size: 0.41rem;
}
/*样式修改*/
.s_xpquestionType{
    font-size: 0.41667rem!important;
    padding-top: 0.26rem;
}
.p1{
    font-size: 0.41rem!important;
}
/*.s_xpquestionType :nth-last-child(1){*/
/*padding-top: 0.13rem;*/
/*}*/
.optionchoose{
    font-size: 0.3776rem;
    line-height: 0.72rem;
}
.P_answername,.P_analysis_errorp{
    font-size: 0.41rem;
}
.P_answername  .p1,.P_answername  span{
    font-family: "Microsoft YaHei" !important;
    font-size: 0.41rem!important;
}
.P_analysis_errorp .p1,.P_analysis_errorp  span{
    font-family: "Microsoft YaHei" !important;
    font-size: 0.41rem!important;
}
.Echo_Out{width: 10rem;height: 2rem;border-bottom: 0.05rem solid #ccc;overflow-x: scroll;background: #fff}

.Echo_List{overflow: hidden;position: relative;height: 2rem;}
.Echo_List li{color:#333;float: left;width: 1.2rem;margin: 0.4rem;box-sizing: border-box; height:1.2rem;text-align: center;font-size: 0.5rem;line-height: 1.2rem; border: 1px solid #ccc;border-radius: 100%;}
.Echo_List li:last-child{position: absolute;height: 1.6rem;border-bottom: 0; border: 0;text-align: center;}
.Echo_List li:last-child img{width: 0.7rem;position: absolute;bottom: 0;left: 0;right: 0;margin: auto;}
.swiper-container{height: 14.5rem;}