html,body{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
}
.download_main{
    width:100%;
    height:100%;
}
.download_background{
    width:100%;
    height: 100%;
    background:url("../../image/me/download.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}
.down_logo{
    display: block;
    width:1.75rem;
    height:1.62rem;
    margin:1.3rem auto 0;
}
.downname{
    font-size: 0.5533rem;
    letter-spacing: 0.04rem;
    color: #fff;
    margin-top: 0.26rem;
}
.down_word{
    font-size: 0.33rem;
    color: #fff;
    margin-top: 0.19rem;
}
.down_wordload{
    font-size: 0.37rem;
    color: #333;
    margin:2.8971rem 0 0.39rem;
}
.down_teacher{
    width:5.37109rem;
    height:1.0765625rem;
    background: url("../../image/me/down_btton.png") no-repeat;
    background-size: cover;
    margin:0 auto;
    font-size: 0.377rem;
    color: #fff;
    line-height: 1.07rem;
    margin-top: 0.26rem;
}