html,body{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
}
.m_calendar_main{
    width:100%;
    height:100%;
    background: #f6f6f6;
}
.m_calendar{
    width:100%;
    min-height: 4.01041rem;
    font-size: 0.320255rem;
    /*background: #f6f6f6;*/
    background: #fff;
}
.m_calender_title{
    width:100%;
    height:1.171875rem;
    background: #f6f6f6;
    line-height: 1.371875rem;
    text-indent: 0.3rem;
    color: #333;
}
.m_calender_week,.m_calenser_day{
    min-width: 1rem;
    min-height: 1rem;
    overflow: hidden;
    margin:0 auto;
}
.click_sign{
    width:2.3rem;
    height:0.911rem;
    background: #f9a24a;
    border-radius: 10px;
    font-size: 0.33rem;
    text-align: center;
    line-height: 0.911rem;
    color: #fff;
    margin:0 auto;
    margin-top: 0.46rem;

}
/*抽奖按钮*/
.m_calenderlotty{
    width:100%;
    overflow: hidden;
}
.m_calenderlottyword{
    width:60%;
    height:1.6276rem;
    float: left;
}
/*抽奖的话*/
.m_calendar_sign,.m_calendar_lo{
    display: block;
    width:100%;
}
.m_calendar_sign{
    margin-top: 0.13rem;
}
.m_calendar_sign{
    color: #333;
    font-size: 0.3776rem;
    line-height:0.84rem;
    text-indent: 0.3776rem;
}
.m_calendar_lo{
    color: #666;
    font-size: 0.3125rem;
    line-height:0.34rem;
    text-indent: 0.3776rem;
}
.m_calendar_botton{
    width:40%;
    height:1.6276rem;
    float: left;
    line-height: 1.6276rem;
    text-align: center;
}
.m_calendar_bttonclick{
    display: inline-block;
    width:2.278rem;
    height:0.71614rem;
    background: #ccc;
    border-radius: 0.35rem;
    text-align: center;
    line-height: 0.71614rem;
    color: #fff;
}