
a {
    text-decoration: none;
    color:#333;
}
.a_paper{
    width:100%;
    /*margin-top:1rem;*/
    /*padding-left:0.75rem;*/
    /*padding-right:0.75rem;*/
}
.paperDetailTitle{
    font-size: 0.35rem;
}
.submit_paper{
    width:100px;
    height:30px;
    border:none;
    border:1px solid #65B113;
    background: #65B113;
    color:#fff;
}
.typeName{
    color:#666;
    font-size:0.41rem;
    width:100%;
    min-height:0.944rem;
    background: #f6f6f6;
    line-height: 0.94rem;
    text-indent: 0.29296rem;
}
._typeName{
    color:#333;
    font-size:0.41rem;
    width:100%;
    min-height:0.64rem;
    line-height: 0.64rem;
    text-indent: 0.29296rem;
    margin: 0.5rem 0;
}
.content{
    width:94%;
    color:#333;
    font-size:0.35rem;
    margin-bottom:0.5rem;  position: relative;
    text-indent: 3%;
    padding: 0 3%;
}
.paperDetailTitle label{
    position: absolute;
    top:0;left:0px;
}
.content img {
    max-width: 80% !important;
}
/*.paperDetailTitle span{*/
    /*margin-left: 0.13026rem!important;*/
/*}*/

.paperName{
    text-align: center;
    font-size:0.5rem;
    color:#666;
    background: #f6f6f6;
}
.timeAndScore{
    text-align: center;
    font-size:0.4rem;
    color:#666;
    background: #f6f6f6;
}
.choose{
    margin-left: 0.4126rem;
}
.paperDetailTitle p,.labelsContent{
    margin-left: 0.3rem;
}
.MathJax_CHTML{
    font-size: 0.42rem;
}