html{font-family:"微软雅黑",Arial,sans-serif}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;font-family:Microsoft YaHei,sans-serif,Arial}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
a{text-decoration:none;color:#000;outline:none}
li{list-style:none;}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
.clear:after{  display:block;  content:"clear";  height:0;  clear:both;  overflow:hidden;  visibility:hidden;}
.clear{zoom:1;}
i,em{font-style: normal;}
/*公共原子类*/
.fl{float: left!important;}
.fr{float: right!important;}


.paper_detail{
    margin-top:1rem!important;
    font-size:0.5rem;
}
.paper_detail>div{
    /*margin-left:30px;*/
}
.paper_detail div{
    font-size: 0.35rem;
}

.paperDetailTitle{
    font-size: 0.41rem;
    margin-left:30px; position: relative;
}
.paperDetailTitle label{
    position: absolute;
    top:0;
    left:-30px;
}
.choose {
    margin-left: 0.4126rem;
}
.a_subject{margin: 0 0 10px 0;}
.a_subject div{margin-left: 30px;}
.a_answer{margin: 0 auto;}
.MathJax_CHTML{
    font-size: 0.42rem;
}
