.lineName{
    color: #333;
    font-size: 0.41rem;
    width: 100%;
    min-height: 0.64rem;
    line-height: 0.64rem;
    text-indent: 0.29296rem;
    margin:0.4rem 0;
}
.noName{
    min-height: 0.42rem;
    line-height: 0.42rem;
}
.paperTitle{
    font-size: 0.35rem;
}
.paperTitle label{
    position: absolute;
    left: 0.15rem;
}
.paperTitle p{
    margin-left: 0.3rem;
}
.content{
    width:94%;
    color:#333;
    font-size:0.35rem;
    margin-bottom:0.5rem;  position: relative;
    padding: 0 3%;
}
