/*******************************************音频1.2  2017.06.06 By Echonessy*****************************************************/
.PreMain{background: white;font-size: 16px; overflow: hidden;margin: 40px auto 0 auto;box-sizing: border-box;padding: 30px; border-radius: 10px;background: white;}
.PreMain:before{clear: both;}
.PreHeader{float: left;color: #333;width: 100%;min-height: 100px;background: white;border-bottom: 1px solid #ccc;box-sizing: border-box;}
@media screen and (max-width:1366px){
    .PreMain{width: 900px;font-size: 14px;}
}
@media screen and (min-width:1366px){
    .PreMain{width: 1000px;}
}
@media screen and (min-width:1600px){
    .PreMain{width: 1200px;}
}
/***************************************章节知识点**************************************************/
.ComSections{float: left;width: 100%;box-sizing: border-box;margin-bottom: 10px;}
.FirstName{float: left;width: 60px;line-height: 30px;height: 100%;box-sizing: border-box;}
.HeadList,.Com_Kownledge{float: left;box-sizing: border-box;width: 100%;box-sizing: border-box;}
.HeadList li{cursor: pointer; float: left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height: 30px;width: 105px;padding-right: 10px;text-align: left;box-sizing: border-box;}
@media screen and (max-width:1366px){
    .HeadList{width: 780px;}
}
@media screen and (min-width:1366px){
    .HeadList{width: 880px;}
}
@media screen and (min-width:1600px){
    .HeadList{width: 1080px;}
}
/***************************************语文**************************************************/
.Chinese{float: left;width: 100%;box-sizing: border-box;color: #333;}
.ArtBox{float: left;width: 100%;box-sizing: border-box;padding-bottom: 60px;}
.ArtName{float: left;width: 100%;height: 24px;line-height: 24px;font-size: 24px;text-align: center;}
.ArtAutor{float: left;width: 100%;height: 45px;line-height: 45px;font-size: 16px;text-align: center;margin-bottom: 20px;}
.ReadArt{float: left;font-size: 16px;line-height: 29px;}
.ReadNote{float: right;box-sizing: border-box;padding: 15px;overflow: hidden; border: 1px solid #58c1e4;background: #f8f8f8;border-radius: 10px;}
.ReadNote table{width: 100%}
.NoteHeader{float: left;width: 100%;text-align: left;height: 20px;line-height: 20px;font-size: 14px;font-weight: bold;}
.NoteHeader>img{margin-right: 6px;vertical-align: text-top;}
.NoteArt{float: left;line-height: 29px;margin-top: 25px;}
.NoChinese{float: left;width: 100%;height: 500px;line-height: 500px;text-align: center;}
.NoChinese>img{width: 250px;}
@media screen and (max-width:1366px){
    .Chinese{padding: 40px 0 0 0;}
    .ReadArt{width: 530px;}
    .ReadNote{width: 280px;}
}
@media screen and (min-width:1366px){
    .ReadArt{width: 577px;}
    .ReadNote{width: 304px;}
    .Chinese{padding: 40px 10px 0 10px;}
}
@media screen and (min-width:1600px){
    .ReadArt{width: 700px;}
    .ReadNote{width: 350px;}
    .Chinese{padding: 40px 20px 0 20px;}
}
/*语文播放器*/
.ComPlayer:before{clear: both;}
.ComPlayer{height: 60px;position: fixed;left: 0;right: 0;bottom: 0; width: 800px;margin: auto;overflow: hidden; background: black;background: rgba(0,0,0,0.8);}
.ComPlayer-playpause{float: left;width: 30px;height: 30px;margin:15px 10px 0  40px; overflow: hidden;cursor: pointer;  }
.ComPlayer-playpause span {color: transparent; display: block;background: url("../../../static/image/player1.3/new_play0.png");width: 30px;height: 30px;}
.ComPlayer-playing .ComPlayer-playpause span {color: transparent; display: block;background: url("../../../static/image/player1.3/new_play1.png");width: 30px;height: 30px;}
.ComPlayer-bar{height: 5px;width: 345px;margin: 28px 0 0 0;position: relative;left: 0; overflow: hidden;border-radius: 3px;  float:left;background-color:#F6F6F6;box-sizing: border-box; cursor: pointer;}
.ComPlayer-bar div{ width: 0; height: 100%;position: absolute; left: 0; top: 0;}
.ComPlayer-bar-loaded{ background-color: #F6F6F6;; z-index: 1;border-radius: 3px; }
.ComPlayer-bar-played{ background: #58c1e4;; z-index: 2;border-radius: 3px;}
.ComPlayer-time-current{float: left;color: #fff;font-size: 12px;line-height: 60px;margin-left: 20px; }
.ComPlayer-time-cut{float: left;color: #fff;font-size: 12px;line-height: 60px;margin: 0 3px;}
.ComPlayer-time-duration{float: left;color: #fff;font-size: 12px;line-height: 60px;}
.ComPlayer-volume{float: right;height: 60px;margin-right: 40px;}
.ComPlayer-volume-button{float: left;margin-right: 7px;overflow: hidden;margin-top: 22px; cursor: pointer; width: 23px;height: 22px;background: url("../../../static/image/prepare1.2/new_voice0.png") 0 0 no-repeat;}
.ComPlayer-volume-button span{color: transparent;}
.ComPlayer-volume-adjust{width: 145px;overflow: hidden;border-radius: 3px; float: left;height: 5px;line-height: 5px;position: relative;margin-top: 29px;}
.ComPlayer-volume-adjust > div { width: 145px;height: 5px;overflow: hidden;border-radius: 3px;background-color:#F6F6F6;box-sizing: border-box;;cursor: pointer;position: relative; }
.ComPlayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: #58c1e4;}
/*英语音频*/
.English,.TabBox{float: left;width: 100%;}
/*单词*/
.TabBtn:before,.TabBtn:after{clear: both;}
.TabBtn{width: 500px;overflow: hidden;margin: 30px auto; height: 55px;box-sizing: border-box;border: 1px solid #ccc;border-radius: 10px; }
.TabBtn>p{float: left;width: 50%;color: #333; box-sizing: border-box;height: 100%;text-align:center;line-height: 52px;font-size: 22px;font-family: 'Arial';cursor: pointer;}
.TabBtn .ThisTab{color: white;background: #58c1e4;}
.WordContent .swiper-slide{overflow-x: hidden;overflow-y: auto;}
.WordMain{float: left;width: 100%;}
.WordBox{float: left;width: 100%;height: 420px;overflow-x: hidden;overflow-y: auto;}
.WordContent{height: 100%;}
.Word{float: left;box-sizing: border-box;width: 100%;width: 750px;margin-left: 50px;padding-top: 15px;}
.Worder{float: left;width: 100%;line-height: 25px;margin-bottom: 13px;}
.Worder span:first-child{float: left;line-height: 25px;font-size: 18px;font-weight: bold;margin-right: 10px;}
.Worder span:last-child{float: left;line-height: 25px;font-size: 16px;}
.MeaningList,.Example,.Example>li{float: left;width: 100%}
.MeaningList{margin-bottom: 10px;}
.MeaningList li{float: left;width: 100%;font-size: 14px;color: #666;line-height: 25px;}
.Sentences{float: left;width: 100%;line-height: 25px;margin-bottom: 10px;color: #333;font-size: 14px;font-weight: bold;}
.Sentences>img{margin-right: 5px;}
.Example li{margin-bottom: 6px;}
.Example li>span{float: left; width: 30px;line-height: 25px;height: 100%;font-size: 14px;color: #333;}
.ExampleCon{float: right;width: 720px;box-sizing: border-box;}
.ExampleCon p{float: left;width: 100%;font-size: 14px;line-height: 21px;word-wrap: break-word;-moz-hyphens: auto;  -ms-hyphens: auto;  -webkit-hyphens: auto;  hyphens: auto;  }
.NoData{width: 100%;height: 450px;padding: 40px;box-sizing: border-box;line-height: 370px;text-align: center;}
/*单词播放器*/
.MediaPlayer{font-family: 'microsoft yahei';position: relative; width: 800px;padding-left: 55px; box-sizing: border-box;height: 60px;clear: both; margin: 0 auto ;background: black;background: rgba(0,0,0,0.8);  }
.MediaModel{float: left;cursor: pointer;z-index: 5; position: relative; width: 120px;height: 100%;text-align: center;font-size: 14px;text-align: center;vertical-align: middle;color: white;}
.MediaModelBox{float: left;width: 100%;height: 100%;line-height: 60px;}
.MediaName{margin-right: 10px;}
.MediaOption{position: absolute;width: 120px;height:80px;top: -80px;left: 0;display: none;}
.MediaOptionBox{width: 100%;background: black; background: rgba(0,0,0,0.8); height: 35px;text-align: center; box-sizing: border-box;border-bottom: 1px solid #5C5C5C;}
.MediaOptionBox>img{margin-right: 10px;vertical-align: baseline;}
.MediaOptionBox>span{line-height: 35px;font-size: 14px;color: white;}
.MediaBob0{border-bottom: 0;}
.MediaDownImg{position: absolute;bottom: 0;right: 0;left: 0;margin: auto;}
.MediaPlayBox{position: relative; float: left;height: 100%;width: 210px;text-align: center; margin-left: 120px;vertical-align: baseline;line-height: 60px;}
.MediaBtn0{position: absolute;bottom: 0;top:0;left: 0;margin: auto; cursor: pointer;}
.MediaBtn1{position: absolute;bottom: 0;top:0;right: 0;margin: auto; cursor: pointer;}
.MediaPlayBtn{position: absolute;bottom: 0;top:0;left: 0;right: 0; margin: auto; cursor: pointer;}
/*听力*/
.ListenBox{float: left;width: 100%;height: 450px;color: #333; overflow-x: hidden;line-height: 30px;overflow-y: auto;position: relative;box-sizing: border-box;padding: 30px 70px 0 50px; }
.ListenImg{float: left;width: 100%;height: 100%;line-height: 450px;text-align: center;}
.ListenImg img{width: 240px;}
.ListenBtnBox{float: left;height: 25px;line-height: 25px;margin-top: 35px;width: 100%;box-sizing: border-box;padding-left: 50px;font-size: 16px;}
.ListenBtn{float: left;cursor: pointer;height: 25px;}
.ListenBtn>span{margin-right: 10px;cursor: pointer;color: #49b9df;}
.NoListen{float: left;width: 100%;height: 450px;text-align: center;line-height: 450px;}
/*课文*/
.BookMain{float: left;width: 100%;position: relative; height: 425px;overflow: hidden;margin-top: 40px;margin-bottom: 45px;}
.BookContent{position: absolute;top: 0;left: 0;width: 100%;box-sizing: border-box;padding: 0 70px 0 50px;}
.BookContent p{width: 100%;font-size:16px;line-height: 30px;color: #333; }
.current-line{color: #49b9df!important;}
.pre-line{color: #333!important;}
/*英语播放器*/
.EngPlayer:before{clear: both;}
.EngPlayer{height: 60px;width: 800px;margin: auto;overflow: hidden; background: black;background: rgba(0,0,0,0.8);}
.EngPlayer-playpause{float: left;width: 30px;height: 30px;margin:15px 10px 0  40px; overflow: hidden;cursor: pointer;  }
.EngPlayer-playpause span {color: transparent; display: block;background: url("../../../static/image/player1.3/new_play0.png");width: 30px;height: 30px;}
.EngPlayer-playing .EngPlayer-playpause span {color: transparent; display: block;background: url("../../../static/image/player1.3/new_play1.png");width: 30px;height: 30px;}
.EngPlayer-bar{height: 5px;width: 345px;margin: 28px 0 0 0;position: relative;left: 0; overflow: hidden;border-radius: 3px;  float:left;background-color:#F6F6F6;box-sizing: border-box; cursor: pointer;}
.EngPlayer-bar div{ width: 0; height: 100%;position: absolute; left: 0; top: 0;}
.EngPlayer-bar-loaded{ background-color: #F6F6F6;; z-index: 1;border-radius: 3px; }
.EngPlayer-bar-played{ background: #58c1e4;; z-index: 2;border-radius: 3px;}
.EngPlayer-time-current{float: left;color: #fff;font-size: 12px;line-height: 60px;margin-left: 20px; }
.EngPlayer-time-cut{float: left;color: #fff;font-size: 12px;line-height: 60px;margin: 0 3px;}
.EngPlayer-time-duration{float: left;color: #fff;font-size: 12px;line-height: 60px;}
.EngPlayer-volume{float: right;height: 60px;margin-right: 40px;}
.EngPlayer-volume-button{float: left;margin-right: 7px;overflow: hidden;margin-top: 22px; cursor: pointer; width: 23px;height: 22px;background: url("../../../static/image/prepare1.2/new_voice0.png") 0 0 no-repeat;}
.EngPlayer-volume-button span{color: transparent;}
.EngPlayer-volume-adjust{width: 145px;overflow: hidden;border-radius: 3px; float: left;height: 5px;line-height: 5px;position: relative;margin-top: 29px;}
.EngPlayer-volume-adjust > div { width: 145px;height: 5px;overflow: hidden;border-radius: 3px;background-color:#F6F6F6;box-sizing: border-box;;cursor: pointer;position: relative; }
.EngPlayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: #58c1e4;}
/*默写*/
.StartDictate{overflow: hidden;margin: 0 auto; width: 520px;height: 500px;box-sizing: border-box;}
.KeyBox{overflow: hidden;margin: 0 auto; width: 520px;box-sizing: border-box;}
.DictateWord{float: left;width: 100%;min-height:100px;}
.KeyBoard{float: left;width: 100%;}
.KeyBoard>li{float:left;margin: 6px;border-radius: 10px;cursor: pointer;font-family: 'microsoft yahei'; width: 40px;height: 40px;box-sizing: border-box;border: 1px solid #ccc;text-align: center;line-height: 38px;font-size: 16px;color: #333;}
.KeyBoard>li:hover{background:#58c1e4;border-color: #58c1e4;color: white; }
.KeyBoard>li:nth-child(11){margin-left: 33px;}
.KeyBoard>li:nth-child(20){width: 65px;font-size: 12px;}
.KeyBoard>li:nth-child(28){width: 70px;font-size: 12px;margin-right: 0;}
.DictateSlide{box-sizing:border-box;padding: 20px;float: left;}
.DicInBox{float: left;width: 100%;line-height: 30px;margin-bottom: 15px;}
.Dimg{float: left;margin-right: 20px;margin-top: 5px;cursor: pointer;}
.DicInList,.DicResult{float: left;max-width: 437px;}
.DicInList>li{float: left;font-size: 24px;cursor: pointer; text-align: center;font-family: 'microsoft yahei'; width: 26px;height:30px;line-height: 28px;border: 1px solid white;border-bottom: 1px solid #999;  margin-right: 18px;box-sizing: border-box;}
.DicInList .DicIn{border: 1px solid #58C1E4;}
.DicResult>img{float: left;margin-top: 5px;margin-right: 20px;}
.NextBtn{float: left;font-size: 16px;line-height: 30px;color: #58C1E4;font-family: 'microsoft yahei';cursor: pointer;}
.DicMeanList{margin-bottom: 25px;float: left;width: 100%;}
.DicMeanList>li{float: left;width: 100%;font-size: 14px;color: #666;line-height: 25px;}
.LookAnswer{float: left;color: #58C1E4;font-size: 16px;font-family: 'microsoft yahei';margin-right: 10px;cursor: pointer;}
.Answer{float: left;font-size: 18px;color: #333;font-family: 'microsoft yahei';}
.DicTitle{float: left;font-size: 22px;color: #58C1E4;text-align: center; font-family: 'microsoft yahei';width: 100%;line-height: 44px;}
.WrongList,.WrongList>li{float:left;width:100%;line-height: 24px;color: #333;font-size: 16px;}
.WrongList>li{margin-bottom: 22px;}
.WrongMean{box-sizing: border-box;padding-left: 45px;}
.WrongMean>li{float: left;width: 100%;font-size: 14px;color: #666;line-height: 25px;}
.WrongWorder{float: left;width: 100%;line-height: 25px;margin-bottom: 13px;}
.WrongWorder span:nth-child(1){float: left;line-height: 24px;text-align: center;width: 45px;font-family: 'microsoft yahei';}
.WrongWorder span:nth-child(2){float: left;line-height: 25px;font-size: 18px;font-weight: bold;margin-right: 10px;}
.WrongWorder span:nth-child(3){float: left;line-height: 25px;font-size: 16px;}
.DictateRight{float: left;width: 100%;height: 400px;margin-top: 40px;text-align: center;}
.DictateRight>img{vertical-align: top;}

.NoData img{width: 250px;}